
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login" >
	<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside" style="    padding-bottom: 0rem;">
		<div class="m-stack m-stack--hor m-stack--desktop">
			<div class="m-stack__item m-stack__item--fluid" style="height: 1px">
				<div class="m-login__wrapper" style="padding: 0px;">
					<div class="m-login__logo" style="margin-bottom: 2rem;">
						<a href="#">
							<img id="logo_" src="./assets/app/media/img//logos/saino_logo.png" style="max-width: 180px;max-height: 60px;">
						</a>
					</div>
					<div class="m-login__signin">
						<div class="m-login__head">
							<h3 class="m-login__title">
								Sign In
							</h3>
							
						</div>
						<form (ngSubmit)="f.form.valid && signin()" #f="ngForm" class="m-login__form m-form" action="#" method="POST">
							<ng-template #alertSignin></ng-template>
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="User Name"  name="username" [(ngModel)]="signin_username" #username="ngModel" autocomplete="off" required  pattern="^[a-zA-Z]{1,}\w{1,}$" >
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="password" [(ngModel)]="signin_password" autocomplete="off" #password="ngModel" required>
							</div>
							<div class="row m-login__form-sub">
								<div class="col m--align-left">
									<label class="m-checkbox m-checkbox--focus">
										<input type="checkbox" name="remember" (change)="rem($event.target.value)" [(ngModel)]="rememberMe" [checked]="rememberMe==true">
										Remember me
										<span></span>
									</label>
								</div>
								<div class="col m--align-right">
									<a href="javascript:;" id="m_login_forget_password" class="m-link" style="color: #0b4a9d">
										Forget Password ?
									</a>
								</div>
							</div>
							<div class="m-login__form-action">
								<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn m-btn--pill m-btn--air         btn-success m-btn--wide" >
									Sign In
								</button>
							</div>
						</form>
					</div>
					<div class="m-login__signup">
						<div class="m-login__head">
							<h3 class="m-login__title">
								Sign Up
							</h3>
						</div>
						<form  (ngSubmit)="f.form.valid && signup()" #f="ngForm" class="m-login__form m-form" action="#" method="POST" style="margin-top: 5px">
							<ng-template #alertSignup></ng-template>
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Full Name" name="fullname" [(ngModel)]="signup_fullname" #fullname="ngModel" required pattern="^[ ]{0,1}([a-zA-Z]+[ ]{0,2}[a-zA-Z]*){1,3}$">
							</div>
							<div class="form-group m-form__group has-danger">
								<input class="form-control m-input" type="text"  (change)="checkUsername()" placeholder="User Name" name="usernamesignup" [(ngModel)]="signup_username" #usernamesignup="ngModel" maxlength="20" required pattern="^[a-zA-Z]{1,}\w{1,}$">
								<div class="placehold" id="usernamesignup-error">Should start with Alphabet followed by numbers or Alphabet</div>
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input email_signup" type="text" placeholder="Email" name="signupemail" [(ngModel)]="signup_email" autocomplete="off" required  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
							</div>
							<div   class="form-group m-form__group row" style="margin-top:10px">
								<div id="phone"></div>
								<input id="pno" placeholder="Enter Phone No" style="padding-left: 25%;width: 100%;" class="form-control " (keyup)="phonenoEvent($event.target)" ng-cut="phonenoEvent($event.target)" ng-copy="phonenoEvent($event.target)" type="number" [(ngModel)]="signup_phoneno" name="phoneno" maxlength="15" minlength="5" pattern="^[0-9]{6,15}$" required>
								<div class="placehold " id="pno-error">OTP will be Sent</div>

								<!-- <button [hidden]="!validPhn"  style="width:31%" type="button"  (click)="sendOtp()" class="btn m-btn--pill    btn-outline-metal m-btn m-btn--outline-2x ">
									Send OTP
									<i [hidden]="!disable" class="fa fa-spinner fa-spin" style="width: 16px;margin-right: 4px;background-color: white"></i>

								</button> -->
								<!-- <div class="col-lg-2">
									<select id="selectpicker1" style="margin-top:10px;size:4" class=" selectpicker"aria-label="co.country">
										<option value="" >Select Country</option>
										<option *ngFor="let co of co" label="{{co.country}}" value="{{co.country}}">{{co.country}}</option>
									</select>
								</div> -->
								
								<!-- 								
								<div class="col-lg-5" style="margin-left:40%">
									<input class="form-control m-input" type="number" placeholder="9876543210" name="phone" style="display: inline;width: 70%" required="required">

								</div> -->
								<!-- <div class="col-lg-5">
								 <button  class="btn  m-btn--pill m-btn--custom " style="border-color: black;background-color: white;width: 16%;padding: 5px">
									Verify
								</button> 
								</div> -->

							</div>
							
							
							<!-- <div class="form-group m-form__group row" style="margin-top:10px;">
								<input [hidden]="!showOtpField "  style="width:69%" class="form-control" type="text" placeholder="Enter OTP Sent to Your Mobile {{signup_phoneno}}" name="otp"  [(ngModel)]="signup_otp" #otp="ngModel" maxlength="4" >
								<button [hidden]="!showOtpField " type="button" style="width:31%" (click)="verifyOtp()" class="btn m-btn--pill    btn-outline-metal m-btn m-btn--outline-2x ">
									Verify OTP
									<i [hidden]="!disable_verify" class="fa fa-spinner fa-spin" style="width: 20px;background-color: white"></i>

								</button>
							</div> -->
							 
							<!-- <div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Country name" name="countryname"  [(ngModel)]="signup_country" #countryname="ngModel" required pattern="^[ ]{0,1}([a-zA-Z]+[ ]{0,2}[a-zA-Z]*){1,2}$">
							</div> -->
							
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="text" placeholder="Company Name" name="companyname" [(ngModel)]="signup_companyname" #companyname="ngModel" pattern="^[ ]{0,1}([a-zA-Z]+[ ]{0,2}[a-zA-Z]*){1,5}$">
							</div>
							<div class="form-group m-form__group">
								<input class="form-control m-input" type="passwordsignup" placeholder="Password" name="password" [(ngModel)]="signup_password" #passwordsignup="ngModel" minlength="6" required pattern="^(?=.*\d{1,})(?=.*\W{1,})(?=.*\w{1,}).*$">
								<div  class="placehold" id="passwordsignup-error">Should Contain Number, Alphabet and Special Character</div>

							</div>
							<!-- <div class="form-group m-form__group">
								<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Confirm Password" name="rpassword" [(ngModel)]="signup_rpassword" minlength="6" #rpassword="ngModel" required pattern="^(?=.*\d{1,})(?=.*\W{1,})(?=.*\w{1,}).*$">
							</div> -->
							<!-- <div class="row form-group">
								<label style="padding-left:10px;padding-right:10px;"></label>
							</div> -->
							<!-- <div class="row" style="padding-left:10px;padding-right:10px;">
								<div class="col m--align-left">
									<label style="opaque:0.1">
											<font size="2" color="#999999" face="monospace"><b>Password Should Contain atleast 1 Number,1 Alphabet and 1 Special Character</b></font> 
										<span></span>
									</label>
									<span class="m-form__help"></span>
								</div>
							</div> -->
							<div class="row form-group m-form__group m-login__form-sub" style="padding-left:60px;padding-right:60px;">
								<div class="col m--align-left">
									<label class="m-checkbox m-checkbox--focus">
										<input type="checkbox" name="agree" [(ngModel)]="signup_agree" [checked]="signup_agree" #agree="ngModel">
										I Agree the
										<a href="#" target="blank_" class="" style="color: #0b4a9d">
											terms and conditions
										</a>
										.
										<span></span>
									</label>
									<span class="m-form__help"></span>
								</div>
							</div>
							<div class="m-login__form-action">
								<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signup_submit" class="btn m-btn--pill m-btn--air         btn-info m-btn--wide" >
									Sign Up
								</button>

								<button [disabled]="loading"  id="m_login_signup_cancel" class="btn m-btn--pill    btn-outline-danger m-btn m-btn--custom " >
									Cancel
								</button>
							</div>
						</form>
					</div>
					<div class="m-login__forget-password">
						<div class="m-login__head">
							<h3 class="m-login__title">
								Forgotten Password ?
							</h3>
							<div class="m-login__desc">
								Enter your username and email address below, and we'll send you an email with a link to reset your password
							</div>
						</div>
						<form (ngSubmit)="f.form.valid && forgotPass()" #f="ngForm" class="m-login__form m-form" action="">
							<ng-template #alertForgotPass></ng-template>
							<div class="form-group m-form__group">
							   <input class="form-control m-input" type="text" placeholder="User name" name="usernameforgot" [(ngModel)]="forgot_username" id="m_username" autocomplete="off" pattern="^[a-zA-Z]{1,}\w{1,}$" required >

								<input class="form-control m-input" type="text" placeholder="Email" name="emailforgot" [(ngModel)]="forgot_email" #emailforgot="ngModel" id="m_email" autocomplete="off"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
							</div>
							<div class="m-login__form-action">
								<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_forget_password_submit" class="btn m-btn--pill m-btn--air btn-info m-btn--wide">
									Request
								</button>
								<button [disabled]="loading"  id="m_login_forget_password_cancel" class="btn m-btn--pill    btn-outline-danger m-btn m-btn--custom " >
									Cancel
								</button>
							</div>
						</form>
					</div>
					<div class="m-login__forget-otp">
							
						<div class="m-login__head">
							<h3 class="m-login__title">
								Verify Otp 
							</h3>
							<div class="m-login__desc">
								Enter the OTP sent to your Mobile {{otp_mble}} and your mail {{otp_email}}
							</div>
						</div>
						<form  #f="ngForm" class="m-login__form m-form" action="">
								<ng-template #alertOtp></ng-template>
							<div class="form-group m-form__group row">

								<input  name="otp_" style="width: 70%" [(ngModel)]="Verify_otp" class="form-control m-input" type="text" placeholder="Enter 4 digit OTP" maxlength=4 >
								<button (click)="resendOtp()" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_otp_resend" class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-info m-btn--gradient-to-accent" >
								   Resend
								</button>
							</div>
							<div class="m-login__form-action">
								<button (click)="submitOtp()" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_otp_signin" class="btn m-btn--pill m-btn--air   btn-success m-btn--wide">
								    Log in
								</button>
								<button (click)="otpCancel()" [disabled]="loading"  id="m_login_otp_cancel" class="btn m-btn--pill    btn-outline-danger m-btn m-btn--custom ">
									Cancel
								</button>
							</div>
						</form>
					</div>
					<div class="m-login__signup-otp">
							
						<div class="m-login__head">
							<h3 class="m-login__title">
								Signup Otp Verification 
							</h3>
							<div class="m-login__desc">
								Enter the OTP Sent to Your Mobile {{dummySignupDetails.mobile_no}}
							</div>
						</div>
						<form  #f="ngForm" class="m-login__form m-form" action="">
								<ng-template #alertsignupotp></ng-template>
								<div class="form-group m-form__group row">

								<input  [(ngModel)]="signupotp" [ngModelOptions]="{standalone: true}" style="width:70%" class="form-control m-input" type="number" placeholder="Enter 4 digit OTP" maxlength=4 minlength=4 required pattern="^[0-9]{4}$" >
								<button (click)="signupresendOtp()" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}"  class="btn m-btn--pill m-btn--air m-btn m-btn--gradient-from-info m-btn--gradient-to-accent" >
										Resend
									 </button>
								
							</div>
							<div class="m-login__form-action">
								<button (click)="signupOtpVerify()" [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}"  class="btn m-btn--pill m-btn--air btn-info">
								    Verify
								</button>
								<button (click)="signupOtpCancel()" [disabled]="loading"   class="btn m-btn--pill    btn-outline-danger m-btn m-btn--custom ">
									Cancel
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div *ngIf="showBanner" class="m-stack__item m-stack__item--center">
				<div class="m-login__account">
					<span class="m-login__account-msg">
						Don't have an account yet ?
					</span>
					&nbsp;&nbsp;
					<button id="m_login_signup" class="btn m-btn--pill    btn-outline-accent">
									Sign Up
					</button>
				</div>
			</div>
		</div>
	</div>
	<div *ngIf="showBanner" class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content" style="background-color: #0b4a9d">
		<div class="m-grid__item m-grid__item--middle">
			<h3 class="m-login__welcome">
				Join Our Community
			</h3>
			<p class="m-login__msg">
				Lorem ipsum dolor sit amet, coectetuer adipiscing
			</p>
		</div>
	</div>
</div>
