<!-- BEGIN: Subheader -->

<!-- END: Subheader -->
<div class="m-grid__item m-grid__item--fluid m-wrapper">
	<div class="m-content">
		<div class="row" style="margin: 0px; margin-top: 90px">
			<div class="col-xl-3 col-lg-3" style="max-width: 20%;margin-left: 0px;padding: 0px">
				<div class="m-portlet m-portlet--full-height" style="min-height:-webkit-fill-available">
					<div [hidden]="show_loading1" class="m-portlet__body" style="padding-top: 0px ">
						<div class="m-card-profile">
							<div class="m-card-profile__title m--hide">
								Your Profile
							</div>
							<div class="m-card-profile__details" style="margin-top: 15px">
								<span class="m-card-profile__name">
									{{profile_name}}
								</span>
								<a href="" class="m-card-profile__email m-link">
									{{profile_email_id}}
								</a>
							</div>
						</div>
						<ul id="profileItems" class="m-nav m-nav--hover-bg m-portlet-fit--sides">
							<li class="m-nav__separator m-nav__separator--fit" style="margin: 10px 0px;"></li>
							<li class="m-nav__section m--hide">
								<span class="m-nav__section-text">
									Section
								</span>
							</li>
							<li id="profile" [hidden]="settingsShow" [ngClass]="'m-nav__item'">
								<a routerLink="/app/profile" class="m-nav__link">
									<span class="m-nav__link-title">
										<span class="m-nav__link-wrap">
											<span class="m-nav__link-text">
												<img src="./assets/app/media/img/saino_icons/Profile2.png" style="width: 20px;margin-right: 4px">
												My Profile
											</span>
											<!-- <span class="m-nav__link-badge">
											<span class="m-badge m-badge--accent">
												
											</span>
										</span> -->
										</span>
									</span>
								</a>
							</li>
							<li id="wallet" [hidden]="settingsShow" [ngClass]="'m-nav__item '">
								<a routerLink="/app/profile/wallet" class="m-nav__link">
									<span class="m-nav__link-text">
										<img src="./assets/app/media/img/saino_icons/wallet.png" style="width: 20px;margin-right: 4px">

										Wallet
									</span>
								</a>
							</li>
							<li id="transaction-history" [hidden]="settingsShow" [ngClass]="'m-nav__item '">
								<a routerLink="/app/profile//transaction-history" class="m-nav__link">
									<span class="m-nav__link-text">
										<img src="./assets/app/media/img/saino_icons/transactions.png" style="width: 20px;margin-right: 4px">
										Transaction History
									</span>
								</a>
							</li>
							<li id="alerts" [hidden]="settingsShow" [ngClass]="'m-nav__item '">
								<a routerLink="/app/profile/alerts" class="m-nav__link">
									<span class="m-nav__link-text">
										<img src="./assets/app/media/img/saino_icons/bell.png" style="width: 20px;margin-right: 4px">

										Alerts
									</span>
								</a>
							</li>
							<li id="api" [hidden]="settingsShow" [ngClass]="'m-nav__item '">
								<a routerLink="/app/profile/api" class="m-nav__link">
									<span class="m-nav__link-text">
										<img src="./assets/app/media/img/saino_icons/api4.png" style="width: 20px;margin-right: 4px">
										API
									</span>
								</a>
							</li>
							<li id="manage-customers" [ngClass]="'m-nav__item '" [hidden]="(user_role=='4' || user_role=='5') || !settingsShow">
								<a routerLink="/app/profile/manage-customers" class="m-nav__link">
									<span class="m-nav__link-text">
										<img src="./assets/app/media/img/saino_icons/manage-customer.png" style="width: 20px;margin-right: 4px">
										Manage Customers
									</span>
								</a>
							</li>
							<li id="sender-id-approval" [hidden]="user_role=='4' || !settingsShow" [ngClass]="'m-nav__item'">
								<a routerLink="/app/profile/sender-id-approval" class="m-nav__link">
									<span class="m-nav__link-text">
										<img src="./assets/app/media/img/saino_icons/test.png" style="width: 20px;margin-right: 4px">
										Sender ID approval
									</span>
								</a>
							</li>
							<li id="mgmtk" [hidden]="user_role!='1' || !settingsShow" [ngClass]="'m-nav__item'">
								<a routerLink="/app/profile/mgmtk" class="m-nav__link">
									<span class="m-nav__link-text">
										<img src="./assets/app/media/img/saino_icons/MGMTK.png" style="width: 20px;margin-right: 4px">
										MGMTK
									</span>
								</a>
							</li>
							<li id="smpp" [hidden]="user_role!='1' || !settingsShow" [ngClass]="'m-nav__item'">
								<a routerLink="/app/profile/smpp" class="m-nav__link">
									<span class="m-nav__link-text">
										<img src="./assets/app/media/img/saino_icons/MGMTK.png" style="width: 20px;margin-right: 4px">
										SMPP
									</span>
								</a>
							</li>
							<li id="live-status" [hidden]="!((live_status && user_role!='4')|| user_role=='1' || user_role=='5') || !settingsShow"
							 [ngClass]="'m-nav__item'">
								<a routerLink="/app/profile/live-status" class="m-nav__link">
									<span class="m-nav__link-text">
										<img src="./assets/app/media/img/saino_icons/livestatus.png" style="width: 20px;margin-right: 4px">
										Live Status
									</span>
								</a>
							</li>
							<li id="kyc" [hidden]="user_role=='4' || !settingsShow" [ngClass]="'m-nav__item'">
								<a routerLink="/app/profile/kyc" class="m-nav__link">
									<span class="m-nav__link-text">
										<img src="./assets/app/media/img/saino_icons/kyc.png" style="width: 20px;margin-right: 4px">
										KYC Documents
									</span>
								</a>
							</li>
						</ul>
					</div>


					<div class="row" [hidden]="!show_loading1">
						<div class="col-lg-4"></div>
						<div class="col-lg-4" style="display: flex;justify-content: center;">
							<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

						</div>
						<div class="col-lg-4"></div>
					</div>
				</div>

			</div>
			<div class="" style="width: 78%;margin-left: 15px;">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>