
  <div class="row" style="margin-left: 240px;margin-top: 75px;margin-right: 25px;padding-top: 30px;">
      <div class="col-lg-12">
        <div class="m-portlet m-portlet--tab" style="    padding: 5px;">
        
          <div class="m-portlet__head">
              <div class="row" style="padding-top:15px">
                  <div class="col-lg-4">
                      <div class="row">			
                          <span class="m-portlet__head-icon m--hide">
                              <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text" style="display: block;
                            vertical-align: middle;
                            font-size: 1.2rem;
                            font-weight: 500;
                            font-family: Roboto;
                            padding-top: 10px"									
                            >
                            Simple Column Chart
                          </h3>
                      </div>
                  </div>	
                  <div class="col-lg-4"></div>	
                 
                    <div class="col-lg-3">
          
                        <select [(ngModel)]="selectedMobileNumber" (change)="mobileNumberChanged()" title="Select Number" data-dropup-auto="false" data-size="5"  class="form-control selectpicker m-bootstrap-select m_selectpicker" data-live-search="true">
                            <option *ngFor="let c of subscribedNumbers" [selected]="selectedMobileNumber==c.number" value="{{c.virtual_number_id}}" >{{c.number}}</option>
                            </select>
                
                    </div>
                    
                </div>
          </div>
          <div class="m-portlet__body">
            <div id="chartdiv" style="height: 500px;"></div>
          </div>
        </div>
      </div>
        <!--end::Portlet-->
      </div>
    <!-- </div> -->
    







  