<div class="container">
	<div class="m-portlet">
		<div class="m-portlet__body">
			<ul class="nav nav-pills nav-fill" role="tablist" style="border-bottom: 1px solid gray">
				<!-- <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#m_tabs_5_1">TRX Status</a>
                    </li> -->
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#smpp_accounts">SMPP Accounts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#smpp_status">SMPP Live Status</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#smpp_mis">SMPP MIS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " data-toggle="tab" href="#smpp_report">SMPP Report</a>
				</li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active container" id="smpp_accounts" role="tabpanel">
					<!--begin: Search Form -->
					<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row ">
							<div class="col-lg-6"></div>
							<div class="col-lg-3">
								<input type="text" name="search" [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..."
								 id="generalSearch" style="width: auto; display: inline;">
								<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
									<span><i class="la la-search"></i></span>
								</span>
							</div>

							<div class="col-lg-3">
								<button (click)="getAllAppUsersData()" class="btn " style="background: transparent;padding: 0px;margin: 0px 20px">
									<img src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
								</button>
								<button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air"
								 style="color:black;padding: 4px 14px" (click)="addAccount()">
									<img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px">Add Account</button>
							</div>
						</div>
					</div>

					<!--begin: Datatable -->

					<table style="width: 100%" *ngIf="appUserList.length > 0">
						<tr style="background: #c5cbe4">
							<th style="width: 10%;color: black;text-align: center;">Sr No</th>
							<th style="width: 15%;color: black;text-align: center;">Smpp User Name</th>
							<th style="width: 10%;color: black;text-align: center;">App Username</th>
							<th style="width: 10%;color: black;text-align: center;">Connectivity</th>
							<th style="width: 10%;color: black;text-align: center;">Gateway</th>
							<th style="width: 10%;color: black;text-align: center;">Session</th>
							<th style="width: 10%;color: black;text-align: center;">Status</th>
							<th style="width: 15%;color: black;text-align: center;">Balance</th>
							<th style="width: 10%;color:black;text-align: center;">Action</th>
						</tr>

						<tr *ngFor="let user of appUserList | filter : searchText | paginate: { 
					id: 'appUserTable',itemsPerPage: 10, currentPage: m_users_p }; let i = index"
						 [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }" [hidden]="show_loadin">
							<td style="width: 10%;text-align: center;">{{(m_users_p - 1) * 10 + i +1}}</td>
							<td style="width: 15%;text-align: center;">{{user.credits.username}}</td>
							<td style="width: 10%;text-align: center;">{{ user.appUserName}}</td>
							<td style="width: 10%;text-align: center;">{{user.credits.smppAccountDetail.connectivity}}</td>
							<td style="width: 10%;text-align: center;">{{user.credits.smppAccountDetail.gateway}}</td>
							<td style="width: 10%;text-align: center;">{{user.credits.smppAccountDetail.session}}</td>
							<td style="width: 10%;text-align: center; color:green;" *ngIf="user.credits && user.credits.smppAccountDetail.status">ACTIVE</td>
							<td style="width: 10%;text-align: center; color: red;" *ngIf="user.credits && user.credits.smppAccountDetail == null || !user.credits.smppAccountDetail.status">INACTIVE</td>
							<td style="width: 15%;color: black;text-align: center;">{{user.credits.balance}}</td>
							<td style="width: 10%;text-align: center;">
								<ul style="list-style: none;padding: 0 20px 0 20px;">
									<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
									 m-dropdown-toggle="click">
										<a href="#" class="m-nav__link m-dropdown__toggle">
											<span class="m-topbar__userpic">
												<img src="./assets/app/media/img/icons/dots.png" style="width: 20px;margin-top: 6px" alt="" />
											</span>
										</a>
										<div class="m-dropdown__wrapper" style="width: 170px">
											<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
											<div class="m-dropdown__inner">
												<div class="m-dropdown__body">
													<div class="m-dropdown__content">
														<ul class="m-nav m-nav--skin-light">
															<li class="m-nav__item" style="cursor: pointer;" (click)="selectedUser = user; walletClicked(user)">
																<a class="m-nav__link">
																	<span class="m-nav__link-text">
																		Credits
																	</span>
																</a>
															</li>
															<li class="m-nav__item" data-toggle="modal" (click)="selectedUser = user; transactionClicked(user)"
															 style="cursor: pointer;">
																<a class="m-nav__link">
																	<span class="m-nav__link-text">
																		Transactions
																	</span>
																</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</td>
						</tr>
					</table>
					<span style="color: aquamarine; width: 100%; text-align: center; font-size: large; font-weight: bold" *ngIf="appUserList.length == 0">
						Currently No Smpp Users Found... Kindly click refresh to reload.
					</span>
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
							<pagination-controls id="appUserTable" (pageChange)="m_users_p = $event" maxSize="10" directionLinks="true"
							 autoHide="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
							 screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
						</div>
						<div class="col-lg-3"></div>
					</div>
					<div class="row" [hidden]="!show_loading">
						<div class="col-lg-4"></div>
						<div class="col-lg-4" style="display: flex;justify-content: center;">
							<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

						</div>
						<div class="col-lg-4"></div>
					</div>
				</div>

				<div class="tab-pane container" id="smpp_status" role="tabpanel">
					<smpp-live-status></smpp-live-status>
				</div>

				<div class="tab-pane" id="smpp_mis" role="tabpanel">
					<smpp-mis-report></smpp-mis-report>
				</div>
				<div class="tab-pane" id="smpp_report" role="tabpanel">
					<smpp-download-report></smpp-download-report>
				</div>

				<smpp-add-user (valueChange)="updateAppUserData()"></smpp-add-user>

				<smpp-balance-update [selectedUser]="selectedUser" (valueChange)="updateAppUserData()"></smpp-balance-update>

				<smpp-balance-transaction [selectedUser]="selectedUser"></smpp-balance-transaction>


			</div>
		</div>
	</div>
