
.has-danger input {
    border: 1px solid red;
    border-color: red;
  }
  
  .has-success input {
    border: 1px solid green;
    border-color: green;
  }
  
  .has-danger textarea {
    border: 1px solid red;
    border-color: red;
  }
  
  .has-success textarea {
    border: 1px solid green;
    border-color: green;
  }

  .form-control-msg p {
    color: red;
  }