<!-- BEGIN: Subheader -->

<div  appunwraptag="" style="margin-left: 105px;margin-top: 10px;margin-right: 10px">
	<div class="row"> 

		<div class="col-lg-9" style="padding-bottom: 35px;padding-left: 0px;background: white;margin-bottom: 10px;margin-top: 10px">
				<div class="row text-info" style="margin-left: 4%;margin-top: 3%; margin-right: 4%">
						<h4>Customized SMS</h4>
					</div>
			<div class="row" style="margin-left: 4%;margin-top: 3%;margin-right: 3%">
				<div class="col-lg-5  col-sm-12 " style="background-color: white;padding: 0px">
					
					
					     
							<select id="selectpicker1" data-size="5" (change)="getSpecificSenderId($event.target.value)" style="height:40px" class="form-control _shadow selectpicker m-bootstrap-select m_selectpicker _shadow">
								<option [disabled]="true" [selected]="true" value="">Select Route</option>
								<option *ngFor="let r of routes_list; let index = index" value="{{r.az_rname}}" [selected]="r.selected" [value]="r.az_rname" >{{r.az_rname}}</option>
								
							</select>
					   
				</div>
				
				<div class="col-lg-2"></div>
				<div [hidden]="hideSenderId" class="col-lg-5 col-sm-12 _shadow" style="background-color: white;padding: 0px">
					
							
							<select id="selectpicker2" data-size="5" (change)="getSpecificRoute($event.target.value)" style="height:40px" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
								<option [disabled]="true" [selected]="true" value="">Select Sender Id</option>
								<option *ngFor="let send of senderid_list; let index = index" value="{{send.senderid}}" [selected]="send.selected" [value]="send.senderid" >{{send.senderid}}</option>									
							</select>
							

					   
				</div>
				<!-- <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;">
					<img src="./assets/app/media/img/saino_icons/route.png" style="width: 20px">
				</button> -->
			</div>
			<div class="row" style="margin-left: 4%;margin-right:3%;margin-top: 4%;height: 110px;">
				<div class="col-lg-5 col-sm-12 _shadow" style="height: 90px;background-color: white;">
					<!-- <div class="col-lg-5 _shadow" style="height: 90px;background-color: white;"> -->
						<div class="row " style="height:90px;">
								<div [hidden]="show_loading" style="width: 100%;min-height: 60px;max-height: 90px" class="col-lg-12 _shadow  m-dropzone dropzone m-dropzone--success"  action="/assets"    (click)="numbers=''" id="m-dropzone-four">
									<div class="m-dropzone__msg dz-message needsclick">
										<h3 class="m-dropzone__msg-title">Drop files here or click to upload.</h3>
										<span class="m-dropzone__msg-desc">Only text, csv and excel files are allowed for upload</span>
									</div>
								</div>
								<div  [hidden]="!show_loading" class="m-portlet__body" style="width: 100%;min-height: 60px;max-height: 90px">
									<div class="row" >
											<div class="col-lg-4"></div>
											<div class="col-lg-4" style="display: flex;justify-content: center;">
												<img src="./assets/app/media/img/loader.gif" style="width: 90px;height:70px;margin-top: 10%;">
						  
										  </div>
											<div class="col-lg-4"></div>
										</div>
							</div>
							
								<!-- <textarea [hidden]="!show_to_numbers" [ngModelOptions]="{standalone: true}" [(ngModel)]="numbers" name="Numbers" placeholder="Enter Numbers Here "style="width: 100%;min-height: 60px;padding:10px"  #to_numbers  ></textarea>  -->
						</div>

						<div class="row">
							<a class="btn-bs-file btn" [attr.href]="customize_test_file" style="border-radius:23px;text-decoration: none;font-weight: 500">
								Sample File Download
							</a>
						</div>
						
				<!-- </div> -->
					<!-- <div class="row" >
					<h5 style="color: #0C4DA2;font-size: 15;margin-left: 15px;margin-top: 10px;">Upload File </h5>
					</div>
					<div class="row" >
								<label class="btn-bs-file btn col-lg-3 btn-default" style="border-radius: 23px;margin-top:4px;background: transparent;border: 1px solid gray;padding: 8px 14px;margin-left: 15px;color: darkgray">
										Upload
										<input id="fileupload" type="file" accept=".xls,.xlsx,.ods,.csv" (change)="readFile($event.target.files,$event.target)"/>
									</label>
									<div class="" style="margin-left: 2px" ></div>
									<div class="col-lg-8">
									<a class="btn-bs-file btn" [attr.href]="customize_test_file" style="border-radius:23px;margin-left:20px;text-decoration: none;font-weight: 500">
										Sample File
									</a>
									</div>					
					</div>
					<div *ngIf="BulkUploadFile!='' && BulkUploadFile!=null" class="row" style="border-bottom: 1px solid black;margin: 0px;overflow: hidden;height: 25px;">
							<label>
									{{BulkUploadFile.name}}
								 </label>
								
							<!-- <label style="border-bottom: 1px solid;margin: 0 30px;width: 100%;">{{BulkUploadFile.name}}</label> 
						</div> -->
				</div>
				<div class="col-lg-2"></div>
				<div class="col-lg-5 col-sm-12_shadow" style="background-color: white;padding: 0px">
					<div class="row" style="margin-left: 2px;" >
					<h5 style="color: #0C4DA2;font-size: 15;;margin-top: 10px;">Select Number Column</h5>
					</div>
					
								<select [(ngModel)]="select_col" data-size="5" (change)="columnSelected()" name="search_categories" id="selectColumns" style="height: 40px" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">

					       
					          <option value="1" [disabled]="true" [selected]="true">Select Column</option>
					          <option *ngFor="let column of columns" value={{column}}>{{column}}</option>
					        </select>
					    
				</div>
			</div>
			<div class="row" style="margin-top: 25px;"></div>
			<div class="row" style="margin-left: 4%;margin-right:3%;margin-top: 2%;">
					<div class="col-lg-3">
						<h5 style="color: #0C4DA2;font-size: 15;margin-top: 10px;margin-left: -15px;"> Column</h5>
						<div class="row _shadow" style="height: 90px;background-color: white;;margin-top: 10px">
							<ul class="cols" style="height: 90px; min-width: 100%;max-width: 100%;overflow: auto;">
								<li style="min-width: 120px" *ngFor="let column of columns" (click)="onSelect(column)" [class.selected]="column === onSelectColumn" value="{{column}}" ><span style="padding: 5px;" >{{column}}</span></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-1" style="margin-top:10px" >		
								
						<button [disabled]="kyc_status==0" class="btn m-btn--pill    btn-outline-accent" style="margin-top: 37px;margin-left: -6px;padding:0px; border-color: transparent" (click)="insertintoMessagebox()">	<img src="./assets/app/media/img/saino_icons/arr.png" style="    width: 40px;
							
							cursor: pointer;">	</button>
					</div>
					<div class="col-lg-8" >
						
						<div class="row">
							<div class="col-lg-2" style="padding-left:0px">
									<h5 style="color: #0C4DA2;font-size: 15;margin-top: 10px;width: auto;"> Message</h5>
							</div>
							<div class="row col-lg-10" style="margin-top:10px;margin-left: 15px">
								<div class="row col-lg-7">
										<label class="m-radio m-radio--check-bold col-lg-6" >
												<input type="radio" name="contenttype" checked (change)="contentTypechanged()"> English
												<span></span>
												</label>
												<label class="m-radio m-radio--check-bold ">
														<input type="radio" name="contenttype" (change)="contentTypechanged()"> Unicode
														<span></span>
														</label>
								</div>
								<div class="col-lg-5" style="margin-left:30px">
										<label class="m-checkbox m-checkbox--check-bold" >
												<input type="checkbox" name="send_flash" (change)="send_flash=!send_flash" [checked]="send_flash">							
												Send as Flash
												<span></span>
												</label>
								</div>
									<!-- <div style="margin-left: 20%;margin-top: 10px"> -->
											
							
											<!-- <label class="radio-inline"  style="margin-left: 15px">
													<input type="radio"  style="margin-left:10px;" name="optradio" [checked]="true" (change)="contentTypechanged()">English</label>
												<label class="radio-inline"  style="margin-left: 15px">
													<input type="radio" name="optradio" style="margin-left:10px;"  (change)="contentTypechanged()">Unicode</label> -->
										<!-- <label class="radio-inline" style="margin-left: 15px"><input  type="checkbox" name="flash">Flash</label> -->


													
									<!-- </div> -->
							</div>
						
						</div>
						<div class="row _shadow" style="height: 90px;background-color: white;">
								<div class="row col-lg-12" style="margin: 0px;padding: 0px;">
								<textarea  [disabled]="kyc_status==0" [(ngModel)]="message_t_area" style="width: 100%;min-height: 60px; padding: 10px;resize: none" placeholder=" "id="message"></textarea> 
								</div>
						</div>

						<!-- <div class="row "  style="margin-left: 4%;">
								<h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;"> Total Characters :</h5>
								<h3  style="color: darkgray;font-size: .9rem;margin-top: 5px;" >{{tot_characters}}</h3>
 								<h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;margin-left: 5%"> Total Sms : </h5>
								<h3  style="color: darkgray;font-size: .9rem;margin-top: 5px;" >{{tot_sms}}</h3>
							</div> -->
					</div>
			</div>
			<div class="row" style="margin-left: 4%;margin-bottom: 5px;margin-top:4%">
					<button class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-accent" style="border: 1px solid gray;padding: 4px 14px" (click)="preview()">Preview</button>
			</div>
			<div class="row _shadow" style="margin-left: 4%;background-color: white;margin-right: 30px;margin-bottom: 5px;margin-top:2%">
					<div class="row col-lg-12" style="margin: 0px;padding: 0px;">
						<table style="width: 100%">
							<tr style="background: #c5cbe4">
							  <th style="width: 5%;color: black;text-align: center;">Sr No</th>
							  <th style="width: 10%;color: black;text-align: center;">Number</th>
							  <th style="width: 35%;color: black;text-align: center;">Message (Sample Message Will be Displayed)</th>
							</tr>
							<!-- <tr *ngIf="!preview_selected">
							  <td style="width: 5%;text-align: center;">1</td>
							  <td style="width: 10%;text-align: center;">987654321</td>
							  <td style="width: 30%;text-align: center;">Message goes Here</td>
							</tr> -->
							<tr *ngFor="let message of messagearr | filter : searchText | paginate: { 
							id: 'fo',itemsPerPage: 5, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
							  <td style="width: 5%;text-align: center;">{{ (p - 1) * 5 + i +1}}</td>
							  <td style="width: 10%;text-align: center;">{{message.phoneno}}</td>
							  <td style="width: 30%;text-align: center;">{{message.message}}</td>
							  </tr>
		  </table>
		  
		  <div class="row">
			  <div class="col-lg-3"></div>
			  <div class="col-lg-6">
					  <pagination-controls id="fo" (pageChange)="p = $event" maxSize="9"
						directionLinks="true"
						autoHide="true"
						previousLabel="Previous"
						nextLabel="Next"
						screenReaderPaginationLabel="Pagination"
						screenReaderPageLabel="page"
						screenReaderCurrentLabel="You're on page"></pagination-controls>
			  </div>
			  <div class="col-lg-3"></div>
		  </div>	
						<!-- <textarea [disabled]="true" [(ngModel)]="preview_text" style="width: 100%;min-height: 60px;" ></textarea>   -->
					</div>
			</div>
			<div class="row "  style="margin-left: 4%;margin-top: 2%;">
					<div  >
						<button (click)="SendNow()"  class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" >
								<img src="./assets/app/media/img/saino_icons/send_plane.png" style="width: 20px;margin-right: 6px;padding: 0px">&nbsp;Send Now 
						</button>
						
						<button (click)="scheduleNow()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"   style="margin-left: 25px;"><i class="fa flaticon-clock-1"></i> &nbsp;Schedule SMS</button>
						<!-- <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="automate()" style="margin-left: 25px;"><i class="fa flaticon-layers"></i>&nbsp;Automation SMS</button> -->
					</div>
			</div>
		</div>


		<div class="col-lg-3" style="min-height: 500px;padding-bottom:0px ">
			<div class="row " style="margin-top: 15px">
				<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi _shadow" style="margin-left: 10%;max-width: 202px;width: 100%">
					<div class="m-portlet__head" style="height: 0rem">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h2 class="m-portlet__head-label m-portlet__head-label--danger" style="background:#282a3c;min-width: 145px;">
									<span style="font-size:15px">SMS Balance</span>
								</h2>
							</div>			
						</div>
					</div>
					<div class="m-portlet__body">
						<p style="white-space: pre;">Promotional SMS:   {{credits_data.pr_balance}}</p>
						<p style="white-space: pre;">Transactional SMS:   {{credits_data.tr_balance}}</p>
					</div>
				</div>	
			</div>
			<div class="row " style="margin-top: 15px;height: 67.6%">
				<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi _shadow" style="margin-left: 10%;max-width: 202px;width: 100%">
					<div class="m-portlet__head" style="height: 0rem">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h2 class="m-portlet__head-label m-portlet__head-label--danger" style="background:#282a3c;min-width: 145px;">
									<span style="text-align: center;">Contacts</span>
								</h2>
							</div>			
						</div>
					</div>
					<div class="m-portlet__body" style="padding:0 2.2rem 0 2.2rem">
						<button routerLink="/app/contact-list" class="btn m-btn--pill custom_btn" style="margin-bottom: 5px;padding: 0px">+ Add Group/Contact</button>
						<input type="text" [(ngModel)]="searchText" name="search" placeholder="Search" style="border: none;border-bottom: 1px solid gray;padding: 5px;font-weight: 450;color: black;    width: 100%;margin-bottom: 5px">
						<div id="groups" style="max-height:250px;overflow: auto;">
							<ul style="display:inline-block;margin: 0px;padding: 0px">
								 <li *ngFor="let group of groups_list | filter : searchText; let index = index">

										<label  class="m-checkbox m-checkbox--focus" style="color: black;margin-top: 5px">
												<input type="checkbox" name="msg_type">
													{{group.group_name}}
												<span style="border: 1px solid #bdc3d4;"></span>
											</label>
								 </li>
							</ul>
								
						</div>
						
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
		<!--send sms modal start-->
		<div  class="modal fade" id="m_modal_send" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
			  <div class="modal-content" style="height: 400px;padding: 20px">
  
						<div class="modal-header">
							<div class="container">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
							  </button>
								<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Send SMS</h5>
							</div>
						</div>
								<div class="row" style="font-size: 16px;margin: 15px;">
									<div class="col-lg-1"></div>
									<div class="col-lg-4" >
										<span style="padding-right: 10px;font-weight: 500;">Route:</span>
										<span>{{route_name}}</span>
									</div>
									<div class="col-lg-2"></div>
									<div class="col-lg-4">
										<span style="padding-right: 10px;font-weight: 500;">Sender ID:</span>
										<span>{{sender_id_name}}</span>
								  </div>
								  <div class="col-lg-1"></div>
								</div>
								<div class="row" style="font-size: 16px;margin: 15px;">
									<div class="col-lg-1"></div>
									<div class="col-lg-10" >
										<span style="padding-right: 10px;font-weight: 500;">Message:</span>
										<span>{{message_t_area}}</span>
									</div>
									<div class="col-lg-1"></div>
								</div>
								<div class="row" style="font-size: 16px;margin: 15px;">
									<div class="col-lg-1"></div>
									<div class="col-lg-3" >
											<span style="padding-right: 10px;font-weight: 500;">SMS:</span>
											<span>{{tot_sms}}</span>
									</div>
									<div class="col-lg-3" >
										
									</div>
									<!-- <div class="col-lg-3" >
										<span style="padding-right: 10px;font-weight: 500;">Credits:</span>
										<span>XX</span>
									</div> -->
									<div class="col-lg-1"></div>
								</div>
								<!-- <div class="row" style="font-size: 16px;margin: 15px;">
										<div class="col-lg-1"></div>
										  <div class="col-lg-3">
												<span style="padding-right: 10px;font-weight: 500;">Timezone:</span>
		
										  </div>
										  <div class="col-lg-6" >
											  <select id="selectpicker3" data-dropup-auto="false" data-size="5" [(ngModel)]="smsTimezone1" class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
													<option [disabled]="true" [selected]="true">Select Timezone</option>
													<optgroup *ngFor="let c of timezoneobject" label={{c}}>
														<option *ngFor="let tzone of timezoneDropdown[c]" [selected]="smsTimezone1==value" value="{{tzone}}">{{tzone}}</option>
													</optgroup>
													</select>
											  
										  </div>
										  <div class="col-lg-1"></div>
									  </div> -->
								<div class="row" style="font-size: 16px;margin: 15px;">
									<div class="col-lg-3"></div>
									<div class="col-lg-3" >
										<button class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms"   (click)="send()"  type="submit">
												<img src="./assets/app/media/img/saino_icons/send_plane.png" style="width: 20px;margin-right: 6px;padding: 0px">&nbsp;Send Now 
											</button>
									</div>

									<div class="col-lg-3" >	
										<button class="btn btn-warning m-btn m-btn--icon m-btn--pill" id="send_sms"  style="padding-bottom: 10px;padding-left: 25px; padding-right: 25px;padding-top: 10px;"data-dismiss="modal" aria-label="Close">
											<span>
													<i class="fa fa-pencil-square-o"  aria-hidden="true"></i>
													<span>Edit Sms</span>
												</span>
										</button>
									</div>
									<div class="col-lg-3"></div>
								</div>
  
			  </div>
			</div>
		  </div>
			  <!-- send sms modal end-->
	
		<!--schedule sms modal start-->
		<div  class="modal fade"  id="m_modal_schedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
			  <div class="modal-content" style="height: 400px;padding: 20px">
  
						<div class="modal-header">
							<div class="container">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
							  </button>
								<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Schedule SMS</h5>
							</div>
						</div>
								<div class="row" style="font-size: 16px;margin: 15px;">
									<div class="col-lg-1"></div>
									<div class="col-lg-4" >
										<span style="padding-right: 10px;font-weight: 500;">Route:</span>
										<span>{{route_name}}</span>
									</div>
									<div class="col-lg-2"></div>
									<div class="col-lg-4">
										<span style="padding-right: 10px;font-weight: 500;">Sender ID:</span>
										<span>{{sender_id_name}}</span>
								  </div>
								  <div class="col-lg-1"></div>
								</div>
								<div class="row" style="font-size: 16px;margin: 15px;">
									<div class="col-lg-1"></div>
									<div class="col-lg-10" >
										<span style="padding-right: 10px;font-weight: 500;">Message:</span>
										<span>{{message_t_area}}</span>
									</div>
									<div class="col-lg-1"></div>
								</div>
								<div class="row" style="font-size: 16px;margin: 15px;">
									<div class="col-lg-1"></div>
									<div class="col-lg-3" >
										<span style="padding-right: 10px;font-weight: 500;">Characters:</span>
										<span>{{message_t_area.length}}</span>
									</div>
									<div class="col-lg-3" >
										<span style="padding-right: 10px;font-weight: 500;">SMS:</span>
										<!-- <span>{{ (message.length / 140) - (( message.length % 140 ) / 140) +1 }}</span> -->
									</div>
									<!-- <div class="col-lg-3" >
										<span style="padding-right: 10px;font-weight: 500;">Credits:</span>
										<span>XX</span>
									</div> -->
									<div class="col-lg-1"></div>
								</div>
								<div class="row" style="font-size: 16px;margin: 15px;">
										<div class="col-lg-1"></div>
										  <div class="col-lg-3">
												<span style="padding-right: 10px;font-weight: 500;">Timezone:</span>
		
										  </div>
										  <div class="col-lg-6" >
											
													<select id="selectpicker4" data-dropup-auto="false" data-size="5" [(ngModel)]="smsTimezone" [ngModelOptions]="{standalone: true}"  class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
														<option [disabled]="true" [selected]="true">Select Timezone</option>
														<optgroup *ngFor="let c of timezoneobject" label={{c}}>
															<option *ngFor="let tzone of timezoneDropdown[c]" value="{{tzone}}" [selected]="smsTimezone==tzone">{{tzone}}</option>
														</optgroup>
														</select>
										  </div>
										  <div class="col-lg-1"></div>
									  </div>
								<div class="row" style="margin: 15px;">		
									<div class="col-lg-1"></div>							
									<div class="col-lg-4" style="margin:15px;font-weight: bold">
										<div class="row">
												<div class="form-group m-form__group row">
														<label class="col-form-label col-lg-3 col-sm-12">
															Date:
														</label>
														<div class="col-lg-9 col-md-9 col-sm-12 input-group">
																<input id="date1"type="text" style="max-height: 35px;"  class="form-control datepicker">
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-th"></span>
																</div>													
																</div>
													</div>
											<!-- <div class="col-lg-3" style="vertical-align: middle;font-weight: 500;">
												
											</div>
											<div class="col-lg-9 input-group ">
											 
										  </div> -->
									  </div>
									</div>
									<div class="col-lg-4" style="margin:17px;font-weight: bold">
										<div class="row">
											<div class="form-group m-form__group row">
											  <label class="col-form-label col-lg-3 col-sm-12">
												  Time
											  </label>
											  <div class="col-lg-9 col-md-9 col-sm-12">
												<input type='text' class="form-control"  id="customize_schedule" readonly placeholder="Select time">
											</div>
										  </div>
									  </div>
									</div>
								</div>
								
								<div class="row" style="font-size: 16px;margin: 15px;">
									<div class="col-lg-3"></div>
									<div class="col-lg-3" >
										<button class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms"   style="margin-left: 20px" (click)="schedule()"><i class="fa flaticon-clock-1"></i> &nbsp;Schedule Now</button>
									</div>
								
									<div class="col-lg-1"></div>
									<div class="col-lg-3" >	
										<button class="btn btn-warning m-btn m-btn--icon m-btn--pill" id="send_sms"  style="padding-bottom: 10px;padding-left: 25px; padding-right: 25px;padding-top: 10px;"data-dismiss="modal" aria-label="Close">
											<span>
													<i class="fa fa-pencil-square-o"  aria-hidden="true"></i>
													<span>Edit Sms</span>
												</span>
										</button>
									</div>
									<div class="col-lg-2"></div>
								</div>
			  </div>
			</div>
		  </div>
		<!-- schedule sms modal end-->