<!-- BEGIN: Subheader -->
<div class="container" appunwraptag="" >
	<div class="row"> 
<div class="m-content col-lg-12">
	<div class="m-portlet m-portlet--mobile">
		<div  class="m-portlet__body">
				<div class="row" style="margin: 20px">
					<h5 style="text-align: center;margin: 0px;width: 100%">Alerts</h5>
				</div>
				<div class="row " style="margin: 20px">
					<h6>Low Balance Alert</h6>
				</div>
				<!-- <div class="row " style="margin: 20px">
					<p>An Email will be triggered when you run out of Balance. You can set the Amount for which you want the Alert.</p>
					<p>Enter Multiple Email ID's Seperated with comma, Maximum 3 Email ID's are Allowed.</p>
				</div> -->
				<div class="row " style="margin: 20px">
					<div class="col-lg-1">
						<label class="m-checkbox m-checkbox--focus" style="margin-left: 32%;color: darkgray;margin-top: 5px;font-size: .9rem;">
						<input type="checkbox" name="send_flash" [(ngModel)]="send_flash">
						<span style="border: 1px solid #bdc3d4;"></span>
					</label>
					</div>
					<div class="col-lg-2">
						<input class="form-control m-input" [(ngModel)]="amount" type="number" placeholder="Set Credits" >
					</div>
					<div class="col-lg-6">
						<textarea [(ngModel)]="emails" name="Numbers" style="width: 100%;min-height: 60px;padding: 10px;" placeholder="Enter Your Maximum 3 Email IDs here"></textarea> 
					</div>
					<div class="col-lg-3">
						<button (click)="updateEmails()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air " style="color: white;padding: 4px 14px;margin-top: 16px;">Update</button>
					</div>
				</div>
				<table style="width: 100%;margin-top: 3%">
					<tr style="background: #c5cbe4">
					  <th style="width: 20%;color: black;text-align: center;">Sr No</th>
					  <th style="width: 40%;color: black;text-align: center;">Date</th>
					  <th style="width: 40%;color: black;text-align: center;">Notification</th>
					  
					</tr>
					<tr [hidden]="show_loading" *ngFor="let num of notifications  | paginate: { 
					id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
					  <td style="width: 20%;text-align: center;">{{ (p - 1) * 10 + i +1}}</td>
					  <td style="width: 40%;text-align: center;">{{num.created_at}}</td>
					  <td style="width: 40%;text-align: center;">{{num.message}}</td>
					  

				  </tr>
  </table>
  <div class="row"  [hidden]="!show_loading">
		  <div class="col-lg-4"></div>
		  <div class="col-lg-4" style="display: flex;justify-content: center;">
			<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

	  </div>
		  <div class="col-lg-4"></div>
	  </div>
  <div class="row">
	  <div class="col-lg-3"></div>
	  <div class="col-lg-6">
			  <pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
				directionLinks="true"
				autoHide="true"
				previousLabel="Previous"
				nextLabel="Next"
				screenReaderPaginationLabel="Pagination"
				screenReaderPageLabel="page"
				screenReaderCurrentLabel="You're on page"></pagination-controls>
	  </div>
	  <div class="col-lg-3"></div>
  </div>
				
		</div>
	</div>
</div>
</div>
</div>
