<!-- BEGIN: Subheader -->
<div class="container" appunwraptag="">
	<div class="row"> 
<div class="m-content col-lg-12">
<div class="m-portlet m-portlet--mobile">
	<div *ngIf="!show_pricing"  class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
			<div class="row " >
				<div class="col-lg-2">
					<button (click)="branding_clicked()" class="btn m-btn--pill m-btn--air btn-outline-warning" style="padding: 4px 14px" >Branding</button>
				</div>
				<div class="col-lg-4">
				</div>
				<div class="col-lg-3">
								<input type="text" name="search"  [(ngModel)]="sea" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
								<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
									<span><i class="la la-search"></i></span>
								</span>
				</div>

				<div class="col-lg-2">
					<button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color:black;padding: 4px 14px;display: flex"  (click)="addAccount()">
					<!-- <img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px"> -->
					<span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>
					Add Account</button>
				</div>
			</div>
		</div>
		
		<!--begin: Datatable -->
		<table style="width: 100%">
							  <tr style="background: #c5cbe4">
							    <th style="width: 10%;color: black;text-align: center;">Sr No</th>
							    <th style="width: 15%;color: black;text-align: center;">User Name</th>
							    <th style="width: 15%;color: black;text-align: center;">Main Account</th>
							    <th style="width: 10%;color: black;text-align: center;">Role</th>
							    <th style="width: 20%;color: black;text-align: center;">Email</th>
							    <th style="width: 10%;color: black;text-align: center;">Status</th>
							    <th style="width: 10%;color: black;text-align: center;">Wallet</th>
							    <th style="width: 10%;color: black;text-align: center;">Action</th>
							  </tr>
							  <!-- <tr [hidden]="show_loading"  *ngFor="let group of groups_list | filter : searchText | paginate: { 
								id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }"> -->
								<tr [hidden]="show_loading" *ngFor="let user of user_list| filter :sea|paginate: { 
										id: 'us',itemsPerPage: 10, currentPage: m_users_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
										  <td style="width: 10%;text-align: center;">{{ (m_users_p - 1) * 10 + i +1}}</td>
										  <td style="width: 15%;text-align: center;">{{user.user_name}}</td>
										  <td style="width: 15%;text-align: center;">{{user.relationship}}</td>
										  <td  *ngIf="user.user_role==2"style="width: 15%;text-align: center;">Distributer</td>
										  <td *ngIf="user.user_role==3" style="width: 15%;text-align: center;">Reseller</td>
										  <td *ngIf="user.user_role==4" style="width: 15%;text-align: center;">User</td>
										  <td *ngIf="user.user_role==5" style="width: 15%;text-align: center;">Support</td>
										  <td *ngIf="user.user_role==1" style="width: 15%;text-align: center;">Admin</td>
 
										  <!-- <td *ngIf="user.user_role==0|| user.user_role==1">Not Done</td> -->
										  <td style="width: 15%;text-align: center;">{{user.email_id}}</td>
										  <td style="width: 10%;color: black;text-align: center;">
							    			<div >
												<button *ngIf="user.otp_status==0"class="btn m-btn--pill custom_btn" style="padding: 5px 15px;min-width: 100px;color:red" >InActive</button>
												<button *ngIf="user.otp_status==1"class="btn m-btn--pill custom_btn" style="padding: 5px 15px;min-width: 100px;color: green" >Active</button>
							    			</div>
							    		  </td>
							    		  <td style="width: 10%;color: black;text-align: center;">&#8377;{{user.balance}}</td>
							              <td style="width: 10%;text-align: center;">

														<ul style="list-style: none;padding: 0 20px 0 20px;">
															<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
														<a href="#" class="m-nav__link m-dropdown__toggle">
															<span class="m-topbar__userpic">
																<img src="./assets/app/media/img/icons/dots.png" style="width: 20px;margin-top: 6px" alt=""/>
															</span>
														</a>
														<div class="m-dropdown__wrapper" style="width: 170px">
															<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
															<div class="m-dropdown__inner">
																<div class="m-dropdown__body">
																	<div class="m-dropdown__content">
																		<ul class="m-nav m-nav--skin-light">
																			<li  (click)="login(user)" class="m-nav__item" style="cursor: pointer;">
																				<a  class="m-nav__link">
																					<span class="m-nav__link-title">
																						<span class="m-nav__link-wrap">
																							<span class="m-nav__link-text">
																									<img src="./assets/app/media/img/saino_icons/login.png" style="width: 16px;margin-bottom: 4px;margin-right: 2px">
																								Log In
																							</span>
																						</span>
																					</span>
																				</a>
																			</li>
																			<li (click)="edit_profile(user)"   class="m-nav__item" style="cursor: pointer;">
																				<a  class="m-nav__link">
																					<span class="m-nav__link-title">
																						<span class="m-nav__link-wrap">
																							<span class="m-nav__link-text">
																									<img src="./assets/app/media/img/saino_icons/Profile2.png" style="width: 16px;margin-bottom: 4px;margin-right: 2px;">
																								Edit Profile
																							</span>
																						</span>
																					</span>
																				</a>
																			</li>
																			<li  class="m-nav__item" style="cursor: pointer;" (click)="wallet_clicked(user)">
																				<a  class="m-nav__link">
																					<span class="m-nav__link-text">
																							<img src="./assets/app/media/img/saino_icons/wallet.png" style="width: 16px;margin-bottom: 4px;margin-right: 2px;">
																						Wallet
																					</span>
																				</a>
																			</li>
																			
																			<li (click)="permissions_profile(user)" class="m-nav__item" style="cursor: pointer;" class="m-nav__item">
																				<a  class="m-nav__link">
																					<span class="m-nav__link-text">
																							<img src="./assets/app/media/img/saino_icons/permission.png" style="width: 16px;margin-bottom: 4px;	margin-right: 2px;">
																						Permissions
																					</span>
																				</a>
																			</li>
																			<li (click)="transaction_history(user)"class="m-nav__item" data-toggle="modal" data-target="#transactions" style="cursor: pointer;">
																				<a  class="m-nav__link">
																					<span class="m-nav__link-text">
																							<img src="./assets/app/media/img/saino_icons/transactions.png" style="width: 16px;margin-bottom: 4px;margin-right: 2px;">
																						Transactions
																					</span>
																				</a>
																			</li>
																			<li (click)="show_pricing_menu(user)" class="m-nav__item" style="cursor: pointer;">
																				<a  class="m-nav__link">
																					<span class="m-nav__link-text">
																							<img src="./assets/app/media/img/saino_icons/pricing.png" style="width: 16px;margin-bottom: 4px;margin-right: 2px">
																						Pricing
																					</span>
																				</a>
																			</li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</li>
														</ul>
							    </td>
							  </tr>
							  <!-- <tr *ngFor="let sender of senderid_list | filter : searchText | paginate: { 
							  id: 'fo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
							    <td style="width: 10%;text-align: center;">{{ (p - 1) * 10 + i +1}}</td>
							    <td style="width: 15%;text-align: center;">{{sender.senderid}}</td>
							    <td style="width: 15%;text-align: center;">default</td>
							    <td style="width: 10%;text-align: center;">
							    	<div *ngIf="sender.status==2">
							    		<button class="btn m-btn--pill custom_btn1 btn-danger" style="padding: 5px 15px;min-width: 100px" >cancelled</button>
							    	</div>
							    	<div *ngIf="sender.status==1">
							    		<button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Delivered</button>
							    	</div>
							    	<div *ngIf="sender.status==0">
								    	<button class="btn m-btn--pill custom_btn1 btn-warning" style="padding: 5px 15px;min-width: 100px" >Pending</button>
								    </div>
							    </td>
							    <td style="width: 20%;color: black;text-align: center;">{{sender.created_at.split("T")[0]}}</td>
							    <td style="width: 10%;color: black;text-align: center;">
							    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="delete_sender(sender)">
							    		<img src="./assets/app/media/img/icons/delete.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
							    	</button>
							    </td>
							    <td style="width: 10%;color: black;text-align: center;"></td>
							    <td style="width: 10%;text-align: center;">
							    	<a href="#" (click)="download(group)">
						    			<img src="./assets/app/media/img/icons/download.png" style="width: 18px;margin-bottom: 4px;margin-left: 20%">
						    		</a>
							    </td>
							  </tr> -->
			</table>
			<div class="row"  [hidden]="!show_loading">
					<div class="col-lg-4"></div>
					<div class="col-lg-4" style="display: flex;justify-content: center;">
						<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
  
				  </div>
					<div class="col-lg-4"></div>
			</div>
			<div class="row">
				<div class="col-lg-3"></div>

				<div class="col-lg-6">
						<pagination-controls id="us" (pageChange)="m_users_p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
				</div>
				
	            <div class="col-lg-3"></div>
			</div>
		<!--end: Datatable -->
	
	</div>
	<div *ngIf="show_pricing">
		<div ><!-- BEGIN: Subheader -->
    <div  appunwraptag="" >
        <div class="row"> 
    <div class="m-content col-lg-12" style="padding-bottom: 0px">
    <div class="m-portlet m-portlet--mobile" style="margin-bottom: 0px">
        <div  class="m-portlet__body">
			<!--begin: Search Form -->
			<div class="row" style="margin: 0px">
				<div class="col-lg-2">
            	<button (click)="remove_pricing()" class="btn m-btn--pill custom_btn" style="border: 1px solid gray">
            		Back
				</button>
				</div>
				<div class="col-lg-3" ></div>
				<div class="col-lg-2" [hidden]="show_loading" style="padding-top:5px;">

						<button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color:black;padding: 6px 14px;display: flex" (click)="addPricing()">
						<span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>
							Add</button>
						</div>
				<div class="col-lg-2" [hidden]="show_loading"  style="padding-top: 3px;">
						<label title="Upload" class="btn-bs-file btn btn-sm btn m-btn--pill     btn-outline-danger m-btn m-btn--custom m-btn--outline-2x" style="color:black">
								<i [hidden]="!import_show" class="fa fa-spinner fa-spin" style="width: 16px;margin-right: 4px;background-color: white"></i>
								<img [hidden]="import_show" src="./assets/app/media/img/saino_icons/import.png" style="width: 16px;margin-right: 4px">
								Import<input [disabled]="import_show" type="file" (change)="importPricingDetails($event.target.files,$event.target)">
							</label>
						
				</div>
				<div class="col-lg-2" [hidden]="show_loading" style="padding-top: 3px;">
						<button title="Download The Pricing Details" (click)="exportPricingDetails()" [disabled]="export_show " class="btn m-btn--pill    btn-outline-warning m-btn m-btn--custom m-btn--outline-2x " style="padding-left: 15px;padding-right: 15px;padding-top: 4px;padding-bottom: 4px;" >
								<i [hidden]="!export_show"class="fa fa-spinner fa-spin" style="width: 16px;margin-right: 4px;background-color: white"></i>
								<img [hidden]="export_show" src="./assets/app/media/img/saino_icons/export.png" style="width: 16px;margin-right: 4px">
								<label style="color:black;font-size: 11px;">Export</label></button>
				</div>
			
			</div>
			<!-- <button class="buttonload btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color:black;padding: 4px 14px"> -->
				<div *ngIf="showIndianPricing">
					<div  class="row" style="text-align: left">
						<div class="col-lg-12">
							<h4  >
								India Connectivity
							</h4>
						</div>
					</div>
					<div style="margin-top: 20px"></div>
                                 
					<table style="width: 100%">
						<tr style="background: #c5cbe4">
						  <th style="width: 7%;color: black;text-align: center;">Sr No</th>
						  <th style="width: 15%;color: black;text-align: center;">Country</th>
						  <th style="width: 15%;color: black;text-align: center;">Route Name</th>
						  <th style="width: 10%;color: black;text-align: center;">ISO Code</th>
						  <th style="width: 13%;color: black;text-align: center;">Country Code</th>
						  <th style="width: 18%;color: black;text-align: center;">Default price(INR)</th>
						  <th style="width: 12%;color: black;text-align: center;">Status</th>
						  <th style="width: 10%;color: black;text-align: center;">Action</th>
						</tr>
					   
			
							<tr  [hidden]="show_loading" *ngFor="let pricing of pricing_permissions_india | paginate: { 
							id: 'pricingindia',itemsPerPage: 10, currentPage: pricingi_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
							  <td style="width: 7%;text-align: center;">{{ (pricingi_p - 1) * 10 + i +1}}</td>
							  <td style="width: 10%;color: black;text-align: center;">{{pricing.name}}</td>
							  <td style="width: 15%;color: black;text-align: center;">{{pricing.az_rname}}</td>
							  <td style="width: 13%;color: black;text-align: center;">{{pricing.iso2}}</td>
							  <td style="width: 15%;color: black;text-align: center;">{{pricing.numcode}}</td>
							  <td style="width: 18%;color: black;text-align: center;">{{pricing.price}}</td>
							  <td *ngIf="pricing.status==0" style="width: 12%;color:red;text-align: center;">Inactive</td>
							  <td *ngIf="pricing.status==1"style="width: 12%;color:green;text-align: center;">Active</td>
			
							  <td style="width: 10%;color: black;text-align: center;">
								  <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="edit_pricing_india(pricing)">
									<img src="./assets/app/media/img/saino_icons/edit.png" style="width: 24px;margin-bottom: 4px;margin-left: 20%">
								</button>
							  </td>
							</tr>
			</table>
			          
            <!--begin: Datatable -->
      
<div class="row"  [hidden]="!show_loading">
	<div class="col-lg-4"></div>
	<div class="col-lg-4" style="display: flex;justify-content: center;">
		<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

  </div>
	<div class="col-lg-4"></div>
</div>
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
  <pagination-controls id="pricingindia" (pageChange)="pricingi_p = $event" maxSize="9"
	directionLinks="true"
	autoHide="true"
	previousLabel="Previous"
	nextLabel="Next"
	screenReaderPaginationLabel="Pagination"
	screenReaderPageLabel="page"
	screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>
<div class="col-lg-3"></div>
</div>   
		  
		<!--end: Datatable -->
				</div>	
				 

        
        </div>
    </div>
    </div></div></div>
    </div>
    
		<!-- BEGIN: Subheader -->
		<div *ngIf="showIndianPricing" style="margin-top: 20px"></div>

    <div  appunwraptag="">
        <div class="row"> 
    <div class="m-content col-lg-12">
    <div class="m-portlet m-portlet--mobile">
        <div  class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="row" >
                <div class="col-lg-8" style="text-align: left">
                    <h4 >
                        Global Connectivity
                    </h4>
				</div>
				<div class="col-lg-4">
						<input type="text" name="searchasdf"  [(ngModel)]="searchText34" class="form-control m-input" placeholder="Search..." id="generalSearch34" style="width: auto; display: inline;">
						<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
							<span><i class="la la-search"></i></span>
						</span>
				</div>
                
            </div>	
           
            <div style="margin-top: 20px"></div>
            <!--begin: Datatable -->
    
            <table style="width: 100%">
              <tr style="background: #c5cbe4">
                <th style="width: 7%;color: black;text-align: center;">Sr No</th>
                <th style="width: 15%;color: black;text-align: center;">Country</th>
                <th style="width: 15%;color: black;text-align: center;">Gateway</th>
                <th style="width: 10%;color: black;text-align: center;">ISO Code</th>
                <th style="width: 13%;color: black;text-align: center;">Country Code</th>
                <th style="width: 18%;color: black;text-align: center;">Default price(INR)</th>
                <th style="width: 12%;color: black;text-align: center;">Status</th>
                <th style="width: 10%;color: black;text-align: center;">Action</th>
              </tr>
               <tr  [hidden]="show_loading" *ngFor="let pricing of pricing_permissions_global | filter : searchText34 | paginate: { 
						id: 'pricingglobal',itemsPerPage: 10, currentPage: pricingg_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
					<td style="width: 7%;text-align: center;">{{ (pricingg_p - 1) * 10 + i +1}}</td>
					<td style="width: 10%;color: black;text-align: center;">{{pricing.name}}</td>
					<td style="width: 15%;color: black;text-align: center;">{{pricing.az_rname}}</td>
					<td style="width: 13%;color: black;text-align: center;">{{pricing.iso2}}</td>
					<td style="width: 15%;color: black;text-align: center;">{{pricing.numcode}}</td>
					<td style="width: 18%;color: black;text-align: center;">{{pricing.price}}</td>
					<td *ngIf="pricing.status==0" style="width: 12%;color:red;text-align: center;">Inactive</td>
					<td *ngIf="pricing.status==1"style="width: 12%;color:green;text-align: center;">Active</td>
  
                <td style="width: 10%;color: black;text-align: center;">
                		<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="edit_pricing_india(pricing)">
								<img src="./assets/app/media/img/saino_icons/edit.png" style="width: 24px;margin-bottom: 4px;margin-left: 20%">
							</button>
                </td>
              </tr>
                    <!-- <tr *ngFor="let group of groups_list | filter : searchText | paginate: { 
                    id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                      <td style="width: 7%;text-align: center;">{{ (p - 1) * 10 + i +1}}</td>
                      <th style="width: 15%;color: black;text-align: center;"></th>
                      <th style="width: 15%;color: black;text-align: center;"></th>
                      <th style="width: 10%;color: black;text-align: center;"></th>
                      <th style="width: 13%;color: black;text-align: center;"></th>
                      <th style="width: 18%;color: black;text-align: center;"></th>
                      <th style="width: 12%;color: black;text-align: center;"></th>
                      <th style="width: 10%;color: black;text-align: center;">
                      	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" data-toggle="modal" data-target="#glo_pricing_modal_edit">
				    		<img src="./assets/app/media/img/saino_icons/edit.png" style="width: 24px;margin-bottom: 4px;margin-left: 20%">
				    	</button>
                      </th>
                    
                    </tr> -->
            </table>
    
                
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                            <pagination-controls id="pricingglobal" (pageChange)="pricingg_p = $event" maxSize="9"
                              directionLinks="true"
                              autoHide="true"
                              previousLabel="Previous"
                              nextLabel="Next"
                              screenReaderPaginationLabel="Pagination"
                              screenReaderPageLabel="page"
                              screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                    <div class="col-lg-3"></div>
				</div>
				<div class="row"  [hidden]="!show_loading">
						<div class="col-lg-4"></div>
						<div class="col-lg-4" style="display: flex;justify-content: center;">
							<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
	  
					  </div>
						<div class="col-lg-4"></div>
				</div>
        </div>
    </div>
    </div></div></div>
	</div>
</div>
</div></div></div>

		<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 1100px" role="document">
		    <div class="modal-content" style="min-height: 400px;padding: 20px">

				      <div class="modal-header" style="border-bottom: 0px">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;"><img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px">ADD SENDER ID</h5>
				        </div>
				      </div>
				      
		       <div class="row" style="margin: 0px;">
					<div class="col-lg-3 ">
					</div>
					<div class="col-lg-6 ">
						<div class="row form-group m-form__group" style="margin-bottom:0px ;">
								<input [(ngModel)]="sender_id_name" class="form-control m-input" type="text" placeholder="Sender ID" name="username" style="border: none;margin: 0px;border-radius: 0px;border-bottom: 1px solid lightgray;"  required>
						</div>
						<div class="row">
							<p style="font-size: 10px;">
								Sender ID in india can be of 6 alphabets only. It cannot club with number or special character. Ex- TSTSMS. International sender ID formats vary from country to country.
							</p>
						</div>

					</div>
					<div class="col-lg-3 ">
					</div>
				</div>
				<div class="row" style="margin: 0px;margin-top: 5%">
					<div class="col-lg-3 ">
					</div>
					<div class="col-lg-6 ">
						<div class="row">
							<h5 style="color: #0b4a9d">Select Route</h5>
						</div>
						<div class="row">
							<label class="m-checkbox m-checkbox--focus" style="color: darkgray;margin-top: 5px;font-size: 1.1rem;">
								<input type="checkbox" name="check" [(ngModel)]="check">
								Promotional
								<span style="border: 1px solid #bdc3d4;"></span>
							</label>
							<label class="m-checkbox m-checkbox--focus" style="margin-left: 28%;color: darkgray;margin-top: 5px;font-size: 1.1rem;">
								<input type="checkbox" name="check" [(ngModel)]="transact">
								Transactional
								<span style="border: 1px solid #bdc3d4;"></span>
							</label>
						</div>
						<div class="row">
							<p style="font-size: 10px;">
								Sender ID is subject to approval from operator. Normally in India it takes 4Hrs. International sender ID approval varies from country to country.
							</p>
						</div>
					</div>
					<div class="col-lg-3 ">
					</div>
				</div>
				<div class="row" style="margin: 0px">
					<div class="col-lg-5 ">
					</div>
					<div class="col-lg-6 ">
						<button class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms" style="padding: 10px 30px"  >
						Save</button>
					</div>
				</div>
		    </div>
		  </div>
		</div>



		<!-- Modals -->
		<div class="modal fade " id="add_account" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 1200px" role="document">
		    <div  [hidden]="show_modal_loading" class="modal-content" style="min-height: 250px;padding: 20px">

				      <div class="modal-header">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 *ngIf="!edit_account" class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add Account</h5>
				      		<h5 *ngIf="edit_account" class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Edit Profile</h5>
				        	<div class="row">
				      			<div class="col-lg-6">
				      				<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label for="example-text-input" class="col-3 col-form-label">
										Full Name
									</label>
									<div class="col-9">
										 <input  class="form-control m-input" type="text" [(ngModel)]="User_details._client_name" > 
									</div>
								</div>
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label for="example-text-input" class="col-3 col-form-label">
										Designation
									</label>
									<div class="col-9">
										 <input class="form-control m-input" type="text" [(ngModel)]="User_details._user_type"> 
									</div>
								</div>
								
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									
											<label class="col-3 col-form-label">
													User ID
												</label>
												<div class="col-3">
													 <input [disabled]="edit_account"  ng-cut="checkUsername()" ng-copy="checkUsername()" (change)="checkUsername()" class="form-control m-input" type="text" [(ngModel)]="User_details._user_name"> 				
												</div>
												<label class="col-2 col-form-label">
													Currency
												</label>
												<div class="col-4">
													
														<select [disabled]="edit_account || user_id!='1'" id="selectpickercurrency" data-dropup-auto="false" data-size="5" [ngModelOptions]="{standalone: true}" [(ngModel)]="User_details._currency" class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
																<option [disabled]="true" [selected]="User_details._currency==''">Select currency</option>
																<option  [disabled]="edit_account" *ngFor="let c of currencyDropdown " [selected]="c.country==User_details._currency" value={{c.country}}>{{c.country}}</option>
																</select>	
													 <!-- <input [disabled]="edit_account" class="form-control m-input" type="text"[(ngModel)]="User_details._currency">  -->
													
												</div>
									
						
									<div class="row">
											
													<div style="padding-left:167px" class="placehold">Should Start With Alphabet Followed by Number(s) or Alphabet</div>
											
										</div>
								</div>
								

								
								<div  *ngIf="edit_account" class="form-group m-form__group row" >
									<label for="example-text-input" class="col-3 col-form-label">
										Password
									</label>
									<div class="col-9">
										 <input class="form-control m-input" type="text" [disabled]=true [(ngModel)]="user_old_pwd" > 
									</div>
									
								</div>
								 
								<div class="form-group m-form__group row">
										<label for="example-text-input" class="col-3 col-form-label">
											New Passowrd
										</label>
										<div class="col-9">
											 <input [(ngModel)]="User_details._user_psw" class="form-control m-input" type="text" name="new_pwd" value=""> 
											 <div  class="placehold" id="passwordsignup-error">Should Contain Number, Alphabet and Special Character</div>
											</div>
								</div>
				      			</div>
				      		<div class="col-lg-6">
				      			<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label for="example-text-input" class="col-3 col-form-label">
										Email
									</label>
									<div class="col-9">
										 <input [(ngModel)]="User_details._email_id"  class="form-control m-input" type="text" placeholder="Email" name="email"  autocomplete="off" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"> 
									</div>
								</div>
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label for="example-text-input" class="col-3 col-form-label">
										Mobile
									</label>
									<div class="col-9">
									<input   [(ngModel)]="User_details._mobile_no" class="form-control m-input" type="number" placeholder="9876543210" name="phone" style="display: inline;">
									</div>
								</div>
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label class="col-3 col-form-label">
										Language
									</label>
									<div class="col-3">
											<select id="selectpickerlanguage" data-dropup-auto="false" data-size="5"  [ngModelOptions]="{standalone: true}" [(ngModel)]="User_details._language" class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
													<option [disabled]="true" [selected]="User_details._language==''">Select Language</option>
													<option *ngFor="let c of languageDropdown " [selected]="User_details._language==c.lan" value={{c.lan}}>{{c.lan}}</option>
													</select>
										 <!-- <input   class="form-control m-input" type="text" [(ngModel)]="User_details._language">  -->
									</div>
									<label class="col-2 col-form-label">
										Timezone
									</label>
									<div class="col-4">
											<select id="selectpicker3" data-dropup-auto="false" data-size="5"  [ngModelOptions]="{standalone: true}" [(ngModel)]="User_details._timezone" class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
													<option [disabled]="true" [selected]="User_details._timezone==''">Select Timezone</option>
													<optgroup *ngFor="let c of timezoneObjects" label={{c}}>
														<option *ngFor="let timezone of timezoneDropdown[c]" value={{timezone}} [selected]="User_details._timezone==timezone" >{{timezone}}</option>
													</optgroup>
													</select>
										<!-- <input  class="form-control m-input" type="text" [(ngModel)]="User_details._timezone"> -->
									</div>
								</div>
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label for="example-text-input" class="col-3 col-form-label">
										Company Name
									</label>
									<div class="col-9">
										<input  class="form-control m-input" type="text" [(ngModel)]="User_details._company_name"> 
									</div>
								</div>
								<div class="row" style="padding-bottom: 0px">
									<div class="col-lg-6">
								        <div class="form-group m-form__group row">
											<label class="col-form-label col-lg-3 col-sm-12">
												Status
											</label>
											<div class="col-lg-9 col-md-9 col-sm-12">
													<select id="selectpicker1" [(ngModel)]="User_details._user_status" class="form-control selectpicker m-bootstrap-select m_selectpicker">
													
													<option *ngFor="let stat of user_status_arr" value={{stat.val}} [selected]="User_details._user_status===value" >
														{{stat.status}}
													</option>
													
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-group m-form__group row">
											<label class="col-form-label col-lg-3 col-sm-12">
												Role
											</label>
											<div class="col-lg-9 col-md-9 col-sm-12">
													<select [disabled]="edit_account" id="selectpicker2" [(ngModel)]="User_details._user_role" class="form-control  selectpicker m-bootstrap-select m_selectpicker">
														<!-- [ngValue]=0 [class.selected]="user_role===3" -->
													<option *ngFor="let roles of user_role_arr" value={{roles.val}} [selected]="User_details._user_role===value">
														{{roles.role}}
													</option >
												
												</select>
											</div>
										</div>
									
									</div>
								</div>
				      		</div>

				      		</div>
				      		<div class="row">
										<div class="col-5"></div>
										<div class="col-1">
											<button  *ngIf="!edit_account"  (click)="addUserProfile()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="padding: 15px 25px;margin-left: 20px;">
												Save 
											</button>
											<button  *ngIf="edit_account"  [swal]="edituseraccount" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="padding: 15px 25px;margin-left: 20px;">
													Save 
												</button>
												<swal
													#edituseraccount
													title="Are you sure?"
													text="This cannot be undone"
													type="warning"
													[showCancelButton]="true"
													[focusCancel]="true"
													(confirm)="addUserProfile()">
												</swal>

											
										</div>
										<div class="col-5"></div>
				      		</div>
				        </div>
				      </div>
			</div>
			<div class="modal-content"  [hidden]="!show_modal_loading" style="min-height: 250px;padding: 20px">
				<div class="row" >
					<div class="col-lg-4"></div>
					<div class="col-lg-4" style="display: flex;justify-content: center;">
						<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
	
				  </div>
					<div class="col-lg-4"></div>
			</div>
			</div>
		
		  </div>
		</div>

		<div class="modal fade" id="transactions" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px" role="document">
		    <div class="modal-content" style="min-height: 250px;padding: 20px">

				      <div class="modal-header">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">TRANSACTIONS</h5>
				        </div>
				      </div>
        			<div class="row"> 
						<div class="m-content col-lg-12">
						<div class="m-portlet m-portlet--mobile">
							<div  class="m-portlet__body">
								<!--begin: Search Form -->
								<!-- <div class="row" style="margin-bottom: 20px">
									<div class="col-lg-2">
									</div>
									<div class="col-lg-3">
										<div class="form-group m-form__group row">
											<div class="col-lg-12 col-md-9 col-sm-12">
												<select  class="form-control m-bootstrap-select m_selectpicker">
													<option >
														Today
													</option>
													<option>
														Last 7 days
													</option>
													<option>
														Last 15 days
													</option>
													<option>
														Last month
													</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-lg-6" id="sandbox-container" >
										<div class="input-daterange input-group" id="datepicker">
										    <span class="input-group-addon" style="text-align: center;margin-right: 5px">From</span>
										    <input type="text" class="input-sm form-control" name="start" />
										    <span class="input-group-addon" style="text-align: center;">To</span>
										    <input type="text" class="input-sm form-control" name="end" />
										</div>
									</div>

									<div class="col-lg-1">
										<button class="btn " style="background: transparent;padding: 0px;">
											<img src="./assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
										</button>
									</div>
								</div> -->
								<div class="row" style="margin-bottom: 20px">
										<div class="col-lg-2">
										</div>
										<div [hidden]="show_calendar_transaction" class="col-lg-6">
							
										</div>
										<div class="col-lg-3">
											<div class="form-group m-form__group row">
												<div class="col-lg-12 col-md-9 col-sm-12">
													<select id="tranhistoryselect" [(ngModel)]="calendar_range_transaction" (change)="tranrangeChanged()"class="form-control selectpicker m-bootstrap-select m_selectpicker">
														<option value="" [disabled]="true" [selected]="calendar_range_transaction==''">Select Range</option>
														<option *ngFor="let int of interval" value="{{int.val}}" >{{int.interval}}</option>
													</select>
												</div>
											</div>
										</div>
										<div [hidden]="!show_calendar_transaction" class="col-lg-6" id="sandbox-container" >
											<div class="input-daterange input-group" id="datepicker">
												<span class="input-group-addon" style="text-align: center;margin-right: 5px">From</span>
												<!-- <input  type="text" class="input-sm form-control" name="start" /> -->
												<input type="text" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
												<span class="input-group-addon" style="text-align: center;">To</span>
												<!-- <input type="text" class="input-sm form-control" name="end" /> -->
												<input  type="text" class="form-control" id="m_datepicker_2" readonly="" placeholder="Select date">
							
											</div>
										</div>
										
							
										<div class="col-lg-1">
							
											<button (click)="transactionSearchData()"class="btn " style="background: transparent;padding: 0px;">
												<img src="./assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
											</button>
										</div>
									</div>
								
												<!--begin: Datatable -->

					<table style="width: 100%">
					  <tr style="background: #c5cbe4">
						<th style="width: 20%;color: black;text-align: center;">Sr No</th>
					    <th style="width: 30%;color: black;text-align: center;">Date</th>
					    <th style="width: 40%;color: black;text-align: center;">Source</th>
					    <th style="width: 30%;color: black;text-align: center;">Amount</th>
					  </tr>
					  <tr [hidden]="show_modal_loading" *ngFor="let history of tran_history  | paginate: { 
						id: 'tran_history',itemsPerPage: 6, currentPage: tran_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
						<td style="width: 20%;text-align: center;">{{(tran_p - 1) * 6 + i +1}}</td>
					    <td style="width: 30%;text-align: center;">{{history.date}}</td>
					    <td style="width: 40%;text-align: center;">{{history.source}}</td>
					    <td *ngIf="credit.test(history.amount_type)" style="width: 30%;text-align: center;color:green">&#8377; +{{history.amount}}</td>
						<td *ngIf="debit.test(history.amount_type)" style="width: 30%;text-align: center;color: red">&#8377; -{{history.amount}}</td>

					  </tr>
					</table>
					<div class="row"  [hidden]="!show_modal_loading">
							<div class="col-lg-4"></div>
							<div class="col-lg-4" style="display: flex;justify-content: center;">
								<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
		  
						  </div>
							<div class="col-lg-4"></div>
					</div>								
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
								<pagination-controls id="tran_history" (pageChange)="tran_p = $event" maxSize="5"
				                  directionLinks="true"
				                  autoHide="true"
				                  previousLabel="Previous"
				                  nextLabel="Next"
				                  screenReaderPaginationLabel="Pagination"
				                  screenReaderPageLabel="page"
				                  screenReaderCurrentLabel="You're on page"></pagination-controls>
				        </div>
				        <div class="col-lg-3"></div>
					</div>
					<!--end: Datatable -->
											
							</div>
						</div>
						</div>
					</div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="walletmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px" role="document">
		    <div class="modal-content" style="min-height: 250px;padding: 20px">

				      <div class="modal-header">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Wallet</h5>
				        </div>
				      </div>
        			<div class="row"> 
						<div class="m-content col-lg-12">
						<div class="m-portlet m-portlet--mobile">
							<div  class="m-portlet__body">
								<!--begin: Search Form -->
								<div class="row " style="margin-bottom: 10px">
								<div class="col-lg-3">
									<div class=" row" style="padding-bottom: 0px">
									<h6 for="example-text-input" class="col-6 col-form-label">
										User ID
									</h6>
										<h6  class="col-6 col-form-label" style="font-weight: 1rem">
											{{w_user_name}}
										</h6>
									</div>
									</div>


								<div class="col-lg-1"></div>
								<div class="col-lg-4">
										<div class=" row" style="padding-bottom: 0px">
										<h6  class="col-4 col-form-label">
											Email
										</h6>
										<h6  class="col-8 col-form-label" style="font-weight: 1rem">
											{{w_email_id}}
										</h6>
									</div>
									</div>
								<div class="col-lg-4">
										<h6 style="display: inline;">Current Credit Amount </h6>
										<button class="btn m-btn--pill custom_btn1" disabled="" style="padding: 0.30rem 1rem;">
											&#8377;<span> </span>{{w_balance}}
										</button>
								</div>
								</div>
								<div class="row " style="margin-bottom: 15px">
								<div class="col-lg-3">
									<div class=" row" style="padding-bottom: 0px">
									<label for="example-text-input" class="col-3 col-form-label">
										Amount
									</label>
									<div class="col-9">
										<input [(ngModel)]="amount_" class="form-control m-input" type="number" id="amount_price" placeholder="Amount">
									</div>
									</div>
									</div>
								
									<div class="col-lg-1"></div>
									<div class="col-lg-8">
										<div class=" row" style="padding-bottom: 0px">
										<label for="example-text-input" class="col-1 col-form-label">
											Note
										</label>
										<div class="col-10">
											<input [(ngModel)]="note_" class="form-control m-input" type="text" placeholder="Note">
										</div>
									</div>
									</div>
								</div>
							<div class="row " style="margin-bottom: 10px">
								<div class="col-lg-1"></div>
								<div class="col-lg-1">
									<button (click)="add_wallet_bal()" class="btn m-btn--pill btn-outline-success btn-sm" ><img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px">Add </button>
								</div>
								<div class="col-lg-1"></div>
								<div class="col-lg-1">
									<button (click)="deduct_wallet_bal()" class="btn m-btn--pill btn-outline-danger btn-sm" >Deduct</button>
								</div>
								<div class="col-lg-8">
								</div>

							</div>
							<!--begin: Datatable -->

					<table style="width: 100%">
					  <tr style="background: #c5cbe4">
						<th style="width: 20%;color: black;text-align: center;">Sr No</th>
					    <th style="width: 20%;color: black;text-align: center;">Date</th>
					    <th style="width: 30%;color: black;text-align: center;">Source</th>
						<th style="width: 40%;color: black;text-align: center;">Notes</th>		    
					    <th style="width: 10%;color: black;text-align: center;">Amount</th>
					  </tr>
					  <tr  [hidden]="show_loading" *ngFor="let history of wallet_history  | paginate: { 
						id: 'wallet-history',itemsPerPage: 10, currentPage: wallet_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
						<td style="width: 20%;text-align: center;">{{(wallet_p - 1) * 10 + i +1}}</td>
					    <td style="width: 20%;text-align: center;">{{history.date}}</td>
					    <td style="width: 30%;text-align: center;">{{history.source}}</td>
						<td style="width: 40%;text-align: center;">{{history.remarks}}</td>
						<td *ngIf="history.amount_type=='credit'"style="width: 10%;text-align: center;color:green"> &#8377;+{{history.amount}}</td>
						<td *ngIf="history.amount_type!='credit'"style="width: 10%;text-align: center;color:red">&#8377;-{{history.amount}}</td>

					  </tr>
					</table>
					
<div class="row"  [hidden]="!show_loading">
		<div class="col-lg-4"></div>
		<div class="col-lg-4" style="display: flex;justify-content: center;">
			<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

	  </div>
		<div class="col-lg-4"></div>
</div>
			
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
								<pagination-controls id="wallet-history" (pageChange)="wallet_p = $event" maxSize="9"
				                  directionLinks="true"
				                  autoHide="true"
				                  previousLabel="Previous"
				                  nextLabel="Next"
				                  screenReaderPaginationLabel="Pagination"
				                  screenReaderPageLabel="page"
				                  screenReaderCurrentLabel="You're on page"></pagination-controls>
				        </div>
				        <div class="col-lg-3"></div>
					</div>
					<!-- <div class="row">
					<div class="col-5"></div>
					<div class="col-7">
					<button class="btn m-btn--pill custom_btn1" id="send_sms"  
				      				data-dismiss="modal" aria-label="Close">Cancel</button>
					</div>
				     </div> -->
					<!--end: Datatable -->
											
							</div>
						</div>
						</div>
					</div>
		    </div>
		  </div>
		</div>

<div class="modal fade" id="permissions" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 1200px" role="document">
		    <div [hidden]="show_modal_loading" class="modal-content" style="min-height: 250px;padding: 20px">

				      <div class="modal-header">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="margin-bottom: 10px;font-weight: 650;text-align: left;">App Access</h5>
				      		<div class="row col-lg-12" style="margin: 0px; padding: 0px 20px 0 0;">
				      			<div *ngIf="parentApps.includes('bulk_sms') || userrole=='1'" class="col-lg-2">
				      				<div class="row">
				      					<label class="col-9 col-form-label" style="text-align: center;font-weight:550">Bulk SMS</label>
										<div class="col-3">
											<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
												<label>
						                        <input type="checkbox" [(ngModel)]="bulksms_access" name="">
						                        <span></span>
						                        </label>
						                    </span>
										</div>
				      				</div>
				      			</div>
				      			<div *ngIf="parentApps.includes('bulk_voice') || userrole=='1'" class="col-lg-2">
				      				<div class="row">
				      					<label class="col-9 col-form-label" style="text-align: center;font-weight:550">Voice Call</label>
										<div class="col-3">
											<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
												<label>
						                        <input type="checkbox" [(ngModel)]="voicecall_access" name="">
						                        <span></span>
						                        </label>
						                    </span>
										</div>
				      				</div>
				      			</div>
				      			<div *ngIf="parentApps.includes('missed_call') || userrole=='1'" class="col-lg-2">
				      				<div class="row">
				      					<label class="col-8 col-form-label" style="text-align: right;font-weight:550">Missed Call</label>
										<div class="col-3">
											<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
												<label>
						                        <input type="checkbox" [(ngModel)]="missedcall_access" name="">
						                        <span></span>
						                        </label>
						                    </span>
										</div>
				      				</div>
				      			</div>
				      			<div *ngIf="parentApps.includes('ivr_toll') || userrole=='1'" class="col-lg-2">
				      				<div class="row">
				      					<label class="col-9 col-form-label" style="text-align: right;font-weight:550">IVR or Toll Free</label>
										<div class="col-3">
											<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
												<label>
						                        <input type="checkbox"  [(ngModel)]="ivr_tollfree_access"name="">
						                        <span></span>
						                        </label>
						                    </span>
										</div>
				      				</div>
				      			</div>
				      			<div *ngIf="parentApps.includes('short_code') || userrole=='1'" class="col-lg-2">
				      				<div class="row">
				      					<label class="col-9 col-form-label" style="text-align: right;font-weight:550">Short Code</label>
										<div class="col-3">
											<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
												<label>
						                        <input type="checkbox"  [(ngModel)]="shortcode_access"name="">
						                        <span></span>
						                        </label>
						                    </span>
										</div>
				      				</div>
								  </div>	
								  <div *ngIf="parentApps.includes('whatsapp') || userrole=='1'" class="col-lg-2">
									<div class="row">
										<label class="col-9 col-form-label" style="text-align: right;font-weight:550">Whatsapp</label>
									  <div class="col-3">
										  <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
											  <label>
											  <input type="checkbox" [(ngModel)]="whatsapp_access" name="">
											  <span></span>
											  </label>
										  </span>
									  </div>
									</div>
								</div>			      			
				      		</div>
				        </div>
				      </div>
        			<div class="row"> 
						<div class="m-content col-lg-12">
						<div class="m-portlet m-portlet--mobile">
							<div  class="m-portlet__body" style="padding-left: 0px">
								<!--begin: Search Form -->
									<div class="d-flex flex-row mt-2">
	<ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" role="navigation" style="min-width: 20%">
		<li id="bulksms" class="nav-item" style="width: 97%;text-align: center;pointer-events: none">
			<a  href="#lorem" class="nav-link active" data-toggle="tab" role="tab" aria-controls="lorem">Bulk SMS</a>
		</li>
		<li  id="voicecall" class="nav-item" style="width: 97%;text-align: center;pointer-events: none">
			<a   href="#ipsum" class="nav-link" data-toggle="tab" role="tab" aria-controls="ipsum">Voice Call</a>
		</li>
		<li id="missedcall" class="nav-item" style="width: 97%;text-align: center;pointer-events: none">
			<a href="#dolor" class="nav-link " data-toggle="tab" role="tab" aria-controls="dolor">Missed Call</a>
		</li>
		<li id="ivrtollfree" class="nav-item" style="width: 97%;text-align: center;pointer-events: none">
			<a href="#sit-amet" class="nav-link" data-toggle="tab" role="tab" aria-controls="sit-amet">IVR or Toll Free</a>
		</li>
		<li id="shortcode" class="nav-item" style="width: 97%;text-align: center;pointer-events: none">
			<a href="#sit-amet" class="nav-link" data-toggle="tab" role="tab" aria-controls="sit-amet">Short Code</a>
		</li>
		<li id="whatsapp" class="nav-item" style="width: 97%;text-align: center;pointer-events: none">
				<a  href="#dolor" class="nav-link" data-toggle="tab" role="tab" aria-controls="dolor">WhatsApp</a>
			</li>
	</ul>
	<div class="tab-content" style="max-width: 80%;padding:10px;padding-top: 0px ;width:800px">
		
		<div  class="tab-pane fade show active row" id="lorem" role="tabpanel" style="margin-left: 0px">
			<h5>Settings</h5>
			<div class="row" style="margin-left: 0px;">
				<div class="col-lg-3" style="text-align: right;padding-right: 30px;">Assign Route</div>
				<div class="col-lg-9" >
                           
					 <label class="m-checkbox m-checkbox--focus" style="margin-top: 5px;margin-left:3px;"  *ngFor="let list of dropdownList;let i=index" [hidden]="((userrole=='2'||userrole=='3' || userrole=='4' || userrole=='5') && !parentRoutes.includes(list.az_routeid))">
						<input type="checkbox" name="send_flash" (change)="eventoccured(i)"value="{{list.az_routeid}}" [checked]="selectedItems[i]['selected']==true">
									{{list.az_rname}}
								<span style="border: 1px solid #bdc3d4;"></span>
					</label> 
				<!-- <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" 
							[settings]="dropdownSettings" 
							(onSelect)="onItemSelect($event)" 
							(onDeSelect)="OnItemDeSelect($event)"
							(onSelectAll)="onSelectAll($event)"
							(onDeSelectAll)="onDeSelectAll($event)">
				</angular2-multiselect> -->
				</div>
			
			</div>
		
			<div class="row" style="margin-top:15px;">
				<div *ngIf="parent_permissions.includes('DND_OR_NOT') || userrole=='1'"class="col-lg-4">
					<div class="row">
      					<label class="col-9 col-form-label" style="text-align: right;">DND Refund</label>
						<div class="col-3">
							<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
								<label>
		                        <input [(ngModel)]="dnd_refund" [checked]="dnd_refund==true" type="checkbox"  name="">
		                        <span></span>
		                        </label>
		                    </span>
						</div>
      				</div>
				</div>
				<div *ngIf="parent_permissions.includes('LiveStatus')|| userrole=='1'" class="col-lg-4">
					<div class="row">
	  					<label class="col-9 col-form-label" style="text-align: right;">Live Status</label>
						<div class="col-3">
							<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
								<label>
		                        <input [(ngModel)]="live_status" [checked]="live_status==true" type="checkbox"  name="">
		                        <span></span>
		                        </label>
		                    </span>
						</div>
	  				</div>
				</div>
				<div *ngIf="parent_permissions.includes('openSenderId')|| userrole=='1'" class="col-lg-4">
					<div class="row">
      					<label class="col-9 col-form-label" style="text-align: right;">Allow Open Sender ID</label>
						<div class="col-3">
							<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
								<label>
		                        <input [(ngModel)]="open_senderid" [checked]="open_senderid==true" type="checkbox"  name="">
		                        <span></span>
		                        </label>
		                    </span>
						</div>
      				</div>
				</div>
			</div>
			
			<div class="row" style="margin-top:15px;">
					<div *ngIf="parent_permissions.includes('kyc')|| userrole=='1'"  class="col-lg-4">
						<div class="row">
							  <label class="col-9 col-form-label" style="text-align: right;">KYC</label>
							<div class="col-3">
								<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
									<label>
									<input [(ngModel)]="KYC"type="checkbox" [checked]="KYC==true" name="">									<span></span>
									</label>
								</span>
							</div>
						  </div>
					</div>
					
				
				</div>
			<!-- 
				<div class="col-lg-4">
					<div class="row">
      					<label class="col-9 col-form-label" style="text-align: right;">Activate all block number</label>
						<div class="col-3">
							<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
								<label>
		                        <input [(ngModel)]="block_number" [checked]="block_number==true" type="checkbox"  name="">
		                        <span></span>
		                        </label>
		                    </span>
						</div>
      				</div>
				</div>-->
				
					
				
			
			<div class="row" style="margin-top:15px;">
				<div *ngIf="parent_permissions.includes('cuttingService')|| userrole=='1'"  class="col-lg-4">
					<div class="row">
      					<label class="col-9 col-form-label" style="text-align: right;">Cutting Service</label>
						<div class="col-3">
							<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
								<label>
		                        <input [(ngModel)]="cutting_service"  [checked]="cutting_service==true" type="checkbox"  name="">
		                        <span></span>
		                        </label>
		                    </span>
						</div>
      				</div>
				</div>
				<div *ngIf="parent_permissions.includes('cuttingService')|| userrole=='1'"  class="col-lg-4">
					<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label for="example-text-input" class="col-5 col-form-label" style="text-align:right">
										Start From
									</label>
									<div class="col-7">
										<input [(ngModel)]="startfrom_" [disabled]="!cutting_service" class="form-control m-input" type="number" name="start_from_" >
									</div>
						</div>
				</div>
				<div *ngIf="parent_permissions.includes('cuttingService')|| userrole=='1'"  class="col-lg-4">
					<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label for="example-text-input" class="col-4 col-form-label" style="text-align:right">
										Cutting %
									</label>
									<div class="col-8">
										<input [(ngModel)]="cutting_" [disabled]="!cutting_service" class="form-control m-input" type="number" name="cutting__" ng-copy="handleCuttingPercent($event)" ng-paste="handleCuttingPercent($event)" (change)="handleCuttingPercent($event)" (input)="handleCuttingPercent($event)" (keydown)="handleCuttingPercent($event)" (keyup)="handleCuttingPercent($event)">
									</div>
						</div>
				</div>
			</div>
			<div *ngIf="parent_permissions.includes('cuttingService') || userrole=='1'" class="row" style="margin-top:20px;">
				<div class="col-lg-1"></div>
				<div class="col-lg-5 row">
					
					<label for="example-text-input" class="col-form-label col-lg-6"style="text-align:right">
						DLR Status1 %
					</label>
					
					<div class="col-6">
						<input [(ngModel)]="dlr_status_1" maxlength=3 min="0" (input)="handleChange($event)" [disabled]="!cutting_service" class="form-control m-input" type="number" name="old_pwd" >
					</div>
				</div>
				<div class="col-lg-5 row">
					
					<label for="example-text-input" class=" col-form-label col-lg-6" style="text-align:right">
						DLR Status %
					</label>
					
					<div class="col-6">
						<input [(ngModel)]="dlr_status_2" maxlength=3 min="0" (input)="handleChange1($event)" [disabled]="!cutting_service" class="form-control m-input" type="number" name="old_pwd" >
					</div>
				</div>
				
				<div class="col-lg-1"></div>
			</div>
			<div *ngIf="parent_permissions.includes('cuttingService') || userrole=='1' " class="row" style="margin-top:20px;">
				<div class="col-lg-1"></div>
				<div [hidden]="!cutting_service" class="col-lg-5 row">
					<!-- <div class="form-group m-form__group row"> -->
						<label class="col-form-label col-lg-6 col-sm-6" style="text-align:right"> 
							Status1
						</label>
						<div  class="col-lg-6 col-md-6 col-sm-6">
							<select  id="option1" [(ngModel)]="option1_value" class="form-control selectpicker m-bootstrap-select m_selectpicker"  style="height: 40px" required="required" >
								<!-- <option value="" [disabled]="true" [selected]="true" >Select Status</option> -->
								<option  *ngFor="let r of options_1; let index = index" value="{{r.value}}" [selected]="option1_value==r.value" [disabled]="option2_value==r.value" [value]="r.value" >{{r.status}}</option>
							  </select>
						</div>
					<!-- </div> -->
				</div>
				<div [hidden]="!cutting_service" class="col-lg-5 row">
					<!-- <div class="form-group m-form__group row"> -->
						<label class="col-form-label col-lg-6 col-sm-6" style="text-align:right">
							Status
						</label>
						<div  class="col-lg-6 col-md-6 col-sm-6">
							<select    id="option2" [(ngModel)]="option2_value" class="form-control m-bootstrap-select selectpicker m_selectpicker"  style="height: 40px" required="required" >
								<!-- <option value="" [disabled]="true" [selected]="true"  >Select Status</option> -->
								<option  *ngFor="let r of options_2; let index = index"   [selected]="option2_value==r.value" value="{{r.value}}" [value]="r.value" [disabled]="option1_value==r.value">{{r.status}}</option>
							  </select>
						</div>
					<!-- </div> -->
				</div>
				<div class="col-lg-1"></div>
			</div>
			<div class="row" style="margin-top:20px;">
					<div class="col-4"></div>
					<div class="col-7">
						<button type="submit" [swal]="updatepermissions" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="padding: 15px 25px;">
							Save 
						</button>
						<swal
								#updatepermissions
								title="Are you sure?"
								text="This cannot be undone"
								type="warning"
								[showCancelButton]="true"
								[focusCancel]="true"
								(confirm)="update_permissions()">
							  </swal>
						&nbsp;&nbsp;
						<button data-toggle="modal" class="btn m-btn--pill custom_btn" style="padding: 15px 25px;border: 1px solid darkgray">
							Cancel
						</button>
					</div>
				</div>
			
		</div>
		<div class="tab-pane fade" id="ipsum" role="tabpanel">
			<h4>Settings</h4>
			
			<p>Aenean pharetra risus quis placerat euismod. Praesent mattis lorem eget massa euismod sollicitudin. Donec porta nulla ut blandit vehicula. Mauris sagittis lorem nec mauris placerat, et molestie elit vehicula. Donec libero ex, condimentum et mi dapibus, euismod ornare ligula.</p>
			
			<p>In faucibus tempus ante, et tempor magna luctus id. Ut a maximus ipsum. Duis eu velit nec libero pretium pellentesque. Maecenas auctor hendrerit pulvinar. Donec sed tortor interdum, sodales elit vel, tempor turpis. In tristique vestibulum eros vel congue. Vivamus maximus posuere fringilla. Nullam in est commodo, tristique ligula eu, tincidunt enim. Duis iaculis sodales lectus vitae cursus.</p>
		</div>
		<div class="tab-pane fade" id="dolor" role="tabpanel">
			<h4>Settings</h4>
			
			<p>Ut eget lectus tristique, tempus purus sit amet, porta augue. Mauris lobortis sem nec augue ultricies blandit. Nullam sed sem venenatis, pretium urna eget, scelerisque dolor. Morbi nec volutpat leo, quis faucibus tortor. Aenean vel rutrum mauris. Pellentesque lectus massa, tincidunt quis leo non, sodales sagittis nulla. Proin interdum est at nulla laoreet, pulvinar pretium nisl rutrum. In vel elit a risus rhoncus accumsan vulputate non sapien. Sed et rhoncus velit. Nunc commodo augue fermentum, hendrerit neque at, ullamcorper arcu. Nulla tincidunt orci a lectus efficitur elementum. Donec molestie urna vestibulum augue placerat faucibus. In vitae orci vel mauris cursus viverra ac sit amet nisl. Phasellus odio tortor, ullamcorper eget ullamcorper eget, molestie eget justo. Integer elementum purus eget arcu fermentum tincidunt. Nullam erat tellus, dictum sit amet nisi eu, rutrum fermentum odio.</p>
		</div>
		<div class="tab-pane fade" id="sit-amet" role="tabpanel">
			<h4>Settings</h4>
			
			<p>Aliquam hendrerit nunc vitae nisi efficitur, eu porta sem aliquam. Aenean tincidunt mi sed mi sodales bibendum. Proin dolor ipsum, mollis venenatis velit eu, iaculis laoreet mi. Mauris eget egestas felis, sit amet finibus nunc. Aliquam non dui sit amet erat auctor mollis ac eget ante. Quisque at quam augue. Nulla dignissim, augue nec cursus consequat, mi nulla efficitur augue, vel fringilla turpis quam eu nunc. Quisque rutrum vehicula lacus sodales molestie. Mauris vel felis sit amet erat maximus cursus ut a velit. In hac habitasse platea dictumst. Vestibulum vel neque sit amet nisl finibus fermentum.</p>
		</div>
	</div>
</div>
		
							</div>
						</div>
						</div>
					</div>
			</div>
			<div  [hidden]="!show_modal_loading" class="modal-content" style="min-height: 250px;padding: 20px">
			<div class="row"  >
					<div class="col-lg-4"></div>
					<div class="col-lg-4" style="display: flex;justify-content: center;">
						<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
  
				  </div>
					<div class="col-lg-4"></div>
			</div>	
		</div>

		  </div>
		</div>


		<div class="modal fade" id="branding_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 700px" role="document">
		    <div  [hidden]="show_loading" class="modal-content" style="min-height: 400px;padding: 20px">

				      <div class="modal-header" style="border-bottom: 0px">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add Url</h5>
				        </div>
				      </div>
				      
		       <div class="row" style="margin: 15px 0px;display: flex;align-items: center;">
		       		<label style="padding-top: 6px" class="col-lg-3">Domain</label>
					<div class="input-group col-lg-9" style="padding: 0px">
					<div class="input-group-prepend">
						<span class="input-group-text">
							https://
						</span>
					</div>
					<input type="text" [(ngModel)]="brand_website_" class="form-control m-input" aria-label="please enter domain">
					<div class="input-group-append">
						<span class="input-group-text">
							/
						</span>
					</div>
					</div>
				</div>
				<div class="row" style="margin: 15px 0px;display: flex;align-items: center;">
					<label style="padding-top: 6px" class="col-lg-3">Site Name</label>
					<div class="input-group col-lg-9" style="padding: 0px">
					<input type="text" [(ngModel)]="brand_sitename_" class="form-control m-input" aria-label="please enter sitename">
					</div>
				</div>
				<div class="row" style="margin: 15px 0px;display: flex;align-items: center;">
					<label style="padding-top: 6px" class="col-lg-3">Site Title</label>
					<div class="input-group col-lg-9" style="padding: 0px">
					<input type="text" [(ngModel)]="brand_sitetitle_" class="form-control m-input" aria-label="please enter sitetitle">
					</div>
				</div>
				<div class="row" style="margin: 15px 0px;display: flex;align-items: center;">
						<label style="padding-top: 6px" class="col-lg-3">Color</label>
						<div class="input-group col-lg-9" style="padding: 0px">
							<span id="colorpicker" [(colorPicker)]="color"  [style.color]="color"						
							[cpPosition]="'right'"
							[cpPositionOffset]="'50%'"
							[cpSaveClickOutside]='true'
							[cpPositionRelativeToArrow]="true"
							 style="font-size:20px;cursor: pointer;">Change Me!</span>

						<!-- <input type="text" [(ngModel)]="brand_color_" class="form-control m-input" aria-label="please enter color"> -->
						</div>
					</div>
				<div class="row" style="margin: 15px 0px;display: flex;align-items: center;">
						<label style="padding-top: 6px" for="exampleInputEmail1" class="col-lg-3">Logo(160 x 80)</label>
						<div></div>
						<div class="input-group custom-file col-lg-9">
						  	<input  type="file" class="custom-file-input" id="customFile_logo" (change)="logo_file($event.target.files)">
						  	<label class="custom-file-label" for="customFile">{{brand_logo_}}</label>
						</div>
					</div>
				<div class="row" style="margin: 15px 0px;display: flex;align-items: center;">
					<label style="padding-top: 6px" for="exampleInputEmail1" class="col-lg-3">Favicon(16 X 16)</label>
					<div></div>
					<div class="input-group custom-file col-lg-9">
					  	<input type="file" class="custom-file-input" id="customFile_favicon" (change)="favicon_file($event.target.files)">
					  	<label class="custom-file-label" for="customFile">{{brand_favicon_}}</label>
					</div>
				</div>
				<div class="row" style="margin: 15px 0px;display: flex;align-items: center;">
					<label style="padding-top: 6px" class="col-lg-3">Support Email</label>
					<div class="input-group col-lg-9" style="padding: 0px">
					<input type="text" class="form-control m-input" aria-label="Please Enter Support Email">
					</div>
				</div>
				<div class="row" style="margin: 15px 0px;">
					<div class="col-lg-5 ">
					</div>
					<div class="col-lg-6 ">
						<button [disabled]="savingBrand" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms" style="padding: 10px 30px" [swal]="brandingsave" >
						Save								
						<i [hidden]="!savingBrand" class="fa fa-spinner fa-spin" style="width: 16px;margin-right: 4px;background-color: white"></i>
						<swal
						#brandingsave
						title="Are you sure?"
						text="This cannot be undone"
						type="warning"
						[showCancelButton]="true"
						[focusCancel]="true"
						(confirm)="create_branding()">
					  </swal>
					</button>
					</div>
				</div>
			</div>
			<div  [hidden]="!show_loading" class="modal-content" style="min-height: 400px;padding: 20px">
					<div class="row" >
							<div class="col-lg-4"></div>
							<div class="col-lg-4" style="display: flex;justify-content: center;">
								<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
		  
						  </div>
							<div class="col-lg-4"></div>
					</div>
			</div>
			
		  </div>
		</div>

		


<div class="modal fade" id="ind_pricing_modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="min-height: 250px;padding: 20px">

		      <div class="modal-header">
		      	<div class="container">
		      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
					</button>
		      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 30px;font-weight: 650;text-align: center;">Edit Price</h5>
		        	<div class="row">
		      			<div class="col-lg-2"></div>
		      			<div class="col-lg-3" style="padding: 7px;text-align: right;">
		      				<span>Country</span>
		      			</div>
		      			<div class="col-lg-5">
							{{edit_price_country}}
		      			</div>
		      			<div class="col-lg-2"></div>
		      		</div>
		      		<div class="row">
		      			<div class="col-lg-2"></div>
		      			<div class="col-lg-3" style="padding: 7px;text-align: right;">
		      				<span>Route</span>
		      			</div>
		      			<div class="col-lg-5">
		      				{{edit_price_gateway}}
		      			</div>
		      			<div class="col-lg-2"></div>
		      		</div>
		      		<div class="row">
		      			<div class="col-lg-2"></div>
		      			<div class="col-lg-3" style="padding: 7px;text-align: right;">
		      				<span>Current Price</span>
		      			</div>
		      			<div class="col-lg-5">
		      				{{edit_price_current_price}}
		      			</div>
		      			<div class="col-lg-2"></div>
		      		</div>
		        	<div class="row">
		      			<div class="col-lg-2"></div>
		      			<div class="col-lg-3" style="padding: 7px;text-align: right;">
		      				<span>New Price</span>
		      			</div>
		      			<div class="col-lg-5">
		      				<input [(ngModel)]="edit_price_new_price" class="form-control m-input" type="number" value="">
		      			</div>
		      			<div class="col-lg-2"></div>
		      		</div>
		      		<div class="row">
		      		</div>
		      		<div class="row "  style="margin-left: 4%;">
						<button  class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="margin-top: 20px;margin-left: 42%;padding: 10px 30px;" [swal]="editsavepricingDetails">Save</button>
						<swal
						#editsavepricingDetails
						title="Are you sure?"
						text="This cannot be undone"
						type="warning"
						[showCancelButton]="true"
						[focusCancel]="true"
						(confirm)="save_pricing_details()">
					</swal>
					</div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>


<div class="modal fade" id="glo_pricing_modal_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="min-height: 250px;padding: 20px">

		      <div class="modal-header">
		      	<div class="container">
		      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
					</button>
		      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 30px;font-weight: 650;text-align: center;">Edit Price</h5>
		        	<div class="row">
		      			<div class="col-lg-2"></div>
		      			<div class="col-lg-3" style="padding: 7px;text-align: right;">
		      				<span>Country</span>
		      			</div>
		      			<div class="col-lg-5">
		      				IND
		      			</div>
		      			<div class="col-lg-2"></div>
		      		</div>
		      		<div class="row">
		      			<div class="col-lg-2"></div>
		      			<div class="col-lg-3" style="padding: 7px;text-align: right;">
		      				<span>Gateway</span>
		      			</div>
		      			<div class="col-lg-5">
		      				promo
		      			</div>
		      			<div class="col-lg-2"></div>
		      		</div>
		      		<div class="row">
		      			<div class="col-lg-2"></div>
		      			<div class="col-lg-3" style="padding: 7px;text-align: right;">
		      				<span>Current Price</span>
		      			</div>
		      			<div class="col-lg-5">
		      				.15
		      			</div>
		      			<div class="col-lg-2"></div>
		      		</div>
		        	<div class="row">
		      			<div class="col-lg-2"></div>
		      			<div class="col-lg-3" style="padding: 7px;text-align: right;">
		      				<span>New Price</span>
		      			</div>
		      			<div class="col-lg-5">
		      				<input class="form-control m-input" type="text" value="">
		      			</div>
		      			<div class="col-lg-2"></div>
		      		</div>
		      		<div class="row "  style="margin-left: 4%;">
						<button class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="margin-top: 20px;margin-left: 42%;padding: 10px 30px;">Save</button>

					</div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade" id="ind_pricing_modal_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
			  <div class="modal-content" style="min-height: 250px;padding: 20px">
  
				<div class="modal-header" style="    padding: 2px 0 0 5px;">
					<div class="container">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="    padding-top: 25px;">
							<span aria-hidden="true">&times;</span>
					  	</button>
						<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 30px;font-weight: 650;text-align: center;">Add Price</h5>
					</div>
				</div>
				<div class="container" style="margin-top: 15px;">
					<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-3" style="padding: 7px;text-align: right;">
							<span>Country</span>
						</div>
						<div class="col-lg-4">
							<input class="form-control"type="text" id="country" defaultCountry="IN">
						</div>
						<div class="col-lg-2"></div>
					</div>
					<div class="row" style="margin-top:10px">
						<div class="col-lg-2"></div>
						<div class="col-lg-3" style="padding: 7px;text-align: right;">
							<span>Route</span>
						</div>
						<div class="col-lg-4">
							
							<select [(ngModel)]="add_pricing_gateway"  class="form-control  m-bootstrap-select m_selectpicker"  data-live-search="true">
								<option value="" [disabled]="true" >Select Route</option>			
								<option *ngFor="let gateway of dropdownList" value={{gateway.az_routeid}} >
								{{gateway.az_rname}}
								</option>
							</select>
						</div>
						<div class="col-lg-2"></div>
					</div>
					
				  <div class="row" style="margin-top:10px">
						<div class="col-lg-2"></div>
						<div class="col-lg-3" style="padding: 7px;text-align: right;">
							<span>Price</span>
						</div>
						<div class="col-lg-4">
							<input [(ngModel)]="add_pricing_new_price" class="form-control m-input" type="number" value="">
						</div>
						<div class="col-lg-2"></div>
					</div>
					<div class="row">
					</div>
					<div class="row "  style="margin-left: 4%;">
					  <button  (click)="add_pricing_new()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="margin-top: 20px;margin-left: 42%;padding: 10px 30px;">Save</button>

				  </div>
				</div>
						
				 
				
			  </div>
			</div>
		  </div>