<div class="container" appunwraptag="" style="margin-left: 92px;margin-top: 12px;padding-right: 90px;">
	
        <div class="row" style="padding-bottom: 8px;"> 
               
           <div class="col-lg-9" style="padding-bottom: 15px;padding-left: 0px;background: white;margin-bottom:10px;margin-top: 10px">
                   <div  class="row text-info" style="margin-left: 4%;margin-top: 3%; margin-right: 4%">
                           <h4>Send Whatsapp</h4>
                       </div>
           
               <form>
               
               <!-- <div class="row" style="margin-left: 4%;margin-top: 3%; margin-right: 4%">
                   <div class="col-lg-5  col-sm-12 " style="background-color: white;padding: 0px">
                           
                     
                               <select id="selectpicker1" data-size="5" (change)="getSpecificSenderId($event.target.value)" style="height:40px" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
                                                       <option [disabled]="true" [selected]="true" value="">Select Route</option>
                                                       <option *ngFor="let r of routes_list; let index = index" value="{{r.az_rname}}" [selected]="r.selected" [value]="r.az_rname" >{{r.az_rname}}</option>
                                                       
                                                   </select>
                       
                       
                   </div>
                   <div class="col-lg-2"></div>
                   
                   <div [hidden]="hideSenderId" class="col-lg-5 col-sm-12" style="background-color: white;padding: 0px">
                      
                               <select id="selectpicker2" data-size="5" (change)="getSpecificRoute($event.target.value)" style="height:40px" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
                                       <option [disabled]="true" [selected]="true" value="">Select Sender Id</option>
                                       <option *ngFor="let send of senderid_list; let index = index" value="{{send.senderid}}" [selected]="send.selected" [value]="send.senderid" >{{send.senderid}}</option>									
                                   </select>
                         
                   </div>
               </div> -->
               <div class="row m-radio-list" style="margin-top: 4%;margin-left: 3%">
                   <label class="m-radio m-radio--solid m-radio--brand" style="margin-left:10px;margin-right:10px;padding-top: 1.9px;">
                           <input type="radio"  checked style="margin-left:10px;margin-right: 10px;" name="optradio" id="tonumbers"  (change)="show_numbers()" >
                           To Numbers

                   <span style="padding:9px;"></span>
                   </label>
                   <label class="m-radio m-radio--solid m-radio--success" style="margin-left:10px;margin-right:10px;padding-top: 1.9px;">
                           <input type="radio" class="radio1"  name="optradio" style="margin-left:10px;margin-right: 10px;"  (change)="show_dropzone()">
                       Bulk Upload
                   <span style="padding:9px;"></span>
                   </label>
               </div>
               <div class="row" style="margin-left: 4%;margin-top: 5px ;margin-right:4%;">
                   <div class="col-lg-5 _shadow" style="height: 90px;background-color: white;">
                           <div class="row " style="height:90px;">
                                   <div [hidden]="show_to_numbers" style="width: 100%;min-height: 60px;max-height: 90px" class="col-lg-12 _shadow  m-dropzone dropzone m-dropzone--success"     (click)="numbers=''" id="m-dropzone-three">
                                       <div class="m-dropzone__msg dz-message needsclick">
                                           <h3 class="m-dropzone__msg-title">Drop files here or click to upload.</h3>
                                           <span class="m-dropzone__msg-desc">Only text, csv and excel files are allowed for upload</span>
                                       </div>
                                   </div>
                               
                                   <textarea [hidden]="!show_to_numbers" [ngModelOptions]="{standalone: true}" [(ngModel)]="numbers" name="Numbers" placeholder="Enter Numbers Here "style="width: 100%;min-height: 60px;padding:10px;resize:none;"  #to_numbers  ></textarea> 
                           </div>
                            
                   </div>
                   <div class="col-lg-1"></div>
                   <div class=" col-lg-6 " style="padding:0px" >
                       <div class="row" >
                           <h5 style="color: #0C4DA2;font-size: 15;margin-left: 15px;margin-top: 10px;"> Template </h5>
                           </div>
                                       <select data-size="5" id="selectpickertemplate" (change)="select_temp($event.target.value)" [(ngModel)]="template" style="height:40px" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
                                               <option [ngValue]="null" [disabled]="true" [selected]="template==null">Select Template</option>
                                               <option [disabled]="kyc_status==0" [selected]="temp.template_name=='SAINODEF'" *ngFor="let temp of template_list; let index = index" value="{{temp.template_data}}" [value]="temp.template_data"  >{{temp.template_name}}</option>
                                               
                                           </select>
                   <!-- <dropzone [config]="config"  [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone> -->
   
               </div>
                   
               
                               
               </div>
               <div class="row"  [hidden]="!show_to_numbers" style="margin-left: 4%">
                   <div style="margin-top: 4px;margin-left: -15px;" class="col-lg-8">
                       <button class="btn btn-default custom_btn" style="border-radius: 23px;background: transparent;border: 1px solid gray;padding: 2px 8px;font-size: .9rem;" (click)="clear_nos()">Clear</button>
                       <button class="btn btn-default custom_btn" style="border-radius: 23px;background: transparent;border: 1px solid gray;padding: 2px 8px;font-size: .9rem" (click)="make_unique()">Unique</button>
                       <!-- <h5 style="color: darkgray;font-size: .9rem;margin-top: 10px;display: inline;"> Count : 
                           {{numbers_count}}
                           
                       </h5> -->
                   </div>
                   <!-- <div class="col-lg-4">
                       <label class="btn-bs-file btn  btn-default" style="border-radius: 23px;margin-top:4px;background: transparent;border: 1px solid gray;padding: 2px 8px;margin-left: 40%;font-size: .9rem;">
                           <img src="./assets/app/media/img/icons/upload.png" style="width: 11px;margin-bottom: 3px;">
                           Upload
                           <input type="file" (change)="readFile($event.target.files)"/>
                       </label>
                   </div> -->
           </div>
           
           <div class="row" style="margin-left: 4%;margin-top: 4%">
           </div>
           <!-- <div class="row" style="margin-left: 4%;height: 90px;background-color: white;margin-right: 30px">
             
               <div class="row col-lg-6" style="margin: 0px;padding: 0px;">
                    <div class="row">
                       <h5 style="color: #0C4DA2;font-size: 15;"> Message</h5>	
                   </div>
               </div>
               <div class="row col-lg-6"></div>
           </div> -->
           <div class="row" style="margin-left: 4%;background-color: white;margin-right: 30px">
               <div class="col-lg-5">
                   <div class="row"><h5 style="color: #0C4DA2;font-size: 15;"> Message</h5> </div>
                   <div class="row">
                       <textarea class="_shadow" [(ngModel)]="message" name="message" style="width: 100%;min-height: 90px;padding: 10px;resize: none" placeholder=" "id="message" required="required"></textarea> 
                   </div>
                   <div class="row ">
                    <h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;"> Total Characters : {{message.length}}</h5>  
            </div>
               </div>
               <div class="col-lg-1"></div>
               <div class="col-lg-6">
                       <div class="row"><h5 style="color: #0C4DA2;font-size: 15;"> Media Attachment</h5><span style="font-size: 10px;padding-top: 2px;">(Max 4 Files*)</span> </div>
                       <div  id="mediaattach" class="row _shadow" style="background-color: white;height: 90px;">
                           <div class="row col-lg-12" style="display: flex;justify-content: center;padding-top: 6px;margin: 0px;">
                               <div class="row">
                                       <label class="btn-bs-file btn  btn-default" style="border-radius: 23px;    height: 35px;margin-top:4px;background: transparent;border: 1px solid gray;padding: 8px 18px;font-size: .9rem;">
                                               Upload
                                               <img src="./assets/app/media/img/saino_icons/upload.png" style="width: 14px;margin-bottom: 4px;">
                                               <input   type="file" (change)="multimediaFile($event.target)"/>
                                           </label>
                               </div>
                              
                           </div>                           
                           <div class="row col-lg-12" style="display: flex;justify-content: center;margin: 0px;font-size: 12px;">
                                   <span>Image(1MB),PDF(1MB),Audio(2MB),Video(3MB)</span>
                           </div>
                           <hr *ngIf="scrolled" style="width: 93%;background: cadetblue;height: 2px;padding: 0px;margin: 7px 6px 0 12px;">
                           <div *ngIf="scrolled" class="row" style="height:20px;justify-content: center;width: 100%;margin: 10px 0px 0px 0px;; padding: 0px;display: flex;text-align: center">
                               <div *ngIf="multimedia.length>=1" class="row col-lg-12" style="justify-content: center;height: 30px;width: 100%;padding:0px;margin: 0px;display: flex;text-align: center">
                                <div class="col-lg-1"></div>
                                <div *ngIf="multimedia.length>=1"  class="col-lg-4" style="border-bottom: 1px solid; margin: 0px;padding: 0px;overflow: hidden;">
                                        <label style="max-width: 82%;padding-top: 10px;overflow: hidden;">
                                               {{multimedia[0]['name']}}
                                            </label>
                                            <span (click)="removeFile(0)" style="float: right;padding-top: 10px;">
                                                    <img src="./assets/app/media/img/icons/close.png" style="width: 8px;cursor: pointer;">
        
                                            </span>
                                </div>
                                <div *ngIf="!(multimedia.length>=1)"  class="col-lg-4" style="margin: 0px;padding: 0px;">
                                </div>
                                <div class="col-lg-2"></div>
                                <div *ngIf="multimedia.length>=2" class="col-lg-4" style="border-bottom: 1px solid; margin: 0px;padding: 0px;overflow: hidden;">                                    
                                        <label  style="max-width: 82%;padding-top: 10px;overflow: hidden;">
                                                {{multimedia[1]['name']}}
                                            </label>
                                            <span (click)="removeFile(1)" style="float: right;padding-top: 10px;">
                                                    <img src="./assets/app/media/img/icons/close.png" style="width: 8px;cursor: pointer;">
        
                                            </span>                                 
                                </div>
                                <div *ngIf="!(multimedia.length>=2)"  class="col-lg-4" style=" margin: 0px;padding: 0px;">
                                    </div>
                                <div class="col-lg-1"></div>
                               </div>
                               <div *ngIf="multimedia.length>=3" class="row col-lg-12" style="justify-content: center;height: 30px;width: 100%;padding:0px;margin: 0px;display: flex;text-align: center">
                                <div class="col-lg-1"></div>
                                <div *ngIf="multimedia.length>=3" class="col-lg-4" style="border-bottom: 1px solid; margin: 0px;padding: 0px;overflow: hidden;">
                                    <label  style="padding-top: 10px; max-width: 82%;overflow: hidden;">
                                            {{multimedia[2]['name']}}
                                        </label>
                                        <span (click)="removeFile(2)" style="float: right;padding-top: 10px;">
                                            <img src="./assets/app/media/img/icons/close.png" style="width: 8px;cursor: pointer;">

                                    </span>
                                </div>
                                <div *ngIf="!(multimedia.length>=3)"  class="col-lg-4" style="margin: 0px;padding: 0px;">
                                    </div>
                                <div class="col-lg-2"></div>
                                <div *ngIf="multimedia.length==4" class="col-lg-4" style="border-bottom: 1px solid; margin: 0px;padding: 0px;overflow: hidden;">
                                        <label style="padding-top: 10px; max-width: 82%;overflow: hidden;">
                                                {{multimedia[3]['name']}}
                                            </label>
                                            <span (click)="removeFile(3)" style="float: right;padding-top: 10px;">
                                                    <img src="./assets/app/media/img/icons/close.png" style="width: 8px;cursor: pointer;">
        
                                            </span>
                                </div>
                                <div *ngIf="!(multimedia.length>=4)"  class="col-lg-4" style=" margin: 0px;padding: 0px;">
                                    </div>
                                <div class="col-lg-1"></div>
                               </div>
                              
                           </div>
                           <!-- justify-content: center;
    height: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex; -->
                           <div id="scrolldiv" style="    display: flex;
                           justify-content: center;
                           border-radius: 100%;
                           width: 30px;
                           height: 30px;
                           margin-left: 46%;
                           margin-top: 6px;
                           margin-right: 45%;
                           background: #fff;
                           padding: 0px;
                           box-shadow: 0 0 15px 1px rgba(69,65,78,.2);">
                             <img  id="scroll" (click)="scroll()" src="./assets/app/media/img/icons/arrow-down.png" style="margin:0px;width: 30px;height:30px;"> 
                             <!-- <i class="la la-arrow-up"></i> -->
                        
                        </div>
                      
                       
                    
                       </div>
                    
               </div>
           </div>
           
  
           <div class="row" style="margin-left: 4%;background-color: white;margin-right: 30px;margin-top: 20px;">
                   <div class="col-lg-12 row">
                       <div class="col-lg-6 row">
                           <div class="col-lg-8">
                                <div class="row"> 
                                        <h5  style="color: #0C4DA2; padding-top: 1.3px;">DP</h5> <span>Max Size(350 x 350)</span>                            
                                    </div>
                                    <div class="row">
                                          10000 & Above Numbers Only                      
                                    </div>
                           </div>
                           <div class="col-lg-4">
                                <span class="m-switch m-switch--outline m-switch--icon m-switch--success" style="padding-top: 6px;">
                                        <label style="margin-left: 10px;">
                                        <input title="Enable/Disable" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="dp"  name=""(change)="dpChanged()">
                                        <span></span>
                                        </label>
                                    </span>
                           </div>
                              
                       </div>
                       <div [hidden]="!dp" class="col-lg-2">
                               <label class="btn-bs-file btn  btn-default" style="border-radius: 23px;margin-top:4px;height: 35px;background: transparent;border: 1px solid gray;padding: 8px 18px;font-size: .9rem;">
                                       Upload
                                       <img src="./assets/app/media/img/saino_icons/upload.png" style="width: 14px;margin-bottom: 4px;">
                                       <!-- <i [hidden]="!uploadShow1"class="fa fa-spinner fa-spin" style="width: 16px;margin-right: 4px;background-color: white"></i> -->
                                       <input   type="file" (change)="readDp($event.target)"/>
                                   </label>
                       </div>
                       <div *ngIf="dp && dpFile!=null" class="col-lg-4">
                        <div  class="row" style="border-bottom: 1px solid black;margin: 0px;overflow: hidden;height: 25px;">
							<label>
									{{dpFile.name}}
								 </label>
								
							<!-- <label style="border-bottom: 1px solid;margin: 0 30px;width: 100%;">{{BulkUploadFile.name}}</label> -->
						</div> 
                       </div>
                           
                   </div>
                 
               </div>
               <div class="row" style="margin-left: 4%;background-color: white;margin-right: 30px;margin-top: 20px;">
                       <h5  style="color: #0C4DA2;padding-top: 6px;">VCard</h5>                           

                       <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
                               <label style="margin-left: 10px;">
                               <input title="Enable/Disable" type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="vCard"  name="">
                               <span></span>
                               </label>
                           </span>
               </div>
               <div [hidden]="!vCard" class="form-group m-form__group row" style="margin-left: 17px;background-color: white;margin-right: 6px;margin-top: 10px;">
                       
                       <div class="col-6">
                           <input  class="form-control m-input" placeholder="Name" type="text" >
                       </div>
                    
                       <div class="col-6">
                           <input class="form-control m-input" placeholder="Address" type="text" >
                       </div>
                   </div>
                   <div [hidden]="!vCard" class="form-group m-form__group row" style="margin-left: 17px;background-color: white;margin-right: 6px;margin-top: 10px;">
                       
                           <div class="col-6">
                               <input   class="form-control m-input" placeholder="Mobile Number" type="text" >
                           </div>
                        
                           <div class="col-6">
                               <input class="form-control m-input" placeholder="Email" type="text" >
                           </div>
                       </div>
                       <div  [hidden]="!vCard"class="form-group m-form__group row" style="margin-left: 17px;background-color: white;margin-right: 6px;margin-top: 10px;">
                       
                               <div class="col-6">
                                   <input  class="form-control m-input" placeholder="Office Number" type="text" >
                               </div>
                            
                               <div class="col-6">
                                   <input class="form-control m-input" placeholder="Url" type="text" >
                               </div>
                           </div>
       <div class="row" >
           <div class="col-lg-2" style="padding-top: 4px;">
                   <label class="m-checkbox m-checkbox--focus" style="margin-left: 32%;color: black;margin-top: 5px;font-size: 15px;font-weight: 500;">
                           <input type="checkbox" name="schedule" (change)="rScheduleChanged()" [(ngModel)]="r_schedule">
                           Schedule
                           <span style="border: 1px solid #bdc3d4;"></span>
                       </label>
           </div>
           <!-- <div [hidden]="!r_schedule" class="col-lg-10 row" style="font-size: 16px;">
                   <div class="col-lg-1"></div>
                   <div class="col-lg-4" style="margin-left: 16px;">
                           <div class="row">
                                   <div class="form-group m-form__group row">
                                           <label class="col-form-label col-lg-3 col-sm-12" style="font-weight:500">
                                               Date:
                                           </label>
                                           <div class="col-lg-9 col-md-9 col-sm-12 input-group">
                                                   <input id="date1"type="text" class="form-control datepicker" style="height: 35px;">
                                                   <div class="input-group-addon">
                                                       <span class="glyphicon glyphicon-th"></span>
                                                   </div>														
                                               </div>
                                       </div>											
                         </div>
                       </div>
                       <div class="col-lg-4" style="margin-left: 30px;">
                           <div class="row">
                               <div class="form-group m-form__group row">
                                 <label class="col-form-label col-lg-3 col-sm-12" style="font-weight:500">
                                     Time:
                                 </label>
                                 <div class="col-lg-9 col-md-9 col-sm-12">
                                     <input type='text' class="form-control"  id="m_timepicker_1" readonly placeholder="Select time">
                                 </div>
                             </div>
                         </div>
                       </div>
           
           
           </div> -->
             
       </div>
       <div [hidden]="!r_schedule" class="row col-lg-12" style="font-size: 16px;margin: 0px">
            <div class="col-lg-1"></div>
            <div class="col-lg-3" style="margin-left:5px;">
                    <div class="row">
                            <div class="form-group m-form__group row">
                                    <label class="col-form-label col-lg-3 col-sm-12" style="font-weight:500">
                                        Date:
                                    </label>
                                    <div class="col-lg-9 col-md-9 col-sm-12 input-group">
                                            <input id="date1"type="text" class="form-control datepicker" style="height: 35px;">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>														
                                        </div>
                                </div>											
                  </div>
                </div>
                <div class="col-lg-3" style="margin-left:10px;">
                    <div class="row">
                        <div class="form-group m-form__group row">
                          <label class="col-form-label col-lg-3 col-sm-12" style="font-weight:500">
                              Time:
                          </label>
                          <div class="col-lg-9 col-md-9 col-sm-12">
                              <input type='text' class="form-control"  id="m_timepicker_1" readonly placeholder="Select time">
                          </div>
                      </div>
                  </div>
                </div>
                
                <div class="col-lg-5 row">
                    <label class="col-lg-4" style="font-size: 16px;
                    font-weight: 500;
                    padding-top: 5px;">Timezone</label>
                    <div class="col-lg-8">
                            <select id="selectpicker3" data-dropup-auto="false" [(ngModel)]="timezone1" [ngModelOptions]="{standalone: true}" data-size="5" class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
                                    <option [disabled]="true" [selected]="true" [selected]="timezone1==''">Select Timezone</option>
                                    <optgroup *ngFor="let c of timezoneobject" label={{c}}>
                                        <option *ngFor="let tzone of timezoneDropdown[c]" value="{{tzone}}" [selected]="tzone==timezone1" >{{tzone}}</option>
                                    </optgroup>
                                    </select>
                    </div>                
                </div>
    
    
    </div>           
               <div class="row "  style="margin-left: 4%;margin-top: 2%;">
                       <div  >
                            <button  class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" ><i class="fa flaticon-paper-plane"></i>&nbsp;Send Now</button>
                        </div>
                </div>
           </form>
           </div>
           <div class="col-lg-3" style="min-height: 500px">
               <div class="row " style="margin-top: 15px">
                   <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi _shadow" style="margin-left: 10%;max-width: 202px;width: 100%">
                       <div class="m-portlet__head" style="height: 0rem">
                           <div class="m-portlet__head-caption">
                               <div class="m-portlet__head-title">
                                   <h2 class="m-portlet__head-label m-portlet__head-label--danger" style="background:#282a3c;min-width: 145px;">
                                       <span style="font-size: 15px">SMS Balance</span>
                                   </h2>
                               </div>			
                           </div>
                       </div>
                       <div class="m-portlet__body">
                           <p style="white-space: pre;">Promotional SMS:   </p>
                           <p style="white-space: pre;">Transactional SMS:  </p>
                       </div>
                   </div>	
               </div>
               <div class="row " style="max-height: inherit;margin-bottom: 10px;height: 71.8%;">
                   <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi _shadow" style="margin-left: 10%;max-width: 202px;width: 100%">
                       <div class="m-portlet__head" style="height: 0rem">
                           <div class="m-portlet__head-caption">
                               <div class="m-portlet__head-title">
                                   <h2 class="m-portlet__head-label m-portlet__head-label--danger" style="background:#282a3c;min-width: 145px;">
                                       <span style="text-align: center;">Contacts</span>
                                   </h2>
                               </div>			
                           </div>
                       </div>
                       <div class="m-portlet__body" style="padding: 0 2.2rem 0 2.2rem;">
                           <button routerLink="/app/contact-list" class="btn m-btn--pill custom_btn" style="margin-bottom: 5px;padding: 0px;">+ Add Group/Contact</button>
                           <input type="text" [(ngModel)]="searchText" name="search" placeholder="Search" style="border: none;border-bottom: 1px solid gray;padding: 5px;font-weight: 450;color: black;    width: 100%;margin-bottom: 5px">
                           <div id="groups" style="max-height:300px;overflow: auto;">
                               <ul style="display:inline-block;margin:0px;padding:0px">
                                   <li  *ngFor="let group of groups_list | filter : searchText; let index = index">
                                           <label  class="m-checkbox m-checkbox--focus" style="color: black;margin-top: 5px">
                                                   <input type="checkbox" name="msg_type" value="{{group.group_id}}"  (change)="onCheckboxChange(group, $event)">
                                                       {{group.group_name}}
                                                   <span style="border: 1px solid #bdc3d4;"></span>
                                               </label>
                                   </li>
                               </ul>
                                       
                                       
                           </div>
                       
                       </div>
                   </div>	
               </div>
           </div>
   
           
           
       </div> 
  
  
  
   </div>


  



  