.feature-content{
    padding: 110px 0px 0px 0px;;
}
.feature-box {
    background: white;
    display: table;
    position: relative;
    overflow: hidden;
    padding: 20px;
    border-radius: 4px;
    max-width: 390px;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 2rem;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.3);
}
.feature-box:hover{
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 5px 30px 0 rgba(0,0,0,.1);
}
.feature-box  *{
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -ms-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}
.feature-box .widget {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    padding: 0;
    position: relative;
    top: 30px;
}
.feature-box .widget::before,
.feature-box .widget::after {
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}
.feature-box:hover .widget {
    top: 0;
}
.feature-box .widget i {
    font-size: 60px;
    color: #0054D1;
    margin-bottom: 10px;
}
.feature-box .widget h5 {
    font-size: 1.10rem;
    font-weight: 600;
}
.feature-box .widget .details {
    opacity: 0;
}
.feature-box:hover .widget .details {
    opacity: 1;
}
.flaticon-contract:before { content: "\f100"; }
.flaticon-fresh-content:before { content: "\f101"; }
.flaticon-web:before { content: "\f102"; }
.flaticon-column-with-rows-content-layout:before { content: "\f103"; }
.flaticon-megaphone:before { content: "\f104"; }
.flaticon-blog:before { content: "\f105"; }
.flaticon-paper-plane:before { content: "\f106"; }
.flaticon-email:before { content: "\f107"; }
.flaticon-world:before { content: "\f108"; }
.flaticon-placeholder:before { content: "\f109"; }
.flaticon-call:before { content: "\f10a"; }
.flaticon-24-hours:before { content: "\f10b"; }
.flaticon-24-hours-1:before { content: "\f10c"; }
.flaticon-sign-in:before { content: "\f10d"; }
.flaticon-credit-card:before { content: "\f10e"; }
.flaticon-credit-card-1:before { content: "\f10f"; }
.flaticon-account:before { content: "\f110"; }
.flaticon-question:before { content: "\f111"; }
.flaticon-social-care:before { content: "\f112"; }
.flaticon-info:before { content: "\f113"; }
.flaticon-testimonial:before { content: "\f114"; }
.flaticon-thought:before { content: "\f115"; }
.flaticon-bar-chart:before { content: "\f116"; }
.flaticon-analytics:before { content: "\f117"; }
.flaticon-support:before { content: "\f118"; }
.flaticon-student:before { content: "\f119"; }
.flaticon-ninja:before { content: "\f11a"; }
.flaticon-see:before { content: "\f11b"; }
.flaticon-app:before { content: "\f11c"; }
.flaticon-domain-registration:before { content: "\f11d"; }
.flaticon-responsive:before { content: "\f11e"; }
.flaticon-notification:before { content: "\f11f"; }
.flaticon-coding:before { content: "\f120"; }
.flaticon-settings:before { content: "\f121"; }
.flaticon-online-shop:before { content: "\f122"; }
.flaticon-text:before { content: "\f123"; }
.flaticon-artist-color-palette:before { content: "\f124"; }