<!-- BEGIN: Subheader -->
<div  appunwraptag="" style="margin-right: 10px" class="col-lg-12">
	<div class="row"> 
<div class="m-content col-lg-12">
<div class="m-portlet m-portlet--mobile">
	<div  class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="row">
			<div class="col-lg-12" style="text-align: center">
				<h4  >
					Transaction History
				</h4>
			</div>
        </div>
		<div class="col-lg-12" style="margin-top: 20px;"></div>
		<div class="row" style="margin-bottom: 20px">
			<div class="col-lg-2">
			</div>
			<div [hidden]="show_calendar" class="col-lg-6">

			</div>
			<div class="col-lg-3">
				<div class="form-group m-form__group row">
					<div class="col-lg-12 col-md-9 col-sm-12">
						<select [(ngModel)]="calendar_range" (change)="rangeChanged()"class="form-control m-bootstrap-select m_selectpicker">
							<option value="today">
								Today
							</option>
							<option value="7days">
								Last 7 days
							</option>
							<option value="15days">
								Last 15 days
							</option>
							<option value="month">
								Last month
							</option>
							<option value="custom">
									Custom
							</option>
						</select>
					</div>
				</div>
			</div>
			<div [hidden]="!show_calendar" class="col-lg-6" id="sandbox-container" >
				<div class="input-daterange input-group" id="datepicker">
					<span class="input-group-addon" style="text-align: center;margin-right: 5px">From</span>
					<!-- <input  type="text" class="input-sm form-control" name="start" /> -->
					<input  type="text" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
					<span class="input-group-addon" style="text-align: center;">To</span>
					<!-- <input type="text" class="input-sm form-control" name="end" /> -->
					<input  type="text" class="form-control" id="m_datepicker_2" readonly="" placeholder="Select date">

				</div>
			</div>
			

			<div class="col-lg-1">

				<button (click)="search_custom_date()" class="btn " style="background: transparent;padding: 0px;">
					<img src="./assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
				</button>
			</div>
		</div>
		<!--  -->
		<div class="col-lg-12" style="margin-top: 20px;"></div>
		<!--begin: Datatable -->

		<table style="width: 100%">
							  <tr style="background: #c5cbe4">
							    <th style="width: 12.5%;color: black;text-align: center;">Sr No</th>
							    <th style="width: 12.5%;color: black;text-align: center;">Date</th>
							    <th style="width: 12.5%;color: black;text-align: center;">Source</th>
							    <th style="width: 12.5%;color: black;text-align: center;">Amount</th>
							    
							  </tr>
							  <tr [hidden]="show_loading" *ngFor="let history of  transaction_history | paginate: { 
							  id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
							    <td style="width: 12.5%;text-align: center;">{{ (p - 1) * 10 + i +1}}</td>
							    <td style="width: 12.5%;text-align: center;">{{history.date}}</td>
							    <td style="width: 12.5%;text-align: center;">{{history.source}}</td>
								<td *ngIf="credit.test(history.amount_type)" style="width: 12.5%;text-align: center;color: green">+&#8377;<span> </span>{{(history.amount).toFixed(2)}}</td>
								<td *ngIf="debit.test(history.amount_type)" style="width: 12.5%;text-align: center;color: red">-&#8377;<span> </span>{{(history.amount).toFixed(2)}}</td>
							</tr>
			</table>

<div class="row"  [hidden]="!show_loading">
		<div class="col-lg-4"></div>
		<div class="col-lg-4" style="display: flex;justify-content: center;">
			<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

	  </div>
		<div class="col-lg-4"></div>
</div>
			
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div>
		<!--end: Datatable -->
	
	</div>
</div>
</div></div></div>
