
<div class="m-content" style="margin-left: 5%">
	
	<div class="row">
		
		
		<div class="col-lg-12">
			<div class="row" style="display:flex">
					
				<div class="col-lg-3" appunwraptag="">
						<div class="m-portlet m-portlet--tab" style="height:96%">
								
								<div  [hidden]="chart3Loader" class="m-portlet__body">
									<div class="row">
											<table style="width:100%" >
						
													<tr style="background :#f2f2f2">
														<td style="width: 70%;color:black" >Delivered</td>
														<td style="width: 30%;color:black">{{Delivered}}</td>
													</tr>
													<tr >
														<td style="width: 70%;color:black">Sent to Operator</td>
														<td style="width: 30%;color:black">{{Submitted}}</td>
													</tr>
													<tr style="background :#f2f2f2">
														<td style="width: 70%;color:black">Other</td>
														<td style="width: 30%;color:black">{{Other}}</td>
													</tr>
													<tr>
														<td style="width: 70%;color:black">DND Failed</td>
														<td style="width: 30%;color:black">{{DNDFailed}}</td>
													</tr>
													<tr style="background :#f2f2f2">
														<th style="width: 70%;color:black">Total</th>
														<td style="width: 30%;color:black">{{numbers_count}}</td>
													</tr>
													
													
												</table>
									</div>
									<div class="row" style="margin-top:20px;">
											<table style="margin-top:10px;width:100%">
													<tr style="background :#f2f2f2">
														<th style="color:black">Other Details</th>
													</tr>
													<tr>
														<td style="color:black; "><ul style="margin-left:12px;padding: 0px"><li style="float:left">Retry Numbers</li></ul></td>
													</tr>
													<tr style="background :#f2f2f2">
														<td style="color:black"><ul style="margin-left:12px;padding: 0px"><li style="float:left">Timeout</li></ul></td>
													</tr>
													<tr>
														<td style="color:black"><ul style="margin-left:12px;padding: 0px"><li style="float:left">Unexpected Error</li></ul></td>
													</tr>
													<tr style="background :#f2f2f2">
														<td style="color:black"><ul style="margin-left:12px;padding: 0px"><li style="float:left">Destination Barred</li></ul></td>
													</tr>
													<tr>
														<td style="color:black"><ul style="margin-left:12px;padding: 0px"><li style="float:left">Expired</li></ul></td>
													</tr>
													<tr style="background :#f2f2f2">
														<td style="color:black"><ul style="margin-left:12px;padding: 0px"><li style="float:left">Undelivered</li></ul></td>
													</tr>
												</table>
									</div>
										
											
											
								</div>
								<div  [hidden]="!chart3Loader" class="m-portlet__body">
										<div class="row" >
												<div class="col-lg-4"></div>

											<div class="col-lg-4" style="display: flex;justify-content: center;">
												<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
						  
										  </div>
												<div class="col-lg-4"></div>
											</div>
								</div>
								
							</div>
					
				</div>
				<div class="col-lg-9">
					<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
						<!-- <div class="m-portlet__head-caption">
								<div class="m-portlet__head-title">
									<span class="m-portlet__head-icon m--hide">
										<i class="la la-gear"></i>
									</span>
									<h3 class="m-portlet__head-text">
										Last 9 Days Data
									</h3>
									
								</div>
							</div> -->
					
					<div class="row" style="padding-top:20px">
						<div class="col-lg-4">
								<div class="row">			
										<span class="m-portlet__head-icon m--hide">
												<i class="la la-gear"></i>
											</span>
											<h3 class="m-portlet__head-text" style="display: block;
											vertical-align: middle;
											font-size: 1.2rem;
											font-weight: 500;
											font-family: Roboto;
											padding-top: 10px"									
											>
												Total Analysis of Sent SMS
											</h3>
								</div>
						</div>
						<div  [hidden]="show_calendar" class="col-lg-4"></div>
						<div class="col-lg-2">
								<div class="form-group m-form__group row">
										<div class="col-lg-12 col-md-9 col-sm-12">
											<select [(ngModel)]="calendar_range"  (change)="rangeChanged()" class="form-control m-bootstrap-select m_selectpicker">
												<option value="today" [selected]="calendar_range=='today'">
													Today
												</option>
												<option value="7days">
													Last 7 days
												</option>
												<option value="15days">
													Last 15 days
												</option>
												<option value="month">
													Last month
												</option>
												<option value="custom">
														Custom
												</option>
											</select>
										</div>
									</div>
							</div> 
							
	
									<div  [hidden]="!show_calendar" class="col-lg-4" id="sandbox-container" >
										<div class="input-daterange input-group" id="datepicker">
											<span class="input-group-addon" style="text-align: center;margin-right: 5px">From</span>
											<!-- <input  type="text" class="input-sm form-control" name="start" /> -->
											<input type="text" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
											<span class="input-group-addon" style="text-align: center;">To</span>
											<!-- <input type="text" class="input-sm form-control" name="end" /> - -->
											<input  type="text" class="form-control" id="m_datepicker_2" readonly="" placeholder="Select date">
						
										</div>
										</div>
							<div class="col-lg-1">
									<button [disabled]="chart3Loader" class="btn " (click)="search_custom_date()" style="background: transparent;padding: 0px;">
											<img src="./assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
										</button>
							</div>
							<div class="col-lg-1">
									<button [disabled]="chart3Loader" (click)="sentSmsAnalysis()" [disabled]="chart3Loader" class="btn " style="background: transparent;padding: 0px;float: right;margin-right:10px; ">
											<img src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
										</button>
								</div>
					</div>
					<!-- <div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Total Analysis of Sent SMS
							</h3>
						</div>
						<div class="form-group m-form__group row">
								<div class="col-lg-12 col-md-9 col-sm-12">
									<select [(ngModel)]="calendar_range" class="form-control m-bootstrap-select m_selectpicker">
										<option value="today">
											Today
										</option>
										<option value="7days">
											Last 7 days
										</option>
										<option value="15days">
											Last 15 days
										</option>
										<option value="month">
											Last month
										</option>
										<option value="custom">
												Custom
										</option>
									</select>
								</div>
							</div>
					</div> -->
				
					
					<!-- <div class="col-lg-6" id="sandbox-container" >
						<div class="input-daterange input-group" id="datepicker">
							<span class="input-group-addon" style="text-align: center;margin-right: 5px">From</span>
							<!-- <input  type="text" class="input-sm form-control" name="start" />
							<input type="text" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
							<span class="input-group-addon" style="text-align: center;">To</span>
							<!-- <input type="text" class="input-sm form-control" name="end" /> -
							<input  type="text" class="form-control" id="m_datepicker_2" readonly="" placeholder="Select date">
		
						</div>
					</div> -->
					
				</div>
				<div  [hidden]="chart3Loader" class="m-portlet__body">
					<div id="m_amcharts_13" style="height: 500px;"></div>
				</div>
				<div  [hidden]="!chart3Loader" class="m-portlet__body">
						<div class="row" >
								<div class="col-lg-4"></div>
								<div class="col-lg-4" style="display: flex;justify-content: center;">
									<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
			  
							  </div>
								<div class="col-lg-4"></div>
							</div>
				</div>
			</div>
				</div>
			</div>
			
		</div>
		<div class="col-lg-12">
				<div class="m-portlet m-portlet--tab">
					<div class="m-portlet__head">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<span class="m-portlet__head-icon m--hide">
									<i class="la la-gear"></i>
								</span>
								<h3 class="m-portlet__head-text">
									Last 9 Days Data
								</h3>
								
							</div>
						</div>
						
					
						<button (click)="ninedayData()" [disabled]="chart1Loader" class="btn " style="background: transparent;padding: 0px;float: right;margin-right:10px;margin-top:20px ">
								<img src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
							</button>
					</div>
					<div  [hidden]="chart1Loader" class="m-portlet__body">
						<div id="m_amcharts_4" style="height: 500px;"></div>
					</div>
					<div  [hidden]="!chart1Loader" class="m-portlet__body">
							<div class="row" >
									<div class="col-lg-4"></div>
									<div class="col-lg-4" style="display: flex;justify-content: center;">
										<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
				  
								  </div>
									<div class="col-lg-4"></div>
								</div>
					</div>
					
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
