<div class="container" appunwraptag="" >
        <div class="row"> 
    <div class="m-content col-lg-12">
        <div class="m-portlet m-portlet--mobile">
            <div  class="m-portlet__body">
                    <div class="row align-items-center">
							<div class="col-lg-5">
                                    <button *ngIf="showBackButton"  (click)="goBack()" class="btn m-btn--pill    btn-info m-btn m-btn--custom m-btn--bolder" style="color: white;padding: 4px 14px" >Back</button>

							</div>
							<div class="col-lg-4">
							
							</div>

							<div class="col-lg-3">
								<button (click)="createApi()" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color:black;padding: 4px 14px;display: flex;">
                                 <span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>
                                 Create API</button>
                            </div>
                           
						</div>
                    <table style="width: 100%;margin-top: 3%">
                        <tr style="background: #c5cbe4">
                          <th style="width: 10%;color: black;text-align: center;">Sr No</th>
                          <th style="width: 40%;color: black;text-align: center;">API key</th>
                          <th style="width: 10%;color: black;text-align: center;">Created Date</th>
                          <!-- <th style="width: 10%;color: black;text-align: center;">Modified Date</th> -->
                          <th style="width: 30%;color: black;text-align: center;">App Access</th>
                          <th style="width: 10%;color: black;text-align: center;">Action</th>



                          
                        </tr>
                        <tr [hidden]="show_loading" *ngFor="let num of apis  | paginate: { 
                        id: 'foo',itemsPerPage: 5, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                          <td style="width: 10%;text-align: center;">{{ (p - 1) * 5 + i +1}}</td>
                          <td style="width: 40%;text-align: center;">{{num.api_key}}</td>
                          <td style="width: 10%;text-align: center;">{{num.created_time}}</td>
                          <td style="width: 30%;text-align: center;">{{num.apps1}}</td>
                          <td style="width: 10%;">
                                <!-- <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="currentApi(num)" >
                                        <img src="./assets/app/media/img/saino_icons/edit.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                                    </button> -->
                            <button class="btn" style="border: none;background: transparent;padding: 0px;display: block;margin: auto" [swal]="deleteapikey">
                                <img src="./assets/app/media/img/saino_icons/delete.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                            </button>
                            <swal #deleteapikey title="Are you sure?" text="This cannot be undone" type="warning" [showCancelButton]="true"
                             [focusCancel]="true" (confirm)="deleteapi(num)">
                            </swal>
                        </td>
                          
    
                      </tr>
      </table>
      <div class="row"  [hidden]="!show_loading">
              <div class="col-lg-4"></div>
              <div class="col-lg-4" style="display: flex;justify-content: center;">
                <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
    
          </div>
              <div class="col-lg-4"></div>
          </div>
      <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
                  <pagination-controls id="foo" (pageChange)="p = $event" maxSize="4"
                    directionLinks="true"
                    autoHide="true"
                    previousLabel="Previous"
                    nextLabel="Next"
                    screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page"></pagination-controls>
          </div>
          <div class="col-lg-3"></div>
      </div>
                    
            </div>
        </div>
    </div>
    </div>
    </div>


    <div class="modal fade" id="createapi" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		  <div class="modal-content" style="min-height: 300px;padding: 20px">

					<div class="modal-header">
						<div class="container">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						  </button>
							<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add API Key</h5>
	
					  </div>
					</div>
                    <div class="row" style="margin-top:45px;">
                            <div class="col-lg-3"></div>
                                <label class="col-2 col-form-label">
                                    Apps
                                </label>
                                <div class="col-4">
                                        <select [(ngModel)]="selectedapps" data-actions-box="true" id="apppicker" data-dropup-auto="false" data-size="5"  class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" multiple>
                                        <!-- <option [disabled]="true" [selected]="selectedapps.length==0">Select Apps</option> -->
                                        <option *ngFor="let app of apps"  value="{{app.val}}">{{app.app}}</option>    
                                        </select>
                                </div>
                        </div>
					<div class="row" style="margin-top:30px">
						<div class="col-lg-5"></div>
						<div class="col-lg-4">
							<button type="submit" (click)="createApiKey()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"  style="padding: 15px 25px;">
									Save
							</button>
						</div>
						<div class="col-lg-4"></div>
					</div>
					
		  </div>
		</div>
      </div>
      

      <div class="modal fade" id="editapi" tabindex="-1" role="dialog"  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
              <div class="modal-content" style="min-height: 300px;padding: 20px">
    
                        <div class="modal-header">
                            <div class="container">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                              </button>
                                <h5  class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Edit API Key</h5>
                          </div>
                        </div>
                        <div class="row" style="margin-top:45px;">
                                <div class="col-lg-3"></div>
                                    <label class="col-2 col-form-label">
                                        Apps
                                    </label>
                                    <div class="col-4">
                                            <select [(ngModel)]="selectedappsedit" data-actions-box="true" id="apppicker"  data-size="5"  class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" multiple>
                                            <!-- <option [disabled]="true" [selected]="selectedapps.length==0">Select Apps</option> -->
                                            <option *ngFor="let app of apps"  value="{{app.val}}">{{app.app}}</option>    
                                            </select>
                                    </div>
                            </div>
                        <div class="row" style="margin-top:30px">
                            <div class="col-lg-5"></div>
                            <div class="col-lg-4">
                                <button type="submit" [swal]="editapikey"  class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"  style="padding: 15px 25px;">
                                        Save
                                </button>
                                <swal #editapikey title="Are you sure?" text="This cannot be undone" type="warning" [showCancelButton]="true"
                             [focusCancel]="true" (confirm)="updateapi()">
                            </swal>
                            </div>
                            <div class="col-lg-4"></div>
                        </div>
                        
              </div>
            </div>
          </div>

