<!-- BEGIN: Subheader -->
<div  appunwraptag="" style="margin-left: 75px;margin-right: 10px">
	<div class="row"> 
<div class="m-content col-lg-12">
<div class="m-portlet m-portlet--mobile">
	<div  class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
			<div class="row align-items-center">
				<div class="col-lg-6">
				</div>
				<div class="col-lg-3">
					<input type="text" name="search"  [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
								<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
									<span><i class="la la-search"></i></span>
								</span>
				</div>

				<div class="col-lg-2">
					<button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px;display: flex" (click)="addBlockNumber()">
						<!-- <img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px"> -->
						<span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>

						Add Block Number</button>
				</div>
			</div>
		</div>
		
		<!--begin: Datatable -->

		<table style="width: 100%">
							  <tr style="background: #c5cbe4">
							    <th style="width: 10%;color: black;text-align: center;">Sr No</th>
							    <th style="width: 30%;color: black;text-align: center;">Numbers</th>
							    <th style="width: 20%;color: black;text-align: center;">Created Date</th>
							    <th style="width: 20%;color: black;text-align: center;">Action</th>
							  </tr>
							  <tr [hidden]="show_loading" *ngFor="let num of block_list | filter : searchText | paginate: { 
							  id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
							    <td style="width: 10%;text-align: center;">{{ (p - 1) * 10 + i +1}}</td>
							    <td style="width: 30%;text-align: center;">{{num.numbers}}</td>
							    <td style="width: 20%;text-align: center;">{{num.added_date.split("T")[0]}}</td>
							    <td style="width: 20%;;text-align: center;">
							    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="current_blocknumber(num)" >
							    		<img src="./assets/app/media/img/saino_icons/edit.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
							    	</button>
							    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" [swal]="deleteblocknumber">
							    		<img src="./assets/app/media/img/saino_icons/delete.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
									</button>
									<swal
									  #deleteblocknumber
									  title="Are you sure?"
									  text="This cannot be undone"
									  type="warning"
									  [showCancelButton]="true"
									  [focusCancel]="true"
									  (confirm)="delete_num(num)">
									</swal>
								</td>
								
							  </tr>
			</table>
			<div class="row"  [hidden]="!show_loading">
					<div class="col-lg-4"></div>
					<div class="col-lg-4" style="display: flex;justify-content: center;">
						<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
  
				  </div>
					<div class="col-lg-4"></div>
			</div>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div>
		<!--end: Datatable -->
	
	</div>
</div>
</div></div></div>

		<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="min-height: 400px;padding: 20px">

				      <div class="modal-header">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add Block Number</h5>
				        </div>
				      </div>
				      
		       <div class="row" style="margin: 0px">
			<div class="col-xs-12 " style="width: 100%;">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" style="width: 33.33%; margin: 0px;">Add Numbers</a>
						<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" style="width: 33.33%; margin: 0px;">Import List</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
					<div class="row" style="margin-left: 4%;">
							<h5 style="color: #0C4DA2;font-size: 15;margin-top: 10px;"> Mobile Numbers</h5>
					</div>
					<div class="row _shadow" style="margin-left: 4%;height: 90px;background-color: white;margin-right: 30px">
							<div class="row col-lg-12" style="margin: 0px;padding: 0px;">
							<textarea [(ngModel)]="multiple_nos" style="width: 100%;min-height: 60px;padding: 10px;resize: none" placeholder="Type Number here"id="message"></textarea> 
							</div>
					</div>
					<div class="row "  style="margin-left: 4%;">
								<button (click)="add_multiple()"  class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="margin-left: 37%;margin-top: 20px;">Add Block Numbers</button>
					</div>
					</div>
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
						<div class="row" >
						<div class="col-lg-4"></div>
						<div class="col-lg-4">
			            <a href="#" style="padding: 10px;text-decoration: none;font-weight: 500;font-size: 10px;margin-left: 55px;">
			            	Download Sample File
			            </a>
			            </div>
			            <div class="col-lg-4"></div>
			        	</div>
			        	<div class="row">
			        	<div class="col-lg-4"></div>
						<div class="col-lg-4">
						<label class="btn-bs-file btn  btn-default" style="border-radius: 23px;margin-top: 4px;background: transparent;border: 1px solid gray;padding: 8px 33px;font-size: 20px;color: darkgray;margin: 10px 40px;">
							Upload
							<img src="./assets/app/media/img/saino_icons/upload.png" style="width: 20px;margin-bottom: 4px;">
			                <input type="file" (change)="readFile($event.target.files,$event.target)" />
			            </label>
			        	</div>
			        	<div class="col-lg-4"></div>
			        	</div>
					</div>
				</div>
			
			</div>
		</div>
		    </div>
		  </div>
		</div>


<div class="modal hide fade" id="m_modal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="min-height: 250px;padding: 20px">

				      <div class="modal-header" style="padding: 10px;margin-bottom: 15px;">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Edit Block Number</h5>
				        </div>
					  </div>
					  <div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-3" style="padding: 7px">
							<span>Block Number</span>
						</div>
						<div class="col-lg-5">
							<input class="form-control m-input" type="number" placeholder="Contact Number" name="new_contact_num_edit" [(ngModel)]="block_num_edit"  autocomplete="off" required >

						</div>
						<div class="col-lg-2"></div>
					</div>
					<div class="row "  style="margin-left: 4%;">
					  <button  [swal]="updateblocknumber" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="margin-top: 20px;margin-left: 42%;padding: 10px 30px;" >Save</button>
					  <swal
					  #updateblocknumber
					  title="Are you sure?"
					  text="This cannot be undone"
					  type="warning"
					  [showCancelButton]="true"
					  [focusCancel]="true"
					  (confirm)="update_blocknum()">
					</swal>
				  </div>
		    </div>
		  </div>
		</div>