
<app-ivr-aside-nav></app-ivr-aside-nav>
<div class=".m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver-desktop.m-grid--desktop.m-body" style="background: #f2f3f8;">
        <router-outlet></router-outlet>
    </div>