
<div class="modal fade" id="wallettransactionmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px" role="document">
        <div class="modal-content" [hidden]="loading" style="min-height: 250px;padding: 20px">
            <div class="modal-header">
                <div class="container">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">SMPP
                        Smpp Wallet Transactions</h5>
                </div>
            </div>
            <div class="row">
                <div class="m-content col-lg-12">
                    <div class="m-portlet m-portlet--mobile">
                        <div class="m-portlet__body">

                            <!--begin: Datatable -->

                            <table *ngIf="walletTransactionList && walletTransactionList.length > 0" style="width: 100%">
                                <tr style="background: #c5cbe4">
                                    <th style="width: 5%;color: black;text-align: center;">Sr No</th>
                                    <th style="width: 30%;color: black;text-align: center;">Transaction Date</th>
                                    <th style="width: 5%;color: black;text-align: center;">Type</th>
                                    <th style="width: 7%;color: black;text-align: center;">Previous Amt</th>
                                    <th style="width: 8%;color: black;text-align: center;">Transaction Amount</th>
                                    <th style="width: 7%;color: black;text-align: center;">Updated Amt</th>
                                    <th style="width: 40%;color: black;text-align: center;">Notes</th>
                                </tr>
                                <tr [hidden]="show_loading" *ngFor="let row of walletTransactionList; let i = index"
                                    [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                                    <td style="width: 5%;text-align: center;">{{(wallet_p - 1) * 10 + i +1}}</td>
                                    <td style="width: 30%;text-align: center;">{{ row.transactionDate }}</td>
                                    <td style="width: 5%;text-align: center;" [ngStyle]="{'color' : row.type == 'DEBIT' ? 'red' : 'green'}">{{
                                        row.type }}</td>
                                    <td style="width: 7%;text-align: center;">{{ row.prevAmount }}</td>
                                    <td style="width: 8%;text-align: center;">{{ row.amount }}</td>
                                    <td style="width: 7%;text-align: center;">{{ row.finalAmount }}</td>
                                    <td style="width: 40%;text-align: center; color: blue">{{row.note}}</td>
                                </tr>
                            </table>
                            <table *ngIf="walletTransactionList && walletTransactionList.length == 0" style="width: 100%">
                                <tr style="background: #c5cbe4">
                                    <th style="width: 5%;color: black;text-align: center;">Sr No</th>
                                    <th style="width: 30%;color: black;text-align: center;">Transaction Date</th>
                                    <th style="width: 5%;color: black;text-align: center;">Type</th>
                                    <th style="width: 7%;color: black;text-align: center;">Previous Amt</th>
                                    <th style="width: 7%;color: black;text-align: center;">Updated Amt</th>
                                    <th style="width: 8%;color: black;text-align: center;">Transaction Amount</th>
                                    <th style="width: 40%;color: black;text-align: center;">Notes</th>
                                </tr>
                                <tr>
                                    <td colspan="7" style="width: 100%;text-align: center;">No transactions Found </td>
                                </tr>
                            </table>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-6">
                                    <pagination-controls id="wallet-history" (pageChange)="wallet_p = $event" maxSize="10"
                                        directionLinks="true" autoHide="true" previousLabel="Previous" nextLabel="Next"
                                        screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                                        screenReaderCurrentLabel="You're on page"></pagination-controls>
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content" [hidden]="!loading" style="min-height: 250px;padding: 20px">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="display: flex;justify-content: center;">
                        <img src="./../assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
    </div>
</div>