<div class="modal fade" id="walletmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px" role="document">
        <div class="modal-content" [hidden]="loading" style="min-height: 250px;padding: 20px">
            <div class="modal-header">
                <div class="container">
                    <button type="button" class="close" data-dismiss="modal" (click)="resetForm()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">SMPP
                        Account Wallet</h5>
                </div>
            </div>
            <div class="row">
                <div class="m-content col-lg-12">
                    <div class="m-portlet m-portlet--mobile">
                        <div class="m-portlet__body">
                            <!--begin: Search Form -->
                            <div class="row " style="margin-bottom: 10px">
                                <div class="col-lg-4">
                                    <div class=" row" style="padding-bottom: 0px">
                                        <h6 class="col-5 col-form-label">
                                            User ID
                                        </h6>
                                        <input class="col-7 col-form-label" disabled="true" style="font-weight: 1rem"
                                            value="{{selectedSmppUserName}}" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class=" row" style="padding-bottom: 0px">
                                        <h6 class="col-6 col-form-label">
                                            App User Name
                                        </h6>
                                        <input class="col-6 col-form-label" disabled="true" style="font-weight: 1rem"
                                            value="{{selectedSmppAppUserName}}" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class=" row" style="padding-bottom: 0px">
                                        <h6 style="display: inline; color: green" class="col-9 col-form-label">Current
                                            Balance </h6>
                                        <button class="col-3 col-form-label btn m-btn--pill custom_btn1" disabled=""
                                            style="padding: 0.30rem 1rem; float:right; width: 100%;">
                                            <span> </span>{{selectedSmppUserBalance}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h4 style="text-align: center">Update Wallet Balance</h4>
                            <hr>
                            <form novalidate (ngSubmit)="handleSubmit()" [formGroup]="updateSmppBalanceForm">
                                <div class="row form-group m-form__group" style="margin-bottom: 15px">
                                    <div class="col-lg-2">
                                        <b>Amount:&nbsp;</b> &nbsp;
                                        <input formControlName="amount" class="form-control m-input" type="number"
                                            placeholder="Amount" />
                                    </div>
                                    <div class="col-lg-4">
                                        <b>Type:&nbsp;</b> &nbsp;&nbsp;
                                        <br>
                                        <input formControlName="type" type="radio" name="type" value="CREDIT" /> <span
                                            style="color:green; font-weight: bold;">ADD (CREDIT)</span>
                                        &nbsp;&nbsp;&nbsp;
                                        <input formControlName="type" type="radio" name="type" value="DEBIT" /> <span
                                            style="color:red; font-weight: bold;">DEDUCT (DEBIT)</span>
                                    </div>
                                    <div class="col-lg-6">
                                        <b>Note:&nbsp;</b> &nbsp;
                                        <input class="form-control m-input" formControlName="note" type="text"
                                            placeholder="Note">
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-lg-12" style="text-align: center">
                                        <button *ngIf="updateSmppBalanceForm.status == 'VALID' && updateSmppBalanceForm.value.type == 'CREDIT'"
                                            class="btn m-btn--pill btn-outline-success btn-sm" type="SUBMIT">
                                            Add Balance
                                        </button>
                                        <button *ngIf="updateSmppBalanceForm.status == 'VALID' && updateSmppBalanceForm.value.type == 'DEBIT'"
                                            class="btn m-btn--pill btn-outline-danger btn-sm" type="SUBMIT">
                                            Deduct Balance
                                        </button>
                                    </div>
                                </div>
                                <br>
                            </form>
                            <!--begin: Datatable -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-content" [hidden]="!loading" style="min-height: 250px;padding: 20px">
                <div class="row">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="display: flex;justify-content: center;">
                        <img src="./../assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
    </div>
</div>