<div  appunwraptag="" style="margin-left: 75px;margin-right: 10px">
        <div class="row"> 
    <div class="m-content col-lg-12">
    <div class="m-portlet m-portlet--mobile">
        <div  class="m-portlet__body">
            <!--begin: Search Form -->
           Mis Report
            
            <!--begin: Datatable -->
    
            <table  style="width: 100%">
                                  <tr style="background: #c5cbe4">
                                    <th style="width: 5%;color: black;text-align: center;">Sr</th>
                                    <th style="width: 10%;color: black;text-align: center;">Sent Date</th>
                                    <th style="width: 10%;color: black;text-align: center;">Type</th>
                                    <th style="width: 35%;color: black;text-align: center;">Content</th>
                                    <th style="width: 10%;color: black;text-align: center;">Total Count</th>
                                    <th style="width: 15%;color: black;text-align: center;">Credits</th>
                                    <th style="width: 10%;color: black;text-align: center;">Status</th>
                                    <th style="width: 10%;color: black;text-align: center;">Action</th>


                                  </tr>
                                  <!-- <tr [hidden]="show_loading"  *ngFor="let group of groups_list | filter : searchText | paginate: { 
                                  id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                                    <td style="width: 5%;text-align: center;">{{ (p - 1) * 10 + i +1}}</td>
                                    <td style="width: 35%;text-align: center;">{{group.group_name}}</td>
                                    <td style="width: 35%;text-align: center;">{{group.group_desc}}</td>
                                    <td style="width: 10%;text-align: center;">{{group.total_count}}</td>
                                    <td style="width: 20%;color: black;text-align: center;">
                                        <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="show_contacts(group)">
    
                                            <img src="./assets/app/media/img/saino_icons/view.png" title="view" style="width: 24px;margin-bottom: 4px;margin-left: 20%">
                                        </button>
                                        <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="current_group(group)">
                                            <img src="./assets/app/media/img/saino_icons/edit.png" title="edit" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                                        </button>
                                        <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" >
                                            <img src="./assets/app/media/img/saino_icons/delete.png" title="delete" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                                        </button>
                                      
                                    </td>
                                    <td style="width: 15%;color: black;text-align: center;">
                                        <a href="#" (click)="download(group)">
                                            <img src="./assets/app/media/img/saino_icons/download.png" title="download" style="width: 18px;margin-bottom: 4px;margin-left: 20%">
                                        </a>
                                                                                        
                                    </td>
                                  </tr> -->
                                
                </table>
                <div class="row"  [hidden]="!show_loading">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4" style="display: flex;justify-content: center;">
                            <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
      
                      </div>
                        <div class="col-lg-4"></div>
                    </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                            <pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
                              directionLinks="true"
                              autoHide="true"
                              previousLabel="Previous"
                              nextLabel="Next"
                              screenReaderPaginationLabel="Pagination"
                              screenReaderPageLabel="page"
                              screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            <!--end: Datatable -->
        
        </div>
        
    </div>
    </div></div></div>
    