<!-- BEGIN: Subheader -->
<div  appunwraptag="" style="margin-right: 10px" class="col-lg-12">
	<div class="row"> 
<div class="m-content col-lg-12">
<div class="m-portlet m-portlet--mobile">
	<div  class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="row">
			<div class="col-lg-12" style="text-align: center">
				<h4>
					KYC Documents
				</h4>
			</div>
        </div>
        <div class="col-lg-12" style="margin-top: 20px;"></div>
		<div class="row" style="margin-bottom: 10px">
			<div class="col-lg-8">
			</div>
			<div class="col-lg-4">
				<input type="text" name="search"  [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
				<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
					<span><i class="la la-search"></i></span>
				</span>
			</div>	
		</div>
		<div class="col-lg-12" style="margin-top: 20px;"></div>
		<!--begin: Datatable -->

		<table style="width: 100%">
			  <tr style="background: #c5cbe4">
				<th style="width: 5%;color: black;text-align: center;">Sr No</th>
			    <th style="width: 12.5%;color: black;text-align: center;">User</th>
			    <th style="width: 12.5%;color: black;text-align: center;">Main Account</th>
			    <th style="width: 16%;color: black;text-align: center;">Individual Documents</th>
			    <th style="width: 16%;color: black;text-align: center;">Company Documents</th>
			    <th style="width: 16%;color: black;text-align: center;">NDNC</th>
			    <th style="width: 14.5%;color: black;text-align: center;">Status</th>
			    <th style="width: 17.5%;color: black;text-align: center;">Action</th>  
			  </tr>
			  <!-- <tr >
			    <td style="width: 12.5%;color: black;text-align: center;">Rahul</td>
			    <td style="width: 12.5%;color: black;text-align: center;">Admin</td>
			    <td style="width: 16%;color: black;text-align: center;">test.png
				    <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;">
			    		<img src="./assets/app/media/img/saino_icons/view.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
			    	</button>
		    	</td>
			    <td style="width: 16%;color: black;text-align: center;">test.png
			    	<button   class="btn modal-btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;">
						<a href="#myModal_img_ROI" data-toggle="modal" data-img-url="http://35.238.188.102/saino-first/files/1/kyc_docs/audhar-aadhar_front-1535111513239.png">
							<img src="./assets/app/media/img/saino_icons/view.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
						</a>
					</button>
				 <a href="./assets/app/media/img/saino_icons/download.png"> 
				<button (click)="downloadFile('http://35.238.188.102/saino-first/files/1/kyc_docs/audhar-aadhar_front-1535111513239.png')">
					<img src="./assets/app/media/img/saino_icons/download.png"  title="download" style="width: 18px;margin-bottom: 4px;margin-left: 20%">
				</button>	
				 //</a> 
				
				</td>
					
																	
				
			    <td style="width: 16%;color: black;text-align: center;">test.png
			    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" >
		    		<img src="./assets/app/media/img/saino_icons/view.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
		    	</button>
			    </td>
			    <td style="width: 14.5%;color: black;text-align: center;">Approved</td>
			    <td style="width: 12.5%;color: black;text-align: center;">
			    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="delete_sender()">
			    		<img src="./assets/app/media/img/saino_icons/cancel.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
			    	</button>
			    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="delete_sender()">
			    		<img src="./assets/app/media/img/saino_icons/check.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
			    	</button>
			    </td>  
			  </tr> -->
			  <tr [hidden]="show_loading" *ngFor="let mis of some_list  | filter:searchText |paginate: { 
			  id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
			  <td style="width: 5%;color: black;text-align: center;">{{(p - 1) * 10 + i +1}}</td> 
			  <td style="width: 12.5%;color: black;text-align: center;">{{mis.user_name}}</td>
			    <td style="width: 12.5%;color: black;text-align: center;">{{mis.parent_name}}</td>
				<td style="width: 16%;color: black;text-align: center;">{{mis.individual}}
						<button (click)="view_image(mis.individual_path,mis.individual,'ind')"  class="btn modal-btn" style="border: none;background: transparent;padding: 0px;margin-right: 2px;">
								<a href=""  data-img-url="mis.individual_path">
									<img src="./assets/app/media/img/saino_icons/view.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
								</a>
							</button>
						<button (click)="downloadFile(mis.individual_path,mis.user_name,mis.individual)" class="btn modal-btn" style="border: none;background: transparent;padding: 0px;margin-right: 2px;">
							<img src="./assets/app/media/img/saino_icons/download.png"  title="download" style="width: 18px;margin-bottom: 4px;margin-left: 20%">
						</button>
				</td>
				<td style="width: 16%;color: black;text-align: center;">{{mis.company}}
					<button (click)="view_image(mis.company_path,mis.company,'com')"  class="btn modal-btn" style="border: none;background: transparent;padding: 0px;margin-right: 2px;">
						<a href="" data-img-url="mis.company_path">
							<img src="./assets/app/media/img/saino_icons/view.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
						</a>
					</button>
					<button (click)="downloadFile(mis.company_path,mis.user_name,mis.company)" class="btn modal-btn" style="border: none;background: transparent;padding: 0px;margin-right: 2px;" >
						<img src="./assets/app/media/img/saino_icons/download.png"  title="download" style="width: 18px;margin-bottom: 4px;margin-left: 20%">
					</button>
				</td>
				<td style="width: 16%;color: black;text-align: center;">{{mis.ndnc}}
					<button (click)="view_image(mis.ndnc_path,mis.ndnc,'ndnc')"  class="btn modal-btn" style="border: none;background: transparent;padding: 0px;margin-right: 2px;">
						<a href="" data-img-url="mis.company_path">
							<img src="./assets/app/media/img/saino_icons/view.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
						</a>
					</button>
					<button (click)="downloadFile(mis.ndnc_path,mis.user_name,mis.ndnc)" class="btn modal-btn" style="border: none;background: transparent;padding: 0px;margin-right: 2px;" >
						<img src="./assets/app/media/img/saino_icons/download.png"  title="download" style="width: 18px;margin-bottom: 4px;margin-left: 20%">
					</button>
				</td>
				<td style="width: 14.5%;color: black;text-align: center;">
					
					<div *ngIf="mis.kyc_status==1" >
						<button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Approved</button>
					</div>
					<div *ngIf="mis.kyc_status==0"  >
						<button class="btn m-btn--pill custom_btn1 btn-warning" style="padding: 5px 15px;min-width: 100px" >Pending</button>
					</div>
					<div *ngIf="mis.kyc_status==2"  >
							<button class="btn m-btn--pill custom_btn1 btn-danger" style="padding: 5px 15px;min-width: 100px" >Rejected</button>
						</div>
					</td>
			    <td style="width: 17.5%;color: black;text-align: center;">
			    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="kycDisapprove(mis)">
			    		<img src="./assets/app/media/img/saino_icons/cancel.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
			    	</button>
			    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="kycApprove(mis)">
			    		<img src="./assets/app/media/img/saino_icons/check.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
			    	</button>
			    </td> 
			</tr>
			</table>
			<div class="row"  [hidden]="!show_loading">
					<div class="col-lg-4"></div>
					<div class="col-lg-4" style="display: flex;justify-content: center;">
						<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
  
				  </div>
					<div class="col-lg-4"></div>
				</div>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div>
		<!--end: Datatable -->
	
	</div>
</div>

</div></div></div>
<div class="modal fade"id="myModal_img_ROI" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" style="min-height: 400px; max-height: 600px;min-width: 900px;max-width: 900px;" role="document">
	  <div   class="modal-content" style="padding: 20px;min-height: 400px; max-height: 600px;min-width: 900px;max-width: 900px;">

				<div class="modal-header" style="border-bottom: 0px">
					<div class="container">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
					  </button>
					  <h5 *ngIf="documentType=='ind'" class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Personal Document</h5>
					  <h5 *ngIf="documentType=='com'" class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Company Document</h5>
					  <h5 *ngIf="documentType=='ndnc'" class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">NDNC Document</h5>

				  </div>
				</div>
				
					<div class="modal-body container" style="max-width: 400px;max-height: 600px;display: flex;align-items: center;justify-content: center;">
						<img style="padding:10px;max-height:100%;max-width:100%" class="" src="" />
					</div>
					
				
				</div>
				</div>
				</div>

<div  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        
    </div>
</div>
<div id="myModal_img_POA" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img class="" src="http://placehold.it/200x200/dddddd/ffffff&text=Hey1"/>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="myModal_img_NDNC" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img class="" src="http://placehold.it/200x200/dddddd/ffffff&text=Hey1"/>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
</div>




