<div class="container" appunwraptag="" style="margin-left: 92px;margin-top: 12px;padding-right: 90px;">
	
    <div class="row" style="padding-bottom: 8px;"> 
           
       <div class="col-lg-9" style="padding-bottom: 15px;padding-left: 0px;background: white;margin-bottom:10px;margin-top: 10px">
               <div  class="row text-info" style="margin-left: 4%;margin-top: 3%; margin-right: 4%">
                       <h4>Send VoiceCall</h4>
                   </div>
       
           <form>
           
           <div class="row" style="margin-left: 4%;margin-top: 3%; margin-right: 4%">
               <div class="col-lg-5  col-sm-12 " style="background-color: white;padding: 0px">
                       
                 
                           <select id="selectpicker1" data-size="5" (change)="getSpecificSenderId($event.target.value)" style="height:40px" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
                                                   <option [disabled]="true" [selected]="true" value="">Select Route</option>
                                                   <option *ngFor="let r of routes_list; let index = index" value="{{r.az_rname}}" [selected]="r.selected" [value]="r.az_rname" >{{r.az_rname}}</option>
                                                   
                                               </select>
                   
                   
               </div>
               <div class="col-lg-2"></div>
               
               <div [hidden]="hideSenderId" class="col-lg-5 col-sm-12" style="background-color: white;padding: 0px">
                  
                           <select id="selectpicker2" data-size="5" (change)="getSpecificRoute($event.target.value)" style="height:40px" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
                                   <option [disabled]="true" [selected]="true" value="">Select Sender Number</option>
                                   <option *ngFor="let send of senderid_list; let index = index" value="{{send.senderid}}" [selected]="send.selected" [value]="send.senderid" >{{send.senderid}}</option>									
                               </select>
                     
               </div>
           </div>
           <div class="row m-radio-list" style="margin-top: 4%;margin-left: 3%">
               <label class="m-radio m-radio--solid m-radio--brand" style="margin-left:10px;margin-right:10px;padding-top: 1.9px;">
                       <input type="radio"  checked style="margin-left:10px;margin-right: 10px;" name="optradio" id="tonumbers"  (change)="show_numbers()" >
                       To Numbers

               <span style="padding:9px;"></span>
               </label>
               <label class="m-radio m-radio--solid m-radio--success" style="margin-left:10px;margin-right:10px;padding-top: 1.9px;">
                       <input type="radio" class="radio1"  name="optradio" style="margin-left:10px;margin-right: 10px;"  (change)="show_dropzone()">
                   Bulk Upload
               <span style="padding:9px;"></span>
               </label>
           </div>
           <div class="row" style="margin-left: 4%;margin-top: 5px ;margin-right:4%;">
               <div class="col-lg-5 _shadow" style="height: 90px;background-color: white;">
                       <div class="row " style="height:90px;">
                               <div [hidden]="show_to_numbers" style="width: 100%;min-height: 60px;max-height: 90px" class="col-lg-12 _shadow  m-dropzone dropzone m-dropzone--success"     (click)="numbers=''" id="m-dropzone-three">
                                   <div class="m-dropzone__msg dz-message needsclick">
                                       <h3 class="m-dropzone__msg-title">Drop files here or click to upload.</h3>
                                       <span class="m-dropzone__msg-desc">Only text, csv and excel files are allowed for upload</span>
                                   </div>
                               </div>
                           
                               <textarea  (ngModelChange)="update_count()" [hidden]="!show_to_numbers" [ngModelOptions]="{standalone: true}" [(ngModel)]="numbers" name="Numbers" placeholder="Enter Numbers Here "style="width: 100%;min-height: 60px;padding:10px;resize:none"></textarea> 
                       </div>
                       
               </div>
               <div class="col-lg-2"></div>
               <div class=" col-lg-5 " style="padding:0px" >
                   <div class="row" >
                       <h5 style="color: #0C4DA2;font-size: 15;margin-left: 15px;margin-top: 10px;"> Template </h5>
                       </div>
                                   <select data-size="5" id="selectpickertemplate"  [ngModelOptions]="{standalone: true}" [(ngModel)]="template" style="height:40px" (change)="select_temp($event.target.value)" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
                                           <option [ngValue]="null" [disabled]="true" [selected]="template==null">Select Template</option>
                                           <option *ngFor="let temp of template_list; let index = index" value="{{temp.template_data}}" [value]="temp.template_data"  >{{temp.template_name}}</option>
                                           
                                       </select>
               <!-- <dropzone [config]="config"  [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone> -->

           </div>
               
           
                           
           </div>
           <div class="row"  [hidden]="!show_to_numbers" style="margin-left: 4%">
               <div style="margin-top: 4px;margin-left: -15px;" class="col-lg-8">
                   <button class="btn btn-default custom_btn" style="border-radius: 23px;background: transparent;border: 1px solid gray;padding: 2px 8px;font-size: .9rem;" (click)="clear_nos()">Clear</button>
                   <button class="btn btn-default custom_btn" style="border-radius: 23px;background: transparent;border: 1px solid gray;padding: 2px 8px;font-size: .9rem" (click)="make_unique()">Unique</button>
                   <h5 style="color: darkgray;font-size: .9rem;margin-top: 10px;display: inline;"> Count : 
                       {{numbers_count}}
                       
                   </h5>
               </div>
               <!-- <div class="col-lg-4">
                   <label class="btn-bs-file btn  btn-default" style="border-radius: 23px;margin-top:4px;background: transparent;border: 1px solid gray;padding: 2px 8px;margin-left: 40%;font-size: .9rem;">
                       <img src="./assets/app/media/img/icons/upload.png" style="width: 11px;margin-bottom: 3px;">
                       Upload
                       <input type="file" (change)="readFile($event.target.files)"/>
                   </label>
               </div> -->
       </div>

      
      
       <div class="row m-radio-list" style="margin-top: 4%;margin-left: 3%;margin-bottom: 8px">
        <div class="row col-lg-12" style="padding-top: 5px;">
                <label class="m-radio m-radio--solid m-radio--brand" style="margin-left:10px;margin-right:10px;padding-top: 3.9px;">
                    <input type="radio"  checked style="margin-left:10px;margin-right: 10px;" name="optradio1" id="tonumbers" (change)="textChanged()">
                    Text To Speech

                <span style="padding:9px;"></span>
                </label>
                <label class="m-radio m-radio--solid m-radio--success" style="margin-left:10px;margin-right:10px;padding-top: 3.9px;">
                        <input type="radio" class="radio1"  name="optradio1" style="margin-left:10px;margin-right: 10px;" (change)="recordChanged()">
                    Upload Pre-Recorded File
                <span style="padding:9px;"></span>
                </label>
        </div>
       
      
    </div>
     <div class="row" style="margin-left: 4%;height: 90px;background-color: white;margin-right: 30px;">
         <div [hidden]="!showTextToSpeech" class="col-lg-12 _shadow"  style="height:90px;padding: 0px;">
            <textarea  placeholder="Enter Text Here "style="width: 100%;min-height: 90px; max-height: 90px;padding:10px;resize:none"  [(ngModel)]="textTospeechtext" [ngModelOptions]="{standalone: true}" ></textarea> 

          
         </div>
         <div  [hidden]="showTextToSpeech" id="mediaattach" class="_shadow col-lg-12" style="background-color: white;height: 115px;border: 1px solid powderblue">
            <div class="col-lg-12" style="display: flex;justify-content: center;padding-top: 6px;margin: 0px;">
                <div class="col-lg-12" style="Display: flex;justify-content: center;margin: 10px 0 0 0;">
                        <label class="btn-bs-file btn  btn-default" style="border-radius: 23px;    height: 30px;margin-top:4px;background: transparent;border: 1px solid gray;padding: 6px 18px;font-size: .9rem;">
                                Upload
                                <img src="./assets/app/media/img/saino_icons/upload.png" style="width: 14px;margin-bottom: 4px;">
                                <input   type="file" (change)="multimediaFile($event.target)" accept="audio/*"/>
                            </label>
                </div>
               
            </div>   
            <div class="row col-lg-12" style="justify-content: center;margin: 0px;">
                    We Support the following file formats: .mp3,.wav
               </div>                        
 <div  class="row" style="justify-content: center;width: 100%;margin:0px; padding: 0px;display: flex;text-align: center; overflow: hidden">
                <div *ngIf="multimedia.length>=1" class="row col-lg-12" style="justify-content: center;height: 30px;width: 100%;padding:0px;margin: 0px;display: flex;text-align: center;overflow: hidden">
                 <div class="col-lg-4"></div>
                 <div *ngIf="multimedia.length>=1"  class="col-lg-4" style="border-bottom: 1px solid; margin: 0px;padding: 0px;">
                         <label style="max-width: 82%;padding-top: 10px;overflow: hidden;">
                                {{multimedia[0]['name']}}
                             </label>
                             <span (click)="removeFile(0)" style="float: right;padding-top: 10px;">
                                     <img src="./assets/app/media/img/icons/close.png" style="width: 8px;cursor: pointer;">

                             </span>
                 </div>
                 <div class="col-lg-4"> </div>
                </div>
               
               
            </div> 

       
        
     
        </div>
          
    </div>
    <div [hidden]="!showTextToSpeech" class="row col-lg-12" style="padding:0px;margin-left: 4%;margin-right: 30px;margin-top: 10px">
        <div class="col-lg-2">
            <label style="margin-top: 7%;">Speech Rate</label>
        </div>
        <div class="col-lg-3" style="padding:0 5px 0 0">
                <select [(ngModel)]="speechrate"  [ngModelOptions]="{standalone: true}"  class="form-control selectpicker m-bootstrap-select m_selectpicker" id="extension_select" data-size="5">
                    <option [selected]="speechrate==''" [disabled]="true" value="">Select Speech Rate</option>  
                    <option *ngFor="let interval of speechrateintervals" [selected]='interval == speechrate' >{{interval}}</option>                   
                  </select>           
        </div>
        <div class="col-lg-2">
            <label style="margin-top: 7%;">Language</label>
        </div>
        <div class="col-lg-3" style="padding:0 0 0 5px">
                <select [(ngModel)]="language" class="form-control selectpicker m-bootstrap-select m_selectpicker" id="language_select" data-size="5" data-live-search="true" >
                    <option [selected]="language==''" [disabled]="true" value="">Select Language</option>    
                    <option *ngFor="let lang of languageDropdown" [selected]="language==lang.val" >{{lang.lan}}</option>              
                  </select>
        </div>
       
       
    </div>
    
    <div class="row" [ngStyle]="{'margin-top': showTextToSpeech ? '4%' : '6%' }" style="margin-left: 4.5%" >
        <label class="m-checkbox m-checkbox--focus" style="color: black;margin-top: 5px;font-size: 15px;font-weight: 500;">
            <input type="checkbox" name="Response" (change)="responsecodeChanged()" [(ngModel)]="responsecode">
            Response Code
            <span style="border: 1px solid #bdc3d4;"></span>
        </label>
    </div>
    <div  [hidden]="!responsecode" class="row" style="margin-top: 10px;margin-left: 2.5%" >
       <div class="col-lg-12">
            <!-- <div class="row col-lg-12" style="padding-top: 10px;font-weight: 500;font-size: 15px;">
                <div class='row col-lg-12'>
                        <div class="col-lg-2" >
                                <label style="padding: 0 0 0 2px;">Code</label>
                            </div>
                            <div class="col-lg-3">
                                <label>Action</label>
                            </div>
                            <div class="col-lg-3">
                                <label>Time(Seconds)</label>
                            </div>
                            <div class="col-lg-3">
                                <label>Mobile Number</label>
                            </div>
                </div>
               
            </div> -->
            <div class="row col-lg-12" id="responsecodesdiv">
              
               
            </div>
            <div class="row col-lg-12" style="padding-top: 10px;font-weight: 500;font-size: 15px;">
                <div class="col-lg-4">
                    <label (click)="addResponseCode()" style="cursor:pointer;padding-left: 2px;">Add+</label>
                </div>               
            </div>

       </div>
          
    </div>
    <!-- <div class="row ">
        <select id="selectpicker3" data-dropup-auto="false" data-size="5" [(ngModel)]="smsTimezone" [ngModelOptions]="{standalone: true}"  class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
            <option [disabled]="true" [selected]="true">Select Timezone</option>
            <optgroup *ngFor="let c of timezoneobject" label={{c}}>
                <option *ngFor="let tzone of timezoneDropdown[c]" value="{{tzone}}" [selected]="smsTimezone==tzone">{{tzone}}</option>
            </optgroup>
            </select>
       </div> -->
  <!-- END OF HIDD
    EN ELEMENT -->
    <!-- <div class="form-group m-form__group row m--margin-top-20">
        <label class="col-form-label col-lg-3 col-sm-12">Basic Setup</label>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="row align-items-center">
                <div class="col-6">
                    <input type="text" class="form-control" id="m_nouislider_modal1_input" placeholder="Quantity">
                </div>
                <div class="col-6">
                    <div id="m_nouislider_modal1" class="m-nouislider--drag-danger noUi-target noUi-ltr noUi-horizontal"><div class="noUi-base"><div class="noUi-origin"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="100.0" aria-valuenow="20.0" aria-valuetext="2" style="z-index: 4;"></div></div></div></div>
                </div> 
            </div>
        </div>
    </div> -->
    <!-- <input type="text" class="span2" value="" data-slider-min="-20" data-slider-max="20" data-slider-step="1" data-slider-value="-14" data-slider-orientation="vertical" data-slider-selection="after"data-slider-tooltip="hide"> -->
    <!-- <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/> -->
   <div class="row" style="margin-top: 10px;" >
       <div class="col-lg-2" style="padding-top: 4px;">
               <label class="m-checkbox m-checkbox--focus" style="margin-left: 32%;color: black;margin-top: 5px;font-size: 15px;font-weight: 500;">
                       <input type="checkbox" name="schedule" (change)="rScheduleChanged()" [(ngModel)]="r_schedule">
                       Schedule
                       <span style="border: 1px solid #bdc3d4;"></span>
                   </label>
       </div>
      
      
         
   </div>
   
    <div [hidden]="!r_schedule" class="row col-lg-12" style="font-size: 16px;margin: 0px">
        <div class="col-lg-1"></div>
        <div class="col-lg-3" style="margin-left:5px;">
                <div class="row">
                        <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12" style="font-weight:500">
                                    Date:
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12 input-group">
                                        <input id="date1"type="text" class="form-control datepicker" style="height: 35px;">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>														
                                    </div>
                            </div>											
              </div>
            </div>
            <div class="col-lg-3" style="margin-left:10px;">
                <div class="row">
                    <div class="form-group m-form__group row">
                      <label class="col-form-label col-lg-3 col-sm-12" style="font-weight:500">
                          Time:
                      </label>
                      <div class="col-lg-9 col-md-9 col-sm-12">
                          <input type='text' class="form-control"  id="m_timepicker_1" readonly placeholder="Select time">
                      </div>
                  </div>
              </div>
            </div>
            
            <div class="col-lg-5 row">
                <label class="col-lg-4" style="font-size: 16px;
                font-weight: 500;
                padding-top: 5px;">Timezone</label>
                <div class="col-lg-8">
                        <select id="selectpicker3" data-dropup-auto="false" (change)="timezonechanged()" data-size="5" [(ngModel)]="voicetimezone" [ngModelOptions]="{standalone: true}"  class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
                                <option [disabled]="true" [selected]="true">Select Timezone</option>
                                <optgroup *ngFor="let c of timezoneobject" label={{c}}>
                                    <option *ngFor="let tzone of timezoneDropdown[c]" value="{{tzone}}" [selected]="voicetimezone==tzone">{{tzone}}</option>
                                </optgroup>
                                </select>
                </div>                
            </div>


</div>
   
                      
           <div class="row "  style="margin-left: 4%;margin-top: 2%;">
                   <div  >
                        <button (click)="sendNow()" class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" ><i class="fa flaticon-paper-plane"></i>&nbsp;Send Now</button>
                    </div>
            </div>
       </form>
       </div>
       <div class="col-lg-3" style="min-height: 500px">
           <div class="row " style="margin-top: 15px">
               <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi _shadow" style="margin-left: 10%;max-width: 202px;width: 100%;max-height: 76.8%">
                   <div class="m-portlet__head" style="height: 0rem">
                       <div class="m-portlet__head-caption">
                           <div class="m-portlet__head-title">
                               <h2 class="m-portlet__head-label m-portlet__head-label--danger" style="background:#282a3c;min-width: 145px;">
                                   <span style="font-size: 15px">SMS Balance</span>
                               </h2>
                           </div>			
                       </div>
                   </div>
                   <div class="m-portlet__body">
                       <p style="white-space: pre;">Promotional SMS:   </p>
                       <p style="white-space: pre;">Transactional SMS:  </p>
                   </div>
               </div>	
           </div>
           <div class="row " style="max-height: inherit;margin-bottom: 10px;height: 73.8%;">
               <div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi _shadow" style="margin-left: 10%;max-width: 202px;width: 100%">
                   <div class="m-portlet__head" style="height: 0rem">
                       <div class="m-portlet__head-caption">
                           <div class="m-portlet__head-title">
                               <h2 class="m-portlet__head-label m-portlet__head-label--danger" style="background:#282a3c;min-width: 145px;">
                                   <span style="text-align: center;">Contacts</span>
                               </h2>
                           </div>			
                       </div>
                   </div>
                   <div class="m-portlet__body" style="padding: 0 2.2rem 0 2.2rem;">
                       <button routerLink="/app/contact-list" class="btn m-btn--pill custom_btn" style="margin-bottom: 5px;padding: 0px;">+ Add Group/Contact</button>
                       <input type="text" [(ngModel)]="searchText" name="search" placeholder="Search" style="border: none;border-bottom: 1px solid gray;padding: 5px;font-weight: 450;color: black;    width: 100%;margin-bottom: 5px">
                       <div id="groups" style="max-height:346px;overflow: auto;">
                           <ul style="display:inline-block;margin:0px;padding:0px">
                               <li  *ngFor="let group of groups_list | filter : searchText; let index = index">
                                       <label  class="m-checkbox m-checkbox--focus" style="color: black;margin-top: 5px">
                                               <input type="checkbox" name="msg_type" value="{{group.group_id}}"  (change)="onCheckboxChange(group, $event)">
                                                   {{group.group_name}}
                                               <span style="border: 1px solid #bdc3d4;"></span>
                                           </label>
                               </li>
                           </ul>
                                   
                                   
                       </div>
                   
                   </div>
               </div>	
           </div>
       </div>

       
       
   </div> 



</div>






