<!-- BEGIN: Subheader -->
<div class="container" appunwraptag="" >
	<div class="row"> 
<div class="m-content col-lg-12">
	<div class="m-portlet m-portlet--mobile">
		<div [hidden]="show_loading"  class="m-portlet__body">
				<div class="row" style="margin: 20px">
					<h5 style="text-align: center;margin: 0px;width: 100%">Quick Recharge</h5>
				</div>
				<div class="row align-items-center">
					<div class="col-lg-12">
						<h6 style="text-align: left;margin-left: 20px;padding-left:15px ">
							Your Wallet Balance - 
							<button class="btn m-btn m-btn--pill btn-accent" disabled="" style="padding: 0.20rem .9rem;">
								&#8377;<span> </span>{{wallet_balance}}
						</button> 
						</h6>

					</div>
					<!-- <div class="col-lg-9">
					</div> -->
				</div>
				<div class="row" style="margin: 20px">
					<p style="margin: 0px;padding: 0px 15px;">Enter Amount To be Added In Your Wallet</p>
				</div>		
				<div class="row" style="margin: 20px">
					<div class="col-lg-2" style="margin-top: 3px;">
						<input class="form-control m-input" [(ngModel)]="amount" type="text" placeholder=" &#8377; amount" (input)="calc()" maxlength="9">
					</div>
					<div class="col-lg-2" style="margin-top: 3px;float:left;padding: 0px">
						<h6 style="padding: .65rem 1rem"><span style="margin-right:20px">+</span> Tax GST 18% </h6>
					</div>
					<!-- <div class="col-lg-2" style="margin: 0px;padding: 0px">
						<h6 style="padding: .65rem 1rem"> &#8377;{{tax | number: '1.1-2' }}</h6>
					</div> -->
					<div class="col-lg-2" style="margin-top: 3px;padding: 0px">
						<h6 style="padding: .65rem 1rem"><span style="margin-right:5px">=</span> Total Amount</h6>
					</div>
					<div class="col-lg-2" style="margin-top: 3px;padding: 0px">
						<h6 style="padding: .65rem 1rem"> &#8377;{{total_amount | number: '1.1-2'}}</h6> 
					</div>
					<div class="col-lg-2" style="margin: 0px;padding: 0px">
						<a (click)="addAmount()" href="#" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
							<span>
								<i class="fa flaticon-lock-1"></i>
								<span>Recharge Now</span>
							</span>
						</a>
					</div>
				</div>
				<div class="row" style="margin: 20px">
					<!-- <div class="col-lg-2"></div> -->
					<div class="col-lg-2">
						<button (click)="btn_clk(10000)" class="row col-lg-12" style="border: 1px solid blue;padding: 15px;border-radius: 5px;background: white;cursor: pointer;margin-left: 1px">
							<div class="row col-lg-12">
								<h5>Basic</h5>
							</div>
							<div class="row col-lg-12">
								<h5>10,000</h5>
							</div>
						</button>
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-2">
						<button (click)="btn_clk(25000)" class="row col-lg-12" style="border: 1px solid blue;padding: 15px;border-radius: 5px;background: white;cursor: pointer;">
							<div class="row col-lg-12">
								<h5>Advanced</h5>
							</div>
							<div class="row col-lg-12">
								<h5>25,000</h5>
							</div>
						</button>
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-2">
						<button (click)="btn_clk(50000)" class="row col-lg-12" style="border: 1px solid blue;padding: 15px;border-radius: 5px;background: white;cursor: pointer;">
							<div class="row col-lg-12">
								<h5>Premium</h5>
							</div>
							<div class="row col-lg-12">
								<h5>50,000</h5>
							</div>
						</button>
					</div>
					<div class="col-lg-2"></div>
				</div>
		</div>
		<div [hidden]="!show_loading" class="m-portlet-body" style="height:300px">
			<div class="row" style="    padding-top: 6%;" >
				<div class="col-lg-4"></div>
				<div class="col-lg-4" style="display: flex;justify-content: center;">
					<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

			  </div>
				<div class="col-lg-4"></div>
		</div>
		</div>
	</div>
</div>
</div>
</div>
