<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu -->
	<div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-aside-menu--dropdown"  		data-menu-vertical="true" 		 m-menu-dropdown="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/app/short-code/dashboard" class="m-menu__link">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img//icons/icon_mail.png" style="color: white" class="aside_icon">
						Dashboard
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover">
				<a  routerLink="/app/short-code/reports" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<!--<i class="m-menu__link-icon flaticon-open-box"></i>-->
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img//icons/icon_edit.png" style="color: white" class="aside_icon">
						Reports
					</span>
					<!--
					<i class="m-menu__ver-arrow la la-angle-right"></i>-->
				</a>
			</li>
			<li class="m-menu__item " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover">
				<a  routerLink="/app/short-code/settings" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<!--<i class="m-menu__link-icon flaticon-open-box"></i>-->
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img//icons/icon_list.png" style="color: white" class="aside_icon">
						Settings
					</span>
					<!--
					<i class="m-menu__ver-arrow la la-angle-right"></i>-->
				</a>
				
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
