<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu -->
	<div  		id="m_ver_menu"  		class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark m-aside-menu--dropdown"  		data-menu-vertical="true" 		 m-menu-dropdown="1" m-menu-scrollable="1" m-menu-dropdown-timeout="500"   		>
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/app/bulk-sms" class="m-menu__link">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img/saino_icons/bulk-sms.png" style="color: white;width: 25px" class="aside_icon">
						Send SMS
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover">
				<a  routerLink="/app/customized-sms" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<!--<i class="m-menu__link-icon flaticon-open-box"></i>-->
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img/saino_icons/custom-sms.png" style="color: white;width: 25px" class="aside_icon">
						Customize
					</span>
					<!--
					<i class="m-menu__ver-arrow la la-angle-right"></i>-->
				</a>
				<!--
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__item-here"></span>
								<span class="m-menu__link-text">
									Layouts
								</span>
							</span>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/builder" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Layout Builder
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/builder" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Boxed Layout
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/builder" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Right Sidebar
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/builder" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Fixed Footer
								</span>
							</a>
						</li>
					</ul>
				</div>
			-->
			</li>
			<li class="m-menu__item " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover">
				<a  routerLink="/app/contact-list" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<!--<i class="m-menu__link-icon flaticon-open-box"></i>-->
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img/saino_icons/contacts.png" style="color: white;width: 25px;" class="aside_icon">
						Contact List
					</span>
					<!--
					<i class="m-menu__ver-arrow la la-angle-right"></i>-->
				</a>
				<!--
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__item-here"></span>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Reports
										</span>
										<span class="m-menu__link-badge">
											<span class="m-badge m-badge--danger">
												2
											</span>
										</span>
									</span>
								</span>
							</span>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-pie-chart"></i>
								<span class="m-menu__link-text">
									Finance Reports
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-line-graph"></i>
								<span class="m-menu__link-text">
									Accouning Audit
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-statistics"></i>
								<span class="m-menu__link-text">
									Investments
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-coins"></i>
								<span class="m-menu__link-text">
									Sales
								</span>
							</a>
						</li>
					</ul>
				</div>
			-->
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover" m-menu-link-redirect="1">
				<a  href="javascript:;" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img//saino_icons/manage1.png" style="color: white;width: 25px" class="aside_icon" >
						Manage
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i> 
				</a>
				
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/app/manage/block-number" class="m-menu__link">
								<span class="m-menu__link-text">
								<img src="./assets/app/media/img/saino_icons/block-numbers.png" style="width: 20px"  class="aside_icon">	Blocked Numbers
								</span>
							</a>
						</li>
						<!--
						<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover" m-menu-link-redirect="1">
							<a  href="javascript:;" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Cases
								</span>
								<i class="m-menu__ver-arrow la la-angle-right"></i>
							</a>
							<div class="m-menu__submenu">
								<span class="m-menu__arrow"></span>
								<ul class="m-menu__subnav">
									<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-computer"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Pending
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--warning m-badge--wide">
															10
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-signs-2"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Urgent
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--danger m-badge--wide">
															6
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-clipboard"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Done
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--success m-badge--wide">
															2
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-multimedia-2"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Archive
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--info m-badge--wide">
															245
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>-->
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/app/manage/sender-id" class="m-menu__link">
								<span class="m-menu__link-text">
									<img src="./assets/app/media/img/saino_icons/senderid.png" style="color: white;width: 20px" class="aside_icon">
									Sender ID
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/app/manage/templates" class="m-menu__link">
								<span class="m-menu__link-text">
								<img src="./assets/app/media/img/saino_icons/Template.png" style="width: 20px "  class="aside_icon">	Templates
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item " routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover" m-menu-link-redirect="1">
				<a  href="javascript:;" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img/saino_icons/reports.png" style="color: white;width: 25px;" class="aside_icon">
						Reports
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						
						<li *ngIf="userid=='1'" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/app/reports/sending-process-report" class="m-menu__link">
								<span class="m-menu__link-text">
									<img src="./assets/app/media/img/saino_icons/live.png" style="width: 20px;"  class="aside_icon">
									Live Status
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/app/reports/analytics-report" class="m-menu__link">
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											<img src="./assets/app/media/img/saino_icons/analytics.png" style="width: 20px"  class="aside_icon">
											Analytics
										</span>
										<!--
										<span class="m-menu__link-badge">
											<span class="m-badge m-badge--warning m-badge--wide m-badge--rounded">
												new
											</span>
										</span>
									    -->
									</span>
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/app/reports/sent-report" class="m-menu__link">
								<span class="m-menu__link-text">
								<img src="./assets/app/media/img/saino_icons/sentreport.png" style="width: 20px"  class="aside_icon">
									Sent Report
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/app/reports/schedule-report" class="m-menu__link">
								<span class="m-menu__link-text">
									<img src="./assets/app/media/img/saino_icons/schedulereport.png" style="color: white;width: 20px" class="aside_icon">
									Schedule Report
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/app/reports/mis-report" class="m-menu__link">
								<span class="m-menu__link-text">
									<img src="./assets/app/media/img/saino_icons/mis.png" style="color: white;width: 20px" class="aside_icon">
									MIS Report
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/app/reports/download-report" class="m-menu__link">
								<span class="m-menu__link-text">
								<img src="./assets/app/media/img/saino_icons/download.png" style="width: 20px"  class="aside_icon">
									Download
								</span>
							</a>
						</li>
					</ul>
				</div>
			
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/app/shortlink" class="m-menu__link">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img/saino_icons/shortlink.png" style="color: white;width: 25px" class="aside_icon">
						Short Links
					</span>
				</a>
			</li>
			<!-- <li class="m-menu__item " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover">
				<a  routerLink="/app/shortlink" href="javascript:;" class="m-menu__link">
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img/saino_icons/shortlink.png" style="color: white;widows: 25px;" class="aside_icon">
						Short Links
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<!--
				<div class="m-menu__submenu m-menu__submenu--up">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent m-menu__item--bottom-2" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Settings
								</span>
							</span>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover" m-menu-link-redirect="1">
							<a  routerLink="/inner" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Profile
								</span>
								<i class="m-menu__ver-arrow la la-angle-right"></i>
							</a>
							<div class="m-menu__submenu">
								<span class="m-menu__arrow"></span>
								<ul class="m-menu__subnav">
									<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-computer"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Pending
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--warning">
															10
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-signs-2"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Urgent
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--danger">
															6
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-clipboard"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Done
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--success">
															2
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
									<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
										<a  routerLink="/inner" class="m-menu__link">
											<i class="m-menu__link-icon flaticon-multimedia-2"></i>
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Archive
													</span>
													<span class="m-menu__link-badge">
														<span class="m-badge m-badge--info m-badge--wide">
															245
														</span>
													</span>
												</span>
											</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Accounts
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Help
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--line">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Notifications
								</span>
							</a>
						</li>
					</ul>
				</div>
			
			</li> -->
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/app/pricing" class="m-menu__link">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img/saino_icons/coverage.png" style="color: white;width: 25px" class="aside_icon">
						Pricing
					</span>
				</a>
			</li>
			<!-- <li class="m-menu__item " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
				<a  routerLink="/app/pricing" class="m-menu__link">
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img/saino_icons/coverage.png" style="color: white;width: 25px" class="aside_icon">
						 Pricing
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
			</li> -->
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover">
				<a  routerLink="/app/profile/api" href="javascript:;" class="m-menu__link m-menu__toggle">
					<span class="m-menu__link-text">
					<img src="./assets/app/media/img/saino_icons/api.png" style="color: white;width: 20px;width:25px;" class="aside_icon">
						API
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<!--
				<div class="m-menu__submenu m-menu__submenu--up">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item  m-menu__item--parent m-menu__item--bottom-1" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									Help
								</span>
							</span>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Support
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Blog
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Documentation
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Pricing
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-link-redirect="1">
							<a  routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-text">
									Terms
								</span>
							</a>
						</li>
					</ul>
				</div>
			-->
			</li>
			<li class="m-menu__item " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  m-menu-submenu-toggle="hover">
				<a  href="javascript:;" class="m-menu__link m-menu__toggle">
					<span class="m-menu__link-text">
						<img src="./assets/app/media/img/saino_icons/support.png" style="color: white;width:25px;" class="aside_icon">
						Support
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->
