<!-- BEGIN: Subheader -->
<div  appunwraptag="" style="margin-left: 75px;margin-right: 10px">
	<div class="row"> 
<div class="m-content col-lg-12">
<div class="m-portlet m-portlet--mobile">
	<div  class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
			<div class="row align-items-center">
				<div class="col-lg-9">
				</div>
				<div class="col-lg-2">
					<button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px;display: flex"  (click)="addTemp()">
						<!-- <img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px"> -->
						<span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>

						Add Template</button>
				</div>
			</div>
		</div>
		
		<!--begin: Datatable -->

		<table style="width: 100%">
							  <tr style="background:#c5cbe4">
							    <th style="width: 10%;color: black;text-align: center;">Sr No</th>
							    <th style="width: 15%;color: black;text-align: center;">Template Name</th>
							    <th style="width: 20%;color: black;text-align: center;">Type</th>
							    <th style="width: 25%;color: black;text-align: center;">Message</th>
							    <th style="width: 20%;color: black;text-align: center;">Created Date</th>
							    <th style="width: 10%;color: black;text-align: center;">Action</th>
							  </tr>
							  <tr  [hidden]="show_loading" *ngFor="let temp of temp_list  | paginate: { 
							  id: 'fa',itemsPerPage: 5, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
							    <td style="width: 10%;text-align: center;">{{ (p - 1) * 5 + i +1}}</td>
							    <td style="width: 15%;text-align: center;">{{temp.template_name}}</td>
							    <td style="width: 20%;text-align: center;">{{temp.template_type}}</td>
								<td style="width: 25%;color: black;text-align: center;">{{temp.template_data}}</td>
							    <td style="width: 20%;color: black;text-align: center;">{{temp.created_date.split("T")[0]}}</td>
							    <td style="width: 20%;;text-align: center;">
							    	<button [disabled]="kyc_status==0" class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="current_temp(temp)" >
							    		<img src="./assets/app/media/img/saino_icons/edit.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
							    	</button>
							    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" [swal]="deletetemplate">
							    		<img src="./assets/app/media/img/saino_icons/delete.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
									</button>
									<swal
									  #deletetemplate
									  title="Are you sure?"
									  text="This cannot be undone"
									  type="warning"
									  [showCancelButton]="true"
									  [focusCancel]="true"
									  (confirm)="delete_temp(temp)">
									</swal>
								</td>
								
							  </tr>
			</table>
			<div class="row"  [hidden]="!show_loading">
					<div class="col-lg-4"></div>
					<div class="col-lg-4" style="display: flex;justify-content: center;">
						<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
  
				  </div>
					<div class="col-lg-4"></div>
			</div>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="fa" (pageChange)="p = $event" maxSize="4"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div>
		<!--end: Datatable -->
	
	</div>
</div>
</div></div></div>

<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="min-height: 400px;padding: 20px">

				      <div class="modal-header" style="border-bottom: 0px">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Edit Temp {{temp_name}}</h5>
				        </div>
				      </div>
     
		       <div class="row" style="margin: 0px;">
					<div class="col-lg-2 ">
					</div>
					<div class="col-lg-8 ">
						<div class="row" style="margin-top: 2%">
								<h5 class="col-lg-6" style="color: #0C4DA2;font-size: 15;"> Message</h5>
								<div class="col-lg-6">
									<label class="m-radio m-radio--check-bold col-lg-6" >
										<input type="radio" name="optradio1" [checked]="temp_type_updated=='English'" (change)="englishSelectedeEdit()" >English
										<span></span>
										</label>
										<label class="m-radio m-radio--check-bold ">
											<input type="radio" name="optradio1" [checked]="temp_type_updated=='Unicode'"  (change)="unicodeSelectedEdit()" >Unicode
											<span></span>
												</label>
									<!-- <label class="radio-inline" style="margin-left: 15px">
										<input type="radio" name="optradio1" [checked]="temp_type_updated=='English'" (change)="englishSelectedeEdit()" >English</label>
									<label class="radio-inline" style="margin-left: 15px">
										<input type="radio" name="optradio1" [checked]="temp_type_updated=='Unicode'"  (change)="unicodeSelectedEdit()" >Unicode</label> -->
								</div>
						</div>
						<div class="row _shadow" style="height: 90px;background-color: white;">
								<div class="row col-lg-12" style="margin: 0px;padding: 0px;">
								<textarea [(ngModel)]="message_updated" name="message_updated" style="width: 100%;min-height: 60px;padding: 10px;resize: none" placeholder=" "id="message_updated" required="required" ng-cut="MessageChangedEdit()" ng-copy="MessageChangedEdit()"  (ngModelChange)="MessageChangedEdit()"></textarea> 
								</div>
						</div>
						<div class="row " >
								<h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;"> Total Characters : {{message_updated.length}}</h5>
								<h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;margin-left: 5%"> Total Sms :  {{ sms_count_edit}}</h5>
						</div>
					</div>
					<div class="col-lg-2 ">
					</div>
				</div>
				<div class="row" style="margin: 0px">
					<div class="col-lg-5 ">
					</div>
					<div class="col-lg-6 ">
						<button class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms" style="padding: 10px 30px" [swal]="edittemplate" >
						Save</button>
									<swal
									  #edittemplate
									  title="Are you sure?"
									  text="This cannot be undone"
									  type="warning"
									  [showCancelButton]="true"
									  [focusCancel]="true"
									  (confirm)="update_temp()">
									</swal>
					</div>
				</div>
		    </div>
		  </div>
		</div>

		<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="min-height: 400px;padding: 20px">

				      <div class="modal-header" style="border-bottom: 0px">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add Template</h5>
				        </div>
				      </div>
				<div class="row" style="margin: 0px;">
					<div class="col-lg-2 ">
					</div>
					<div class="col-lg-8 ">
						<div class="row form-group m-form__group" style="margin-bottom:0px ;">
								<input [(ngModel)]="temp_name" class="form-control m-input" type="text" placeholder="Template Name" name="username" style="border: none;margin: 0px;border-radius: 0px;border-bottom: 1px solid lightgray;"  required>
						</div>
					</div>
					<div class="col-lg-2 ">
					</div>
				</div>      
		       <div class="row" style="margin: 0px;">
					<div class="col-lg-2 ">
					</div>
					<div class="col-lg-8 ">
						<div class="row" style="margin-top: 10%">
								<h5 class="col-lg-6" style="color: #0C4DA2;font-size: 15;"> Message</h5>
								<div class="col-lg-6">
									<label class="m-radio m-radio--check-bold col-lg-6" >
										<input type="radio" name="optradio" [checked]="temp_type=='English'" (change)="englishSelected()">English
										<span></span>
										</label>
										<label class="m-radio m-radio--check-bold ">
											<input type="radio" name="optradio"  [checked]="temp_type=='Unicode'"  (change)="unicodeSelected()">Unicode
											<span></span>
												</label>
									<!-- <label class="radio-inline"  style="margin-left: 15px">
										<input type="radio" name="optradio" [checked]="temp_type=='English'" (change)="englishSelected()">English</label>
									<label class="radio-inline"  style="margin-left: 15px">
										<input type="radio" name="optradio"  [checked]="temp_type=='Unicode'"  (change)="unicodeSelected()">Unicode</label> -->
								</div>
						</div>
						<div class="row _shadow" style="height: 90px;background-color: white;">
								<div class="row col-lg-12" style="margin: 0px;padding: 0px;">
								<textarea [(ngModel)]="message" name="message" style="width: 100%;min-height: 60px;padding: 10px;resize: none" ng-cut="MessageChanged()" ng-copy="MessageChanged()"  (ngModelChange)="MessageChanged()" placeholder=" "id="message" required="required"></textarea> 
								</div>
						</div>
						<div class="row " >
								<h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;"> Total Characters : {{message.length}}</h5>
								<h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;margin-left: 5%"> Total Sms : {{sms_count}}</h5>
						</div>
					</div>
					<div class="col-lg-2 ">
					</div>
				</div>
				<div class="row" style="margin: 0px">
					<div class="col-lg-5 ">
					</div>
					<div class="col-lg-6 ">
						<button class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms" style="padding: 10px 30px" (click)="add_temp()" >
						Save</button>
					</div>
				</div>
		    </div>
		  </div>
		</div>