<div  appunwraptag="" style="margin-left: 250px;margin-right: 30px;margin-top: 100px;">
	<div class="row"> 
<div class="m-content col-lg-12">
<div class="m-portlet m-portlet--mobile">
	<div  class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">			
			<div class="row align-items-center">
				<div class="col-lg-2"></div>
				<div [hidden]="show_calendar" class="col-lg-6"></div>
				<div class="col-lg-2">
						<div class="form-group m-form__group row">
								<div class="col-lg-12 col-md-9 col-sm-12">
									<select [(ngModel)]="calendar_range" (change)="rangeChanged()" class="form-control m-bootstrap-select m_selectpicker">
										<option value="today">
											Today
										</option>
										<option value="7days">
											Last 7 days
										</option>
										<option value="15days">
											Last 15 days
										</option>
										<option value="month">
											Last month
										</option>
										<option value="custom">
												Custom
										</option>
									</select>
								</div>
							</div>
				</div>
				<div  [hidden]="!show_calendar"  class="col-lg-6" id="sandbox-container">
						<div class="input-daterange input-group" id="datepicker">
								<span class="input-group-addon" style="text-align: center;margin-right: 5px">From</span>
								<input type="text" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
								<span class="input-group-addon" style="text-align: center;">To</span>
								<input  type="text" class="form-control" id="m_datepicker_2" readonly="" placeholder="Select date">
			
							</div>
				</div>
				<div class="col-lg-2">
						<button class="btn " style="background: transparent;padding: 0px;float: left;    margin-right: 20px;">
								<img src="./assets/app/media/img/icons/search.png" style="width: 22px;background: transparent;">
							</button>
							<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;float: left;" >
									<img src="./assets/app/media/img/saino_icons/download.png" title="Download" style="width: 22px;margin-bottom: 4px;margin-left: 20%">
								</button>

				</div>
					
			</div>
		
		</div>
		
		

		<table style="width: 100%;">
			<tr style="background: #c5cbe4">
			  <th style="width: 20%;color: black;text-align: center;">Received</th>
			  <th style="width: 20%;color: black;text-align: center;">Mobile Number</th>
			  <th style="width: 20%;color: black;text-align: center;">Operator Circle</th>
			  <th style="width: 20%;color: black;text-align: center;">Keyword</th>
			  <th style="width: 20%;color: black;text-align: center;">Message Text</th>
			</tr>
			<tr>
				<td style="width: 20%;color: black;text-align: center;">20/02/2019</td>
			  <td style="width: 20%;color: black;text-align: center;">9876545675</td>
			  <td style="width: 20%;color: black;text-align: center;">Vodafone mumbai</td>
			  <td style="width: 20%;color: black;text-align: center;">OTA</td>
			  <td style="width: 20%;color: black;text-align: center;">OTA</td>
			</tr>
			<tr *ngFor="let group of groups_list | filter : searchText | paginate: { 
			id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
			  <td style="width: 20%;color: black;text-align: center;">Received</td>
			  <td style="width: 20%;color: black;text-align: center;">Mobile Number</td>
			  <td style="width: 20%;color: black;text-align: center;">Operator Circle</td>
			  <td style="width: 20%;color: black;text-align: center;">Keyword</td>
			  <td style="width: 20%;color: black;text-align: center;">Message Text</td>
			</tr>
</table>
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
	  <pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
		directionLinks="true"
		autoHide="true"
		previousLabel="Previous"
		nextLabel="Next"
		screenReaderPaginationLabel="Pagination"
		screenReaderPageLabel="page"
		screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>
<div class="col-lg-3"></div>
</div>
		<!--end: Datatable -->
	
	</div>
	
</div>
</div></div></div>