<div class="m-portlet m-portlet--full-height m-portlet--tabs">
				<div class="m-portlet__head">
					<div class="m-portlet__head-tools">
						<ul class="nav nav-tabs m-tabs m-tabs-line   m-tabs-line--left m-tabs-line--primary" role="tablist">
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab_1" role="tab">
									<i class="flaticon-share m--hide"></i>
									Update Profile
								</a>
							</li>
							<li class="nav-item m-tabs__item">
								<a class="nav-link m-tabs__link" (click)="passwordClicked()" data-toggle="tab" href="#m_user_profile_tab_2" role="tab">
									Change Password
								</a>
							</li>
							<li class="nav-item m-tabs__item" (click)="get_2fa();">
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_3" role="tab">
									Security
								</a>
							</li>
							<li class="nav-item m-tabs__item"  >
								<a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_profile_tab_4" role="tab" (click)="get_login_history_details();">
									Login History
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="tab-content">
					<div class="tab-pane active" id="m_user_profile_tab_1">
						<form [hidden]="show_loading" class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<div class="col-12 ml-auto">
										
												<h4 class="m-form__section"  style="
												text-align: left;
												padding-left: 3%;
											">
														Account Details
													</h4>
									
										
									</div>
								</div>
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label class="col-2 col-form-label">
										Full Name
									</label>
									<div class="col-4">
										<input class="form-control m-input" [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="User_details.client_name">
									</div>
									<label  class="col-1 col-form-label">
											Email
										</label>
										<div class="col-4">
											<div class="row">
												<div class="col-lg-9">
														<input  [disabled]="email_otp_send" class="form-control m-input" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="User_details.email_id" placeholder="Email" name="email"  autocomplete="off" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">

												</div>
												<div class="col-lg-3 row">
														<div class="col-lg-0">
																<img [hidden]="verifiedEmail==User_details.email_id" src="./assets/app/media/img/saino_icons/cancel.png" style="margin-top:5px;;width: 20px;height:20px;;margin-bottom: 4px;">
																<img [hidden]="verifiedEmail!=User_details.email_id" src="./assets/app/media/img/saino_icons/check.png" style="margin-top:5px;width: 20px;height:20px;;margin-bottom: 4px;">
														</div>
														<div class="col-lg-6">
																<button type="button" [disabled]="email_otp_send" (click)="sendOtpMail()" class="btn m-btn--pill    btn-outline-metal m-btn m-btn--outline-2x ">
																		Verify
																</button>
														</div>
														
												</div>
											</div>

										
											<!-- <div class="col-lg-1">
													
											</div> -->
										
										
										</div>
							       
								</div>
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									
											<label class="col-2 col-form-label" >
													Designation
											</label>
											<div class="col-4">
													<input class="form-control m-input" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="User_details.designation">
											</div>
										
									
									
											<label  class="col-1 col-form-label">
													Mobile
												</label>
												<form style="" class="col-lg-3">
												<input (keydown)="p_no_changed()" id="phone" class="form-control m-input col-lg-12"name="phone"   [(ngModel)]="p_no" type="number">
												</form>
														<img [hidden]="p_no==User_details.mobile_no" src="./assets/app/media/img/saino_icons/cancel.png" style="margin-top:5px;;width: 20px;height:20px;;margin-bottom: 4px;">
													
														<img [hidden]="p_no!=User_details.mobile_no" src="./assets/app/media/img/saino_icons/check.png" style="margin-top:5px;width: 20px;height:20px;;margin-bottom: 4px;">
												<button type="button" style="margin-left: 15px" [disabled]="disable"  (click)="VerifyOtp()" class="btn m-btn--pill    btn-outline-metal m-btn m-btn--outline-2x ">
													Verify
												</button>

																		
									
											
							
						
									
										
											<!-- <international-phone-number (keyup)="changed(phone_number_text.valid)" [(ngModel)]="p_no" placeholder="Enter phone number" [maxlength]="20"  [required]="true" #phone_number_text="ngModel" name="phone_number"></international-phone-number>
											<div *ngIf="!phone_number_text.valid" class="help-block" >
													<img src="./assets/app/media/img/saino_icons/cancel.png" style="width: 20px;margin-left: 4px;margin-top: 2px;">
											</div>
											
											<div *ngIf="phone_number_text.valid" class="help-block">
													<img src="./assets/app/media/img/saino_icons/check.png" style="width: 20px;margin-left: 4px;margin-top: 2px;">
											</div> -->
											
											<!-- <select name="country"></select> --> 
											<!-- <form>
												<input id="phone" name="phone" type="tel" onkeypress="return isNumber(event)" [(ngModel)]="p_no">
											</form> -->
											
										
												

								</div>
								
								
								
								<!-- <ngx-intl-tel-input [(value)]="phone_number"></ngx-intl-tel-input> -->

								<!-- <p>{{phone_number_text.valid}}</p> -->
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label class="col-2 col-form-label">
										User ID
									</label>
									<label class="col-4">
											<input class="form-control m-input" type="text" [ngModelOptions]="{standalone: true}" [disabled]=true [(ngModel)]="User_details.user_name" placeholder="User Id" name="userid"  autocomplete="off" required  >
										</label>
									<label class="col-1 col-form-label">
										Currency
									</label>
									<div class="col-4">
											<!-- <select id="selectpickercurrency" class=" form-control m-bootstrap-select m_selectpicker selectpicker " data-live-search="true"> -->
												
												<select [disabled]="true" id="selectpicker1" data-dropup-auto="false" data-size="5" [ngModelOptions]="{standalone: true}" [(ngModel)]="User_details.currency" class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
														<option [disabled]="true" [selected]="true">Select currency</option>
														<option *ngFor="let c of currencyDropdown " [selected]="User_details.currency==c.country">{{c.country}}</option>
														</select>						
											<!-- <input class="form-control m-input" type="text" [ntimezonegModelOptions]="{standalone: true}" [disabled]=true [(ngModel)]="User_details.currency" placeholder="Currency" name="userid"  autocomplete="off" required  > -->
									</div>
								</div>
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label class="col-2 col-form-label">
										Language
									</label>
									<div class="col-4">
											
											<select id="selectpicker2" data-dropup-auto="false" data-size="5"  [ngModelOptions]="{standalone: true}" [(ngModel)]="User_details.language" class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
													<option [disabled]="true" [selected]="true">Select Language</option>
													<option *ngFor="let c of languageDropdown " [selected]="User_details.language==c.lan">{{c.lan}}</option>
													</select>
	
										<!-- <input  class="form-control m-input" type="text"  [ngModelOptions]="{standalone: true}" [(ngModel)]="User_details.language"> -->
									</div>
									<label class="col-1 col-form-label">
										Timezone
									</label>
									<div class="col-4">
											<select [disabled]="true" id="selectpicker3" data-dropup-auto="false" data-size="5"  [ngModelOptions]="{standalone: true}" [(ngModel)]="User_details.timezone" class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
													<option [disabled]="true" [selected]="true">Select Timezone</option>
													<optgroup *ngFor="let c of timezoneobject" label={{c}}>
														<option *ngFor="let timezone of timezoneDropdown[c]"[selected]="User_details.timezone==timezone" >{{timezone}}</option>
													</optgroup>
													</select>
										<!-- <input class="form-control m-input" type="text"  [ngModelOptions]="{standalone: true}" [(ngModel)]="User_details.timezone"> -->
									</div> 
									<!-- <div class="col-4">
										<timezone-selector ng-model="timezone"></timezone-selector>
									</div>  -->
								</div>
								<hr style="width: 90%;margin-left: 5%;margin-right: 5%;opacity: 0.6;margin-top: 20px;">

								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<div class="col-12 ml-auto">
										<h4 class="m-form__section"  style="
										text-align: left;
										padding-left: 3%;
									">
											 Billing Details
										</h4>
									</div>
								</div>
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label for="example-text-input" class="col-2 col-form-label">
										Company Name
									</label>
									<div class="col-9">
										<input class="form-control m-input" type="text" [ngModelOptions]="{standalone: true}" placeholder="Company Name" [(ngModel)]="User_details.company_name">
									</div>
								</div>
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label for="example-text-input" class="col-2 col-form-label">
										Address
									</label>
									<div class="col-9">
										<textarea class="form-control m-input"  [ngModelOptions]="{standalone: true}" [(ngModel)]="User_details.address"></textarea>
									</div>
								</div>
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label class="col-2 col-form-label">
										City
									</label>
									<div class="col-4">
										<input  minlength="3" class="form-control m-input" [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="User_details.city">
									</div>
									<label class="col-1 col-form-label">
										State
									</label>
									<div class="col-4">
										<input class="form-control m-input" [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="User_details.statename">
									</div>
								</div>
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label class="col-2 col-form-label">
										Country
									</label>
									<div class="col-4">
										<input [disabled]="true"  minlength="3" class="form-control m-input" [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="User_details.country">
									</div>
									<label class="col-1 col-form-label">
										Pin Code
									</label>
									<div class="col-4">
										<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="User_details.pincode">
									</div>
									
								</div>
								<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<label for="example-text-input" class="col-2 col-form-label">
										Tax Number GST
									</label>
									<div class="col-4">
										<input  class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="User_details.tax_no">
									</div>
									<label class="col-1 col-form-label">
										Website
									</label>
									<div class="col-4">
										<input class="form-control m-input" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="User_details.website">
									</div>
								</div>
								<!-- <div class="form-group m-form__group row" style="padding-bottom: 0px">
									
								</div> -->
								<hr style="width: 90%;margin-left: 5%;margin-right: 5%;opacity: 0.6;    margin-top: 20px;">
								 
									<div class="form-group m-form__group row">
										<div class="col-12 ml-auto">
											<h4 class="m-form__section"  style="
											text-align: left;
											padding-left: 3%;
										">
											 KYC Documents
											</h4>
										</div>
									</div>
									<div class="row" >
										<div class="col-lg-1"></div>
										<div class="col-lg-4" style="text-align: center;">
											<h6>
												Document Type
											</h6>
										</div>
										<div class="col-lg-3" style="text-align: center;">
											<h6>
												Upload
											</h6>
										</div>
										<div class="col-lg-3" style="text-align: center;">
											<h6>
												Status
											</h6>
										</div>
										<div class="col-lg-1"></div>
									</div>
									<hr style="width: 73%;margin-left: 11.6%;margin-right: 20%;opacity: 0.6;">
	
									<!-- <div class="m-portlet__body-separator"></div> -->
									<div class="row" [hidden]="showKyc">
											<div class="col-lg-1"></div>
										<div class="col-lg-4" style="text-align: center;">
											<div class="form-group m-form__group row">
											<!--label class="col-form-label  col-sm-12">
												
											</label-->
											<div class="col-lg-12 col-md-9 col-sm-12">
												<select (change)="select1_changed($event.target.value)"  class="form-control m-bootstrap-select m_selectpicker">
													<option value="" [disabled]="true" selected>Select Individual Doc Type</option>
													<option  *ngFor="let individual of individual" value={{individual.val}}>
														{{individual.proof}}</option>
													
												</select>
												
											</div>
										</div>
										</div>
										<div class="col-lg-3" style="text-align: center;">
											<label class="btn-bs-file btn  btn-default" style="border-radius: 23px;margin-top:4px;background: transparent;border: 1px solid gray;padding: 8px 18px;font-size: .9rem;">
												Upload
												<img src="./assets/app/media/img/saino_icons/upload.png" style="width: 14px;margin-bottom: 4px;">
												<i [hidden]="!uploadShow1"class="fa fa-spinner fa-spin" style="width: 16px;margin-right: 4px;background-color: white"></i>
												<input  [disabled]="uploadShow1 || individualfilestatus==1" type="file" id="uploadindividual" (change)="upload_1($event.target.files,$event.target)"/>
											</label>
										</div>
										<div class="col-lg-3" style="text-align: center;">
												<div *ngIf="individualfilestatus==1" >
														<button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Approved</button>
													</div>
													<div *ngIf="individualfilestatus==0"  >
														<button class="btn m-btn--pill custom_btn1 btn-warning" style="padding: 5px 15px;min-width: 100px" >Pending</button>
													</div>
													<div *ngIf="individualfilestatus==2"  >
															<button class="btn m-btn--pill custom_btn1 btn-danger" style="padding: 5px 15px;min-width: 100px" >Rejected</button>
														</div>
													
											<!-- <button class="btn m-btn--pill custom_btn1 btn-metal" style="" disabled="disabled">Accepted</button> -->
										</div>
										<div class="col-lg-1"></div>
									</div>
									<div class="row" [hidden]="showKyc">
											<div class="col-lg-1"></div>
										<div class="col-lg-4" style="text-align: center;">
											<div class="form-group m-form__group row">
											<!--label class="col-form-label  col-sm-12">
												
											</label-->
											<div class="col-lg-12 col-md-9 col-sm-12">
												<select (change)="select2_changed($event.target.value)"  class="form-control m-bootstrap-select m_selectpicker">
													<option  value="" [disabled]="true" selected>Select Company Doc Type</option>
													<option  *ngFor="let company of company " value={{company.val}}>
														{{company.proof}}
													</option>
													
												</select>
											</div>
										</div>
										</div>
										<div class="col-lg-3" style="text-align: center;">
											<label  class="btn-bs-file btn  btn-default" style="border-radius: 23px;margin-top:4px;background: transparent;border: 1px solid gray;padding: 8px 18px;font-size: .9rem;">
												Upload
												<img src="./assets/app/media/img/saino_icons/upload.png" style="width: 14px;margin-bottom: 4px;">
												<i [hidden]="!uploadShow2 "class="fa fa-spinner fa-spin" style="width: 16px;margin-right: 4px;background-color: white"></i>
	
												<input [disabled]="uploadShow2 || companyfilestatus==1" type="file" (change)="upload_2($event.target.files,$event.target)"/>
											</label>
										</div>
										<div class="col-lg-3" style="text-align: center;">
												<div *ngIf="companyfilestatus==1" >
														<button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Approved</button>
													</div>
													<div *ngIf="companyfilestatus==0"  >
														<button class="btn m-btn--pill custom_btn1 btn-warning" style="padding: 5px 15px;min-width: 100px" >Pending</button>
													</div>
													<div *ngIf="companyfilestatus==2"  >
															<button class="btn m-btn--pill custom_btn1 btn-danger" style="padding: 5px 15px;min-width: 100px" >Rejected</button>
														</div>
	
											<!-- <button class="btn m-btn--pill custom_btn1 btn-focus" style="" disabled="disabled">Rejected</button> -->
										</div>
										<div class="col-lg-1"></div>
									</div>
									<div class="row" [hidden]="showKyc">
											<div class="col-lg-1"></div>
											<div class="col-lg-4">
												<div  style="text-align: center;border:lightseagreen 1px dotted;padding-top:5px;padding-bottom:5px;margin-left: 30px;margin-right: 30px">
													<span >NDNC Letter(Only For SMS)</span>
													<div >
														<a href="#" style="padding: 10px;text-decoration: none;font-weight: 500;font-size: 10px;">
															Download Sample File
														</a>
													</div>
													
												</div>
											</div>
										
										<div class="col-lg-3" style="text-align: center;">
											<label  class="btn-bs-file btn  btn-default" style="border-radius: 23px;margin-top:4px;background: transparent;border: 1px solid gray;padding: 8px 18px;font-size: .9rem;">
												Upload
												<img src="./assets/app/media/img/saino_icons/upload.png" style="width: 14px;margin-bottom: 4px;">
												   <i [hidden]="!uploadShow3"class="fa fa-spinner fa-spin" style="width: 16px;margin-right: 4px;background-color: white"></i>
	
												<input [disabled]="uploadShow3 || ndncfilestatus==1" type="file" (change)="upload_3($event.target.files,$event.target)"/>
											</label>
										</div>
										<div class="col-lg-3" style="text-align: center;">
												<div *ngIf="ndncfilestatus==1" >
														<button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Approved</button>
													</div>
													<div *ngIf="ndncfilestatus==0"  >
														<button class="btn m-btn--pill custom_btn1 btn-warning" style="padding: 5px 15px;min-width: 100px" >Pending</button>
													</div>
													<div *ngIf="ndncfilestatus==2"  >
															<button class="btn m-btn--pill custom_btn1 btn-danger" style="padding: 5px 15px;min-width: 100px" >Rejected</button>
														</div>
											<!-- <button class="btn m-btn--pill custom_btn1 btn-brand" style="" disabled="disabled">Pending</button> -->
										</div>
									</div>
									<div class="col-lg-1"></div>
								
								
								<div class="row"  [hidden]="!showKyc">
									<div class="col-lg-4"></div>
									<div class="col-lg-4" style="display: flex;justify-content: center;">
										<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
				  
								  </div>
									<div class="col-lg-4"></div>
								</div>
							</div>
							<div class="m-portlet__foot m-portlet__foot--fit">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-4"></div>
										<div class="col-7">
											<button type="submit" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"  (click)="updateProfile()"  style="padding: 15px 25px;">
												Save 
											</button>
										
											&nbsp;&nbsp;
											<button (click)="resetData()" class="btn m-btn--pill btn-outline-danger m-btn m-btn--custom " style="padding: 15px 25px;">
												Cancel
											</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						<div class="row"  [hidden]="!show_loading">
								<div class="col-lg-4"></div>
								<div class="col-lg-4" style="display: flex;justify-content: center;">
									<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
			  
							  </div>
								<div class="col-lg-4"></div>
						</div>
					</div>

					<div class="tab-pane" id="m_user_profile_tab_2">
						<form [hidden]="show_loading" class="m-form m-form--fit m-form--label-align-right">
							<div class="m-portlet__body">
						<div class="row">
							<h6 class="col-lg-10" style="margin-left: 5%">
								We recommend you to change your password at regular intervals to prevent misuse of your account.Password Should Contain Alphabet,Number and Special Character.
							</h6>
						</div>
						<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<div class="col-2">
									</div>
									<label for="example-text-input" class="col-2 col-form-label">
										Current Password
									</label>
									<div class="col-4">
										<input [(ngModel)]="old_pwd" class="form-control m-input" type="password" name="old_pwd" >
									</div>
						</div>
						<div class="form-group m-form__group row" style="padding-bottom: 0px;padding-top: 0px;padding-top: 15px">
									<div class="col-2">
									</div>
									<label for="example-text-input" class="col-2 col-form-label">
										New Passowrd
									</label>
									<div class="col-4">
										<input [(ngModel)]="new_pwd" class="form-control m-input" type="password" name="new_pwd">
									</div>
						</div>
						<div class="form-group m-form__group row" style="padding-bottom: 0px">
									<div class="col-2">
									</div>
									<label for="example-text-input" class="col-2 col-form-label">
										Confirm Password
									</label>
									<div class="col-4">
										<input [(ngModel)]="conf_new_pwd"  class="form-control m-input" type="password" name="conf_new_pwd">
									</div>
						</div>
						<div class="m-portlet__foot m-portlet__foot--fit" style="border: none;">
								<div class="m-form__actions">
									<div class="row">
										<div class="col-4"></div>
										<div class="col-7">
											<button type="reset" (click)="update_pwd()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="padding: 15px 25px;">
												Save 
											</button>
											
											&nbsp;&nbsp;
											<button type="reset" class="btn m-btn--pill    btn-outline-danger m-btn m-btn--custom" style="padding: 15px 25px;">
												Cancel
											</button>
											
										</div>
									</div>
								</div>
							</div>
							</div>
						</form>
						<div class="row"  [hidden]="!show_loading">
							<div class="col-lg-4"></div>
							<div class="col-lg-4" style="display: flex;justify-content: center;">
								<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
		  
						  </div>
							<div class="col-lg-4"></div>
						</div>
					</div>
					<div class="tab-pane" id="m_user_profile_tab_3">
							
						<div class="row" style="margin: 5%">
							When You Enable This Feature, It Adds An Additional Layer of Security To Your Account. When You Try Logging In, After Providing Username and Password, You Will be Asked For a Two Factor Authentication Code That is Delivered via SMS & Email.
						</div>
						<div class="row" style="margin-left: 5%">
							<div class="col-xl-6 col-lg-6">
								<h3>Enable Two Factor Authentication</h3>
							</div>
							<!-- <div class="col-lg-2"></div> -->
							<div class="col-lg-3">
								<span class="m-switch m-switch--icon" >
									<label>
			                        <input [(ngModel)]="sec_value" (change)="update_2fa()" type="checkbox" [checked]="status_2fa" name="">
			                        <span></span>
			                        </label>
			                    </span>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="m_user_profile_tab_4">
						<div class="row" style="margin-left: 5%;margin-top: 5%">
							<h5>
								Last Five Login Details
							</h5>
						</div>
						<div class="row" style="margin-left: 5%">
							<table style="width: 95%">

							  <tr style="background: #c5cbe4">
							    <th style="width: 5%">Sr</th>
							    <th style="width: 45%">Browser</th>
							    <th style="width: 25%">IP Address</th>
							    <th style="width: 25%">Date & Time</th>
							  </tr>
							  <tr [hidden]="show_loading" *ngFor="let data of login_history; let index = index" [ngStyle]="{'background': index%2!=0 ? ' #f2f2f2' : 'white' }">
							    <td>{{index+1}}</td>
							    <td>{{data.browser.split(" ")}}</td>
							    <td>{{data.user_ip}}</td>
							    <td>{{data.login_date}}</td>
							  </tr>
							</table>
							

						</div>
						<div class="row"  [hidden]="!show_loading">
								<div class="col-lg-4"></div>
								<div class="col-lg-4" style="display: flex;justify-content: center;">
									<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
			  
							  </div>
								<div class="col-lg-4"></div>
						</div>
					</div>
				</div>
			</div>


			
<div class="modal fade" id="verify" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		  <div class="modal-content" style="min-height: 250px;padding: 20px">

					<div class="modal-header">
						<div class="container">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
						  </button>
							<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Verify Your Mobile</h5>
						  
						
						
					  </div>
					</div>
					<div class="row" style="text-align:center;margin-top:10px">
				<div class="col-lg-2">

				</div>
				<div class="col-lg-8">
						<h6>Please Enter One-Time-Password sent to this Number<strong >  {{p_no_otp}}</strong></h6> 

				</div>
				<div class="col-lg-2"></div>	
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-lg-3"></div>
							<label class="col-2 col-form-label">
								Enter OTP
							</label>
							<div class="col-4">
								<input  [(ngModel)]="Otp_entered" class="form-control m-input" type="text" name="otp" maxlength="4" >
							</div>
					</div>
					<div class="row" style="margin-top:15px">
						<div class="col-lg-5"></div>
						<div class="col-lg-4">
							<button type="submit" (click)="verifyOtp()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"  style="padding: 15px 25px;">
									Validate
							</button>
						</div>
						<div class="col-lg-4"></div>
					</div>
					
		  </div>
		</div>
	  </div>



	  <div class="modal fade" id="verifyEmail" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
			  <div class="modal-content" style="min-height: 250px;padding: 20px">
	
						<div class="modal-header">
							<div class="container">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
							  </button>
								<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Verify Your Email</h5>
							  
							
							
						  </div>
						</div>
						<div class="row" style="text-align:center;margin-top:10px">
					<div class="col-lg-2">
	
					</div>
					<div class="col-lg-8">
							<h6>Please Enter One-Time-Password sent to this Email <strong>{{changedEmail}}</strong></h6> 
	
					</div>
					<div class="col-lg-2"></div>	
						</div>
						<div class="row" style="margin-top:10px;">
							<div class="col-lg-3"></div>
								<label class="col-2 col-form-label">
									Enter OTP
								</label>
								<div class="col-4">
									<input class="form-control m-input" [(ngModel)]="email_otp"  type="text" name="otp" maxlength="4" >
								</div>
						</div>
						<div class="row" style="margin-top:15px">
							<div class="col-lg-5"></div>
							<div class="col-lg-4">
								<button type="submit"(click)="verifyOtpMail()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air"  style="padding: 15px 25px;">
										Validate
								</button>
							</div>
							<div class="col-lg-4"></div>
						</div>
						
			  </div>
			</div>
		  </div>