
<div class="m-content" style="margin-left: 5%">
	
        <div class="row">
            <div class="col-lg-12">
                    <div class="m-portlet m-portlet--tab">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <span class="m-portlet__head-icon m--hide">
                                        <i class="la la-gear"></i>
                                    </span>
                                    <h3 class="m-portlet__head-text">
                                        Last 9 Days Data
                                    </h3>
                                    
                                </div>
                            </div>
                            
                        
                            <button (click)="ninedayData()" [disabled]="chart1Loader" class="btn " style="background: transparent;padding: 0px;float: right;margin-right:10px;margin-top:20px ">
                                    <img src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
                                </button>
                        </div>
                        <div  [hidden]="chart1Loader" class="m-portlet__body">
                            <div id="m_amcharts_4" style="height: 500px;"></div>
                        </div>
                        <div  [hidden]="!chart1Loader" class="m-portlet__body">
                                <div class="row" >
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4" style="display: flex;justify-content: center;">
                                            <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
                      
                                      </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                        </div>
                        
                    </div>
                </div>
                <!--end::Portlet-->
            </div>
        </div>