<!-- BEGIN: Subheader -->
<div  appunwraptag="" style="margin-left: 75px;margin-right: 10px">
	<div class="row"> 
<div class="m-content col-lg-12">
<div class="m-portlet m-portlet--mobile">
	<div  class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="row">
			<div class="col-lg-4" style="margin-bottom: 20px">
				<h4 >
					Download Report
				</h4>
			</div>
			<div class="row col-lg-8" >
					<div class="col-lg-2">
					</div>
					<div [hidden]="show_calendar" class="col-lg-6">
		
					</div>
					<div class="col-lg-3">
						<div class="form-group m-form__group row">
							<div class="col-lg-12 col-md-9 col-sm-12">
								<select [(ngModel)]="calendar_range" (change)="rangeChanged()"class="form-control m-bootstrap-select m_selectpicker">
									<option value="today">
										Today
									</option>
									<option value="7days">
										Last 7 days
									</option>
									<option value="15days">
										Last 15 days
									</option>
									<option value="month">
										Last month
									</option>
									<option value="custom">
											Custom
									</option>
								</select>
							</div>
						</div>
					</div>
					<div [hidden]="!show_calendar" class="col-lg-6" id="sandbox-container" >
						<div class="input-daterange input-group" id="datepicker">
							<span class="input-group-addon" style="text-align: center;margin-right: 5px">From</span>
							<!-- <input  type="text" class="input-sm form-control" name="start" /> -->
							<input type="text" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
							<span class="input-group-addon" style="text-align: center;">To</span>
							<!-- <input type="text" class="input-sm form-control" name="end" /> -->
							<input  type="text" class="form-control" id="m_datepicker_2" readonly="" placeholder="Select date">
		
						</div>
					</div>
					
		
					<div class="col-lg-1">
		
						<button class="btn " (click)="search_custom_date()" style="background: transparent;padding: 0px;">
							<img src="./assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
						</button>
					</div>
				</div>
		</div>
		
		
		<!--begin: Datatable -->

		<table style="width: 100%">
							  <tr style="background: #c5cbe4">
							    <th style="width: 10%;color: black;text-align: center;">Sr No</th>
							    <th style="width: 20%;color: black;text-align: center;">From Date</th>
							    <th style="width: 20%;color: black;text-align: center;">To Date</th>
							    <th style="width: 20%;color: black;text-align: center;">Requested</th>
							    <th style="width: 20%;color: black;text-align: center;">Prepared</th>
								<th style="width: 10%;color: black;text-align: center;">Status</th>
								<th style="width: 10%;color: black;text-align: center;">Action</th>
								
							  </tr>
							  <tr [hidden]="!show_status" style="background: #f2f2f2">
							    <td *ngIf="readystatus==2" style="width: 10%;text-align: center;"></td>
							    <td *ngIf="readystatus!=2" style="width: 10%;text-align: center;">1</td>
								<td style="width: 20%;text-align: center;">{{requested_fromdate}}</td>
							    <td style="width: 20%;text-align: center;">{{requested_todate}}</td>
								<td style="width: 20%;color: black;text-align: center;">{{requested}}</td>
								<td style="width: 20%;color: black;text-align: center;">{{ready}}</td>
									<td *ngIf="readystatus ===1" style="width: 15%;text-align: center;">
										<div >
											<button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Completed</button>
										</div>
								</td>
								<td *ngIf="readystatus ===0" style="width: 15%;text-align: center;">
										<div >
											<button class="btn m-btn--pill custom_btn1 btn-warning" style="padding: 5px 15px;min-width: 100px" >Reading</button>
										</div>
								</td>
								<td *ngIf="readystatus ===2" style="width: 15%;text-align: center;">
										
								</td>
								
							    <td style="width: 10%;text-align: center;">
							    	<a href="#">
						    			<img [hidden]="readystatus ==0" (click)="download()"src="./assets/app/media/img/saino_icons/download.png" style="width: 18px;margin-bottom: 4px;margin-left: 20%">
						    		</a>
							    </td>
							  </tr>
			</table>
			<!-- <div class="row"  [hidden]="!show_status">
					<div class="col-lg-4"></div>
					<div class="col-lg-4">
						<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;;margin-left: 20%;margin-top: 10%;">
				
					</div>
					<div class="col-lg-4"></div>
				</div> -->
			<!-- <div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div> -->
		<!--end: Datatable -->
	
	</div>
</div>
</div></div></div>
