<!-- BEGIN: Header -->
<header id="m_header" class="m-grid__item m-header"  minimize-offset="200" minimize-mobile-offset="200" appunwraptag="" style="box-shadow: 0px 3px 10px -2px rgba(26,22,26,0.13);
-webkit-box-shadow:  0px 3px 10px -2px rgba(26,22,26,0.13);
-moz-box-shadow: 0px 3px 10px -2px rgba(26,22,26,0.13)" >
	<div class="m-container m-container--fluid m-container--full-height">
		<div class="m-stack m-stack--ver m-stack--desktop">
			<!-- BEGIN: Brand -->
			<div class="m-stack__item m-brand  ">
				<div class="m-stack m-stack--ver m-stack--general">
					<div class="m-stack__item m-stack__item--middle m-stack__item--center m-brand__logo" style="z-index: 99999">
						<a routerLink="/index" class="m-brand__logo-wrapper">
							<img alt="" id="logo_" src="./assets/app/media/img//logos/saino_logo.png" style="max-height: 80px;max-width: 160px;" />
						</a>
					</div>
					<div class="m-stack__item m-stack__item--middle m-brand__tools">
						<!-- BEGIN: Responsive Aside Left Menu Toggler -->
						<!--<a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
							<span></span>
							<img src="./assets/app/media/img/saino_icons/apps.png" style="width: 20px">
						</a>-->
						<!-- END --> 			 							<!-- BEGIN: Responsive Header Menu Toggler -->
						<a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
							
								<img [hidden]="hidden" src="./assets/app/media/img/icons/menu.jpeg" style="width: 26px">
							
						</a>
						<!-- END --> 						  			<!-- BEGIN: Topbar Toggler -->
						<a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
							<i class="flaticon-more"(click)="isHidden()"></i>
						</a>
						<!-- BEGIN: Topbar Toggler -->
					</div>
				</div>
			</div>
			<!-- END: Brand -->
			<div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
				<!-- BEGIN: Horizontal Menu -->
				<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark" id="m_aside_header_menu_mobile_close_btn">
					<i class="la la-close"></i>
				</button>
				<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark" style="margin-left: 70px" >
					<ul class="m-menu__nav  m-menu__nav--submenu-arrow">
						
						<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"   m-menu-submenu-toggle="click" m-menu-link-redirect="1" aria-haspopup="true">
							<a  href="javascript:;" class="m-menu__link m-menu__toggle">
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											<img src="./assets/app/media/img/saino_icons/apps.png" style="width: 24px">
											Apps
										</span>
									</span>
								</span>
								<i class="m-menu__hor-arrow la la-angle-down"></i>
							</a>

							<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
								<span class="m-menu__arrow m-menu__arrow--adjust"></span>
								<ul class="m-menu__subnav">
									<li *ngIf="userapps.includes('bulk_sms')" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
										<a  routerLink="/app/bulk-sms" class="m-menu__link">	
																				
											<span class="m-menu__link-text">
													<img src="./assets/app/media/img/saino_icons/smsapp.png" style="width: 16px">
												Bulk SMS India
											</span>
										</a>
									</li>
									
									<!-- <li *ngIf="userapps.includes('inter_sms')" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"   m-menu-submenu-toggle="hover" m-menu-link-redirect="1" aria-haspopup="true">
										<a  routerLink="/crud/datatable_v1" class="m-menu__link m-menu__toggle">
											<span class="m-menu__link-text">
												International SMS
											</span>
										</a>
									</li> -->
									<li *ngIf="userapps.includes('bulk_voice')" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
										<a  routerLink="/app/voice-call/send" class="m-menu__link">
											<span class="m-menu__link-text">
													<img src="./assets/app/media/img/saino_icons/voicecall.png" style="width: 16px">
												Bulk Voice Call
											</span>
										</a>
									</li>
									<li *ngIf="userapps.includes('ivr_toll')" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
										<a  routerLink="/app/Ivr/dashboard" class="m-menu__link">
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
															<img src="./assets/app/media/img/saino_icons/tollfree.png" style="width: 16px">
														IVR and Toll Free
													</span>
												</span>
											</span>
										</a>
									</li>
									<li *ngIf="userapps.includes('missed_call')" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
										<a  routerLink="/app/missed-call/settings" class="m-menu__link">
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
															<img src="./assets/app/media/img/saino_icons/missedcall.png" style="width: 16px">
														Missed Call
													</span>
												</span>
											</span>
										</a>
									</li>
									<li *ngIf="userapps.includes('short_code')" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
										<a  routerLink="/app/short-code/dashboard" class="m-menu__link">
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
															<img src="./assets/app/media/img/saino_icons/shortcode.png" style="width: 16px">
														Short Code
													</span>
												</span>
											</span>
										</a>
									</li>
									<!-- <li *ngIf="userapps.includes('digital_marketing')" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
										<a  routerLink="/inner" class="m-menu__link">
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Digital Marketing
													</span>
												</span>
											</span>
										</a>
									</li> -->
									<!-- <li *ngIf="userapps.includes('seo')" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
										<a  routerLink="/inner" class="m-menu__link">
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														SEO
													</span>
												</span>
											</span>
										</a>
									</li>
									<li *ngIf="userapps.includes('chat_bots')" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
										<a  routerLink="/inner" class="m-menu__link">
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
														Chat Bots
													</span>
												</span>
											</span>
										</a>
									</li> -->
									<li *ngIf="userapps.includes('whatsapp')"  class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"   m-menu-link-redirect="1" aria-haspopup="true">
										<a  routerLink="/app/whatsapp/send" class="m-menu__link">
											<span class="m-menu__link-title">
												<span class="m-menu__link-wrap">
													<span class="m-menu__link-text">
															<img src="./assets/app/media/img/saino_icons/wapp.png" style="width: 16px">
														Whatsapp
													</span>
												</span>
											</span>
										</a>
									</li>
				
								</ul>
							</div>
						</li>
						<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" routerLinkActive="m-menu__item--open"  aria-haspopup="true" style="left: 20px;padding-top: 9px;">
							<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											<img alt="wallet-icon" src="./assets/app/media/img//icons/wallet.png" style="width: 18px;margin-bottom: 8px;" />
											<span class="m-menu__link-text"style="font-size: 1.35rem;margin-left: 12px; ">
											Wallet - &#8377; {{wallet_balance}}</span>
										</span>
									</span>
								</span>
										<a *ngIf="showWallet" (click)="routetoWallet()" class="btn m-btn m-btn--pill btn-accent" style="padding: 4px 15px;margin-bottom: 5px;margin-left:5px;">Add
										</a>
						</li>
					</ul>
				</div>
				
				
				<!-- END: Horizontal Menu -->								<!-- BEGIN: Topbar -->
				<div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general" style="margin-right: 35px">
					<div class="m-stack__item m-topbar__nav-wrapper">
							
						<ul class="m-topbar__nav m-nav m-nav--inline">
								<!-- <button type="button" class="btn m-btn--pill m-btn--air         btn-secondary m-btn m-btn--custom m-btn--label-danger">Danger</button> -->
										<button *ngIf="parentlogin=='true' && parentid!='0'" [disabled]="import_show" (click)="logoutFromUserAccount()" class="btn btn-metal m-btn--pill m-btn m-btn--icon" >
													<span>
														<i class="fa flaticon-user"></i>
														<span>Pre Admin</span>
														<i [hidden]="!import_show" class="fa fa-spinner fa-spin" style="width: 16px;margin-right: 4px;background-color: transparent"></i>

													</span>
												</button>
												
							<li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" m-dropdown-toggle="click" m-dropdown-persistent="1" style="margin: 0px 15px">
								<a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
									<span *ngIf="notification_number!=0" class="m-nav__link-badge m-badge" style="background-color:#6f42c1;color: white">
										{{notification_number}}
									</span>
									<span class="m-nav__link-icon">
										<i (click)="notificationsRead()" class="flaticon-alert-2"></i>
									</span>
								</a>
								<div class="m-dropdown__wrapper">
									<span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__header m--align-center" style="background: url(./assets/app/media/img/misc/notification_bg.jpg); background-size: cover;">
											<span *ngIf="notification_number!=0" class="m-dropdown__header-title">
												{{notification_number}} New
											</span>
											<span class="m-dropdown__header-subtitle">
													User Notifications
											</span>
										</div>
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
													<li class="nav-item m-tabs__item">
														<a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab">
															Alerts
														</a>
													</li>
												</ul>
												<!-- <div class="tab-content">
													<div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
														<div class="m-scrollable" data-scrollable="true" data-max-height="250" data-mobile-max-height="200">
															<div class="m-list-timeline m-list-timeline--skin-light">
																<div class="m-list-timeline__items">
																	<div class="m-list-timeline__item">
																		<span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
																		<span class="m-list-timeline__text">
																			12 new users registered
																		</span>
																		<span class="m-list-timeline__time">
																			Just now
																		</span>
																	</div>
																	<div class="m-list-timeline__item">
																		<span class="m-list-timeline__badge"></span>
																		<span class="m-list-timeline__text">
																			System shutdown
																			<span class="m-badge m-badge--success m-badge--wide">
																				pending
																			</span>
																		</span>
																		<span class="m-list-timeline__time">
																			14 mins
																		</span>
																	</div>
																	<div class="m-list-timeline__item">
																		<span class="m-list-timeline__badge"></span>
																		<span class="m-list-timeline__text">
																			New invoice received
																		</span>
																		<span class="m-list-timeline__time">
																			20 mins
																		</span>
																	</div>
																	<div class="m-list-timeline__item">
																		<span class="m-list-timeline__badge"></span>
																		<span class="m-list-timeline__text">
																			DB overloaded 80%
																			<span class="m-badge m-badge--info m-badge--wide">
																				settled
																			</span>
																		</span>
																		<span class="m-list-timeline__time">
																			1 hr
																		</span>
																	</div>
																	<div class="m-list-timeline__item">
																		<span class="m-list-timeline__badge"></span>
																		<span class="m-list-timeline__text">
																			System error -
																			<a href="#" class="m-link">
																				Check
																			</a>
																		</span>
																		<span class="m-list-timeline__time">
																			2 hrs
																		</span>
																	</div>
																	<div class="m-list-timeline__item m-list-timeline__item--read">
																		<span class="m-list-timeline__badge"></span>
																		<span href="" class="m-list-timeline__text">
																			New order received
																			<span class="m-badge m-badge--danger m-badge--wide">
																				urgent
																			</span>
																		</span>
																		<span class="m-list-timeline__time">
																			7 hrs
																		</span>
																	</div>
																	<div class="m-list-timeline__item m-list-timeline__item--read">
																		<span class="m-list-timeline__badge"></span>
																		<span class="m-list-timeline__text">
																			Production server down
																		</span>
																		<span class="m-list-timeline__time">
																			3 hrs
																		</span>
																	</div>
																	<div class="m-list-timeline__item">
																		<span class="m-list-timeline__badge"></span>
																		<span class="m-list-timeline__text">
																			Production server up
																		</span>
																		<span class="m-list-timeline__time">
																			5 hrs
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													
												</div> -->
												 <div class="tab-content"> 
													<div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
														<div class="m-scrollable" data-scrollable="true" data-max-height="250" data-mobile-max-height="200">
															<div class="m-list-timeline m-list-timeline--skin-light">
																<div class="m-list-timeline__items">
																	<div *ngIf="notifications.length>=1" class="m-list-timeline__item">
																		<span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
																		<span class="m-list-timeline__text" >
																			{{notifications[0]['message']}}
																			<a routerLink="/app/profile/alerts" class="m-link">
																					view
																				</a>
																		</span>
																		
																		<span class="m-list-timeline__time">
																			{{notifications[0]['time']}}
																		</span>
																	</div>
																	<div *ngIf="notifications.length>=2" class="m-list-timeline__item">
																		<span class="m-list-timeline__badge"></span>
																		<span class="m-list-timeline__text">
																				{{notifications[1]['message']}}
																				<a routerLink="/app/profile/alerts" class="m-link">
																					view
																				</a>
																		</span>
																		<span class="m-list-timeline__time">
																				{{notifications[1]['time']}}
																		</span>
																	</div>
																	<div *ngIf="notifications.length>=3" class="m-list-timeline__item">
																		<span class="m-list-timeline__badge"></span>
																		<span class="m-list-timeline__text">
																				{{notifications[2]['message']}}
																				<a routerLink="/app/profile/alerts" class="m-link">
																					view
																				</a>
																		</span>
																		<span class="m-list-timeline__time">
																				{{notifications[2]['time']}}

																		</span>
																	</div>
																	<div *ngIf="notifications.length>=4" class="m-list-timeline__item">
																		<span class="m-list-timeline__badge"></span>
																		<span class="m-list-timeline__text">
																				{{notifications[3]['message']}}
																				<a routerLink="/app/profile/alerts" class="m-link">
																					view
																				</a>
																		</span>
																		<span class="m-list-timeline__time">
																				{{notifications[3]['time']}}
																		</span>
																	</div>
																	<div *ngIf="notifications.length>=5" class="m-list-timeline__item">
																		<span class="m-list-timeline__badge"></span>
																		<span class="m-list-timeline__text">
																				{{notifications[4]['message']}}
																				<a routerLink="/app/profile/alerts" class="m-link">
																					view
																				</a>
																		</span>
																		<span class="m-list-timeline__time">
																				{{notifications[4]['time']}}
																		</span>
																	</div>
																	<div *ngIf="notifications.length>=6" class="m-list-timeline__item m-list-timeline__item--read">
																		<span class="m-list-timeline__badge"></span>
																		<span href="" class="m-list-timeline__text">
																				{{notifications[5]['message']}}
																				<a routerLink="/app/profile/alerts" class="m-link">
																					view
																				</a>
																		</span>
																		<span class="m-list-timeline__time">
																				{{notifications[5]['time']}}
																		</span>
																	</div>
																	<div *ngIf="notifications.length>=7" class="m-list-timeline__item m-list-timeline__item--read">
																		<span class="m-list-timeline__badge"></span>
																		<span class="m-list-timeline__text">
																				{{notifications[6]['message']}}
																				<a routerLink="/app/profile/alerts" class="m-link">
																					view
																				</a>
																		</span>
																		<span class="m-list-timeline__time">
																				{{notifications[6]['time']}}
																		</span>
																	</div>
																	<div *ngIf="notifications.length>=8" class="m-list-timeline__item m-list-timeline__item--read">
																		<span class="m-list-timeline__badge"></span>
																		<span class="m-list-timeline__text">
																				{{notifications[7]['message']}}
																				<a routerLink="/app/profile/alerts" class="m-link">
																					view
																				</a>
																		</span>
																		<span class="m-list-timeline__time">
																				{{notifications[7]['time']}}
																		</span>
																	</div>
																</div>
															</div>
														</div>
													</div>
													
												</div> 
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click">
								<a href="#" class="m-nav__link m-dropdown__toggle">
									<span class="m-topbar__userpic">
										<img src="./assets/app/media/img/users/user3.png" alt=""/>
									</span>
								</a>
								<div class="m-dropdown__wrapper">
									<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
									<div class="m-dropdown__inner">
										<div class="m-dropdown__header m--align-center" style="background-color: #7948e1">
										<!-- /* background: url(./assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;"> */ -->
											<div class="m-card-user m-card-user--skin-dark">
												<div class="m-card-user__pic">
													<img src="./assets/app/media/img/users/user3.png" alt=""/>
												</div>
												<div class="m-card-user__details">
													<span class="m-card-user__name m--font-weight-500">
														{{profile_name}}
													</span>
													<a href="" class="m-card-user__email m--font-weight-300 m-link" style="color:white">
														{{profile_email}}
													</a>
												</div>
											</div>
										</div>
										<div class="m-dropdown__body">
											<div class="m-dropdown__content">
												<ul class="m-nav m-nav--skin-light">
													<li class="m-nav__section m--hide">
														<span class="m-nav__section-text">
															Section
														</span>
													</li>
													<li  class="m-nav__item">
														<a routerLink="/dashboard" class="m-nav__link">
															<span class="m-nav__link-title">
																<span class="m-nav__link-wrap">
																	<span class="m-nav__link-text">
																	   <img src="./assets/app/media/img/saino_icons/home.png" style="width: 20px;margin-right: 4px">
																	All Apps	
																	</span>
																</span>
															</span>
														</a>
													</li>
													<li (click)="myprofileClicked()" class="m-nav__item">
														<a routerLink="/app/profile" class="m-nav__link">
															<span class="m-nav__link-title">
																<span class="m-nav__link-wrap">
																	<span class="m-nav__link-text">
																	   <img src="./assets/app/media/img/saino_icons/Profile2.png" style="width: 20px;margin-right: 4px">
																		My Profile
																	</span>
																</span>
															</span>
														</a>
													</li>
													<li *ngIf="showWallet" (click)="walletClicked()" class="m-nav__item">
														<a routerLink="/app/profile/wallet" class="m-nav__link">
															<span class="m-nav__link-text">
																	<img src="./assets/app/media/img/saino_icons/wallet.png" style="width: 20px;margin-right: 4px">

																Wallet
															</span>
														</a>
													</li>
													<!-- <li (click)="tranClicked()" class="m-nav__item">
														<a routerLink="/app/profile/transaction-history" class="m-nav__link">
															<span class="m-nav__link-text">
																	<img src="./assets/app/media/img/saino_icons/transactions.png" style="width: 20px;margin-right: 4px">

																Transaction History
															</span>
														</a>
													</li>
													<li (click)="alertClicked()" class="m-nav__item">
														<a routerLink="/app/profile/alerts" class="m-nav__link">
															<span class="m-nav__link-text">
																	<img src="./assets/app/media/img/saino_icons/bell.png" style="width: 20px;margin-right: 4px">

																Alerts
															</span>
														</a>
													</li> -->
													<li  (click)="apiClicked()" [ngClass]="'m-nav__item '" >
														<a routerLink="/app/profile/api" class="m-nav__link">
															<span class="m-nav__link-text">
																	<img src="./assets/app/media/img/saino_icons/api4.png" style="width: 20px;margin-right: 4px">
							
																API
															</span>
														</a>
													</li>
													<li *ngIf="userrole!='4'" class="m-nav__item">
														<a (click)="adminClicked()" style="cursor:pointer" class="m-nav__link">
															<span class="m-nav__link-text">
																	<img src="./assets/app/media/img/saino_icons/setting.png" style="width: 20px;margin-right: 4px">
																Admin
															</span>
														</a>
													</li>
													<li class="m-nav__item">
														<a routerLink="/snippets/pages/user/login-1" class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder" routerLink="/logout" style="border:1px solid">
															Logout
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</li>
							
						</ul>
					</div>
				</div>
				<!-- END: Topbar -->
			</div>
		</div>
	</div>
</header>
<!-- END: Header -->
