<div *ngIf="!view_dlr"><!-- BEGIN: Subheader -->
    <div  appunwraptag="" style="margin-left: 75px;margin-right: 10px">
        <div class="row"> 
    <div class="m-content col-lg-12">
    <div class="m-portlet m-portlet--mobile">
        <div  class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="row">
                <div class="col-lg-8">
                    <h4 >
                        Sent Report
                    </h4>
                </div>
                <div class="col-lg-4">
                        <input type="text" name="search"  [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
                        <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
                            <span><i class="la la-search"></i></span>
                        </span>
                </div>
                
            </div>
            
            <!--begin: Datatable -->
            <table style="width: 100%" style="margin-top:20px">
                                  <tr style="background: #c5cbe4">
                                    <th style="width: 5%;color: black;text-align: center;">Sr</th>
                                    <th style="width: 10%;color: black;text-align: center;">Sent Date</th>
                                    <th style="width: 10%;color: black;text-align: center;">Route</th>
                                    <th style="width: 30%;color: black;text-align: center;">Message</th>
                                    <th *ngIf="user_id==1" style="width: 10%;color: black;text-align: center;">User Name</th>
                                    <th style="width: 10%;color: black;text-align: center;">Sender ID</th>
                                    <th style="width: 10%;color: black;text-align: center;">Type</th>
                                    <th style="width: 5%;color: black;text-align: center;">Total SMS</th>
                                    <th style="width: 5%;color: black;text-align: center;">Credits</th>
                                    <th style="width: 5%;color: black;text-align: center;">Action</th>
                                  </tr>
                                  <tr  [hidden]="show_loading" *ngFor="let report of sent_report  |filter:searchText| paginate: { 
                                  id: 'ba',itemsPerPage: 10, currentPage: sent_report_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                                    <td style="width: 5%;text-align: center;">{{ (sent_report_p - 1) * 10 + i +1}}</td>
                                      <td style="width: 10%;text-align: center;">{{report.created_at}}</td>
                                    <td style="width: 10%;text-align: center;">{{report.az_rname}}</td>
                                    
                                    <td style="width: 30%;text-align: center;">{{report.message}}</td>
                                    <td *ngIf="user_id==1" style="width: 10%;text-align: center;">{{report.user_name}}</td>
    
                                    <td style="width: 10%;text-align: center;">{{report.senderid_name}}</td>
                                    <td style="width: 10%;text-align: center;">{{report.sms_type}}</td>
                                    <td style="width: 5%;text-align: center;">{{report.numbers_count}}</td>
                                    <td style="width: 5%;text-align: center;">{{report.msg_credit}}</td>
                                    
                                    <!-- <td style="width: 30%;text-align: center;">
                                        <button class="btn" style="border: none;background: transparent;padding: 0px;" (click)="show_dlr_sent_report(this.report.id)">
                                                    <img src="./assets/app/media/img/icons/eye.png" style="width: 24px;margin-bottom: 4px;">
                                        </button>
                                        <a href="#">
                                            <img src="./assets/app/media/img/icons/download.png" style="width: 18px;margin-bottom: 4px;">
                                        </a>
                                        <button class="btn" style="border: none;background: transparent;padding: 0px;" data-toggle="modal" data-target="#m_modal_5">
                                                <img src="./assets/app/media/img/icons/forward.png" style="width: 24px;margin-bottom: 4px;">
                                    </button>
                                    <button   class="btn" style="border: none;background: transparent;padding: 0px;" data-toggle="modal" data-target="#m_modal_resend">
                                            <img src="./assets/app/media/img/icons/resend.png" style="width: 24px;margin-bottom: 4px;">
                                </button>
                                    </td> -->
                                    <td style="width: 5%;text-align: center;">
    
                                            <ul style="list-style: none;display: inline-flex;padding-left: 0px;">
                                                    <li [hidden]="report.is_scheduled!=1" class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light">
                                                <button class="btn" style="border: none;background: transparent;" >
    
                                                    <img (click)="reSchedule(report)" src="./assets/app/media/img/icons/schedule.png" style="cursor:pointer;width: 24px;margin-top: 8px;">
                                                 </button>
                                                </li>
                                                <li [ngStyle]="{'padding-left':report.is_scheduled ===1 ? '0px' : '45px' }" class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click" style="    padding-top: 13px;">
                                            <a href="#" class="m-nav__link m-dropdown__toggle">
                                                <span class="m-topbar__userpic">
                                                    <img src="./assets/app/media/img/icons/dots.png" style="width: 20px;margin-top: 6px;position: relative;margin-right:40px;" alt=""/>
                                                </span>
                                            </a>
                                            <div class="m-dropdown__wrapper" style="width: 230px">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <ul class="m-nav m-nav--skin-light">
                                                                <li (click)="show_dlr_sent_report(report.id)" class="m-nav__item" style="cursor: pointer;margin-bottom: 2px;">
                                                                    <a  class="m-nav__link">
                                                                        <span class="m-nav__link-title">
                                                                            <span class="m-nav__link-wrap">
                                                                                <span class="m-nav__link-text" style="font-size: 14px;">
                                                                                        <img src="./assets/app/media/img/saino_icons/view.png" style="width: 16px;margin-bottom: 4px;margin-right: 2px">
                                                                                         View Detailed Report
                                                                            
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li class="m-nav__item" (click)="download(report)" style="cursor: pointer;margin-bottom: 2px;">
                                                                    <a  class="m-nav__link">
                                                                        <span class="m-nav__link-title">
                                                                            <span class="m-nav__link-wrap">
                                                                                <span class="m-nav__link-text" style="font-size: 14px;">
                                                                                        <img src="./assets/app/media/img/saino_icons/download.png" style="width: 16px;margin-bottom: 4px;margin-right: 2px">
                                                                                        Download 
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                                <li  [hidden]="user_id!='1' && parentId!='1' " (click)="repush(report)"  class="m-nav__item" style="cursor: pointer;margin-bottom: 2px;">
                                                                        <a  class="m-nav__link">
                                                                            <span class="m-nav__link-title">
                                                                                <span class="m-nav__link-wrap">
                                                                                    <span class="m-nav__link-text" style="font-size: 14px;">
                                                                                            <img src="./assets/app/media/img/saino_icons/repush.png" style="width: 16px;margin-bottom: 4px;margin-right: 2px">
                                                                                            Repush SMS
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                <li  (click)="resend(report)"  class="m-nav__item" style="cursor: pointer;margin-bottom: 2px;">
                                                                        <a  class="m-nav__link">
                                                                            <span class="m-nav__link-title">
                                                                                <span class="m-nav__link-wrap">
                                                                                    <span class="m-nav__link-text" style="font-size: 14px;">
                                                                                            <img src="./assets/app/media/img/saino_icons/resend.png" style="width: 16px;margin-bottom: 4px;margin-right: 2px">
                                                                                            Resend SMS
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                    <li [hidden]="user_id!='1' && parentId!='1' " (click)="updateDLR(report)" class="m-nav__item" style="cursor: pointer;">
                                                                        <a  class="m-nav__link">
                                                                            <span class="m-nav__link-title">
                                                                                <span class="m-nav__link-wrap">
                                                                                    <span class="m-nav__link-text" style="font-size: 14px;">
                                                                                            <img src="./assets/app/media/img/saino_icons/updatedlr.png" style="width: 16px;margin-bottom: 4px;margin-right: 2px">
                                                                                            Update DLR
                                                                                    </span>
                                                                                </span>
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                          <div class="schedule_detail_pop " id="schedule_{{report.id}}" style="display:none;"> 
                                                    <div class="row">
                                                    <div class="col-lg-8">
                                                        <label  style="font-size: 15px;padding-top: 10px;padding-left: 10px;float: left;">
                                                                <strong>Schedule Details</strong>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-4">
                                                            <button class="custom_btn btn"style="border: none;background: transparent;float: right">
                                                                    <span (click)="removePopup(report.id)" class="schedule_detail_pop_close_icon"><img src="./assets/app/media/img/icons/remove.png" width="28" height="28"></span>
                                                            </button>
                                                    </div>
                                                    </div>
                                                         <div > 
                                                                <div class="row" style="margin-top:5px"> 
                                                                    <div class="col-lg-1"></div>
                                                                    <div class="col-lg-5" style="float:right">
                                                                        Scheduled Time :
                                                                    </div>
                                                                    <div class="col-lg-5">
                                                                            {{report.scheduled_time}}
                                                                    </div>
                                                                    <div class="col-lg-1"></div>
                    
                                                                </div>
                                                                <div class="row" style="margin-top:5px"> 
                                                                        <div class="col-lg-1"></div>
                                                                        <div class="col-lg-5"  style="float:right">
                                                                            Current Status :
                                                                        </div>
                                                                        <div class="col-lg-5">
                                                                                <button *ngIf="report.is_scheduled==1 && !report.showResend" class="btn m-btn--pill custom_btn1 btn-warning" style="padding: 5px 15px;min-width: 100px" >Pending</button>
                                                                                <button *ngIf="report.is_scheduled==1 && report.showResend" class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Completed</button>
                                                                                <button *ngIf="report.is_scheduled==3" class="btn m-btn--pill custom_btn1 btn-danger" style="padding: 5px 15px;min-width: 100px" >Cancelled</button>
                                                                        </div>
                                                                        <div class="col-lg-1"></div>
                        
                                                                    </div>
                                                                    
                                                                    <div *ngIf="report.is_scheduled==1 && !report.showResend" class="row" style="margin-top:10px;">
                                                                        <div class="col-lg-5">
                                                                                <button (click)="deleteCampaign(report)" class="btn m-btn--pill custom_btn1 btn-warning" style="color:black;padding: 4px 14px;margin-left: 10px;" >
                                                                                        Delete Compaign</button>
                                                                        </div>
                                                                        <div class="col-lg-5">
                                                                                <button (click)="showDateAndTime=true" class="btn m-btn--pill custom_btn1 btn-success" style="color:black;padding: 4px 14px;margin-left: 10px" >
                                                                                        Reschedule Compaign</button>
                                                                        </div>
                    
                                                                    </div>
                                                                    <div class="row" [hidden]="!showDateAndTime"   style="margin-top:10px;">
                                                                        
                                                                            <div class="col-lg-4">
                                                                                    <div class="row">
                                                                                        <label class="col-form-label col-lg-3 col-sm-12">
                                                                                            Date
                                                                                        </label>
                                                                                        <div class="col-lg-9 input-group ">
                                                                                          <input id="date3"type="text" class="form-control datepicker" style="padding:8px">
                                                                                          <div class="input-group-addon">
                                                                                              <span class="glyphicon glyphicon-th"></span>
                                                                                          </div>
                                                                                      </div>
                                                                                  </div>
                                                                                </div>
                                                                                <div class="col-lg-4">
                                                                                    <div class="row">
                                                                                        <div class="form-group m-form__group row">
                                                                                          <label class="col-form-label col-lg-3 col-sm-12">
                                                                                              Time
                                                                                          </label>
                                                                                          <div class="col-lg-7 col-md-9 col-sm-12">
                                                                                              <input type='text' class="form-control"  id="m_timepicker_{{report.id}}" readonly placeholder="Select time">
                                                                                          </div>
                                                                                      </div>
                                                                                  </div>
                                                                                </div>
                                                                                <div class="col-lg-2">
                                                                                        <button (click)="schedule(report)" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="color:black;padding: 4px 14px;margin-top:8px;" >
                                                                                                Schedule</button>
                                                                                </div>	
                                                                                
                                                                    </div>
                                                                    
                                                            
                    
                    
                                      
                                                        </div>
                                                          </div>  
                                            </ul>
                    </td>
                                </tr>
                </table>
                <div class="row"  [hidden]="!show_loading">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="display: flex;justify-content: center;">
                        <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
    
                  </div>
                    <div class="col-lg-4"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                            <pagination-controls id="ba" (pageChange)="sent_report_p = $event" maxSize="9"
                              directionLinks="true"
                              autoHide="true"
                              previousLabel="Previous"
                              nextLabel="Next"
                              screenReaderPaginationLabel="Pagination"
                              screenReaderPageLabel="page"
                              screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            <!--end: Datatable -->
        
        </div>
    </div>
    </div></div></div>
    </div>
    <div *ngIf="view_dlr">
        <!-- BEGIN: Subheader -->
    <div  appunwraptag="" style="margin-left: 60px">
        <div class="row"> 
    <div class="m-content col-lg-12">
    <div class="m-portlet m-portlet--mobile">
        <div  class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="row">
                <div class="col-lg-7">
                    <h4 style="color: black">
                        DLR
                    </h4>
                </div>
                <div class="col-lg-3">
                        <input type="text" name="search"  [(ngModel)]="searchText1" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
                        <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
                            <span><i class="la la-search"></i></span>
                        </span>
                </div>
                <div class="col-lg-1" style="float:left">
                    <button class="btn m-btn--pill custom_btn" style="float:right;border: 1px solid gray;color: gray;padding: 4px 14px" (click)="back()">Back</button>
                </div>
                <div class="col-lg-1"></div>
            </div>		
            <!--begin: Datatable -->
    
            <table style="width: 100%;margin-top: 1%">
                                  <tr style="background: #c5cbe4">
                                    <th style="width: 12.5%;color: black;text-align: center;">Sr No</th>
                                    <th style="width: 12.5%;color: black;text-align: center;">Number</th>
                                    <th style="width: 12.5%;color: black;text-align: center;">Sender ID</th>
                                    <th style="width: 12.5%;color: black;text-align: center;">Sent Date</th>
                                    <th style="width: 12.5%;color: black;text-align: center;">Delivered Date</th>
                                    <th style="width: 12.5%;color: black;text-align: center;">Status</th>
                                    <th *ngIf="user_id==1" style="width: 12.5%;color: black;text-align: center;">DLR Response</th>
                                  </tr>
                                  <tr [hidden]="show_loading" *ngFor="let num of dlr_details  | filter:searchText1|paginate: { 
                                  id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                                    <td style="width: 12.5%;text-align: center;">{{ (p - 1) * 10 + i +1}}</td>
                                    <td style="width: 12.5%;text-align: center;">{{num.mobile_number}}</td>
                                    <td style="width: 12.5%;text-align: center;">{{num.senderid}}</td>
                                    <td style="width: 12.5%;text-align: center;">{{num.created_at}}</td>
                                    <td style="width: 12.5%;text-align: center;">{{num.delivered_date}}</td>
                                    <td style="width: 12.5%;text-align: center;">{{num.status}}</td>
                                    <td *ngIf="user_id==1" style="width: 12.5%;text-align: center;">{{num.testing}}</td>
                                   <!-- <td style="width: 12.5%;;text-align: center;">
                                        <a href="#">
                                            <img src="./assets/app/media/img/icons/download.png" style="width: 18px;margin-bottom: 4px;margin-left: 20%">
                                        </a>
                                    </td>-->
                                    
                                   
                                </tr>
                </table>
                <div class="row"  [hidden]="!show_loading">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="display: flex;justify-content: center;">
                        <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
    
                  </div>
                    <div class="col-lg-4"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                            <pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
                              directionLinks="true"
                              autoHide="true"
                              previousLabel="Previous"
                              nextLabel="Next"
                              screenReaderPaginationLabel="Pagination"
                              screenReaderPageLabel="page"
                              screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
            <!--end: Datatable -->
        
        </div>
    </div>
    </div></div></div>
    
    </div>
    
    <!-- <div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
        
              
    
            </div>
          </div> -->
    
    
    
          <div  class="modal fade"  id="m_modal_resend" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
                  <div [hidden]="show_modal_loading" class="modal-content" style="height: 400px;padding: 20px">
      
                            <div class="modal-header">
                                <div class="container">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                  </button>
                                    <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Resend SMS</h5>
                                </div>
                            </div>
                            
                                    <div class="row" style="font-size: 16px;margin: 15px;">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-4" >
                                            <span style="padding-right: 10px;font-weight: 500;">Route:</span>
                                            <span>{{r_route}}</span>
                                            
                                        </div>
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-4">
                                            <span style="padding-right: 10px;font-weight: 500;">Sender ID:</span>
                                            <span>{{r_senderid}}</span>
                                            
                                      </div>
                                      <div class="col-lg-1"></div>
                                    </div>
                                    <div class="row" style="font-size: 16px;margin: 15px;">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-8" >
                                            <span style="padding-right: 10px;font-weight: 500;">Message:</span>
                                            <span>{{r_message}}</span>
                                            
                                        </div>
                                        <div class="col-lg-2" >
                                                <span style="padding-right: 10px;font-weight: 500;">SMS: </span>
                                                <span>{{r_sms}}</span>
                                            </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                    
                                    <div class="row" style="font-size: 16px;margin: 15px;">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-3" >
                                            <span style="padding-right: 10px;font-weight: 500;">Characters:</span>
                                            <span>{{r_characters}}</span>
                                            
                                        </div>
                                        <div class="col-lg-3" >
                                                <span style="padding-right: 10px;font-weight: 500;">Credits:</span>
                                                <span>{{r_credits}}</span>
                                            </div>
                                        <div class="col-lg-3">
                                                <label class="m-checkbox m-checkbox--focus" style="margin-left: 32%;color: black;margin-top: 5px;font-size: 15px;font-weight: 500;">
                                                        <input type="checkbox" name="schedule" (change)="rScheduleChanged()" [(ngModel)]="r_schedule">
                                                        Schedule
                                                        <span style="border: 1px solid #bdc3d4;"></span>
                                                    </label>
                                        </div>
                                    
                                        <div class="col-lg-1"></div>
                                    </div>
                                    <div [hidden]="!r_schedule" class="row" style="font-size: 16px;margin: 15px;">
                                        <div class="col-lg-1"></div>
                                        <div class="col-lg-3" >
                                            <span style="padding-right: 10px;font-weight: 500;">Timezone: </span>
                                            <!-- <span>{{r_timezone}}</span> -->
                                        
                                        </div>
                                        <div class="col-lg-6">
                                            <select  id="selectpicker3" data-dropup-auto="false" data-size="5"  [ngModelOptions]="{standalone: true}" [(ngModel)]="r_timezone" class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
                                                <option [disabled]="true" [selected]="true">Select Timezone</option>
                                                <optgroup *ngFor="let c of timezoneobject" label={{c}}>
                                                    <option *ngFor="let timezone of timezoneDropdown[c]"[selected]="r_timezone==timezone" >{{timezone}}</option>
                                                </optgroup>
                                                </select>
                                        </div>
                                    
                                    </div>
                                    
                                    <div [hidden]="!r_schedule" class="row" style="font-size: 16px;margin: 15px;">
                                            <div class="col-lg-1"></div>
                                            <div class="col-lg-4" style="margin-left: 16px;">
                                                    <div class="row">
                                                            <div class="form-group m-form__group row">
                                                                    <label class="col-form-label col-lg-3 col-sm-12" style="font-weight:500">
                                                                        Date:
                                                                    </label>
                                                                    <div class="col-lg-9 col-md-9 col-sm-12 input-group">
                                                                            <input id="date1"type="text" class="form-control datepicker" style="height: 35px;">
                                                                            <div class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-th"></span>
                                                                            </div>														
                                                                        </div>
                                                                </div>											
                                                  </div>
                                                </div>
                                                <div class="col-lg-4" style="margin-left: 30px;">
                                                    <div class="row">
                                                        <div class="form-group m-form__group row">
                                                          <label class="col-form-label col-lg-3 col-sm-12" style="font-weight:500">
                                                              Time:
                                                          </label>
                                                          <div class="col-lg-9 col-md-9 col-sm-12">
                                                              <input type='text' class="form-control"  id="m_timepicker_1" readonly placeholder="Select time">
                                                          </div>
                                                      </div>
                                                  </div>
                                                </div>
                                    
                                    
                                    </div>
    
                                    <div class="row" style="font-size: 16px;margin: 15px;">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-1" >	</div>
                                        <div class="col-lg-3" >
                                            <button class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms" (click)="resendSave()"  style="margin-left: 20px" ><i class="fa flaticon-clock-1"></i> &nbsp;Resend</button>
                                        </div>
                                        
                                        <div class="col-lg-3"></div>
                                        
                                        
                                    
                                        
                                    </div>
                  </div>
    
    
                  <div [hidden]="!show_modal_loading" class="modal-content" style="min-height: 400px;padding: 20px">
                    <div class="row"  >
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4" style="display: flex;justify-content: center;">
                                <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
          
                          </div>
                            <div class="col-lg-4"></div>
                        </div>
            </div>
                </div>
              </div>
    
    
    
    
              <div  class="modal fade"  id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
                            <div [hidden]="show_modal_loading" class="modal-content" style="min-height: 250px;padding: 20px">
    
                                    <div class="modal-header">
                                        <div class="container">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                          </button>
                                            <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Repush</h5>
            
                    <div class="row" style="margin-top:20px;">
                                                    
                                                            <div class="col-lg-1"></div>
                                                            <div class="col-lg-3" style="padding: 7px;text-align: right;">
                                                                <span>Select Status</span>
                                                            </div>
                                                            <div class="col-lg-7">
                                                                    <select    id="selectpick1" [(ngModel)]="status_"  data-actions-box="true" multiple class="form-control m-bootstrap-select selectpicker m_selectpicker" >
                                                                             
                                                                            <option value="Delivered">Delivered</option>
                                                                            <option value="Submitted">Submitted</option>
                                                                            <option value="dndfailed">DNDFailed</option>
                                                                            <option value="Cancelled">Cancelled</option>
                                                                            <option value="Others">Others</option>
                                                                            
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-1"></div>
                                            </div>
                                            <div class="row"  style="margin-top:5px;">
                                                    
                                                    <div class="col-lg-1"></div>
                                                    <div class="col-lg-3" style="padding: 7px;text-align: right;">
                                                        <span>Select DLR</span>
                                                    </div>
                                                    <div class="col-lg-7">
                                                            <select    id="selectpick2" [(ngModel)]="dlr_type_"  data-actions-box="true" multiple class="form-control m-bootstrap-select selectpicker m_selectpicker" >
                                                                    <option value="kannel_dlr">Kannel DLR</option>
                                                                    <option value="manual_dlr">Manual DLR</option>		 
                                                                    
                                                                    
                                                        </select>
                                                            
                                                    </div>
                                                    <div class="col-lg-1"></div>
                                            </div>
                                            
                                            <div class="row" style="margin-top:5px;">
                                                    <div class="col-lg-1"></div>
                                                    <div class="col-lg-3" style="padding: 7px;text-align: right;">
                                                        <span>Select Route</span>
                                                    </div>
                                                        <div class="col-lg-7 col-md-9 col-sm-12">
                                                            <select [(ngModel)]="route_" id="selectpicker4" class=" form-control m-bootstrap-select m_selectpicker selectpicker " data-live-search="true">
                                                                    <option  [disabled]="true" [selected]="route_==''"></option>
                                                                    <option *ngFor="let gway of routes_list" value="{{gway.az_gateway_name}}" [selected]="route_==gway.az_gateway_name">{{gway.az_rname}}</option>
                                                            </select>
                                                        </div>
                                            </div>
                                            
                                            
                                            <div class="row "  style="margin-left: 4%;">
                                              <button (click)="repush_save()"  class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="margin-top: 20px;margin-left: 42%;padding: 10px 30px;" >Send</button>
                
                                          </div>
                                      </div>
                                    </div>
                          </div>
                <div [hidden]="!show_modal_loading" class="modal-content" style="min-height: 250px;padding: 20px">
                        <div class="row"  >
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4" style="display: flex;justify-content: center;">
                                    <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
              
                              </div>
                                <div class="col-lg-4"></div>
                            </div>
                </div>
                    </div>
                  </div>
    
    
    
    
                  <div  class="modal fade"  id="m_modal_update" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" style="max-width: 850px" role="document">
                      <div  [hidden]="show_modal_loading" class="modal-content" style="height: 500px;padding: 20px;margin-left:10px;">
          
                                <div class="modal-header">
                                    <div class="container">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                      </button>
                                        <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Update DLR</h5>
                                    </div>
                                </div>
                                
                                    
                                            <div [hidden]="show_dlr_count" class="row" style="margin-top:15px;margin-left: 10px;">
                                                
                                                <div class="col-lg-2" style="margin-left:10px;"><font size="2" color="#999999" face="Serif"><b>DNDFailed</b></font>:  {{DNDFailed}}</div>
                                                <div class="col-lg-2" ><font size="2" color="#999999" face="Serif"><b>Delivered</b></font>:  {{Delivered}}</div>
                                                <div class="col-lg-2" ><font size="2" color="#999999" face="Serif"><b>Other</b></font>:  {{Other}}</div>
                                                <div class="col-lg-2" ><font size="2" color="#999999" face="Serif"><b>Submitted</b></font>:  {{Submitted}}</div>
                                                <div class="col-lg-3" ><font size="2" color="#999999" face="Serif"><b>Numbers count</b></font>:  {{numbers_count}}</div>
                                            </div>
                                            <div class="row"  [hidden]="!show_dlr_count">
                                                <div class="col-lg-4"></div>
                                                <div class="col-lg-4" style="display: flex;justify-content: center;">
                                                    <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
                              
                                              </div>
                                                <div class="col-lg-4"></div>
                                            </div>
    
                                            <div class="row" style="margin-top:20px;margin-bottom: 10px;">
                                                    
                                                <div class="col-lg-6 row" style="margin-left:10px;">
                                                    <div class="col-lg-3" style="padding: 7px;text-align: right;">
                                                        <span>Limit</span>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <input class="form-control m-input" type="text"  [(ngModel)]="Dlrlimit" placeholder="Limit" name="limit"  autocomplete="off" required  >
        
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 row" style="margin-left:10px;">
                                                    <div class="col-lg-3" style="padding: 7px;text-align: right;">
                                                        <span>DLR Type</span>
                                                    </div>
                                                    <div class="col-lg-9">
                                                            <select (change)="dlrTypeChanged()"   id="selectpickDLRtype" [(ngModel)]="DLR_type"   class="form-control m-bootstrap-select selectpicker m_selectpicker" >
                                                                     
                                                                    <option [disabled]="show_dlr_count" value="all">All</option>
                                                                    <option [disabled]="show_dlr_count" value="original">Original</option>
                                                                    <option [disabled]="show_dlr_count" value="updated">Updated</option>
                                                                    
                                                                    
                                                        </select>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                            
                                            <div class="row" style="margin-top:10px;margin-bottom: 10px;">
                                                    
                                                <div class="col-lg-6 row" style="margin-left:10px;">
                                                    <div class="col-lg-3" style="padding: 7px;text-align: right;">
                                                        <span>From Status</span>
                                                    </div>
                                                    <div class="col-lg-9">
                                                            <select  title="Nothing Selected"   id="selectpickDLR" [(ngModel)]="DLR_from"   class="form-control m-bootstrap-select selectpicker m_selectpicker" >
                                                                    
                                                                    <option  [disabled]="DLR_to=='Delivered'" value="Delivered">Delivered</option>
                                                                    <option  [disabled]="DLR_to=='Submitted'" value="Submitted">Sent</option>
                                                                    <option  [disabled]="DLR_to=='DNDFailed'" value="DNDFailed">DND Failed</option>
                                                                    <option [disabled]="DLR_to=='Others'" value="Others">Others</option>
                                                                    
                                                        </select>
                                                    </div>
                                                </div>										
                                                <div class="col-lg-6 row" style="margin-left:10px;">
                                                        <div class="col-lg-3" style="padding: 7px;text-align: right;">
                                                                <span>To Status</span>
                                                            </div>
                                                            <div class="col-lg-9">
                                                                    <select  title="Nothing Selected"  id="selectpickDLR" [(ngModel)]="DLR_to"   class="form-control m-bootstrap-select selectpicker m_selectpicker" >
                                                                             
                                                                        <option [disabled]="DLR_from=='Delivered'" value="Delivered">Delivered</option>
                                                                        <option [disabled]="DLR_from=='Submitted'" value="Submitted">Sent</option>
                                                                        <option  [disabled]="DLR_from=='DNDFailed'"value="DNDFailed">DND Failed</option>
                                                                        <option [disabled]="DLR_from=='Others'" value="Others">Others</option>
                                                                            
                                                                </select>
                                                            </div>
                                                </div>								
                                                
                                            </div>
                                            
                                        
                                        <div  class="row" style="font-size: 16px;margin: 15px;">
                                            
                                            
                                            <div class="col-lg-3">
                                                <div class="row">
                                                        <label style="font-weight: 500" class="col-form-label col-lg-3 col-sm-3">
                                                                Date:
                                                            </label>
                                                    <div class="col-lg-9 input-group ">
                                                      <input id="date2"type="text" class="form-control datepicker">
                                                      <div class="input-group-addon">
                                                          <span class="glyphicon glyphicon-th"></span>
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="row">
                                                    <div class="form-group m-form__group row">
                                                      <label style="padding-left:30px;font-weight: 500" class="col-form-label col-lg-6 col-sm-6">
                                                          Start Time
                                                      </label>
                                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                                          <input type='text' class="form-control"  id="m_timepicker_10_modal" readonly placeholder="Select time">
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                            <div class="col-lg-5" >
                                                <div class="row">
                                                    <div class="form-group m-form__group row">
                                                      <label  style="padding-left:60px;font-weight: 500" class="col-form-label col-lg-6 col-sm-6">
                                                          End Time
                                                      </label>
                                                      <div class="col-lg-6 col-md-6 col-sm-6">
                                                          <input type='text' class="form-control"  id="m_timepicker_11_modal" readonly placeholder="Select time">
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="datetimepicker-minutes" style="display:block"></div>
                                        <div class="row" style="font-size: 16px;margin: 15px;">
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-1" >	</div>
                                            <div class="col-lg-3" >
                                                <button (click)="updateDlrSend()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="update_dlr"   style="margin-left: 20px" ><i class="fa flaticon-clock-1"></i> &nbsp;Update</button>
                                            </div>
                                            
                                            <div class="col-lg-3"></div>
                                            
                                            
                                        
                                            
                                        </div>
                      </div>
                     
    
                      <div [hidden]="!show_modal_loading" class="modal-content" style="min-height: 500px;padding: 20px">
                        <div class="row"  >
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4" style="display: flex;justify-content: center;">
                                    <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
              
                              </div>
                                <div class="col-lg-4"></div>
                            </div>
                </div>
    
    
                    </div>
                  </div>