
<!-- <div class="m-content" style="margin-left: 240px;margin-top: 105px;margin-right: 25px;padding-top: 30px;background: white;"> -->
	
		<!-- <div class="row" style="margin-bottom: 10px">
			<div class="col-lg-8">
			</div>
			<div class="col-lg-3">
				<select  data-dropup-auto="false" data-size="5"  class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
					<option [disabled]="true" [selected]="true">Select Keyword</option>
					</select>			</div>
			<div class="col-lg-1">
				<button class="btn " style="background: transparent;padding: 0px;">
					<img src="assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
				</button>
			</div>
		</div> -->
	<div class="row" style="margin-left: 240px;margin-top: 105px;margin-right: 25px;padding-top: 5px;">
		<div class="col-lg-12">
			<div class="m-portlet m-portlet--tab">
				<!-- <div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								Simple Column Chart
							</h3>
						</div>
					</div>
				</div> -->
				<div class="m-portlet__head">
						<div class="row" style="padding-top:15px">
								<div class="col-lg-4">
										<div class="row">			
												<span class="m-portlet__head-icon m--hide">
														<i class="la la-gear"></i>
													</span>
													<h3 class="m-portlet__head-text" style="display: block;
													vertical-align: middle;
													font-size: 1.2rem;
													font-weight: 500;
													font-family: Roboto;
													padding-top: 10px"									
													>
														Total Analysis of Sent SMS
													</h3>
										</div>
								</div>	
								<div class="col-lg-4"></div>	
								<div class="col-lg-3">
										<select  data-dropup-auto="false" data-size="5"  class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
											<option [disabled]="true" [selected]="true">Select Keyword</option>
											<!-- <option *ngFor="let c of currencyDropdown " [selected]="User_details.currency==c.country">{{c.country}}</option> -->
											</select>			</div>
									<div class="col-lg-1">
										<button class="btn " style="background: transparent;padding: 0px;">
											<img src="assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
										</button>
									</div>
							</div>
				</div>
				
				<div class="m-portlet__body">
					<div id="chartdiv" style="height: 500px;"></div>
				</div>
			</div>
		</div>
			<!--end::Portlet-->
		</div>
	<!-- </div> -->



