
    
        <!-- BEGIN: Subheader -->
    




<div [hidden]="downloadReportActive">  
      <div appunwraptag="" *ngIf="!showvisits && !showgraph" style="margin-left:75px;margin-right: 10px">
            <div class="row"> 
                   
        <div class="m-content col-lg-12" style="padding-bottom: 0px">
        <div class="m-portlet m-portlet--mobile" style="margin-bottom: 0px">           
            <div  class="m-portlet__body">
                <!--begin: Search Form -->
                <!-- <div class="row" style="text-align: left">
                    <div class="col-lg-12">
                        <h4 >
                            India Connectivity
                        </h4>
                    </div>
                </div> -->
                
                <!--begin: Datatable -->
                <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <div class="row align-items-center">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-4">
                                        <input type="text" name="search"  [(ngModel)]="searchshortlink" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
                                                    <!-- <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;"> -->
                                                        <!-- <span><i class="la la-search"></i></span> -->
                                                    <!-- </span> -->
                                    </div>
                            <!-- <div class="col-lg-2">
                            <button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px"  (click)="addgroup()">
                                <!-- <img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px">  
                                <i class="la la-plus"></i>Add Group
                            </button>
                            </div> -->
                            <div class="col-lg-2">
                            <button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px;display: flex"  (click)="openCreateShortlink()">
                            <!-- <img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px"> -->
                            <span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>
                            Add Short Link</button>
                            </div>
                            <div class="col-lg-2">
                                    <button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px;display: flex"  (click)="navigateToDownloadReport()">
                                           Download Report</button>
                            </div>
                            
                            
                        </div>
                    </div>
                    
            <div style="margin-top: 20px"></div>
                                     
            <table style="width: 100%">
                <tr style="background: #c5cbe4">
                  <th style="color: black;text-align: center;">Sr</th>
                  <th style="color: black;text-align: center;">Title</th>
                  <th style="color: black;text-align: center;">Description</th>
                  <th style="color: black;text-align: center;">Long Url</th>
                  <th style="color: black;text-align: center;">Shorten Url</th>
                  <th style="color: black;text-align: center;">Total Clicks</th>
                  <th style="color: black;text-align: center;">Total Unique Clicks</th>
                  <th style="color: black;text-align: center;">Clicks Tracking</th>
                  <th style="color: black;text-align: center;">Created</th>
                  <th style="color: black;text-align: center;">Action</th>
                </tr>
                   <tr  [hidden]="show_loading" *ngFor="let shorturl of shortUrlData | filter : searchshortlink | paginate: { 
                    id: 'shorturlPagination',itemsPerPage: 10, currentPage: shorturlpagination }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                      <td style="text-align: center;">{{ (shorturlpagination - 1) * 10 + i +1}}</td>
                      <td style="color: black;text-align: center;">{{shorturl.title}}</td>
                      <td style="color: black;text-align: center;">{{shorturl.description}}</td>
                      <td style="color: black;text-align: center;">{{shorturl.long_url}}</td>
                      <td style="color: black;text-align: center;">{{shorturl.shorten_url}}</td> 
                      <td style="color: black;text-align: center;">{{shorturl.total_clicks}}</td>
                      <td style="color: black;text-align: center;">{{shorturl.total_unique_clicks}}</td>
                      <td *ngIf="shorturl.active==1" style="color: black;text-align: center;">
                        <button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Enabled</button>
                      </td>
                      <td *ngIf="shorturl.active!=1" style="color: black;text-align: center;">
                        <button class="btn m-btn--pill custom_btn1 btn-danger" style="padding: 5px 15px;min-width: 100px" >Disabled</button>
                      </td>
                      <td style="color: black;text-align: center;">{{shorturl.date_created}}</td>
                      <td style="color: black;text-align: center;">
                            <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="showVisits(shorturl)">
                            <!-- <i class="fa flaticon-medical" style="width: 24px;margin-bottom: 4px;margin-left: 20%"></i> -->
    
                            <img src="./assets/app/media/img/saino_icons/view.png" title="view" style="width: 24px;margin-bottom: 4px;margin-left: 20%">
                        </button>
                        <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="viewGraph(shorturl)" >
                                <img src="./assets/app/media/img/saino_icons/chart.png" title="Analytics" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                            </button>
                        <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="currentshortlist(shorturl)" >
                                <img src="./assets/app/media/img/saino_icons/edit.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                            </button>
                        </td>
    </table>
    <div class="row"  [hidden]="!show_loading">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="display: flex;justify-content: center;">
            <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
    
      </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
          <pagination-controls id="shorturlPagination" (pageChange)="shorturlpagination = $event" maxSize="9"
            directionLinks="true"
            autoHide="true"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"></pagination-controls>
    </div>
    <div class="col-lg-3"></div>
    </div>   
                  
                <!--end: Datatable -->
            
            </div>
        </div>
        </div></div></div>



        <div   appunwraptag="" [hidden]="!showvisits " style="margin-left:75px;margin-right: 10px">
                <div class="row"> 
                       
            <div class="m-content col-lg-12" style="padding-bottom: 0px">
            <div class="m-portlet m-portlet--mobile" style="margin-bottom: 0px">           
                <div  class="m-portlet__body">
                  
                       <div  class="row">
                            <div class="col-lg-3">
                                    <input type="text" name="search"  [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..." id="searchvisits" style="width: auto; display: inline;">
                                                <!-- <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
                                                    <span><i class="la la-search"></i></span>
                                                </span> -->
                                </div>
                            <div class="row col-lg-8" >
                                    <div class="col-lg-2">                                         
                                    </div>
                                    <div [hidden]="show_calendar" class="col-lg-5">
                        
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group m-form__group row">
                                            <div class="col-lg-12 col-md-9 col-sm-12">
                                                <select [(ngModel)]="calendar_range" (change)="rangeChanged()"class="form-control selectpicker m-bootstrap-select m_selectpicker">
                                                    <option value="today">
                                                        Today
                                                    </option>
                                                    <option value="7days">
                                                        Last 7 days
                                                    </option>
                                                    <option value="15days">
                                                        Last 15 days
                                                    </option>
                                                    <option value="month">
                                                        Last month
                                                    </option>
                                                    <option value="custom">
                                                            Custom
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div [hidden]="!show_calendar" class="col-lg-5" id="sandbox-container" >
                                        <div class="input-daterange input-group" id="datepicker">
                                            <span class="input-group-addon" style="text-align: center;margin-right: 5px">From</span>
                                            <!-- <input  type="text" class="input-sm form-control" name="start" /> -->
                                            <input type="text" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date"> 
                                            <span class="input-group-addon" style="text-align: center;">To</span>
                                            <!-- <input type="text" class="input-sm form-control" name="end" /> -->
                                            <input  type="text" class="form-control" id="m_datepicker_2" readonly="" placeholder="Select date">
                        
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                        
                                            <button class="btn " (click)="search_custom_date()" style="background: transparent;padding: 0px;">
                                                <img src="./assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
                                            </button>
                                        </div>
                                    <div class="col-lg-1">
                                        <button class="btn "  style="background: transparent;padding: 0px;">
                                                    <img (click)="downloadAllClickData()" src="./assets/app/media/img/saino_icons/download.png" style="width: 23px;margin-bottom: 4px;margin-left: 20%;margin-top: 4px">
                                                </button>
                                    </div>
                                    
                                </div>
                                <div class="col-lg-1">
                                        <button class="btn m-btn--pill custom_btn" style="float:right;border: 1px solid gray;color: gray;padding: 4px 14px" (click)="closeVisitpage()" >Back</button>

                                </div>
                       </div>
                <div style="margin-top: 20px"></div>
                                         
                <table style="width: 100%">
                    <tr style="background: #c5cbe4">
                      <th style="color: black;text-align: center;">Sr No</th>
                      <th style="color: black;text-align: center;">Browser</th>
                      <th style="color: black;text-align: center;">Device</th>
                      <th style="color: black;text-align: center;">Platform</th>
                      <th style="color: black;text-align: center;">Referrer</th>
                      <th style="color: black;text-align: center;">Mobile No</th>
                      <th style="color: black;text-align: center;">IP Address</th> 
                      <th style="color: black;text-align: center;">Location</th>
                      <th style="color: black;text-align: center;">Visited On</th>
                    </tr>
                       <tr  [hidden]="show_loading" *ngFor="let visit of visitactivity | filter : searchText | paginate: { 
                        id: 'visitpagination',itemsPerPage: 10, currentPage: visit_p,totalItems:totalVisits }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                       
                          <td style="text-align: center;">{{ (visit_p - 1) * 10 + i +1}}</td>
                          <td style="color: black;text-align: center;">{{visit.browser}}</td>
                      <td style="color: black;text-align: center;">Device</td>
                      <td style="color: black;text-align: center;">{{visit.os}}</td>
                      <td style="color: black;text-align: center;">{{visit.referer}}</td>
                      <td style="color: black;text-align: center;">{{visit.mobile_code}}</td>
                      <td style="color: black;text-align: center;">{{visit.ip}}</td>
                      <td style="color: black;text-align: center;">{{visit.country}}</td>
                      <td style="color: black;text-align: center;">{{visit.click_date}}</td>  
                    </tr>                      
                            
        </table>
        
        <div class="row"  [hidden]="!show_loading">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="display: flex;justify-content: center;">
                <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
        
          </div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
              <pagination-controls id="visitpagination" 
                (pageChange)="visitPaginationChanged($event)"
                 maxSize="9"
                directionLinks="true"
                autoHide="true"
                previousLabel="Previous"
                nextLabel="Next"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page"></pagination-controls>
        </div>
        <div class="col-lg-3"></div>
        </div>   
                      
                    <!--end: Datatable -->
                
                </div>
            </div>
            </div></div></div>


            <!-- <div appunwraptag="" [hidden]="!showgraph" style="margin-left:75px;margin-right: 10px">

                    <!-- <div class="row m-portlet m-portlet--tab"> 
                       
                            <div class="m-content col-lg-12" style="padding-bottom: 0px">
                            <div class="m-portlet m-portlet--mobile" style="margin-bottom: 0px">           
                                <div  class="m-portlet__body">
                                    <div class="row">
                                        <div class="col-lg-11"></div>
                                        <div class="col-lg-1">
                                                <button class="btn m-btn--pill custom_btn" style="float:right;border: 1px solid gray;color: gray;padding: 4px 14px" (click)="showgraph=false" >Back</button>

                                        </div>
                                    </div>
                                        <div id="chartdiv" style="height: 500px;"></div>
                                    </div>
                                    </div>
                                    </div>
                                    </div> -->
                   
                                    <!-- <div  class="m-portlet m-portlet--tab">
                                            <div class="m-portlet__head">
                                                <div class="m-portlet__head-caption">
                                                    <div class="m-portlet__head-title">
                                                        <span class="m-portlet__head-icon m--hide">
                                                            <i class="la la-gear"></i>
                                                        </span>
                                                        <h3 class="m-portlet__head-text">
                                                            Submitted Vs Sent to Operator
                                                        </h3>
                                                    </div>
                                                </div>
                                                <button (click)="submittedvssent()" [disabled]="chart2Loader" class="btn " style="background: transparent;padding: 0px;float: right;margin-right:10px;margin-top:20px ">
                                                        <img src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
                                                    </button>
                                            </div>
                                            <div [hidden]="chart2Loader" class="m-portlet__body">
                                                    <div id="chartdiv" style="height: 500px;"></div>
                                                </div>
                                            <div  [hidden]="!chart2Loader" class="m-portlet__body">
                                                    <div class="row" >
                                                            <div class="col-lg-4"></div>
                                                            <div class="col-lg-4" style="display: flex;justify-content: center;">
                                                                <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
                                          
                                                          </div>
                                                            <div class="col-lg-4"></div>
                                                        </div>
                                            </div>
                                        </div>
            </div>  -->
            
        </div>


        <div [hidden]="!downloadReportActive" appunwraptag="" style="margin-left:75px;margin-right: 10px">
                <div class="row">
                        <div class="m-content col-lg-12">
                            <div class="m-portlet m-portlet--mobile">
                                <div class="m-portlet__body">
                                    <!--begin: Search Form -->
                                    <div class="row container">
                                        <div class="col-lg-12">
                                            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button> -->
                                            <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">
                                                Download Report</h5>
                    
                                           
                                        </div>
                                    </div>
                                    <div class="row">
                                            <div class="col-lg-11"></div>
                                            <div class="col-lg-1">
                                                    <button class="btn m-btn--pill custom_btn" style="float:right;border: 1px solid gray;color: gray;padding: 4px 14px;margin:20px" (click)="navigateToShortLinks()" >Back</button>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            	<div class=" row" style="padding-bottom: 0px;padding-top: 0px">					
                                                        <label class="col-form-label col-lg-3 col-sm-12">
                                                            Shortlink
                                                        </label>
                                                        <div class="col-lg-6 col-md-6 col-sm-12">
                                                            <select id="selectpickerShortLink" data-size="5" [(ngModel)]="shortlinkName" (change)="shortlinkChanged()" class=" form-control m-bootstrap-select m_selectpicker selectpicker " data-live-search="true">
                                                                <option value="" [disabled]="true" [selected]="shortlinkName==''">Select Shortlink</option>                                           
                                                                <option *ngFor="let link of shortlinkDownloadReport" value="{{link.id}}" >{{link.title}}</option>                                                               
                                                            </select>
                                                        </div>
                                                            <div class="col-lg-1" >
                                                                <img (click)="refreshShortlinkReport()" src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;cursor: pointer;">
                                                            </div>
                                                    </div>
                                        </div>
                                        <div class="row col-lg-8" >
                                                <div class="col-lg-1">
                                                </div>
                                                <div [hidden]="show_calendar1" class="col-lg-5">
                                    
                                                </div>
                                                <div class="col-lg-3">
                                                    <div class="form-group m-form__group row">
                                                        <div class="col-lg-12 col-md-9 col-sm-12">
                                                            <select [(ngModel)]="calendar_range1" (change)="rangeChanged1()"class="form-control selectpicker m-bootstrap-select m_selectpicker">
                                                                <option value="today">
                                                                    Today
                                                                </option>
                                                                <option value="7days">
                                                                    Last 7 days
                                                                </option>
                                                                <option value="15days">
                                                                    Last 15 days
                                                                </option>
                                                                <option value="month">
                                                                    Last month
                                                                </option>
                                                                <option value="custom">
                                                                        Custom
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div [hidden]="!show_calendar1" class="col-lg-5" id="sandbox-container1" >
                                                    <div class="input-daterange input-group" id="datepicker">
                                                        <span class="input-group-addon" style="text-align: center;margin-right: 5px">From</span>
                                                        <!-- <input  type="text" class="input-sm form-control" name="start" /> -->
                                                        <input type="text" class="form-control" id="m_datepicker_11" readonly="" placeholder="Select date">
                                                        <span class="input-group-addon" style="text-align: center;">To</span>
                                                        <!-- <input type="text" class="input-sm form-control" name="end" /> -->
                                                        <input  type="text" class="form-control" id="m_datepicker_21" readonly="" placeholder="Select date">
                                    
                                                    </div>
                                                </div>
                                                
                                    
                                                <div class="col-lg-2">
                                    
                                                            <button (click)="search_custom_date1()" style="text-align: center;" [ngStyle]="{'cursor' : 'pointer' }"
                                                            class="btn btn-success m-btn m-btn--icon m-btn--pill m-btn--air">
                                                            Request New Report
                                                        </button>                                                 
                                                </div>
                                               
                                            </div>
                                    </div>
                                    <!--begin: Datatable -->
                    
                                    <table style="width: 100%" >
                                        <tr style="background: #c5cbe4">
                                            <th style="width: 5%;color: black;text-align: center;">Sr No</th>
                                            <th style="width: 20%;color: black;text-align: center;">From Date</th>
                                            <th style="width: 20%;color: black;text-align: center;">To Date</th>
                                            <th style="width: 20%;color: black;text-align: center;">Requested</th>
                                            <th style="width: 20%;color: black;text-align: center;">Prepared</th>
                                            <th style="width: 15%;color: black;text-align: center;">Status</th>
                                            <th style="width: 10%;color: black;text-align: center;">Action</th>
                                        </tr>
                                        <tr [hidden]="show_loading" *ngFor="let row of downloadReport  | paginate: {id: 'smpReportListTable',itemsPerPage: 10, currentPage: p_report }; let i = index"
                                            [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                                            <td style="width: 5%;text-align: center;">{{(p_report - 1) * 10 + i +1}}</td>
                                            <td style="width: 20%;color: black;text-align: center;">{{row.report_from}}</td>
                                            <td style="width: 20%;color: black;text-align: center;">{{row.report_to}}</td>
                                            <td style="width: 20%;color: black;text-align: center;">{{row.requested_at}}</td>
                                            <td *ngIf="row.status=='COMPLETED'" style="width: 20%;color: black;text-align: center;"> {{row.prepared_at}}</td>
                                            <td [hidden]="row.status=='COMPLETED'" style="width: 20%;color: black;text-align: center;">  </td>
                                            <td style="width: 15%;color: black;text-align: center;" [ngStyle]="{'color': (row.status == 'COMPLETED') ? 'green' : (row.status == 'PROCESSING') ? 'blue' : 'red'}">{{row.status}}</td>
                                            <td style="width: 10%;text-align: center;">
                                              <a style="cursor: pointer;" (click)="downloadFile(row.id,row.key)" [hidden]="row.status !== 'COMPLETED'" download="getDownloadFileName()">
                                                    <img  src="./assets/app/media/img/saino_icons/download.png"
                                                        style="width: 18px;margin-bottom: 4px;margin-left: 20%">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="row">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-6">
                                            <pagination-controls id="smpReportListTable" (pageChange)="p_report = $event" maxSize="9" directionLinks="true"
                                                autoHide="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                                screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
                                        </div>
                                        <div class="col-lg-3"></div>
                                    </div>
                                    <div class="row" [hidden]="!loading">
                                        <div class="col-lg-4"></div>
                                        <div class="col-lg-4">
                                            <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;;margin-left: 20%;margin-top: 10%;">
                    
                                        </div>
                                        <div class="col-lg-4"></div>
                                    </div>
                                    <!--end: Datatable -->
                    
                                </div>
                    </div>
                        </div>
                    </div>
        </div>

       
           
             
              <div class="row" [hidden]="!showgraph" style="padding: 45px 0 0 0;margin-left: 80px;margin-right: 25px;padding-top: 30px">
                        <div class="col-lg-12">
                                <div class="m-portlet m-portlet--tab">
                                    <div class="m-portlet__head">
                                        <div class="m-portlet__head-caption">
                                            <div class="m-portlet__head-title">
                                                <span class="m-portlet__head-icon m--hide">
                                                    <i class="la la-gear"></i>
                                                </span>
                                                <h3 class="m-portlet__head-text">
                                                    Last 9 Days Data
                                                </h3>
                                                
                                            </div>
                                        </div>                          
                                            <button class="btn m-btn--pill custom_btn" style="float:right;border: 1px solid gray;color: gray;padding: 4px 14px;margin:20px" (click)="showgraph=false" >Back</button>
                                            <button (click)="ninedayData()" [disabled]="chart1Loader" class="btn " style="background: transparent;padding: 0px;float: right;margin-right:10px;margin-top:20px ">
                                                    <img src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
                                                </button>  
                                        </div>
                                    <div  [hidden]="chart1Loader" class="m-portlet__body">
                                        <div id="m_amcharts_4" style="height: 500px;"></div>
                                    </div>
                                    <div  [hidden]="!chart1Loader" class="m-portlet__body">
                                            <div class="row" >
                                                    <div class="col-lg-4"></div>
                                                    <div class="col-lg-4" style="display: flex;justify-content: center;">
                                                        <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
                                  
                                                  </div>
                                                    <div class="col-lg-4"></div>
                                                </div>
                                    </div>
                                    
                                </div>
                            </div>
                
                  <!--end::Portlet-->
                </div>
              
              





        <div class="modal fade" id="branding_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 700px" role="document">
                  <div  class="modal-content" style="min-height: 400px;padding: 20px">  
                            <div class="modal-header" style="border-bottom: 0px">
                                <div class="container">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                  </button>
                                    <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add Short Link</h5>
                              </div>
                            </div>                       
                      <div class="row" style="margin: 15px 0px;display: flex;align-items: center;text-align: center">
                        <div class="col-lg-1"></div>
                          <label style="padding-top: 6px" class="col-lg-2">Title</label>
                          <div class="input-group col-lg-8" style="padding: 0px">
                          <input type="text" [(ngModel)]="shortlink_title" class="form-control m-input" aria-label="Please Enter Title" placeholder="Name Your Link">
                          </div>
                      </div>
                      <div class="row" style="margin: 15px 0px;display: flex;align-items: center;text-align: center">
                            <div class="col-lg-1"></div>
                          <label style="padding-top: 6px" class="col-lg-2">Url</label>
                          <div class="input-group col-lg-8" style="padding: 0px">
                          <textarea type="text" style="min-height: 60px;" [(ngModel)]="shortlink_url" class="form-control m-input" aria-label="please enter sitetitle" placeholder="Paste The Link To Shorten it"></textarea>
                          </div>
                      </div>
                      <div class="row" style="margin: 15px 0px;display: flex;align-items: center;text-align: center">
                                    <div class="col-lg-1"></div>
                                <label style="padding-top: 6px" class="col-lg-2">Description</label>
                                <div class="input-group col-lg-8" style="padding: 0px">
                                <textarea type="text" style="min-height: 60px;" [(ngModel)]="shortlink_description" class="form-control m-input" aria-label="Description of The Shortlink" placeholder="WebHook URL To Pass The Data To Your Server"></textarea>
                                </div>
                       </div>
                       <div class="row" style="margin: 15px 0px;display: flex;align-items: center;text-align: center">
                            <div class="col-lg-1"></div>
                            <label style="padding-top: 6px" class="col-lg-2">Token</label>
                         <div class="input-group col-lg-8 row" style="padding: 0px;margin: 0px;">
                         <div class="input-group-prepend col-lg-3" style="padding: 0px;">
                                <select [(ngModel)]="shortlink_tokenAlias" class="form-control selectpicker m-bootstrap-select m_selectpicker" id="user_list_select">
                                    <option>
                                        option1
                                    </option>
                                    <option>
                                            option2
                                        </option>
                                </select>                         
                          </div> 
                         <input type="text" [(ngModel)]="shortlink_token" class="form-control m-input col-lg-9" aria-label="please enter domain" placeholder="Please Enter Custom Token">
             
                         </div>
                         <div class="col-lg-1" ></div>
                     </div> 
                     
                      <div class="row" style="margin: 15px 0px;display: flex;align-items: center;text-align: center">
                            <div class="col-lg-1"></div>
                          <label style="padding-top: 6px" class="col-lg-2">WEBHOOK</label>
                          <div class="input-group col-lg-8" style="padding: 0px">
                          <textarea type="text" style="min-height: 60px;" [(ngModel)]="shortlink_webhookurl" class="form-control m-input" aria-label="Please Enter Webhook Url" placeholder="WebHook URL To Pass The Data To Your Server"></textarea>
                          </div>
                      </div>
                      <div class="row" style="margin: 15px 0px;display: flex;">
                            <div class="col-lg-1"></div>
                            <label class="col-lg-7 col-form-label" style="text-align: right;font-weight:550">Enable Mobile Number Tracking</label>
                            <div class="col-lg-1" style="display: flex;justify-content: center;">
                                <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
                                    <label>
                                    <input type="checkbox" [(ngModel)]="shortlink_trackmble" name="">
                                    <span></span>
                                    </label>
                                </span>
                            </div>
                    </div>
                      <div class="row" style="margin: 15px 0px;">
                          <div class="col-lg-5 ">
                          </div>
                          <div class="col-lg-6 ">
    
        <button (click)="createNewShortlink()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms" style="padding: 10px 30px"  >
                              Save								                            
                          </button>
                          </div>
                      </div>
                  </div>  
                </div>
              </div>
              <div class="modal fade" id="editshortLink" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" style="max-width: 700px" role="document">
                      <div   class="modal-content" style="min-height: 400px;padding: 20px">  
                                <div class="modal-header" style="border-bottom: 0px">
                                    <div class="container">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                      </button>
                                        <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Edit Short Link</h5>
                                  </div>
                                </div> 
                               
                            <div class="row" style="margin: 15px 0px;display: flex;align-items: center;text-align: center">
                                <div class="col-lg-1"></div>
                                  <label style="padding-top: 6px" class="col-lg-4">Enable Click Tracking</label>
                                  <div class="input-group col-lg-6" style="padding: 0px">
                                    <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
                                        <label>
                                        <input type="checkbox" [(ngModel)]="shortlink_track_edit" name="">
                                        <span></span>
                                        </label>
                                    </span>
                                  </div>
                              </div>                     
                          <div class="row" style="margin: 15px 0px;display: flex;align-items: center;text-align: center">
                            <div class="col-lg-1"></div>
                              <label style="padding-top: 6px" class="col-lg-4">Title</label>
                              <div class="input-group col-lg-6" style="padding: 0px">
                              <input type="text" [(ngModel)]="shortlink_title_edit" class="form-control m-input" aria-label="Please Enter Title" placeholder="Name Your Link">
                              </div>
                          </div>
                          <div class="row" style="margin: 15px 0px;display: flex;align-items: center;text-align: center">
                                        <div class="col-lg-1"></div>
                                    <label style="padding-top: 6px" class="col-lg-4">Description</label>
                                    <div class="input-group col-lg-6" style="padding: 0px">
                                    <textarea type="text" style="min-height: 60px;" [(ngModel)]="shortlink_description_edit" class="form-control m-input" aria-label="Description of The Shortlink" placeholder="WebHook URL To Pass The Data To Your Server"></textarea>
                                    </div>
                           </div>
                         
                          <div class="row" style="margin: 15px 0px;display: flex;">
                                <div class="col-lg-1"></div>
                                <label class="col-lg-7 col-form-label" style="text-align: right;font-weight:550">Enable Mobile Number Tracking</label>
                                <div class="col-lg-1" style="display: flex;justify-content: center;">
                                    <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
                                        <label>
                                        <input type="checkbox" [(ngModel)]="shortlink_trackmble_edit" name="">
                                        <span></span>
                                        </label>
                                    </span>
                                </div>
                        </div>
                          <div class="row" style="margin: 15px 0px;">
                              <div class="col-lg-5 ">
                              </div>
                              <div class="col-lg-6 ">
                             <button (click)="saveShortLink()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms" style="padding: 10px 30px"  >
                                  Save								                                
                              </button>
                              </div>
                          </div>
                      </div>                     
                    </div>
                  </div>