<!-- BEGIN: Subheader -->
<div  appunwraptag="" style="margin-left: 75px;margin-right: 10px">
	<div class="row"> 
<div class="m-content col-lg-12">
<div class="m-portlet m-portlet--mobile">
	<div  class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="row" style="margin-bottom: 20px">
			<div class="col-lg-3">
				<h4 >
					MIS Report
				</h4>
			</div>
			<div class="col-lg-8 row" >
					<div class="col-lg-2">
					</div>
					<div [hidden]="show_calendar" class="col-lg-6">
		
					</div>
					<div class="col-lg-3">
						<div class="form-group m-form__group row">
							<div class="col-lg-12 col-md-9 col-sm-12">
								<select [(ngModel)]="calendar_range" (change)="rangeChanged()"class="form-control m-bootstrap-select m_selectpicker" >
									<option value="today">
										Today
									</option>
									<option value="7days">
										Last 7 days
									</option>
									<option value="15days">
										Last 15 days
									</option>
									<option value="month">
										Last month
									</option>
									<option value="custom">
											Custom
									</option>
								</select>
							</div>
						</div>
					</div>
					<div [hidden]="!show_calendar" class="col-lg-6" id="sandbox-container" >
						<div class="input-daterange input-group" id="datepicker">
							<span class="input-group-addon" style="text-align: center;margin-right: 5px">From</span>
							<!-- <input  type="text" class="input-sm form-control" name="start" /> -->
							<input  type="text" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
							<span class="input-group-addon" style="text-align: center;">To</span>
							<!-- <input type="text" class="input-sm form-control" name="end" /> -->
							<input  type="text" class="form-control" id="m_datepicker_2" readonly="" placeholder="Select date">
		
						</div>
					</div>
					
		
					<div class="col-lg-1">
		
						<button (click)="search_custom_date()" class="btn " style="background: transparent;padding: 0px;">
							<img src="./assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
						</button>
					</div>
				</div>
				<div class="col-lg-1" style="padding-top: 4px;">
					<img (click)="refreshList()" src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;cursor: pointer;">
	
				</div>
		</div>
		<!-- <div class="row" style="margin-bottom: 10px">
			<div class="col-lg-7">
				<p>only a month report will be available</p>
			</div>
			<div class="col-lg-4">
				<div id="reportrange" class="form-control input-group" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 75%;text-align: center;">
				    <i class="fa fa-calendar"></i>&nbsp;
				    <span  ></span>
				</div>
			</div>
			<div class="col-lg-1">
				<button (click)="search()" class="btn " style="background: transparent;padding: 0px;">
					<img src="../../../../../../../../../assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
				</button>
			</div>
		</div> -->
		
		<!--begin: Datatable -->
		<!-- <div class="container">
			<table class="table table-fixed">
			  <thead>
				<tr>
				  <th class="col-xs-3">First Name</th>
				  <th class="col-xs-3">Last Name</th>
				  <th class="col-xs-6">E-mail</th>
				</tr>
			  </thead>
			  <tbody>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
		  
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
				<tr>
				  <td class="col-xs-3">John</td>
				  <td class="col-xs-3">Doe</td>
				  <td class="col-xs-6">johndoe@email.com</td>
				</tr>
			  </tbody>
			</table>
		  </div> -->
			<table	 class="table" cellspacing="0" width="100%">
				<!-- <table style="width: 100%" class="scrolltable"> -->
					<thead>
							<tr style="background: #c5cbe4">
									<th style="color: black;background: #c5cbe4;text-align: center;">Sr No</th>
									<th style="color: black;background: #c5cbe4;text-align: center;">Sent Date</th>
									<th style="color: black;background: #c5cbe4;text-align: center;">Total SMS</th>
									<th style="color: black;background: #c5cbe4;text-align: center;">Delivered</th>
									<th style="color: black;background: #c5cbe4;text-align: center;">Submitted</th>
									<th style="color: black;background: #c5cbe4;text-align: center;">Other</th>
									<th style="color: black;background: #c5cbe4;text-align: center;">DND Failed</th>
									<th style="color: black;background: #c5cbe4;text-align: center;">Total Credit</th>
									</tr>
						</thead>
					  <!-- <td style="width: 9%;color: rgb(5, 212, 5);text-align: center;">{{status.Delivered}}({{status.Delivered_percent}}%)</td>
						  <td style="width: 9%;color: rgb(61, 14, 192);text-align: center;">{{status.Submitted}}({{status.Submitted_percent}}%)</td>
						  <td style="width: 9%;color: darksalmon;text-align: center;">{{status.Other}}({{status.Other_percent}}%)</td>
						  <td style="width: 10%;color: rgb(234, 26, 26);text-align: center;">{{status.DND}}({{status.DND_percent}}%)</td>
						  <td *ngIf="userid=='1'" style="width: 10%;color: brown;text-align: center;">{{status.actualDlr}}</td> -->
							<tbody>
									
							<tr [hidden]="show_loading" *ngFor="let mis of mis_list ;let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
								<td style="text-align: center;">{{i+1}}</td>
								<td style="text-align: center;">{{mis.crdate.split("T")[0]}}</td>
								<td style="text-align: center;">{{mis.numbers_count}}</td>
								<td style="text-align: center;color:rgb(5, 212, 5)">{{mis.Delivered}}</td>
								<td style="text-align: center;color: rgb(61, 14, 192)">{{mis.Submitted}}</td>
								<td style="color: darksalmon;text-align: center;">{{mis.Other}}</td>
								<td style="color: rgb(234, 26, 26);text-align: center;">{{mis.DNDFailed}}</td>
								<td style="text-align: center;color: brown">
								{{mis.totcredit}}
							
								</td>				
							</tr> 
							<tr [hidden]="show_loading" style="font-weight: bold">
								<td style="text-align: center;"></td>
								<td style="text-align: center;"></td>
								<td style="text-align: center;">{{tot}}</td>
								<td style="text-align: center;color: rgb(5, 212, 5)">{{Delivered}}</td>
								<td style="text-align: center;color: rgb(61, 14, 192)">{{Submitted}}</td>
								<td style="color: darksalmon;text-align: center;">{{Other}}</td>
								<td style="color: rgb(234, 26, 26);text-align: center;">{{DND}}</td>
								<td style="text-align: center;color: brown">
								{{Credit}}			
								</td>				
							</tr>
						</tbody>
						<!-- <tbody style="overflow-y:hidden"> -->
						
						<!-- </tbody>			 -->
						<!-- <tbody *ngIf="mis_list.length <=10" style="width: 100%;">						
							
						</tbody> -->
					
					
			
		</table>
		<!-- <table style="width:98.3%">
				<tbody *ngIf="mis_list.length>10">						
							<tr [hidden]="show_loading" style="font-weight: bold">
									<td style="text-align: center;"></td>
									<td style="text-align: center;"></td>
									<td style="text-align: center;">{{tot}}</td>
									<td style="text-align: center;color: rgb(5, 212, 5)">{{Delivered}}</td>
									<td style="text-align: center;color: rgb(61, 14, 192)">{{Submitted}}</td>
									<td style="color: darksalmon;text-align: center;">{{Other}}</td>
									<td style="color: rgb(234, 26, 26);text-align: center;">{{DND}}</td>
									<td style="text-align: center;color: brown">
									{{Credit}}			
									</td>				
								</tr>
					</tbody>
		</table> -->
		<!-- <table width="100%"> -->
		
		<!-- </table> -->
	  <div class="row"  [hidden]="!show_loading">
			<div class="col-lg-4"></div>
			<div class="col-lg-4" style="display: flex;justify-content: center;">
				<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

		  </div>
			<div class="col-lg-4"></div>
		</div>
		
		
			<!-- <div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div> -->
		<!--end: Datatable -->
	
	</div>
</div>
</div></div></div>
