
<!-- <div class="m-content" style="margin-left: 240px;margin-top: 105px;margin-right: 25px;padding-top: 30px;background: white;"> -->
	
  <!-- <div class="row" style="margin-bottom: 10px">
    <div class="col-lg-8">
    </div>
    <div class="col-lg-3">
      
        <select  data-dropup-auto="false" data-size="5"  class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
            <option [disabled]="true" [selected]="true">Select Number</option>
            <option *ngFor="let c of currencyDropdown " [selected]="User_details.currency==c.country">{{c.country}}</option>
            </select>	

    </div>
    <div class="col-lg-1">
      <button class="btn " style="background: transparent;padding: 0px;">
        <img src="assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
      </button>
    </div>
  </div> -->
  <!-- <div class="row" style="margin-left: 240px;margin-top: 75px;margin-right: 25px;padding-top: 30px;">
	</div> -->
<div  appunwraptag="" style="margin-left: 250px;margin-right: 30px;margin-top: 100px;">
		<div class="row"> 
	<div class="m-content col-lg-12">
	<div class="m-portlet m-portlet--mobile">
		<div  class="m-portlet__body">
			<!--begin: Search Form -->
			<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">			
				<div class="row align-items-center">
					<div class="col-lg-2">
							<select [(ngModel)]="selectedMobileNumber" (change)="mobileNumberChanged()" title="Select Number" data-dropup-auto="false" data-size="5"  class="form-control selectpicker m-bootstrap-select m_selectpicker" data-live-search="true">
									<option *ngFor="let c of subscribedNumbers" [selected]="selectedMobileNumber==c.number" value="{{c.virtual_number_id}}" >{{c.number}}</option>
									</select>	
					</div>
					<div [hidden]="show_calendar" class="col-lg-6"></div>
					<div class="col-lg-2">
							<div class="form-group m-form__group row">
									<div class="col-lg-12 col-md-9 col-sm-12">
										<select [(ngModel)]="calendar_range" (change)="rangeChanged()" class="form-control m-bootstrap-select m_selectpicker">
											<option value="today">
												Today
											</option>
											<option value="7days">
												Last 7 days
											</option>
											<option value="15days">
												Last 15 days
											</option>
											<option value="month">
												Last month
											</option>
											<option value="custom">
													Custom
											</option>
										</select>
									</div>
								</div>
					</div>
					<div  [hidden]="!show_calendar"  class="col-lg-6" id="sandbox-container">
							<div class="input-daterange input-group" id="datepicker">
									<span class="input-group-addon" style="text-align: center;margin-right: 5px">From</span>
									<input type="text" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
									<span class="input-group-addon" style="text-align: center;">To</span>
									<input  type="text" class="form-control" id="m_datepicker_2" readonly="" placeholder="Select date">
				
								</div>
					</div>
					<div class="col-lg-2">
							<button class="btn"(click)="search()" style="background: transparent;padding: 0px;float: left;    margin-right: 20px;">
									<img src="./assets/app/media/img/icons/search.png" style="width: 22px;background: transparent;">
								</button>
								<button  (click)="downloadFile()" class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;float: left;" >
										<img src="./assets/app/media/img/saino_icons/download.png" title="Download" style="width: 22px;margin-bottom: 4px;margin-left: 20%">
									</button>

					</div>
						
				</div>
			
			</div>
			
			
	
			<table style="width: 100%;">
				<tr style="background: #c5cbe4">
					<th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">Sr</th>
				  <th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">Received</th>
				  <th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">Caller Number</th>
				  <th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">Operator Circle</th>
				  
				</tr>
				<tr  [hidden]="show_loading" *ngFor="let report of missedReports | paginate: { 
				id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
				  <td style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">{{ (p - 1) * 10 + i +1}}</td>
				  <td style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">{{report.receiveddate}}</td>
				  <td style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">{{report.caller_number}}</td>
				  <td style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">{{report.operator}}</td>
				
				</tr>
</table>
<div class="row"  [hidden]="!show_loading">
		<div class="col-lg-4"></div>
		<div class="col-lg-4" style="display: flex;justify-content: center;">
				<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

	</div>
		<div class="col-lg-4"></div>
</div>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
		  <pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
			directionLinks="true"
			autoHide="true"
			previousLabel="Previous"
			nextLabel="Next"
			screenReaderPaginationLabel="Pagination"
			screenReaderPageLabel="page"
			screenReaderCurrentLabel="You're on page"></pagination-controls>
  </div>
  <div class="col-lg-3"></div>
</div>
			<!--end: Datatable -->
		
		</div>
		
	</div>
	</div></div></div>