<!-- BEGIN: Subheader -->

<div  appunwraptag="" style="margin-left: 105px;margin-top: 10px;margin-right:10px">
	<div class="row"> 

		<div class="col-lg-9" style="padding-bottom: 15px;background: white">
			<form>
			<div class="row" style="margin-left: 4%;margin-top: 3%;">
				<div class="col-lg-5 _shadow" style="background-color: white;padding: 0px">
					<div class="search_categories">
					    <div class="select row" >
					       <select  [(ngModel)]="route" name="search_categories" id="search_categories"      style="height: 40px" required="required">
					          <option [ngValue]="null" [disabled]="true">Select Route</option>
					          <option *ngFor="let route of routes_list; let index = index" value="{{route.az_routeid}}" [value]="route.az_routeid" >{{route.az_rname}}</option>
					        </select>
					    </div>
					</div>
					<select [(ngModel)]="route" name="search_categories" class="form-control m-bootstrap-select m_selectpicker" required="required" (change)="getSpecificSenderId()">
							<option *ngFor="let r of routes_list; let index = index" [ngValue]="r.az_rname" [value]="r.az_rname">{{r.az_rname}}</option>
					</select>
				</div>
				<div class="col-lg-6 _shadow" style="margin-left: 20px;background-color: white;padding: 0px">
					<div class="search_categories">
					    <div class="select row" >
					       <select [(ngModel)]="senderId" name="search_categories" id="search_categories" style="height: 40px" required="required">
					          <option [ngValue]="null" [disabled]="true">Select Sender ID</option>
					          <option *ngFor="let send of senderid_list; let index = index" value="{{send.sid}}" [value]="send.sid" >{{send.senderid}}</option>
					        </select>
					    </div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-left: 4%;margin-top: 2%">
					<h5 style="color: #0C4DA2;font-size: 15;margin-top: 10px;"> To Numbers</h5>
			</div>
			<div class="row _shadow" style="margin-left: 4%;background-color: white;margin-right: 30px">
					<div class="row col-lg-6" style="margin: 0px;padding: 0px;">
					<textarea [(ngModel)]="numbers" name="numbers" style="width: 100%;min-height: 60px;" #to_numbers (ngModelChange)="update_count()" required="required"></textarea> 
					</div>
					<div class="row " style="">
                        <div class="m-dropzone dropzone m-dropzone--success" action="/assets" (click)="numbers=''" id="m-dropzone-three">
                            <div class="m-dropzone__msg dz-message needsclick">
                                <h3 class="m-dropzone__msg-title">Drop files here or click to upload.</h3>
                                <span class="m-dropzone__msg-desc">Only text, csv and excel files are allowed for upload</span>
                            </div>
                        </div>
					</div>
			</div>
			<div class="row" style="margin-left: 4%">
					<div style="margin-top: 4px;margin-left: -15px;" class="col-lg-8">
						<button class="btn btn-default custom_btn" style="border-radius: 23px;background: transparent;border: 1px solid gray;padding: 2px 8px;font-size: .9rem;" (click)="clear_nos()">Clear</button>
						<button class="btn btn-default custom_btn" style="border-radius: 23px;background: transparent;border: 1px solid gray;padding: 2px 8px;font-size: .9rem" (click)="make_unique()">Unique</button>
						<h5 style="color: darkgray;font-size: .9rem;margin-top: 10px;display: inline;"> Count : 
							{{numbers_count}}
							
						</h5>
					</div>
					<div class="col-lg-4">
						<label class="btn-bs-file btn  btn-default" style="border-radius: 23px;margin-top:4px;background: transparent;border: 1px solid gray;padding: 2px 8px;margin-left: 40%;font-size: .9rem;">
							<img src="./assets/app/media/img/icons/upload.png" style="width: 11px;margin-bottom: 3px;">
			                Upload
			                <input type="file" (change)="readFile($event.target.files)"/>
			            </label>
			        </div>
			</div>
			<div class="row "  style="margin-left: 4%;margin-top: 2%">
					<div class="col-lg-4 " >
					<div class="row" >
						<h5 style="color: #0C4DA2;font-size: 15;margin-top: 10px;"> Content Type </h5> 
						</div>
				<div class="search_categories" style="margin-left: -15px">
				<div class="select1 row"  >
					       <select  name="search_categories"  style="height: 40px" required="required">
					          <option value="1" selected="selected">English</option>
					          <option value="2">Unicode</option>
					          <option value="3">UTF-8</option>
					        </select>
					    </div>
					</div>
				</div>
				<div class="col-lg-4 " style="margin-left: 15%;">
					<div class="row" >
					<h5 style="color: #0C4DA2;font-size: 15;margin-left: 15px;margin-top: 10px;"> Template </h5>
					</div>
					<div class="search_categories">
					    <div class="select1 row" >
					       <select [(ngModel)]="template" name="search_categories" (change)="select_temp($event.target.value)" style="height: 40px" required="required">
					       	<option [ngValue]="null" [disabled]="true">Select Template</option>
					          <option *ngFor="let temp of template_list; let index = index" value="{{temp.template_data}}" [value]="temp.template_data"  >{{temp.template_name}}</option>
					        </select>
					    </div>
					</div>
				</div>
			</div>
			<div class="row" style="margin-left: 4%;margin-top: 2%">
					<h5 style="color: #0C4DA2;font-size: 15;margin-top: 10px;"> Message</h5>
			</div>
			<div class="row _shadow" style="margin-left: 4%;height: 90px;background-color: white;margin-right: 30px">
					<div class="row col-lg-12" style="margin: 0px;padding: 0px;">
					<textarea [(ngModel)]="message" name="message" style="width: 100%;min-height: 60px;" placeholder=" "id="message" required="required"></textarea> 
					</div>
			</div>
			<div class="row "  style="margin-left: 4%;">
					<h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;"> Total Characters : {{message.length}}</h5>
					<h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;margin-left: 5%"> Total Sms :  {{ (message.length / 140) - (( message.length % 140 ) / 140) +1 }}</h5>
					<label class="m-checkbox m-checkbox--focus" style="margin-left: 32%;color: darkgray;margin-top: 5px;font-size: .9rem;">
						<input type="checkbox" name="send_flash" [(ngModel)]="send_flash">
						Send as Flash
						<span style="border: 1px solid #bdc3d4;"></span>
					</label>
			</div>
			<div class="row "  style="margin-left: 4%;">
					<div  >
						<button class="btn m-btn--pill custom_btn1" id="send_sms"  style="" data-toggle="modal" data-target="#m_modal_send">
						Send Now</button>
						<button class="btn m-btn--pill custom_btn1" data-toggle="modal" data-target="#m_modal_schedule" style="margin-left: 25px;">Schedule SMS</button>
						<button class="btn m-btn--pill custom_btn1" (click)="automate()" style="margin-left: 25px;">Automation SMS</button>
					</div>
			</div>
		</form>
		</div>

		<!--send sms modal start-->
		<div class="modal fade" id="m_modal_send" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="height: 400px;padding: 20px">

				      <div class="modal-header">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Send SMS</h5>
				      	</div>
				      </div>
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-1"></div>
				      			<div class="col-lg-4" >
				      				<span style="padding-right: 10px;font-weight: 500;">Route:</span>
				      				<span>{{route}}</span>
				      			</div>
				      			<div class="col-lg-2"></div>
				      			<div class="col-lg-4">
				      				<span style="padding-right: 10px;font-weight: 500;">Sender ID:</span>
				      				<span>{{senderId}}</span>
								</div>
								<div class="col-lg-1"></div>
				      		</div>
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-1"></div>
				      			<div class="col-lg-10" >
				      				<span style="padding-right: 10px;font-weight: 500;">Message:</span>
				      				<span>{{message}}</span>
				      			</div>
				      			<div class="col-lg-1"></div>
				      		</div>
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-1"></div>
				      			<div class="col-lg-3" >
				      				<span style="padding-right: 10px;font-weight: 500;">Characters:</span>
				      				<span>{{message.length}}</span>
				      			</div>
				      			<div class="col-lg-3" >
				      				<span style="padding-right: 10px;font-weight: 500;">SMS:</span>
				      				<span>{{ (message.length / 140) - (( message.length % 140 ) / 140) +1 }}</span>
				      			</div>
				      			<div class="col-lg-3" >
				      				<span style="padding-right: 10px;font-weight: 500;">Credits:</span>
				      				<span>XX</span>
				      			</div>
				      			<div class="col-lg-1"></div>
				      		</div>
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-1"></div>
				      			<div class="col-lg-10" >
				      				<span style="padding-right: 10px;font-weight: 500;">Timezone:</span>
				      			</div>
				      			<div class="col-lg-1"></div>
				      		</div>
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-3"></div>
				      			<div class="col-lg-3" >
				      				<button class="btn m-btn--pill custom_btn1" id="send_sms"  style=""(click)="send()">Send Now</button>
				      			</div>
				      			<div class="col-lg-3" >	
				      				<button class="btn m-btn--pill custom_btn1" id="send_sms"  style=""
				      				data-dismiss="modal" aria-label="Close">Edit Sms</button>
				      			</div>
				      			<div class="col-lg-3"></div>
				      		</div>

		    </div>
		  </div>
		</div>
            <!-- send sms modal end-->

		<!--schedule sms modal start-->
		<div class="modal fade" id="m_modal_schedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="height: 400px;padding: 20px">

				      <div class="modal-header">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Schedule SMS</h5>
				      	</div>
				      </div>
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-1"></div>
				      			<div class="col-lg-4" >
				      				<span style="padding-right: 10px;font-weight: 500;">Route:</span>
				      				<span>{{route}}</span>
				      			</div>
				      			<div class="col-lg-2"></div>
				      			<div class="col-lg-4">
				      				<span style="padding-right: 10px;font-weight: 500;">Sender ID:</span>
				      				<span>{{senderId}}</span>
								</div>
								<div class="col-lg-1"></div>
				      		</div>
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-1"></div>
				      			<div class="col-lg-10" >
				      				<span style="padding-right: 10px;font-weight: 500;">Message:</span>
				      				<span>{{message}}</span>
				      			</div>
				      			<div class="col-lg-1"></div>
				      		</div>
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-1"></div>
				      			<div class="col-lg-3" >
				      				<span style="padding-right: 10px;font-weight: 500;">Characters:</span>
				      				<span>{{message.length}}</span>
				      			</div>
				      			<div class="col-lg-3" >
				      				<span style="padding-right: 10px;font-weight: 500;">SMS:</span>
				      				<span>{{ (message.length / 140) - (( message.length % 140 ) / 140) +1 }}</span>
				      			</div>
				      			<div class="col-lg-3" >
				      				<span style="padding-right: 10px;font-weight: 500;">Credits:</span>
				      				<span>XX</span>
				      			</div>
				      			<div class="col-lg-1"></div>
				      		</div>
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-1"></div>
				      			<div class="col-lg-3" >
				      				<span style="padding-right: 10px;font-weight: 500;">Timezone:</span>
				      				<span>XX</span>
				      			</div>
				      			<div class="col-lg-3">
				      				<div class="row">
					      				<div class="col-lg-3" style="vertical-align: middle;font-weight: 500;">
					      					Date:
					      				</div>
					      				<div class="col-lg-9 input-group ">
										    <input type="text" class="form-control datepicker">
										    <div class="input-group-addon">
										        <span class="glyphicon glyphicon-th"></span>
										    </div>
										</div>
									</div>
				      			</div>
				      			<div class="col-lg-3">
				      				<div class="row">
					      				<div class="form-group m-form__group row">
											<label class="col-form-label col-lg-3 col-sm-12">
												Time
											</label>
											<div class="col-lg-9 col-md-9 col-sm-12">
												<input type='text' class="form-control" id="m_timepicker_1" readonly placeholder="Select time">
											</div>
										</div>
									</div>
				      			</div>
				      		</div>
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-3"></div>
				      			<div class="col-lg-3" >
				      				<button class="btn m-btn--pill custom_btn1" id="send_sms"  style=""(click)="schedule()">Schedule Now</button>
				      			</div>
				      			<div class="col-lg-3" >	
				      				<button class="btn m-btn--pill custom_btn1" id="send_sms"  style=""
				      				data-dismiss="modal" aria-label="Close">Edit Sms</button>
				      			</div>
				      			<div class="col-lg-3"></div>
				      		</div>
		    </div>
		  </div>
		</div>
            <!-- schedule sms modal end-->
		<div class="col-lg-3" style="min-height: 500px">
			<div class="row " style="margin-top: 15px">
				<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi _shadow" style="margin-left: 10%;max-width: 220px;width: 100%">
					<div class="m-portlet__head" style="height: 0rem">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h2 class="m-portlet__head-label m-portlet__head-label--danger" style="background:#282a3c;min-width: 145px;">
									<span>SMS Balance</span>
								</h2>
							</div>			
						</div>
					</div>
					<div class="m-portlet__body">
						<p style="white-space: pre;">Promotional SMS:   {{credits_data.pr_balance}}</p>
						<p style="white-space: pre;">Transactional SMS:   {{credits_data.tr_balance}}</p>
					</div>
				</div>	
			</div>
			<div class="row " style="margin-top: 15px">
				<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi _shadow" style="margin-left: 10%;max-width: 220px;width: 100%">
					<div class="m-portlet__head" style="height: 0rem">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h2 class="m-portlet__head-label m-portlet__head-label--danger" style="background:#282a3c;min-width: 145px;">
									<span style="text-align: center;">Contacts</span>
								</h2>
							</div>			
						</div>
					</div>
					<div class="m-portlet__body">
						<button routerLink="/app/contact-list" class="btn m-btn--pill custom_btn" style="margin-bottom: 5px">+ Add Group/Contact</button>
						<input type="text" [(ngModel)]="searchText" name="search" placeholder="Search" style="border: none;border-bottom: 1px solid gray;padding: 5px;font-weight: 450;color: black;    width: 100%;margin-bottom: 5px">
					<div *ngFor="let group of groups_list | filter : searchText; let index = index">
						<label class="m-checkbox m-checkbox--focus" style="color: darkgray;margin-top: 5px">
							<input type="checkbox" name="msg_type" value="{{group.group_id}}"  (change)="onCheckboxChange(group, $event)">
								{{group.group_name}}
							<span style="border: 1px solid #bdc3d4;"></span>
						</label>
					</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>
<!-- BEGIN: Subheader -->
