<a href="javascript:;"  class="btn btn-primary" id="showtoast" style="display: none;
">
</a>

<div appunwraptag="" style="margin-left: 105px;margin-top: 10px;margin-right:10px;">
	
	<div class="row" style="padding-bottom: 8px;"> 
			
		<div class="col-lg-9" style="padding-bottom: 15px;padding-left: 0px;background: white;margin-bottom:10px;margin-top: 10px">
				<div  class="row text-info" style="margin-left: 4%;margin-top: 3%; margin-right: 4%">
						<h4>Send SMS</h4>
					</div>
		
			<form>
			
			<div class="row" style="margin-left: 4%;margin-top: 3%; margin-right: 4%">
				<div class="col-lg-5  col-sm-12 " style="background-color: white;padding: 0px">
					    
					<!-- <div class="search_categories"> -->
					    <!-- <div class="select row" > -->
					       <!-- <select class="form-control selectpicker m-bootstrap-select m_selectpicker" name="search_categories" id="search_categories" style="height: 40px"  (change)="getSpecificSenderId($event.target.value)">
					         <option [selected]="true" value="" [disabled]="true" >Select Route</option>
					          <option *ngFor="let r of routes_list; let index = index" value="{{r.az_rname}}" [selected]="r.selected" [value]="r.az_rname" >{{r.az_rname}}</option>
							</select> -->
							<select id="selectpicker1" data-size="5" (change)="getSpecificSenderId($event.target.value)" style="height:40px" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
													<option [disabled]="true" [selected]="true" value="">Select Route</option>
													<option *ngFor="let r of routes_list; let index = index" value="{{r.az_rname}}" [selected]="r.selected" [value]="r.az_rname" >{{r.az_rname}}</option>
													
												</select>
					    <!-- </div> -->
					<!-- </div> -->
					
				</div>
				<div class="col-lg-2"></div>
				
				<div [hidden]="hideSenderId" class="col-lg-5 col-sm-12" style="background-color: white;padding: 0px">
					<!-- <div class="search_categories"> -->
					    <!-- <div class="select row" > -->
					       <!-- <select  name="search_categories" id="search_categories_" style="height: 40px"  (change)="getSpecificRoute($event.target.value)">
					          <option [ngValue]="" value="" [disabled]="true"  [selected]="true">Select Sender ID</option>
					          <option *ngFor="let send of senderid_list; let index = index" value="{{send.senderid}}" [selected]="send.selected" [value]="send.senderid" >{{send.senderid}}</option>
							</select> -->
							<select id="selectpicker2" data-size="5" (change)="getSpecificRoute($event.target.value)" style="height:40px" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
									<option [disabled]="true" [selected]="true" value="">Select Sender Id</option>
									<option *ngFor="let send of senderid_list; let index = index" value="{{send.senderid}}" [selected]="send.selected" [value]="send.senderid" >{{send.senderid}}</option>									
								</select>
					    <!-- </div> -->
					<!-- </div> -->
				</div>
			</div>
			<div class="row m-radio-list" style="margin-top: 4%;margin-left: 3%">
					<label class="m-radio m-radio--solid m-radio--brand" style="margin-left:10px;margin-right:10px;padding-top: 1.9px;">
							<input type="radio"  checked style="margin-left:10px;margin-right: 10px;" name="optradio" id="tonumbers"  (change)="show_numbers()" >
							To Numbers

					<span style="padding:9px;"></span>
					</label>
					<label class="m-radio m-radio--solid m-radio--success" style="margin-left:10px;margin-right:10px;padding-top: 1.9px;">
							<input type="radio" class="radio1"  name="optradio" style="margin-left:10px;margin-right: 10px;"  (change)="show_dropzone()">
						Bulk Upload
					<span style="padding:9px;"></span>
					</label>
				</div>
			<!-- <div class="row m-radio-list" style="margin-top: 2%;margin-left: 1px;">
					
					<label class=" col-lg-2 m-radio m-radio--solid m-radio--success"  style="margin-left: 15px;size: 20px;"></label>
						<label class="radio-inline col-lg-3"  style="margin-left: 5px">
					 <h5 style="color: #0C4DA2;font-size: 15;margin-top: 10px;"> To Numbers</h5> 
			</div> -->
			<div class="row" style="margin-left: 4%;margin-top: 5px ;margin-right:4%;">
				<div class="col-lg-5 _shadow" style="height: 90px;background-color: white;">
						<div class="row " style="height:90px;">
								<div [hidden]="show_to_numbers" style="width: 100%;min-height: 60px;max-height: 90px" class="col-lg-12 _shadow  m-dropzone dropzone m-dropzone--success"     (click)="numbers=''" id="m-dropzone-three">
									<div class="m-dropzone__msg dz-message needsclick">
										<h3 class="m-dropzone__msg-title">Drop files here or click to upload.</h3>
										<span class="m-dropzone__msg-desc">Only text, csv and excel files are allowed for upload</span>
									</div>
								</div>
							
								<textarea  [hidden]="!show_to_numbers"  [(ngModel)]="numbers"  [ngModelOptions]="{standalone: true}" name="numbers"  placeholder="Enter Numbers Here " style="width: 100%;resize: none;min-height: 60px;padding:10px"  #to_numbers (ngModelChange)="update_count()" ></textarea> 
						</div>
						
				</div>
				<div class="col-lg-2"></div>
				<div class=" col-lg-5 " style="padding:0px" >
					<div class="row" >
						<h5 style="color: #0C4DA2;font-size: 15;margin-left: 15px;margin-top: 10px;"> Template </h5>
						</div>
									<select name="template"   data-size="5" id="selectpickertemplate" [(ngModel)]="template" (change)="select_temp($event.target.value)" style="height:40px" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
											<option [ngValue]="null" [disabled]="true" [selected]="template==null">Select Template</option>
											<option [disabled]="kyc_status==0" [selected]="temp.template_name=='SAINODEF'" *ngFor="let temp of template_list; let index = index" value="{{temp.template_data}}" [value]="temp.template_data"  >{{temp.template_name}}</option>
											
										</select>
				<!-- <dropzone [config]="config"  [message]="'Click or drag images here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone> -->

			</div>
				
			
							
			</div>
			
			
			<div class="row"  [hidden]="!show_to_numbers" style="margin-left: 4%">
					<div style="margin-top: 4px;margin-left: -15px;" class="col-lg-8">
						<button class="btn btn-default custom_btn" style="border-radius: 23px;background: transparent;border: 1px solid gray;padding: 2px 8px;font-size: .9rem;" (click)="clear_nos()">Clear</button>
						<button class="btn btn-default custom_btn" style="border-radius: 23px;background: transparent;border: 1px solid gray;padding: 2px 8px;font-size: .9rem" (click)="make_unique()">Unique</button>
						<h5 style="color: darkgray;font-size: .9rem;margin-top: 10px;display: inline;"> Count : 
							{{numbers_count}}							
						</h5>
					</div>
					<!-- <div class="col-lg-4">
						<label class="btn-bs-file btn  btn-default" style="border-radius: 23px;margin-top:4px;background: transparent;border: 1px solid gray;padding: 2px 8px;margin-left: 40%;font-size: .9rem;">
							<img src="./assets/app/media/img/icons/upload.png" style="width: 11px;margin-bottom: 3px;">
			                Upload
			                <input type="file" (change)="readFile($event.target.files)"/>
			            </label>
			        </div> -->
			</div>
			
			<div class="row" style="margin-left: 4%;margin-top: 4%">
				<div class="col-lg-5" >
					<h5 style="color: #0C4DA2;font-size: 15;"> Message</h5>
				</div>
				<div class="row col-lg-7">	
					<div class="row col-lg-7">
							<label class="m-radio m-radio--check-bold col-lg-6" >
									<input type="radio" name="contenttype" checked (change)="contentTypeChanged()"> English
									<span></span>
									</label>
									<label class="m-radio m-radio--check-bold ">
											<input type="radio" name="contenttype"   (change)="contentTypeChanged()"> Unicode
											<span></span>
											</label>
					</div>
					<div class="col-lg-5" style="margin-left:30px">
							<label class="m-checkbox m-checkbox--check-bold" >
									<input type="checkbox" name="send_flash" [(ngModel)]="send_flash" [ngModelOptions]="{standalone: true}">							
									Send as Flash
									<span></span>
									</label>
					</div>
						
					
					<!-- <label class="radio-inline col-lg-3" >
						<input type="radio"   name="optradio2" checked (change)="contentTypeChanged()"><span>English</span></label>
					<label class="radio-inline col-lg-3"  style="margin-left: 10px">
						<input type="radio"  name="optradio2"  (change)="contentTypeChanged()"><span>Unicode</span></label> -->
					
						<!-- <label class="m-checkbox m-checkbox--focus " style="padding-left:30px;color: black;margin-top: 5px;font-size: .9rem;width:auto">
						
						<span style="border: 1px solid #bdc3d4;"></span> -->
						
					<!-- </label> -->
				
					
				</div>
			

			</div>
			<div class="row _shadow" style="margin-left: 4%;height: 90px;background-color: white;margin-right: 30px">
					<div class="row col-lg-12" style="margin: 0px;padding: 0px;">
					<textarea [disabled]="kyc_status==0" [(ngModel)]="message" name="message" style="width: 100%;resize: none;min-height: 60px;padding: 10px" placeholder=" "id="message" required="required" ng-cut="MessageChanged()" ng-copy="MessageChanged()"  (ngModelChange)="MessageChanged()"></textarea> 
					</div>
			</div>
			<div class="row "  style="margin-left: 4%;">
					<h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;"> Total Characters : {{message.length}}</h5>
					<h5  style="color: darkgray;font-size: .9rem;margin-top: 5px;margin-left: 5%"> Total SMS :  {{sms_count}}</h5>
					

					
			</div>
			<div class="row "  style="margin-left: 4%;margin-top:2%">
					<div  >
						<button  class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms" (click)="SendNow()">
								<!-- data-toggle="modal" data-target="#m_modal_send" -->
								<!-- <i class="fa flaticon-paper-plane"></i>&nbsp;Send Now -->
								<img src="./assets/app/media/img/saino_icons/send_plane.png" style="width: 20px;margin-right: 6px;padding: 0px">&nbsp;Send Now 

						</button>
						<button class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="ScheduleNow()" style="margin-left: 25px;">
								<!-- data-toggle="modal"  data-target="#m_modal_schedule" -->
							<i class="fa flaticon-clock-1"></i> &nbsp;Schedule SMS
						</button>
						<!-- <button  data-toggle="modal" (click)="validateform()"data-target="#m_modal_schedule" style="margin-left: 25px;">
								<i class="fa flaticon-clock-1"></i> &nbsp;Schedule SMS</button> -->

						<!-- <button class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" (click)="automate()" style="margin-left: 25px;"><i class="fa flaticon-layers"></i>&nbsp;Automation SMS</button> -->
					</div>
			</div>
			<div class="row" style="margin-top: 20px;">

			</div>


			<!--send sms modal start-->
		<div  class="modal fade" id="m_modal_send" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="height: 400px;padding: 20px">

				      <div class="modal-header">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Send SMS</h5>
				      	</div>
				      </div>
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-1"></div>
				      			<div class="col-lg-4" >
				      				<span style="padding-right: 10px;font-weight: 500;">Route:</span>
				      				<span>{{route.az_rname}}</span>
				      			</div>
				      			<div class="col-lg-2"></div>
				      			<div class="col-lg-4">
				      				<span style="padding-right: 10px;font-weight: 500;">Sender ID:</span>
				      				<span>{{sender_id_name}}</span>
								</div>
								<div class="col-lg-1"></div>
				      		</div>
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-1"></div>
				      			<div class="col-lg-10" >
				      				<span style="padding-right: 10px;font-weight: 500;">Message:</span>
				      				<textarea disabled style="width: 100%;min-height: 110px;padding:10px; resize: none;">{{message}}</textarea>
				      			</div>
				      			<div class="col-lg-1"></div>
				      		</div>
				      		<div class="row" style="font-size: 16px;margin: 25px 15px 15px 15px;">
				      			<div class="col-lg-1"></div>
				      			<div class="col-lg-3" >
				      				<span style="padding-right: 10px;font-weight: 500;">Characters:</span>
				      				<span>{{message.length}}</span>
				      			</div>
				      			<div class="col-lg-3" >
				      				<span style="padding-right: 10px;font-weight: 500;">SMS:</span>
				      				<span>{{sms_count }}</span>
				      			</div>
				      			<!-- <div class="col-lg-3" >
				      				<span style="padding-right: 10px;font-weight: 500;">Credits:</span>
				      				<span>XX</span>
				      			</div> -->
				      			<div class="col-lg-1"></div>
				      		</div>
							  <!-- <div class="row" style="font-size: 16px;margin: 15px;">
								<div class="col-lg-1"></div>
				      			<div class="col-lg-3">
										<span style="padding-right: 10px;font-weight: 500;">Timezone:</span>

								  </div>
				      			<div class="col-lg-6" >
									<select id="selectpicker3" data-dropup-auto="false" data-size="5" [(ngModel)]="smsTimezone" [ngModelOptions]="{standalone: true}" (change)="changes()" class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
										<option [disabled]="true" [selected]="true">Select Timezone</option>
										<optgroup *ngFor="let c of timezoneobject" label={{c}}>
											<option *ngFor="let tzone of timezoneDropdown[c]" value="{{tzone}}" [selected]="smsTimezone==tzone">{{tzone}}</option>
										</optgroup>
										</select>
										<!-- <select  id="selectpicker3" data-dropup-auto="false" data-size="5"  [ngModelOptions]="{standalone: true}" [(ngModel)]="r_timezone" class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
											<option [disabled]="true" [selected]="true">Select Timezone</option>
											<optgroup *ngFor="let c of timezoneobject" label={{c}}>
												<option *ngFor="let timezone of timezoneDropdown[c]"[selected]="r_timezone==timezone" >{{timezone}}</option>
											</optgroup>
											</select>
				      			</div>
				      			<div class="col-lg-1"></div>
				      		</div> -->
				      		<div class="row" style="font-size: 16px;margin: 15px;">
				      			<div class="col-lg-3"></div>
				      			<div class="col-lg-3" >
				      				<button class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms"  (click)="send()"  type="submit">
											<img src="./assets/app/media/img/saino_icons/send_plane.png" style="width: 20px;margin-right: 6px;padding: 0px">&nbsp;Send Now 
										</button>
								  </div>
								  <!-- <swal
									  #send_sms_swal
									  title="Are you sure?"
									  text="This cannot be undone"
									  type="warning"
									  [showCancelButton]="true"
									  [focusCancel]="true"
									  (confirm)="">
									</swal> -->
				      			<div class="col-lg-3" >	
									  <button class="btn btn-warning m-btn m-btn--icon m-btn--pill" id="edit_sms"  style="padding-bottom: 11px;padding-left: 25px;padding-right: 25px;padding-top: 11px;"
									  data-dismiss="modal" aria-label="Close">
									  <span>
											<i class="fa fa-pencil-square-o"  aria-hidden="true"></i>
											<span>Edit SMS</span>
										</span>
									</button>
				      			</div>
				      			<div class="col-lg-3"></div>
				      		</div>

		    </div>
		  </div>
		</div>
            <!-- send sms modal end-->

		<!--schedule sms modal start-->
		<div  class="modal fade"  id="m_modal_schedule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
				  <div class="modal-content" style="height: 400px;padding: 20px">
	  
							<div class="modal-header">
								<div class="container">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
								  </button>
									<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Schedule SMS</h5>
								</div>
							</div>
									<div class="row" style="font-size: 16px;margin: 15px;">
										<div class="col-lg-1"></div>
										<div class="col-lg-4" >
											<span style="padding-right: 10px;font-weight: 500;">Route:</span>
											<span>{{route_name}}</span>
										</div>
										<div class="col-lg-2"></div>
										<div class="col-lg-4">
											<span style="padding-right: 10px;font-weight: 500;">Sender ID:</span>
											<span>{{sender_id_name}}</span>
									  </div>
									  <div class="col-lg-1"></div>
									</div>
									<div class="row" style="font-size: 16px;margin: 15px;">
										<div class="col-lg-1"></div>
										<div class="col-lg-2" >
											<span style="padding-right: 10px;font-weight: 500;">Message:</span>
											<!-- <span>{{message}}</span> -->
										</div>
										<div class="col-lg-8">
											<textarea disabled style="width: 100%;min-height: 50px;padding:10px; resize: none;">{{message}}</textarea>	
										</div>
										<div class="col-lg-1"></div>
									</div>
									<div class="row" style="font-size: 16px;margin: 25px 15px 15px 15px;">
										<div class="col-lg-1"></div>
										<div class="col-lg-3" >
											<span style="padding-right: 10px;font-weight: 500;">Characters:</span>
											<span>{{message.length}}</span>
										</div>
										<div class="col-lg-3" >
											<span style="padding-right: 10px;font-weight: 500;">SMS:</span>
											<span>{{ (message.length / 140) - (( message.length % 140 ) / 140) +1 }}</span>
										</div>
										<!-- <div class="col-lg-3" >
											<span style="padding-right: 10px;font-weight: 500;">Credits:</span>
											<span>XX</span>
										</div> -->
										<div class="col-lg-1"></div>
									</div>
									<div class="row" style="font-size: 16px;margin: 15px;">
											<div class="col-lg-1"></div>
											  <div class="col-lg-3">
													<span style="padding-right: 10px;font-weight: 500;">Timezone:</span>
			
											  </div>
											  <div class="col-lg-6" >
												<select id="selectpicker4" data-dropup-auto="false" data-size="5" [ngModelOptions]="{standalone: true}" [(ngModel)]="smsTimezone1" class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
													<option [disabled]="true" [selected]="true">Select Timezone</option>
													<optgroup *ngFor="let c of timezoneobject" label={{c}}>
														<option *ngFor="let tzone of timezoneDropdown[c]" value="{{tzone}}" [selected]="smsTimezone1==tzone">{{tzone}}</option>
													</optgroup>
													</select>
													
											  </div>
											  <div class="col-lg-1"></div>
										  </div>
									<div class="row" style="margin: 15px">
										<div class="col-lg-1"></div>
											<div class="col-lg-4" style="margin-left: 17px;font-weight: bold;">
													<div class="row">
															<div class="form-group m-form__group row">
																	<label class="col-form-label col-lg-3 col-sm-12">
																		Date:
																	</label>
																	<div class="col-lg-9 col-md-9 col-sm-12 input-group">
																			<input id="date1"type="text" style="max-height: 35px;" class="form-control datepicker">
																			<div class="input-group-addon">
																				<span class="glyphicon glyphicon-th"></span>
																			</div>
																	</div>
																</div>														
												  </div>
												</div>
												<div class="col-lg-4" style="margin-left: 15px;font-weight: bold;">
													<div class="row">
														<div class="form-group m-form__group row">
														  <label class="col-form-label col-lg-3 col-sm-12">
															  Time:
														  </label>
														  <div class="col-lg-9 col-md-9 col-sm-12">
															  <input type='text' class="form-control"  id="bulksms_schedule" readonly placeholder="Select time">
														  </div>
													  </div>
												  </div>
												</div>
									</div>
									<div class="row" style="font-size: 16px;margin: 15px;">
										<div class="col-lg-3"></div>
										<div class="col-lg-3" >
											<button class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms"   style="margin-left: 20px" (click)="schedule()"><i class="fa flaticon-clock-1"></i> &nbsp;Schedule Now</button>
										</div>
										<!-- <swal
										#send_schedule_sms_swal
										title="Are you sure?"
										text="This cannot be undone"
										type="warning"
										[showCancelButton]="true"
										[focusCancel]="true"
										(confirm)=>
									 	 </swal> -->
										<div class="col-lg-1"></div>
										<div class="col-lg-3" >	
											<button class="btn btn-warning m-btn m-btn--icon m-btn--pill" id="send_sms"  style="padding-bottom: 10px;padding-left: 25px; padding-right: 25px;padding-top: 10px;"data-dismiss="modal" aria-label="Close">
											<span>
													<i class="fa fa-pencil-square-o"  aria-hidden="true"></i>
													<span>Edit SMS</span>
												</span>
										</button>
											
										</div>
										<div class="col-lg-2"></div>
									</div>
				  </div>
				</div>
			  </div>
            <!-- schedule sms modal end-->
		</form>
		</div>

		
		<div class="col-lg-3" style="min-height: 500px">
			<div class="row " style="margin-top: 15px">
				<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi _shadow" style="margin-left: 10%;max-width: 202px;width: 100%">
					<div class="m-portlet__head" style="height: 0rem">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h2 class="m-portlet__head-label m-portlet__head-label--danger" style="background:#282a3c;min-width: 145px;">
									<span style="font-size: 15px">SMS Balance</span>
								</h2>
							</div>			
						</div>
					</div>
					<div class="m-portlet__body">
						<p style="white-space: pre;">Promotional SMS:   {{credits_data.pr_balance}}</p>
						<p style="white-space: pre;">Transactional SMS:   {{credits_data.tr_balance}}</p>
					</div>
				</div>	
			</div>
			<div class="row " style="max-height: inherit;margin-bottom: 10px;height: 66.8%;">
				<div class="m-portlet m-portlet--creative m-portlet--first m-portlet--bordered-semi _shadow" style="margin-left: 10%;max-width: 202px;width: 100%">
					<div class="m-portlet__head" style="height: 0rem">
						<div class="m-portlet__head-caption">
							<div class="m-portlet__head-title">
								<h2 class="m-portlet__head-label m-portlet__head-label--danger" style="background:#282a3c;min-width: 145px;">
									<span style="text-align: center;">Contacts</span>
								</h2>
							</div>			
						</div>
					</div>
					<div class="m-portlet__body" style="padding: 0 2.2rem 0 2.2rem;">
						<button routerLink="/app/contact-list" class="btn m-btn--pill custom_btn" style="margin-bottom: 5px;padding: 0px;">+ Add Group/Contact</button>
						<input type="text" [(ngModel)]="searchText" name="search" placeholder="Search" style="border: none;border-bottom: 1px solid gray;padding: 5px;font-weight: 450;color: black;    width: 100%;margin-bottom: 5px">
						<div id="groups" style="max-height:210px;overflow: auto;">
							<ul style="display:inline-block;margin:0px;padding:0px">
								<li  *ngFor="let group of groups_list | filter : searchText; let index = index">
										<label  class="m-checkbox m-checkbox--focus" style="color: black;margin-top: 5px">
												<input type="checkbox" name="msg_type" value="{{group.group_id}}"  (change)="onCheckboxChange(group, $event)">
													{{group.group_name}}
												<span style="border: 1px solid #bdc3d4;"></span>
											</label>
								</li>
							</ul>
									
									
						</div>
					
					</div>
				</div>	
			</div>
		</div>
	</div>
</div>