
<div class="m-content" style="margin-left: 240px;margin-top: 105px;margin-right: 25px;padding-top: 30px;background: white;">
	
  <div class="row " style="margin-top: 10px; margin-left:10px;">
    <div class="col-lg-4">
      <h4>Call Breakup</h4>
      
    </div>
    <div class="col-lg-8">
        <div class="row">
					<div class="col-lg-1"></div>
					<div [hidden]="show_calendar1" class="col-lg-6"></div>
					<div class="col-lg-3">
							<div class="form-group m-form__group row">
									<div class="col-lg-12 col-md-9 col-sm-12">
										<select [(ngModel)]="calendar_range1" (change)="rangeChanged1()" class="form-control m-bootstrap-select m_selectpicker">
											<option value="today">
												Today
											</option>
											<option value="7days">
												Last 7 days
											</option>
											<option value="15days">
												Last 15 days
											</option>
											<option value="month">
												Last month
											</option>
											<option value="custom">
													Custom
											</option>
										</select>
									</div>
								</div>
					</div>
					<div  [hidden]="!show_calendar1"  class="col-lg-6" id="sandbox-container">
							<div class="input-daterange input-group" id="datepicker">
									<span class="input-group-addon" style="text-align: center;margin-right: 5px;padding-top: 7px;">From</span>
									<input type="text" class="form-control" id="m_datepicker_11" readonly="" placeholder="Select date">
									<span class="input-group-addon" style="text-align: center;padding-top: 7px;">To</span>
									<input  type="text" class="form-control" id="m_datepicker_21" readonly="" placeholder="Select date">
				
								</div>
					</div>
					<div class="col-lg-2" style="    padding-top: 6px;">
							<button class="btn " style="background: transparent;padding: 0px;float: left;    margin-right: 12px;">
									<img src="./assets/app/media/img/icons/search.png" style="width: 22px;background: transparent;">
								</button>
								<button class="btn" style="border: none;background: transparent;padding: 0px;float: left;" >
										<img src="./assets/app/media/img/saino_icons/download.png" title="Download" style="width: 22px;margin-bottom: 4px;margin-left: 20%">
									</button>

					</div>
						
				</div>
      </div>
    <!-- <div class="col-lg-1"></div>
    <div class="col-lg-5">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6" id="reportrange_2" class="form-control input-group" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 50%;text-align: center;">
              <i class="fa fa-calendar"></i>&nbsp;
              <span  ></span>
            </div>
            <div  class="col-lg-1">
            <button  class="btn " style="background: transparent;width:25px;padding: 0px;">
                <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
                  <img src="assets/app/media/img/icons/search.png" style="background: transparent;width: 25px;">
                </span>
            </button>
            </div> 
            <div class="col-lg-1">
                <img src="assets/app/media/img/saino_icons/download.png" style="background: transparent;width: 25px;">
            </div>
          </div>
    </div> -->
  </div>
        
            
  <div class="row" style="padding: 30px 30px 20px 30px"> 
        <table style="width: 100%">
          <tr style="background: #c5cbe4">
          <th style="width: 5%;color: black;text-align: center;">Sr No</th>
          <th style="width: 10%;color: black;text-align: center;">Date</th>
          <th style="width: 10%;color: black;text-align: center;">Calls</th>
          <th style="width: 10%;color: black;text-align: center;">Answered</th>
          <th style="width: 10%;color: black;text-align: center;">Missed</th>
          <th style="width: 15%;color: black;text-align: center;">Incoming</th>
          <th style="width: 15%;color: black;text-align: center;">Outgoing</th>
        </tr>
          <!-- <tr *ngFor="let agent of agent_list | paginate: { 
          id: 'calllogs',itemsPerPage: 5, currentPage: calllogs_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
          <td style="width: 5%;text-align: center;">{{ (calllogs_p - 1) * 5 + i +1}}</td>
          <td style="width: 10%;text-align: center;">date</td>
          <td style="width: 10%;text-align: center;">Calls</td>
          <td style="width: 10%;text-align: center;">Answered</td>
          <td style="width: 10%;text-align: center;">Missed</td>
          <td style="width: 15%;text-align: center;">Incoming</td>
          <td style="width: 15%;text-align: center;">Outgoing</td> 
          
          
          
          </tr>-->
        </table>
        <div class="row">
            <div class="col-lg-3">
              
            </div>
            <div class="col-lg-6">
              <pagination-controls id="calllogs" (pageChange)="calllogs_p = $event" maxSize="4"
                  directionLinks="true"
                  autoHide="true"
                  previousLabel="Previous"
                  nextLabel="Next"
                  screenReaderPaginationLabel="Pagination"
                  screenReaderPageLabel="page"
                  screenReaderCurrentLabel="You're on page"></pagination-controls> 
            </div>
            <div class="col-lg-3"></div>
          </div>
</div>
      </div>
      



    <!-- Agent Wise Missed Call -->

 <div class="m-content" style="margin-left: 240px;margin-top: 30px;margin-right: 25px;padding-top: 30px;background: white;">
  <div class="row " style="margin-top: 10px; margin-left:10px;">
    <div class="col-lg-4">
      <h4>Agent Wise call</h4>
      
    </div>
    <div class="col-lg-8">
        <div class="row">
					<div class="col-lg-1"></div>
					<div [hidden]="show_calendar" class="col-lg-6"></div>
					<div class="col-lg-3">
							<div class="form-group m-form__group row">
									<div class="col-lg-12 col-md-9 col-sm-12">
										<select [(ngModel)]="calendar_range" (change)="rangeChanged()" class="form-control m-bootstrap-select m_selectpicker">
											<option value="today">
												Today
											</option>
											<option value="7days">
												Last 7 days
											</option>
											<option value="15days">
												Last 15 days
											</option>
											<option value="month">
												Last month
											</option>
											<option value="custom">
													Custom
											</option>
										</select>
									</div>
								</div>
					</div>
					<div  [hidden]="!show_calendar"  class="col-lg-6" id="sandbox-container">
							<div class="input-daterange input-group" id="datepicker">
									<span class="input-group-addon" style="text-align: center;margin-right: 5px;padding-top: 7px;">From</span>
									<input type="text" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
									<span class="input-group-addon" style="text-align: center;padding-top: 7px;">To</span>
									<input  type="text" class="form-control" id="m_datepicker_2" readonly="" placeholder="Select date">
				
								</div>
					</div>
					<div class="col-lg-2" style="    padding-top: 6px;">
							<button class="btn " style="background: transparent;padding: 0px;float: left;    margin-right: 12px;">
									<img src="./assets/app/media/img/icons/search.png" style="width: 22px;background: transparent;">
								</button>
								<button class="btn" style="border: none;background: transparent;padding: 0px;float: left;" >
										<img src="./assets/app/media/img/saino_icons/download.png" title="Download" style="width: 22px;margin-bottom: 4px;margin-left: 20%">
									</button>

					</div>
						
				</div>
      </div>
    <!-- <div class="col-lg-1"></div>
    <div class="col-lg-5">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6" id="reportrange_2" class="form-control input-group" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 50%;text-align: center;">
              <i class="fa fa-calendar"></i>&nbsp;
              <span  ></span>
            </div>
            <div  class="col-lg-1">
            <button  class="btn " style="background: transparent;width:25px;padding: 0px;">
                <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
                  <img src="assets/app/media/img/icons/search.png" style="background: transparent;width: 25px;">
                </span>
            </button>
            </div> 
            <div class="col-lg-1">
                <img src="assets/app/media/img/saino_icons/download.png" style="background: transparent;width: 25px;">
            </div>
          </div>
    </div> -->
  </div>
        
            
  <div class="row" style="padding: 30px 30px 20px 30px"> 
    <table style="width: 100%">
      <tr style="background: #c5cbe4">
      <th style="width: 5%;color: black;text-align: center;">Sr No</th>
      <th style="width: 10%;color: black;text-align: center;">Agent</th>
      <th style="width: 10%;color: black;text-align: center;">Calls</th>
      <th style="width: 10%;color: black;text-align: center;">Answered</th>
      <th style="width: 10%;color: black;text-align: center;">Missed</th>
      <th style="width: 15%;color: black;text-align: center;">Incoming</th>
      <th style="width: 15%;color: black;text-align: center;">Outgoing</th>
    </tr>
      <!-- <tr *ngFor="let agent of agent_list | paginate: { 
      id: 'calllogs',itemsPerPage: 5, currentPage: calllogs_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
      <td style="width: 5%;text-align: center;">{{ (calllogs_p - 1) * 5 + i +1}}</td>
      <td style="width: 10%;text-align: center;">Agent</td>
      <td style="width: 10%;text-align: center;">Calls</td>
      <td style="width: 10%;text-align: center;">Answered</td>
      <td style="width: 10%;text-align: center;">Missed</td>
      <td style="width: 15%;text-align: center;">Incoming</td>
      <td style="width: 15%;text-align: center;">Outgoing</td>
      
      
      
      </tr> -->
    </table>
    <div class="row">
        <div class="col-lg-3">
          
        </div>
        <div class="col-lg-6">
          <pagination-controls id="calllogs" (pageChange)="calllogs_p = $event" maxSize="4"
              directionLinks="true"
              autoHide="true"
              previousLabel="Previous"
              nextLabel="Next"
              screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page"
              screenReaderCurrentLabel="You're on page"></pagination-controls> 
        </div>
        <div class="col-lg-3"></div>
      </div>
</div>
</div>


     