<div  appunwraptag="" style="margin-left: 240px;margin-top: 105px;margin-right: 25px;padding-top: 5px;background: white;">
    <div class="row m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30 container">
        <!-- <div class="row col-lg-12" style="margin-left: 0px;margin-bottom: 20px">
          <div class="col-lg-3">
            <select title="Select Number" class="form-control m-bootstrap-select m_selectpicker">
                <option >
                  Option 1
                </option>
                <option>
                  Option 2
                </option>
              </select>
          </div>
          <div class="col-lg-3">
            <button class="btn m-btn--pill custom_btn1" style="border: none;padding: 8px 20px;margin-right: 10px;" data-toggle="modal" data-target="#auto_reply">
                        Activation
            </button>
          </div>
        </div> -->
        
        <div class="row align-items-center col-lg-12"  style="margin:0px">
          <div class="col-lg-6">
              <label class="m-radio m-radio--check-bold col-lg-6" >
                  <input type="radio" name="contenttype" > Regular Number
                  <span></span>
                  </label>
                  <label class="m-radio m-radio--check-bold ">
                      <input type="radio" name="contenttype"  > Special Number
                      <span></span>
                      </label>
          
          </div>
          <div class="col-lg-3"></div>
          <div class="col-lg-3">
            <input type="text" name="search"  [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
                  <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
                    <span><i class="la la-search"></i></span>
                  </span>
          </div>
        </div>
      
      
      <!--begin: Datatable -->
  
      <table style="width: 100%;margin:30px">
                  <tr style="background: #c5cbe4">
                    <th style="width: 35%;color: black;text-align: center;">Number</th>
                    <th style="width: 35%;color: black;text-align: center;">Price</th>
                    <th style="width: 30%;color: black;text-align: center;">Action</th>
                  </tr>
                  <tr>
                    <td style="width: 35%;color: black;text-align: center;">0803018989</td>
                    <td style="width: 35%;color: black;text-align: center;">5000</td>
                    <td style="width: 30%;color: black;text-align: center;">
                      <button class="btn m-btn--pill    btn-info m-btn--wide" style="border: none;padding: 8px 15px;margin-right: 10px;" data-toggle="modal" data-target="#auto_reply">
                        Select
                    </button>
                    </td>
                  </tr>
                  <tr *ngFor="let group of groups_list | filter : searchText | paginate: { 
                  id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                    <td style="width: 35%;color: black;text-align: center;">0803018989</td>
                    <td style="width: 35%;color: black;text-align: center;">5000</td>
                    <td style="width: 30%;color: black;text-align: center;">
                    <button class="btn m-btn--pill    btn-info m-btn--wide" style="border: none;background: transparent;padding: 0px;margin-right: 10px;"  data-toggle="modal" title="Auto Reply SMS" data-target="#auto_reply">
                        Select
                      </button>
                    </td>
                  </tr>
        </table>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
              <pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
                          directionLinks="true"
                          autoHide="true"
                          previousLabel="Previous"
                          nextLabel="Next"
                          screenReaderPaginationLabel="Pagination"
                          screenReaderPageLabel="page"
                          screenReaderCurrentLabel="You're on page"></pagination-controls>
                </div>
                <div class="col-lg-3"></div>
        </div>
  </div>
  </div>
  
  
  
  
  <div class="modal fade" id="auto_reply" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
      <div class="modal-content" style="min-height: 250px;padding: 20px">
  
            <div class="modal-header" style="margin-bottom:20px">
              <div class="container">
                <div class="row">
                  <h4 style="text-align: center;width: 100%">
                    Activation
                  </h4>
              </div>
            </div>
          </div>
                <div class="row" style="margin-bottom:10px">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-3">
                    <p style="width: 100%;text-align: center;">
                      User Name
                    </p>
                  </div>
                  <div class="col-lg-3		      			">
                    <input class="form-control m-input" type="text" value="">
                  </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-3">
                    <p style="width: 100%;text-align: center;">
                      Numbers
                    </p>
                  </div>
                  <div class="col-lg-3">
                    <input [disabled]="true" class="form-control m-input" type="text" value="">
                  </div>
                  <div class="col-lg-3"></div>
                </div>
                <div class="row" style="margin-bottom:10px">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-3">
                    <p style="width: 100%;text-align: center;">
                      Validity Months
                    </p>
                  </div>
                  <div class="col-lg-3">
                  <select [(ngModel)]="Selected_validity" (change)="Validity_changed()"title="Select Month" class="form-control m-bootstrap-select m_selectpicker">
                <option>1</option><option>2</option>
                <option>3</option><option>4</option>
                <option>5</option><option>6</option>
                <option>7</option><option>8</option>
                <option>9</option><option>10</option>
                <option>11</option><option>12</option>
              </select>
                  </div>
                  <div class="col-lg-3"></div>
                </div>
                <div class="row" style="margin-bottom:10px">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-3">
                    <p style="width: 100%;text-align: center;">
                      Calls Unit
                    </p>
                  </div>
                  <div class="col-lg-3">
                  <select [(ngModel)]="Selected_Call_unit" title="Select Call Unit" class="form-control m-bootstrap-select m_selectpicker">
                    <option>1000</option>
                    <option>2000</option>
                    <option>3000</option>
                    <option>4000</option>
                    <option>5000</option>
  
                  </select>
                  </div>
                  <div class="col-lg-3"></div>
                </div>
                <div class="row" style="margin-bottom:10px">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-3">
                    <p style="width: 100%;text-align: center;">
                      AutoReply SMS
                    </p>
                  </div>
                  <div class="col-lg-3">
                  <select [(ngModel)]="Selected_AutoReplySms" title="Select AutoReply Sms" class="form-control m-bootstrap-select m_selectpicker">
                      <option>1000</option>
                      <option>2000</option>
                      <option>3000</option>
                      <option>4000</option>
                      <option>5000</option>
    
                    </select>
                  </div>
                  <div class="col-lg-3"></div>
            </div>
            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                  <p style="width: 100%;text-align: center;">
                    Total Cost
                  </p>
                </div>
                <div class="col-lg-3">
                  <p>{{total_cost}}</p>
                </div>
                <div class="col-lg-3"></div>				
            </div> 
            <div class="row" style="margin-bottom:10px">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                  <p style="width: 100%;text-align: center;">
                    Payment
                  </p>
                </div>
                <div class="col-lg-5">
                Wallet-Balance&nbsp;&nbsp;<strong> &#8377;{{wallet_balance}}</strong>
                </div>
                <div class="col-lg-1">
                  
                </div>				
            </div>  
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                  
                </div>
                <div class="col-lg-5">
                    <label class="m-radio m-radio--check-bold col-lg-6" >
                        <input type="radio" name="payment_mode" > Wallet
                        <span></span>
                        </label>
                        <label class="m-radio m-radio--check-bold ">
                            <input type="radio" name="payment_mode"  > Pay Online
                            <span></span>
                            </label>
                    <!-- <label class="radio-inline" style="margin-left: 15px"><input type="radio" name="payment_mode">Wallet</label>
                    <label class="radio-inline" style="margin-left: 15px"><input type="radio" name="payment_mode">Pay Online</label> -->
                    
                </div>
                <div class="col-lg-1">
                  
                </div>				
            </div>  
  
            
                <div class="row "  style="margin-left: 4%;">
              <button (click)="activate()" class="btn m-btn--pill custom_btn1" style="margin-top: 20px;margin-left: 42%;padding: 10px 30px;">Activate</button>
  
            </div>
              
            
      </div>
    </div>
  </div>
  