<!-- BEGIN: Subheader -->
<div class="container" appunwraptag="">
	<div class="row">
		<div class="m-content col-lg-12">
			<div class="m-portlet m-portlet--mobile">
				<div class="m-portlet__body">
					<!--begin: Search Form -->
					<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
						<div class="row align-items-center">
							<div class="col-lg-5">
							</div>
							<div class="col-lg-3">
								<input type="text" name="search" [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..."
								 id="generalSearch" style="width: auto; display: inline;">
								<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
									<span><i class="la la-search"></i></span>
								</span>
							</div>

							<div class="col-lg-3">
								<button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air"
								 style="color:black;padding: 4px 14px"  (click)="add_sender_id()" >
								 <!-- <span class="glyphicon glyphicon-plus"></span> -->
									<img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px">
									Add Sender ID</button>
							</div>
						</div>
					</div>

					<!--begin: Datatable -->

					<table style="width: 100%">
						<tr style="background: #c5cbe4">
							<th style="width: 5%;color: black;text-align: center;">Sr</th>
							<th style="width: 15%;color: black;text-align: center;">Sender ID</th>
							<th style="width: 15%;color: black;text-align: center;">User ID</th>
							<th style="width: 15%;color: black;text-align: center;">Assigned Route</th>
							<th style="width: 15%;color: black;text-align: center;">Status</th>
							<th style="width: 15%;color: black;text-align: center;">Created Date</th>
							<th style="width: 30%;color: black;text-align: center;">Action</th>
						</tr>

						<tr [hidden]="show_loading" *ngFor="let sender of senderid_list | filter : searchText | paginate: { 
							  id: 'sender_id_pagination',itemsPerPage: 10, currentPage: sender_id_p }; let i = index"
						 [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
							<td style="width: 5%;text-align: center;">{{ (sender_id_p - 1) * 10 + i +1}}</td>
							<td style="width: 15%;text-align: center;">{{sender.senderid}}</td>
							<td style="width: 15%;text-align: center;">{{sender.user_name}}</td>
							<td style="width: 15%;text-align: center;">
								{{routes_of_gateways[(sender_id_p - 1) * 10 + i]}}
							</td>
							<td *ngIf="sender.status === 0" style="width: 15%;text-align: center;">
								<div>
									<button class="btn m-btn--pill custom_btn1 btn-warning" style="padding: 5px 15px;min-width: 100px">Pending</button>
								</div>
							</td>
							<td *ngIf="sender.status ===1" style="width: 15%;text-align: center;">
								<div>
									<button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px">Approved</button>
								</div>
							</td>
							<td *ngIf="sender.status ===2" style="width: 15%;text-align: center;">
								<div>
									<button class="btn m-btn--pill custom_btn1 btn-danger" style="padding: 5px 15px;min-width: 100px">Rejected</button>
								</div>
							</td>

							<td style="width: 15%;color: black;text-align: center;">{{sender.crdate}}</td>
							<td style="width: 30%;color: black;text-align: center;">
								<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="edit_sender_id(this.sender)"
								 >
									<img src="./assets/app/media/img/saino_icons/edit.png" title="edit" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
								</button>
								<button [hidden]="sender.is_editable!=1 && openSenderid" class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;"
								 (click)="disapprove(this.sender)">
									<img src="./assets/app/media/img/saino_icons/cancel.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
								</button>
								<button [hidden]="sender.is_editable!=1 && openSenderid" class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;"
								 (click)="approve(this.sender)">
									<img src="./assets/app/media/img/saino_icons/check.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
								</button>
								<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" [swal]="deletesenderid">
									<img src="./assets/app/media/img/saino_icons/delete.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
								</button>
								<swal #deletesenderid title="Are you sure?" text="This cannot be undone" type="warning" [showCancelButton]="true"
								 [focusCancel]="true" (confirm)="delete_sender(this.sender)">
								</swal>


							</td>
						</tr>
					</table>

					<div class="row" [hidden]="!show_loading">
						<div class="col-lg-4"></div>
						<div class="col-lg-4" style="display: flex;justify-content: center;">
							<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
	  
					  </div>
						<div class="col-lg-4"></div>
					</div>
					<div class="row">
						<div class="col-lg-3"></div>
						<div class="col-lg-6">
							<pagination-controls id="sender_id_pagination" (pageChange)="sender_id_p = $event" maxSize="9" directionLinks="true"
							 autoHide="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
							 screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
						</div>
						<div class="col-lg-3"></div>
					</div>
					<!--end: Datatable -->

				</div>
			</div>
		</div>
	</div>
</div>

<div #myModal class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
 aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		<div [hidden]="show_loading_modal" class="modal-content" style="min-height: 400px;padding: 20px">

			<div class="modal-header" style="border-bottom: 0px">
				<div class="container">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h5 *ngIf="edit_senderid" class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Edit
						Sender ID</h5>

					<h5 *ngIf="!edit_senderid" class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add
						Sender ID</h5>
				</div>
			</div>

			<div class="row" style="margin: 0px;">
				<div class="col-lg-3 ">
				</div>
				<div class="col-lg-6 ">
					<div class="form-group m-form__group row m--margin-bottom-20">
						<label class="col-form-label col-lg-3 col-sm-12">
							User ID
						</label>
						<div class="col-lg-9 col-md-9 col-sm-12" style="padding: 0px">
							<select [disabled]="edit_senderid" [(ngModel)]="username" class="form-control selectpicker m-bootstrap-select m_selectpicker" id="user_list_select"
							 data-live-search="true">
								<option value="" [disabled]="true"> Select Userid</option>
								<option  *ngFor="let user of users_list">
									{{user.user_name}}
								</option>
							</select>
						</div>
					</div>

				</div>
				<div class="col-lg-3 ">
				</div>
			</div>
			<div class="row" style="margin: 0px;">
				<div class="col-lg-3 ">
				</div>
				<div class="col-lg-6 ">
					<div class="row form-group m-form__group" style="margin-bottom:0px ;">
						<input [(ngModel)]="sender_id_name" class="form-control m-input" type="text" placeholder="Length should be between 6 and 12"
						 name="username" style="border: none;margin: 0px;border-radius: 0px;border-bottom: 1px solid lightgray;" required>
					</div>
					<div class="row">
						<p style="font-size: 10px;">
							Sender ID In India Can be of 6 Alphabets Only. It Cannot Club with Number or Special Character. Ex- TSTSMS.
							International Sender ID Formats Vary From Country to Country.
						</p>
					</div>

				</div>
				<div class="col-lg-3 ">
				</div>
			</div>
			<div class="row" style="margin: 0px;margin-top: 5%">
				<div class="col-lg-3 ">
				</div>
				<div class="col-lg-6 ">
					<div class="row">
						<h5 style="color: #0b4a9d">Select Route</h5>
					</div>
					<div class="row ">
						<div class=" square scrollbar-dusty-grass square thin" style="max-height:150px;overflow: auto">
								<label class="m-checkbox m-checkbox--focus" style="margin-top: 5px;margin-left: 1%;margin-right: 3%;" *ngFor="let list of dropdownList;let i=index">
										<input type="checkbox" name="send_flash" (change)="routeselected(i)" value="{{list.id}}" [checked]="selectedItems[i]['selected']==true">
										{{list.az_rname}}
										<span style="border: 1px solid #bdc3d4;"></span>
									</label>
						</div>
						
					</div>
					<div class="row">
						<p style="font-size: 10px;">
							Sender ID is Subject to Approval from Operator. Normally in India it takes 4Hrs. International Sender ID
							Approval Varies From Country to Country.
						</p>
					</div>
				</div>
				<div class="col-lg-3 ">
				</div>
			</div>
			<div *ngIf="userrole=='1'" class="row" style="margin: 0px;margin-top: 5%;margin-bottom: 20px;">
				<div class="col-lg-3 ">
				</div>
				<div class="col-lg-6 ">
					<div class="row">
						<h5 style="color: #0b4a9d">Select Gateway</h5>
					</div>
					<div class="row">
							<div class=" square scrollbar-dusty-grass square thin" style="max-height:150px;overflow: auto">
						
									<label class="m-checkbox m-checkbox--focus" style="margin-top: 5px;margin-left:3px;" *ngFor="let gway of gateway_list;let i=index">
											<input type="checkbox" name="send_flash" (change)="gatewayselected(i)" value="{{gway.gateway_name}}" [checked]="gateway_list[i]['status']==true">
											{{gway.gateway_name}}
											<span style="border: 1px solid #bdc3d4;"></span>
										</label>
						
							</div>
						

					</div>

				</div>
				<div class="col-lg-3 ">
				</div>
			</div>
			<div class="row" style="margin: 0px">
				<div class="col-lg-5 ">
				</div>
				<div class="col-lg-6 ">
					<button *ngIf="!edit_senderid"   class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms"
					 style="padding: 10px 30px" (click)="create_senderid()">
						Save</button>
					<button *ngIf="edit_senderid"  class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms"
					 style="padding: 10px 30px" [swal]="editsenderid">
						Update</button>
					<swal #editsenderid title="Are you sure?" text="This cannot be undone" type="warning" [showCancelButton]="true"
					 [focusCancel]="true" (confirm)="create_senderid()">
					</swal>
				</div>
			</div>
		</div>
		<div [hidden]="!show_loading_modal" class="modal-content" style="min-height: 400px;padding: 20px">
			<div class="row">
				<div class="col-lg-4"></div>
				<div class="col-lg-4" style="display: flex;justify-content: center;">
					<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

			  </div>
				<div class="col-lg-4"></div>
			</div>
		</div>

	</div>
</div>