<div class="row">
    <div class="m-content col-lg-12">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!--begin: Search Form -->
                <div class="row container">
                    <div class="col-lg-12">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">
                            MIS Report</h5>

                        <form novalidate (ngSubmit)="handleSubmit()" [formGroup]="requestMisReportForm">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                        <label for="example-text-input" class="col-4 col-form-label">
                                            SMPP Username
                                        </label>
                                        <div class="col-lg-8">
                                            <select id="smppUserNameMis" style="width: 100%" formControlName="smppUserName"
                                                data-live-search="true" data-size="5" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
                                                <option [disabled]="true" [selected]="true">Select Smpp Username</option>
                                                <option *ngFor="let appUser of appUsers" value="{{ appUser.credits.username }}">{{
                                                    appUser.credits.username }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                        <label for="example-text-input" class="col-2 col-form-label">
                                            From
                                        </label>
                                        <div class="col-lg-4" id="sandbox-container">
                                            <div class="input-daterange input-group" id="datepicker">
                                                <input type="text" class="form-control"  id="misDatepickerFromDate"
                                                    readonly="" placeholder="From date">
                                            </div>
                                        </div>
                                        <label for="example-text-input" class="col-2 col-form-label">
                                            To
                                        </label>
                                        <div class="col-lg-4" id="sandbox-container">
                                            <div class="input-daterange input-group" id="datepicker">
                                                <input type="text" class="form-control" id="misDatepickerToDate"
                                                    readonly="" placeholder="To date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                        <div class="col-lg-9">
                                            <button type="submit" (click)="updateDate()" style="text-align: center;"
                                                [ngStyle]="{'cursor' : 'pointer' }" class="btn btn-success m-btn m-btn--icon m-btn--pill m-btn--air">
                                                Request New Report
                                            </button>
                                        </div>
                                        <!-- <div class="col-lg-1"></div> -->
                                        <div class="col-lg-3">
                                            <!-- <span  class="btn" style="background: transparent;padding-bottom: 0px;">
                                                <img src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
                                            </span> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- new row I will surely complain about you that you were lying abt complaint number-->
                            </div>
                        </form>
                    </div>
                </div>

                <table *ngIf="mis_status.length > 0 && ! loading" class="table table-fixed" cellspacing="0" width="100%">
                    <thead>
                        <tr style="background: #c5cbe4">
                            <th style="width: 5%;color: black;text-align: center;">Sr</th>
                            <th style="width: 15%;color: black;text-align: center;">Date</th>
                            <!-- <th style="width: 15%;color: black;text-align: center;">Main Account</th> -->
                            <th style="width: 14%;color: black;text-align: center;">Total SMS</th>
                            <th style="width: 14%;color: black;text-align: center;">Delivered</th>
                            <th style="width: 14%;color: black;text-align: center;">Submitted</th>
                            <th style="width: 14%;color: black;text-align: center;">Failed/Rejected</th>
                            <th style="width: 14%;color: black;text-align: center;">DND Failed</th>
                            <th style="width: 10%;color: black;text-align: center;">Total Credits</th>
                        </tr>
                    </thead>

                    <!-- <div > -->
                    <tbody>
                        <tr [hidden]="loading" *ngFor="let status of mis_status  | paginate: { 
                        id: 'misStatusPaginator',itemsPerPage: 10, currentPage: misReportPage }; let i = index"
                            [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                            <td style="width: 5%;color: black;text-align: center;">{{(misReportPage - 1) * 10 + i +1}}</td>
                            <td style="width: 15%;color: black;text-align: center;">{{status.date}}</td>
                            <td style="width: 14%;color: black;text-align: center;">{{status.totalSms}}</td>
                            <td style="width: 14%;color: rgb(5, 212, 5);text-align: center;">{{status.totalDelivered}}</td>
                            <td style="width: 14%;color: rgb(61, 14, 192);text-align: center;">{{status.totalSubmitted}}</td>
                            <td style="width: 14%;color: rgb(234, 26, 26); text-align: center;">{{status.totalFailed}}</td>
                            <td style="width: 14%;color: darksalmon; text-align: center;">{{status.totalDndFailed}}</td>
                            <td style="width: 10%;color: black;text-align: center;">{{status.totalSmsCredit}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <pagination-controls id="misStatusPaginator" (pageChange)="misReportPage = $event" maxSize="9"
                            directionLinks="true" autoHide="true" previousLabel="Previous" nextLabel="Next"
                            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
                <div class="row" [hidden]="!loading">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;;margin-left: 20%;margin-top: 10%;">

                    </div>
                    <div class="col-lg-4"></div>
                </div>
                <!--end: Datatable -->

            </div>
        </div>
    </div>
</div>