
<div class="container" appunwraptag="" style="margin-left: 105px;margin-top: 10px;margin-right:10px;padding-right: 120px">

<div class="container">
			
						
							<div class="row" style="margin-top: 20px;"></div>
							<div class="row" style="margin: 20px; "><strong ><h4>Settings</h4></strong></div>
							<ul id="settingsul" class="nav nav-pills  nav-fill" role="tablist" >
					
									<li class="nav-item item-tab nav-link active col-sm-12" data-toggle="tab" href="#m_tabs_5_1">
										
				
										<div  style="padding-top: 10px ;padding-bottom: 10px">
										<img src="./assets/app/media/img/icons/flowdesign.png" style="width: 50px;height:50px;background: transparent;">
										</div>
											Flow Design
										
									</li>
									<li class="nav-item nav-link item-tab col-sm-12" data-toggle="tab" href="#agents">
										
				
										<div  style="padding-top: 10px ;padding-bottom: 10px">
										<img src="./assets/app/media/img/icons/agents.png" style="width: 50px;height:50px;background: transparent;">
										</div>
										 Agents
										 
										
									</li> 
									 <li class="nav-item nav-link item-tab col-sm-12" data-toggle="tab" href="#calllogs">
										<div  style="padding-top: 10px ;padding-bottom: 10px">
										<img src="./assets/app/media/img/icons/sound.png" style="width: 50px;height:50px;background: transparent;">
										</div>
										Sound
										
									</li>
									<li class="nav-item nav-link item-tab col-sm-12" data-toggle="tab" href="#callbreakup">
										<div  style="padding-top: 10px ;padding-bottom: 10px">
										<img src="./assets/app/media/img/icons/sms.png" style="width: 50px;height:50px;background: transparent;">
										</div>
											SMS
											
									</li>
									<li class="nav-item nav-link item-tab col-sm-12" data-toggle="tab" href="#agentwisecall">
										<div  style="padding-top: 10px ;padding-bottom: 10px">
											<img src="./assets/app/media/img/icons/email.png" style="width: 50px;height:50px;background: transparent;">
										</div>
											E-Mail
											
									</li>
									<li class="nav-item nav-link item-tab col-sm-12" data-toggle="tab" href="#api">
										<div  style="padding-top: 10px ;padding-bottom: 10px">
											<img src="./assets/app/media/img/icons/api.png" style="width: 50px;height:50px;background: transparent;">
										</div>
											API
											
									</li> 
									
									
							</ul>     
							<div class="m-portlet">
									<div class="m-portlet__body">                
			
							<div class="tab-content">
			<div class="tab-pane active container" id="m_tabs_5_1" role="tabpanel">
				<div class="row">
					<h4 style="text-align: center;">TRX Status</h4>
				</div>
				<div class="row" style="padding: 10px 0px;">
					<div class="col-lg-2">
						<button class="btn " style="background: transparent;padding: 0px;margin: 0px 20px">
							<img src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
						</button>
					</div>
					<div class="col-lg-4">
						<button class="btn m-btn--pill custom_btn1 " style="margin: 0px 20px">
							Start SMS Sending
						</button>
					</div>
					<div class="col-lg-4">
						<button class="btn m-btn--pill custom_btn1 " style="margin: 0px 20px">
							Start DLR Receiving
						</button>
					</div>
					<div class="col-lg-2">
						<button class="btn m-btn--pill custom_btn1 " style="margin: 0px 20px">
							Stop
						</button>
					</div>
				</div>
				<div class="row" style="padding: 10px 0px;">
					<h5>Current Status</h5>
					It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
				</div>
				<div class="row" style="padding: 10px 0px;">
					<h5>History</h5>
				</div>
				<div class="row" style="padding: 10px 0px;">
			<table style="width: 100%">
			<tr style="background: #d4d3d3">
			<th style="width: 30%;color: black;text-align: center;">Type</th>
			<th style="width: 35%;color: black;text-align: center;">Start Date</th>
			<th style="width: 35%;color: black;text-align: center;">Stop Date</th>
			</tr>
			<tr>
			<td style="width: 30%;color: black;text-align: center;">SMS sending</td>
			<td style="width: 35%;color: black;text-align: center;">20/09/2017</td>
			<td style="width: 35%;color: black;text-align: center;">20/10/1017</td>
			</tr>
			<!-- <tr *ngFor="let num of block_list  | paginate: { 
			id: 'ba',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
			<td style="width: 30%;color: black;text-align: center;">Sr No</td>
			<td style="width: 35%;color: black;text-align: center;">Username</td>
			<td style="width: 35%;color: black;text-align: center;">Main Account</td>
			</tr> -->
			</table>
			<div class="row">
			<div class="col-lg-3"></div>
			<div class="col-lg-6">
			<!-- <pagination-controls id="fo" (pageChange)="p = $event" maxSize="9"
			directionLinks="true"
			autoHide="true"
			previousLabel="Previous"
			nextLabel="Next"
			screenReaderPaginationLabel="Pagination"
			screenReaderPageLabel="page"
			screenReaderCurrentLabel="You're on page"></pagination-controls> -->
			</div>
			<div class="col-lg-3"></div>
			</div>
				</div>
			</div>





















			<div class="tab-pane" id="agents" role="tabpanel">
					<div class="row">
					<div class="col-lg-3"></div>
					<div class="col-lg-2 col-sm-12"></div>
					<h3 class="modal-title" id="exampleModalLongTitle" style="padding-left:10px;color: #0b4a9d;font-weight: 650;text-align: center;">AGENTS</h3>
					<div class="col-lg-7"></div>
					</div>					
					<div class="row"> 
									<div class="m-content col-lg-12">
									<div class="m-portlet m-portlet--mobile">
										<div  class="m-portlet__body">
											<!--begin: Search Form -->
											<div class="row" style="margin-bottom: 20px">
												<div class="col-lg-3 col-sm-12">
													<h5>List 0f Agents</h5>
												</div>
												<div class="col-lg-7"></div>
												<div class="col-lg-2 col-sm-12">
											      <button data-toggle="modal" data-target="#add_agent" (click)="add_agent_clicked()" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
													Add Agent		
												  </button>
												</div>
											</div>
											
															<!--begin: Datatable -->
			
								<table style="width: 100%">
								  <tr style="background: #d4d3d3">
									<th style="width: 10%;color: black;text-align: center;">Sr No</th>
									<th style="width: 15%;color: black;text-align: center;">Name</th>
									<th style="width: 15%;color: black;text-align: center;">Email Id</th>
									<th style="width: 10%;color: black;text-align: center;">Login Access</th>
									<th style="width: 10%;color: black;text-align: center;">Status</th>
									<th style="width: 15%;color: black;text-align: center;">User Name</th>
									<th style="width: 15%;color: black;text-align: center;">Action</th>

								  </tr>
								  <tr *ngFor="let agent of agent_list | paginate: { 
									id: 'agent',itemsPerPage: 5, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
									<td style="width: 10%;text-align: center;">{{ (p - 1) * 5 + i +1}}</td>
									<td style="width: 15%;text-align: center;">{{agent.name}}</td>
									<td style="width: 15%;text-align: center;">{{agent.email_id}}</td>
									<td style="width: 10%;text-align: center;">{{agent.login_access}}</td>
									<td style="width: 10%;text-align: center;">{{agent.status}}</td>
									<td style="width: 15%;text-align: center;">{{agent.username}}</td>
									<td style="width: 10%;color: black;text-align: center;">
											<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="edit_agent_clicked(i)" data-toggle="modal" data-target="#edit_agent">
												<img src="./assets/app/media/img/saino_icons/edit.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
											</button>
											<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" >
												<img src="./assets/app/media/img/saino_icons/delete.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
											</button>
									</td>
									
								  </tr>
								</table>
								<div class="row">
										<div class="col-lg-3">
											
										</div>
										<div class="col-lg-6">
											<pagination-controls id="agent" (pageChange)="p = $event" maxSize="4"
												  directionLinks="true"
												  autoHide="true"
												  previousLabel="Previous"
												  nextLabel="Next"
												  screenReaderPaginationLabel="Pagination"
												  screenReaderPageLabel="page"
												  screenReaderCurrentLabel="You're on page"></pagination-controls> 
										</div>
										<div class="col-lg-3"></div>
									</div>
																
								
								<!--end: Datatable -->
														
										</div>
							<div class="row">
								<div class="col-lg-5"></div>
								<div class="col-lg-2 col-sm-12">
										<button [swal]="savechanges" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="save_agent"  style="margin-bottom: 10px" >
												Save   
										</button>
										<swal 
											#savechanges
											title="Are you sure?"
											text="This cannot be undone"
											type="warning"
											[showCancelButton]="true"
											[focusCancel]="true"
											(confirm)="saveagents()">
											</swal>
								</div>

								<div class="col-lg-5"></div>

							</div>
		                   

										
									</div>
									</div>
								</div>
			</div>
























































			<div class="tab-pane" id="calllogs" role="tabpanel">
				<div class="row"style="margin-left:10px">
				<div class="col-lg-3"><h4 >Call Log</h4></div>
				<div class="col-lg-2 col-sm-12">

				</div>
				
				<div class="col-lg-3">
					<div class="row">
						
								<input type="text" name="search"  [(ngModel)]="call_searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto;height: 40px;; display: inline;">
								
					
								<button  class="btn " style="background: transparent;width:25px;padding-left: 5px;">
										<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
											<img src="assets/app/media/img/icons/search.png" style="background: transparent;width: 25px;">
										</span>
									</button>
						
					</div>
						
				</div>
				<div class="col-lg-3">
					<div class="row">
						<div class="col-lg-4" style="padding-top: 5px;"><h5>Numbers</h5></div>
						<div class="col-lg-8">
								<select [(ngModel)]="numbers"  class="form-control  m-bootstrap-select m_selectpicker" id="numbers_select" data-live-search="true">
										<!-- <option *ngFor="let agent of agents">
											agents
											</option> -->
								</select>
						</div>
					</div>
				</div>
				<div class="row">
						<button class="btn " style="background: transparent;padding: 0px;margin: 0px 20px">
								<img src="assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
							</button>
				</div>
					
				</div>
				
				<div class="row " style="margin-top: 10px; margin-left:10px;">
					<div class="col-lg-6">
						<div class="row">
							<div class="col-lg-5">
								<div class="row">
										<div class="col-lg-3" style="padding-top: 5px;"><h5>Agent</h5></div>
										<div class="col-lg-9">
												<select [(ngModel)]="agentnames"  class="form-control  m-bootstrap-select m_selectpicker" id="agent_list_select" data-live-search="true">
														<!-- <option *ngFor="let agent of agents">
															agents
															</option> -->
												</select>
										</div>	

								</div>
									
							</div>
							<div class="col-lg-7">
								<div class="row">
										<div class="col-lg-4" style="padding-top: 5px;"><h5>Extension</h5></div>
										<div class="col-lg-8">
												<select [(ngModel)]="extension"  class="form-control  m-bootstrap-select m_selectpicker" id="extension_select" data-live-search="true">
														<!-- <option *ngFor="let extension of extensions">
															extension
															</option> -->
												</select>
										</div>	

								</div>
							</div>
						</div>

					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-5">
							<div class="row">
									<div class="col-lg-3"></div>
									<div class="col-lg-6" id="reportrange" class="form-control input-group" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 50%;text-align: center;">
										<i class="fa fa-calendar"></i>&nbsp;
										<span  ></span>
									</div>
									<div  class="col-lg-1">
									<button  class="btn " style="background: transparent;width:25px;padding: 0px;">
											<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
												<img src="assets/app/media/img/icons/search.png" style="background: transparent;width: 25px;">
											</span>
									</button>
									</div> 
									<div class="col-lg-1">
											<img src="assets/app/media/img/saino_icons/download.png" style="background: transparent;width: 25px;">
									</div>
								</div>
					</div>
				</div>
							
									
				<div class="row"> 
								<div class="m-content col-lg-12">
								<div class="m-portlet m-portlet--mobile">
									<div  class="m-portlet__body">
										<!--begin: Search Form -->
										<!-- <div class="row" style="margin-bottom: 20px">
											<div class="col-lg-3 col-sm-12">
												<h5>List 0f Agents</h5>
											</div>
											<div class="col-lg-7"></div>
											<div class="col-lg-2 col-sm-12">
											  <button data-toggle="modal" data-target="#add_agent" (click)="add_agent_clicked()" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
												Add Agent		
											  </button>
											</div>
										</div> -->
										
														<!--begin: Datatable -->
		
							<table style="width: 100%">
							  <tr style="background: #d4d3d3">
								<th style="width: 5%;color: black;text-align: center;">Sr No</th>
								<th style="width: 15%;color: black;text-align: center;">Date</th>
								<th style="width: 15%;color: black;text-align: center;">Caller</th>
								<th style="width: 10%;color: black;text-align: center;">Status</th>
								<th style="width: 10%;color: black;text-align: center;">Number</th>
								<th style="width: 15%;color: black;text-align: center;">Duration</th>
								<th style="width: 15%;color: black;text-align: center;">Recording</th>
								<th style="width: 15%;color: black;text-align: center;">Credits</th>
								<th style="width: 15%;color: black;text-align: center;">Actions</th>



							  </tr>
							  <tr *ngFor="let agent of agent_list | paginate: { 
								id: 'calllogs',itemsPerPage: 5, currentPage: calllogs_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
								<td style="width: 5%;text-align: center;">{{ (calllogs_p - 1) * 5 + i +1}}</td>
								<td style="width: 15%;text-align: center;">date</td>
								<td style="width: 15%;text-align: center;">caller</td>
								<td style="width: 10%;text-align: center;">status</td>
								<td style="width: 10%;text-align: center;">number</td>
								<td style="width: 15%;text-align: center;">duration</td>
								<td style="width: 15%;text-align: center;">recording</td>
								<td style="width: 15%;text-align: center;">credits</td>
								<td style="width: 10%;color: black;text-align: center;">
										<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 5px;">
											<img src="./assets/app/media/img/saino_icons/edit.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
										</button>
										<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 5px;" >
											<img src="./assets/app/media/img/saino_icons/delete.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
										</button>
								</td>
								
							  </tr>
							</table>
							<div class="row">
									<div class="col-lg-3">
										
									</div>
									<div class="col-lg-6">
										<pagination-controls id="calllogs" (pageChange)="calllogs_p = $event" maxSize="4"
											  directionLinks="true"
											  autoHide="true"
											  previousLabel="Previous"
											  nextLabel="Next"
											  screenReaderPaginationLabel="Pagination"
											  screenReaderPageLabel="page"
											  screenReaderCurrentLabel="You're on page"></pagination-controls> 
									</div>
									<div class="col-lg-3"></div>
								</div>
															
							
							<!--end: Datatable -->
													
									</div>
				</div>
			</div>
			</div>
		</div>
















		<div class="tab-pane" id="callbreakup" role="tabpanel">
				
				
				<div class="row " style="margin-top: 10px; margin-left:10px;">
					<div class="col-lg-6">
						<h4>Call Breakup</h4>
						
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-5">
							<div class="row">
									<div class="col-lg-3"></div>
									<div class="col-lg-6" id="reportrange_2" class="form-control input-group" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 50%;text-align: center;">
										<i class="fa fa-calendar"></i>&nbsp;
										<span  ></span>
									</div>
									<div  class="col-lg-1">
									<button  class="btn " style="background: transparent;width:25px;padding: 0px;">
											<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
												<img src="assets/app/media/img/icons/search.png" style="background: transparent;width: 25px;">
											</span>
									</button>
									</div> 
									<div class="col-lg-1">
											<img src="assets/app/media/img/saino_icons/download.png" style="background: transparent;width: 25px;">
									</div>
								</div>
					</div>
				</div>
							
									
				<div class="row"> 
								<div class="m-content col-lg-12">
								<div class="m-portlet m-portlet--mobile">
									<div  class="m-portlet__body">
										<!--begin: Search Form -->
										<!-- <div class="row" style="margin-bottom: 20px">
											<div class="col-lg-3 col-sm-12">
												<h5>List 0f Agents</h5>
											</div>
											<div class="col-lg-7"></div>
											<div class="col-lg-2 col-sm-12">
											  <button data-toggle="modal" data-target="#add_agent" (click)="add_agent_clicked()" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
												Add Agent		
											  </button>
											</div>
										</div> -->
										
														<!--begin: Datatable -->
		
							<table style="width: 100%">
							  <tr style="background: #d4d3d3">
								<th style="width: 10%;color: black;text-align: center;">Sr No</th>
								<th style="width: 15%;color: black;text-align: center;">Date</th>
								<th style="width: 10%;color: black;text-align: center;">Total Calls</th>
								<th style="width: 10%;color: black;text-align: center;">Total Answered</th>
								<th style="width: 10%;color: black;text-align: center;">Total Missed</th>
								<th style="width: 15%;color: black;text-align: center;">Incoming</th>
								<th style="width: 15%;color: black;text-align: center;">Outgoing</th>
							</tr>
							  <tr *ngFor="let agent of agent_list | paginate: { 
								id: 'calllogs',itemsPerPage: 5, currentPage: calllogs_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
								<td style="width: 10%;text-align: center;">{{ (calllogs_p - 1) * 5 + i +1}}</td>
								<td style="width: 15%;text-align: center;">date</td>
								<td style="width: 10%;text-align: center;">Total calls</td>
								<td style="width: 10%;text-align: center;">total Answered</td>
								<td style="width: 10%;text-align: center;">total Missed</td>
								<td style="width: 15%;text-align: center;">Incoming</td>
								<td style="width: 15%;text-align: center;">Outgoing</td>
								
								
								
							  </tr>
							</table>
							<div class="row">
									<div class="col-lg-3">
										
									</div>
									<div class="col-lg-6">
										<pagination-controls id="calllogs" (pageChange)="calllogs_p = $event" maxSize="4"
											  directionLinks="true"
											  autoHide="true"
											  previousLabel="Previous"
											  nextLabel="Next"
											  screenReaderPaginationLabel="Pagination"
											  screenReaderPageLabel="page"
											  screenReaderCurrentLabel="You're on page"></pagination-controls> 
									</div>
									<div class="col-lg-3"></div>
								</div>
															
							
							<!--end: Datatable -->
													
									</div>
				</div>
			</div>
			</div>
		</div>










	

		<div class="tab-pane" id="agentwisecall" role="tabpanel">
				
				
				<div class="row " style="margin-top: 10px; margin-left:10px;">
					<div class="col-lg-6">
						<h4>Agent Wise call</h4>
						
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-5">
							<div class="row">
									<div class="col-lg-3"></div>
									<div class="col-lg-6" id="reportrange_2" class="form-control input-group" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 50%;text-align: center;">
										<i class="fa fa-calendar"></i>&nbsp;
										<span  ></span>
									</div>
									<div  class="col-lg-1">
									<button  class="btn " style="background: transparent;width:25px;padding: 0px;">
											<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
												<img src="assets/app/media/img/icons/search.png" style="background: transparent;width: 25px;">
											</span>
									</button>
									</div> 
									<div class="col-lg-1">
											<img src="assets/app/media/img/saino_icons/download.png" style="background: transparent;width: 25px;">
									</div>
								</div>
					</div>
				</div>
							
									
				<div class="row"> 
								<div class="m-content col-lg-12">
								<div class="m-portlet m-portlet--mobile">
									<div  class="m-portlet__body">
										<!--begin: Search Form -->
										<!-- <div class="row" style="margin-bottom: 20px">
											<div class="col-lg-3 col-sm-12">
												<h5>List 0f Agents</h5>
											</div>
											<div class="col-lg-7"></div>
											<div class="col-lg-2 col-sm-12">
											  <button data-toggle="modal" data-target="#add_agent" (click)="add_agent_clicked()" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
												Add Agent		
											  </button>
											</div>
										</div> -->
										
														<!--begin: Datatable -->
		
							<table style="width: 100%">
							  <tr style="background: #d4d3d3">
								<th style="width: 10%;color: black;text-align: center;">Sr No</th>
								<th style="width: 15%;color: black;text-align: center;">Agent</th>
								<th style="width: 10%;color: black;text-align: center;">Total Calls</th>
								<th style="width: 10%;color: black;text-align: center;">Total Answered</th>
								<th style="width: 10%;color: black;text-align: center;">Total Missed</th>
								<th style="width: 15%;color: black;text-align: center;">Incoming</th>
								<th style="width: 15%;color: black;text-align: center;">Outgoing</th>
							</tr>
							  <tr *ngFor="let agent of agent_list | paginate: { 
								id: 'calllogs',itemsPerPage: 5, currentPage: calllogs_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
								<td style="width: 10%;text-align: center;">{{ (calllogs_p - 1) * 5 + i +1}}</td>
								<td style="width: 15%;text-align: center;">Agent</td>
								<td style="width: 10%;text-align: center;">Total calls</td>
								<td style="width: 10%;text-align: center;">total Answered</td>
								<td style="width: 10%;text-align: center;">total Missed</td>
								<td style="width: 15%;text-align: center;">Incoming</td>
								<td style="width: 15%;text-align: center;">Outgoing</td>
								
								
								
							  </tr>
							</table>
							<div class="row">
									<div class="col-lg-3">
										
									</div>
									<div class="col-lg-6">
										<pagination-controls id="calllogs" (pageChange)="calllogs_p = $event" maxSize="4"
											  directionLinks="true"
											  autoHide="true"
											  previousLabel="Previous"
											  nextLabel="Next"
											  screenReaderPaginationLabel="Pagination"
											  screenReaderPageLabel="page"
											  screenReaderCurrentLabel="You're on page"></pagination-controls> 
									</div>
									<div class="col-lg-3"></div>
								</div>
															
							
							<!--end: Datatable -->
													
									</div>
				</div>
			</div>
			</div>
		</div>































			
			</div>      
						</div>
					</div>
			</div>
		
		
		
</div>	
			
			
		











		
			
	
			
			
		
			
			
			
		

<!-- add agent modal -->
	
<div class="modal fade" id="add_agent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 900px" role="document">
		<div class="modal-content" style="min-height: 250px;padding: 20px">
		    <div class="modal-header">
				<div class="container">
				  	<div class="row">
						<div class="col-lg-5"></div>
			  			<div class="row col-lg-2" style=" margin: 0px">
							<h5 class="modal-title" id="exampleModalLongTitle" style="color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">ADD AGENT</h5>

						</div>
						<div class="col-lg-3"></div>
						<div class="col-lg-2">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
					</div>
				  </div>
				 
			</div>
			<div class="row" style="margin: 20px"></div>
			<div class="form-group m-form__group row" style="padding-bottom: 0px">
					<label class="col-2"></label>
					<label class="col-2 col-form-label"><h5>Name</h5></label>
					<div class="col-7" style="margin-left: 2px">
						<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="name">
					</div>
			</div>
			<div class="form-group m-form__group row" style="padding-bottom: 0px">
					<label class="col-2"></label>
					<label class="col-2 col-form-label"><h5>Number</h5></label>
					<div class="col-7" style="margin-left: 2px">
						<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="number">
					</div>
			</div>
			<div class="form-group m-form__group row" style="padding-bottom: 0px">
					<label class="col-2"></label>
					<label class="col-2 col-form-label"><h5>E-Mail</h5></label>
					<div class="col-7" style="margin-left: 2px">
						<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="email">
					</div>
			</div>
			<div class="form-group m-form__group row">
					<label class="col-2"></label>
					<label class="col-form-label col-lg-2 col-md-6 col-sm-6">
					<h5>Status</h5>
					</label>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<select id="select1" [(ngModel)]="status"class="form-control  m-bootstrap-select m_selectpicker">
							<option [ngValue]=0 [selected]="status==0">
								Inactive
							</option>
							<option [ngValue]=1 [selected]="status==1"> 
								Active
							</option>
						</select>
						
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-4 col-sm-6 col-md-6" >
						<label class="m-checkbox m-checkbox--focus" style="margin-top: 5px;margin-left:3px;" >
							<input  (click)="access_changed()"  type="checkbox" name="access"[(ngModel)]="access">
							<strong>Create Login Details for agent</strong>
							<span style="border: 1px solid #bdc3d4;"></span>
									
						</label> 
					</div>
			</div>
			<div *ngIf="access" class="form-group m-form__group row">
					<div class="col-2"></div>
					<div class="col-4">
						<div class="row">
							<label class="col-4 col-form-label"><h5>User Id</h5></label>
							<div class="col-8" style="">
								<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="userid">
							</div>

						</div>
					</div>
					<div class="col-5" style="margin-left: 20px">
						<div class="row"  >
							
							<label class="col-4 col-form-label"><h5>Password</h5></label>
							<div class="col-7" style="margin-left: 10px;">
								<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="password">
							</div>

						</div>
					</div>

			</div>
			<div class="row" style="margin-top: 20px;">
					<div class="col-lg-5"></div>
					<div class="col-lg-2 col-sm-12">
							<button  class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="save_agent" (click)="new_agent()" style="margin-bottom: 10px" >
									Save   
							</button>
					</div>

					<div class="col-lg-5"></div>

				</div>
			
		</div>
	</div>
 </div>

 
		  <!-- add agent modal ends -->



		  <div class="modal fade" id="edit_agent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" style="max-width: 900px" role="document">
					<div class="modal-content" style="min-height: 250px;padding: 20px">
						<div class="modal-header">
							<div class="container">
								  <div class="row">
									<div class="col-lg-5"></div>
									  <div class="row col-lg-2" style=" margin: 0px">
										<h5 class="modal-title" id="exampleModalLongTitle" style="color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">ADD AGENT</h5>
			
									</div>
									<div class="col-lg-3"></div>
									<div class="col-lg-2">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									  </button>
									</div>
								</div>
							  </div>
							 
						</div>
						<div class="row" style="margin: 20px"></div>
						<div class="form-group m-form__group row" style="padding-bottom: 0px">
								<label class="col-2"></label>
								<label class="col-2 col-form-label"><h5>Name</h5></label>
								<div class="col-7" style="margin-left: 2px">
									<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="name">
								</div>
						</div>
						<div class="form-group m-form__group row" style="padding-bottom: 0px">
								<label class="col-2"></label>
								<label class="col-2 col-form-label"><h5>Number</h5></label>
								<div class="col-7" style="margin-left: 2px">
									<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="number">
								</div>
						</div>
						<div class="form-group m-form__group row" style="padding-bottom: 0px">
								<label class="col-2"></label>
								<label class="col-2 col-form-label"><h5>E-Mail</h5></label>
								<div class="col-7" style="margin-left: 2px">
									<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="email">
								</div>
						</div>
						<div class="form-group m-form__group row">
								<label class="col-2"></label>
								<label class="col-form-label col-lg-2 col-md-6 col-sm-6">
								<h5>Status</h5>
								</label>
								<div class="col-lg-3 col-md-6 col-sm-6">
									<select id="select1" [(ngModel)]="status"class="form-control  m-bootstrap-select m_selectpicker">
										<option [ngValue]=0 [selected]="status==0">
											Inactive
										</option>
										<option [ngValue]=1 [selected]="status==1"> 
											Active
										</option>
									</select>
									
								</div>
								<div class="col-lg-1"></div>
								<div class="col-lg-4 col-sm-6 col-md-6" >
									<label class="m-checkbox m-checkbox--focus" style="margin-top: 5px;margin-left:3px;" >
										<input  (click)="access_changed()"  type="checkbox" name="access"[(ngModel)]="access">
										<strong>Create Login Details for agent</strong>
										<span style="border: 1px solid #bdc3d4;"></span>
												
									</label> 
								</div>
						</div>
						<div *ngIf="access" class="form-group m-form__group row">
								<div class="col-2"></div>
								<div class="col-4">
									<div class="row">
										<label class="col-4 col-form-label"><h5>User Id</h5></label>
										<div class="col-8" style="">
											<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="userid">
										</div>
			
									</div>
								</div>
								<div class="col-5" style="margin-left: 20px">
									<div class="row"  >
										
										<label class="col-4 col-form-label"><h5>Password</h5></label>
										<div class="col-7" style="margin-left: 10px;">
											<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="password">
										</div>
			
									</div>
								</div>
			
						</div>
						<div class="row" style="margin-top: 20px;">
								<div class="col-lg-5"></div>
								<div class="col-lg-2 col-sm-12">
										<button  class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="save_agent" (click)="new_agent()" style="margin-bottom: 10px" >
												Save   
										</button>
								</div>
			
								<div class="col-lg-5"></div>
			
							</div>
						
					</div>
				</div>
			 </div>
					  
					  