/* a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.tab .nav-tabs{
    border-bottom: 0 none;
}
.tab .nav-tabs li{
    margin-right: 2px;
}
.tab .nav-tabs li a{
    border: none;
    padding: 13px 35px;
    color: #fff;
    background: #272e38;
    border-radius: 0;
}
.tab .nav-tabs li a:hover{
    background:#000;
}
.tab .nav-tabs li a i{
    font-size: 14px;
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
    border: none;
    background: #737495;
    color:#fff;
    transition: background 0.20s linear;
}
.tab .nav-tabs li.active:after{
    content: "";
    position: absolute;
    top: 41px;
    left: 40%;
    border: 12px solid transparent;
    border-top-color: #fff;
    transform: rotate(180deg);
}
.tab .tab-content{
    background: #fff;
    line-height: 25px;
    padding: 30px 25px;
    border: 1px solid #ddd;
    border-bottom: 5px solid #737495;
}
@media only screen and (max-width: 480px){
    .tab .nav-tabs li{
        width:100%;
    }
    .tab .nav-tabs li a{
        padding: 20px;
        text-align: center;
    }
    .tab .nav-tabs li.active:after{
        border:none;
    }
} */
#settingsul li{
    display: inline;
}
						
.item-tab{
    background:lightgray;
    border: 0px solid;
    padding: 10px;
    width: 100px;
    height: 110px;
}					

