<style type="text/css">
	.parent {
  margin: auto;
  background-color: transparent;
  display: flex;
  height: 80%;
  width: 80%;
}

.child {
  margin: auto;  /* Magic! */
  max-width: 100%;
  max-height: 100%;
}
</style>
<!-- <script type="text/javascript">
	function readURL(input) {

  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function(e) {
      $('#blah').attr('src', e.target.result);
    }

    reader.readAsDataURL(input.files[0]);
  }
}</script> -->
<div style="width: 100%;padding: 0px;margin: 0px">
	<div style="width: 60%;margin-left: 20%;margin-right: 20%;margin-top: 5vh;margin-bottom: 5vh;border: 1px solid darkgray">
		<div style="height: 40;text-align: center;padding-top: 20px">
			<h3>
				Upload a picture with printed text
			</h3>
			
		</div>
		<input type='file' (change)="handleFileInput($event.target.files)"
		style="margin-left: 37%;padding: 25px;" />
		<div class="parent" >
			<img class="child" id="blah" src="{{imgSrc}}" alt="your image" style="width:auto;height:auto;max-width: 100%;max-height: 350px" />
		</div>
		<div style="min-height: 100px;margin:25px;">
			<h5 style="text-align: center;">Output Text:</h5>
			<div style="border: 1px solid black;padding:10px;">
				<div [innerHTML]=data_received></div>
			</div>
		</div>

	</div>

</div>