
tbody {
    display:block;
    max-height:350px;
    overflow-y:scroll;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
td{
    max-width: 150px;
    word-wrap: break-word;
}