		<div class="row" style="margin: 0px 0px;background: white;padding:15px 5px 5px 0px">
			<div class="col-lg-2">
				<div class=" row" style="padding-bottom: 0px">
					<label for="example-text-input" class="col-5 col-form-label">
						Username
					</label>
					<div class="col-7">
						<input  class="form-control m-input" type="text" name="user" >
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class=" row">
					<label class="col-form-label col-lg-3 col-sm-12">
						Gateway
					</label>
					<div class="col-lg-9 col-md-9 col-sm-12">
						<select class="form-control m-bootstrap-select m_selectpicker" data-size="5" [(ngModel)]='gatewayNameRoutes'>
							<option value="" [disabled]="true" >Select gateway</option>
							<option *ngFor="let gway of che_list" [value]="gway.gateway_name" >{{gway.gateway_name}}</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="row col-lg-6" >
				<div class="col-lg-2">
				</div>
				<div [hidden]="show_calendar" class="col-lg-5">
	
				</div>
				<div class="col-lg-3">
					<div class="form-group m-form__group row">
						<div class="col-lg-12 col-md-9 col-sm-12">
							<select [(ngModel)]="calendar_range" (change)="rangeChanged()"class="form-control m-bootstrap-select m_selectpicker">
								<option value="today">
									Today
								</option>
								<option value="7days">
									Last 7 days
								</option>
								<option value="15days">
									Last 15 days
								</option>
								<option value="month">
									Last month
								</option>
								<option value="custom">
										Custom
								</option>
							</select>
						</div>
					</div>
				</div>
				<div [hidden]="!show_calendar" class="col-lg-6" id="sandbox-container" >
					<div class="input-daterange input-group" id="datepicker">
						<span class="input-group-addon" style="text-align: center;margin-right: 5px">From</span>
						<!-- <input  type="text" class="input-sm form-control" name="start" /> -->
						<input type="text" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
						<span class="input-group-addon" style="text-align: center;">To</span>
						<!-- <input type="text" class="input-sm form-control" name="end" /> -->
						<input  type="text" class="form-control" id="m_datepicker_2" readonly="" placeholder="Select date">
	
					</div>
				</div>			
			</div>
			<div class="row col-lg-1">
					<button class="btn col-lg-6 " (click)="search_custom_date()" style="background: transparent;padding: 0px;margin: 0px 20px">
						<img src="./assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
					</button>
					<button (click)="refreshData()"class="btn col-lg-6 " style="background: transparent;padding: 0px;margin: 0px 20px">
						<img src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
					</button>			
			</div>
		</div>
		<div class="row" style="background: white;margin: 15px 0px;padding: 10px">
			
		<table   class="table" cellspacing="0" width="100%" >
			<thead>
					<tr style="background: #c5cbe4">
							<th style="color: black;text-align: center;">Sr</th>
							<th style="color: black;text-align: center;">Username</th>
							<th style="color: black;text-align: center;">Main Account</th>
							<th style="color: black;text-align: center;">Total SMS</th>
							<th style="color: black;text-align: center;">Wallet</th>
							<th style="color: black;text-align: center;">Delivered</th>
							<th style="color: black;text-align: center;">Submitted</th>
							<th style="color: black;text-align: center;">Failed</th>
							<th style="color: black;text-align: center;">DND</th>
							<th *ngIf="userid=='1'" style="color: black;text-align: center;">Act DLR</th>
				
						  </tr>
			</thead>
		 
		 <!-- <div > -->
			 <tbody>
					<tr [hidden]="show_loading" *ngFor="let status of live_status  | paginate: { 
						id: 'ba',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
						  <td style="color: black;text-align: center;">{{(p - 1) * 10 + i +1}}</td>
						  <td style="color: black;text-align: center;">{{status.user_name}}</td>
						  <td style="color: black;text-align: center;">{{status.parent_name}}</td>
						  <td style="color: black;text-align: center;">{{status.tot}}</td>
						  <td style="color: black;text-align: center;">{{status.msgcredit}}</td>
						  <td style="color: rgb(5, 212, 5);text-align: center;">{{status.Delivered}}({{status.Delivered_percent}}%)</td>
						  <td style="color: rgb(61, 14, 192);text-align: center;">{{status.Submitted}}({{status.Submitted_percent}}%)</td>
						  <td style="color: darksalmon;text-align: center;">{{status.Other}}({{status.Other_percent}}%)</td>
						  <td style="color: rgb(234, 26, 26);text-align: center;">{{status.DND}}({{status.DND_percent}}%)</td>
						  <td *ngIf="userid=='1'" style="color: brown;text-align: center;">{{status.actualDlr}}({{((status.actualDlr/status.tot)*100).toFixed(2)}}%)</td>
			  
					  </tr>
					  <tr [hidden]="show_loading" style="font-weight:bold">
						<td > </td>
						<td > </td>
						<td > </td>
						<td style="color: black;text-align: center;">{{total}}</td>
						<td style="color: black;text-align: center;">{{MsgCredit}}</td>
						<td style="color: rgb(5, 212, 5);text-align: center;">{{Delivered}}({{DeliveredPercent}}%)</td>
						<td style="color: rgb(61, 14, 192);text-align: center;">{{Submitted}}({{SubmittedPercent}}%)</td>
						<td style="color: darksalmon;text-align: center;">{{Other}}({{OtherPercent}}%)</td>
						<td style="color: rgb(234, 26, 26);text-align: center;">{{DND}}({{DNDPercent}}%)</td>
						<td  *ngIf="userid=='1'" style="text-align: center;color: brown">{{dlr}}({{dlrPercent}}%)</td>
						
					</tr>
			 </tbody>
				
		 <!-- </div> -->
		 
	
	</table>
	<div class="row">
		<div class="col-lg-4"></div>
		<div class="col-lg-4"></div>
		<div class="col-lg-4"></div>
	</div>
	<div class="row col-lg-12"  [hidden]="!show_loading">
		<div class="col-lg-4"></div>
		<div class="col-lg-4" style="display: flex;justify-content: center;">
			<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

	  </div>
		<div class="col-lg-4"></div>
	</div>

	<!-- <div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
				<pagination-controls id="ba" (pageChange)="p = $event" maxSize="9"
				  directionLinks="true"
				  autoHide="true"
				  previousLabel="Previous"
				  nextLabel="Next"
				  screenReaderPaginationLabel="Pagination"
				  screenReaderPageLabel="page"
				  screenReaderCurrentLabel="You're on page"></pagination-controls>
		</div>
		<div class="col-lg-3"></div>
	</div> -->
	

</div>
