
   <div class="modal fade " id="add_account" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered"  style="max-width: 1200px" role="document">
   <div class="modal-content" [hidden]="loading" style="min-height: 250px;padding: 20px">

        <div class="modal-header">
            <div class="container">
                <button type="button" class="close" data-dismiss="modal" (click)="resetForm()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add
                    SMPP Account</h5>
                <form novalidate (ngSubmit)="handleSubmit()" [formGroup]="addNewSmppAccountForm">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                <label for="example-text-input" class="col-4 col-form-label">
                                    SMPP Username
                                </label>
                                <div class="col-lg-8">
                                    <input formControlName="smppUserName" (change)="checkUserName()" class="form-control m-input {{ formValidator.getFieldValidationClass(addNewSmppAccountForm, 'smppUserName' ) }}"
                                        type="text">
                                    <form-field-errors [handle]="formValidator" [formName]="addNewSmppAccountForm"
                                        [fieldName]="'smppUserName'"></form-field-errors>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                <label class="col-4 col-form-label">
                                    App username
                                </label>
                                <div class="col-8">
                                    <select id="appUserNameSelect" style="width: 100%" formControlName="appUserName"
                                        data-live-search="true" data-size="5" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
                                        <option [disabled]="true" [selected]="true">Select App Username</option>
                                        <option *ngFor="let appUser of appUsers" value="{{ appUser.user_name }}">{{
                                            appUser.user_name }}</option>
                                    </select>
                                    <form-field-errors [handle]="formValidator" [formName]="addNewSmppAccountForm"
                                        [fieldName]="'appUserName'"></form-field-errors>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-4 col-form-label">
                                    Password
                                    <br><p style="font-size: xx-small; font-weight: bolder; color: maroon">*Min 8 characters Required</p>
                                </label>
                                
                                <div class="col-8">
                                    <input formControlName="password" class="form-control m-input" type="password">
                                    <form-field-errors [handle]="formValidator" [formName]="addNewSmppAccountForm"
                                        [fieldName]="'password'"></form-field-errors>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- new row I will surely complain about you that you were lying abt complaint number-->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                <label class="col-5 col-form-label">
                                    Connectivity
                                </label>
                                <div class="col-7">
                                    <select id="connectionNameSelect" data-size="5" [ngClass]="{'form-control form-contm-bootstrap-select m_selectpicker selectpicker': true}"
                                        data-live-search="true" formControlName="connection">
                                        <option *ngFor="let connection of connections" value="{{connection.name}}">{{connection.name}}</option>
                                    </select>
                                    <form-field-errors [handle]="formValidator" [formName]="addNewSmppAccountForm"
                                        [fieldName]="'connection'"></form-field-errors>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                <label class="col-6 col-form-label">
                                    Sessions
                                </label>
                                <div class="col-6">
                                    <select class="form-control" id="sessionSelect" [ngClass]="{'form-control form-contm-bootstrap-select m_selectpicker selectpicker': true}"
                                        data-live-search="true" formControlName="sessions">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    <form-field-errors [handle]="formValidator" [formName]="addNewSmppAccountForm"
                                        [fieldName]="'sessions'"></form-field-errors>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group m-form__group row">
                                <label class="col-form-label col-lg-3 col-sm-12">
                                    Role
                                </label>
                                <div class="col-lg-9 col-md-9 col-sm-12">
                                    <select id="roleSelect" class="form-control form-contm-bootstrap-select m_selectpicker selectpicker"
                                        data-live-search="true" formControlName="role">
                                        <option value="Admin">Admin</option>
                                    </select>
                                    <form-field-errors [handle]="formValidator" [formName]="addNewSmppAccountForm"
                                        [fieldName]="'role'"></form-field-errors>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                <label class="col-5 col-form-label">
                                    Gateway
                                </label>
                                <div class="col-7">
                                    <input formControlName="gateway" class="form-control m-input" type="text">
                                    <form-field-errors [handle]="formValidator" [formName]="addNewSmppAccountForm"
                                        [fieldName]="'gateway'"></form-field-errors>
                                </div>
                            </div>
                        </div>
                    </div>
            <div style="text-align: center;">
                <button type="submit" [disabled]="addNewSmppAccountForm.status == 'INVALID'" style="text-align: center;"
                    [ngStyle]="{'cursor':  addNewSmppAccountForm.status == 'INVALID' ? 'not-allowed' : 'pointer' }"
                    class="btn btn-success m-btn m-btn--icon m-btn--pill m-btn--air">
                    Create New Account
                </button>
            </div>
                </form>
            </div>
        </div>
    </div>
<!-- <div [hidden]="!loading" class="m-page-loader m-page-loader--base m-page-loader--non-block" style="margin-left: -80px; margin-top: -20px;">
    <div class="m-blockui">
        <span>
            Please wait...
        </span>
        <span>
            <div class="m-loader m-loader--brand"></div>
        </span>
    </div>
</div> -->
<div class="modal-content" [hidden]="!loading" style="min-height: 250px;padding: 20px">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="display: flex;justify-content: center;">
            <img src="./../assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
</div>
</div>