<div  appunwraptag="" style="margin-left: 240px;margin-top: 105px;margin-right: 25px;padding-top: 30px;background: white;">
	<div class="row m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30 container">			
			<div class="row align-items-center col-lg-12" >
				<div class="col-lg-9" style="float: left;padding-left: 45px;">
						<h5>Your Missed call Numbers</h5>
				</div>
				<div class="col-lg-3">
					<input type="text" name="search"  [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
								<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
									<span><i class="la la-search"></i></span>
								</span>
				</div>
			</div>
		
		
		<!--begin: Datatable -->

		<table style="width: 100%;margin:30px">
							  <tr style="background: #c5cbe4">
								<th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">Sr</th>
								<th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">Number</th>
							    <th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">Call Units</th>
							    <th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">Autoreply SMS</th>
							    <th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">Start Date</th>
							    <th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">End Date</th>
							    <th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">Status</th>
							    <th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">Renew</th>
							    <th style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">Action</th>
							  </tr>
							  <tr *ngFor="let number of subscribedNumbers | filter : searchText | paginate: { 
							  id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">									 											  
								<td style="color: black;text-align: center; max-width: 150px;word-wrap: break-word;">{{ (p - 1) * 10 + i +1}}</td>
								<td style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">{{number.number}}</td>
							    <td style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">{{number.missed_call_units}}</td>
							    <td style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">{{number.auto_reply_units}}</td>
							    <td style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">{{number.subscription_start_date}}</td>
							    <td style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">{{number.subscription_end_date}}</td>
								<td style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">
										<button  *ngIf="number.subscription_status!='1' && number.subscription_status!=1"  class="btn m-btn--pill custom_btn1 btn-danger" style="padding: 5px 15px;min-width: 100px" >Inactive</button>
										<button *ngIf="number.subscription_status=='1' || number.subscription_status==1" class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Active</button>

								</td>
							    <td style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">renew</td>
								<td style="color: black;text-align: center;max-width: 150px;word-wrap: break-word;">
								    <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="openAutoReplySms(number)">
							    		<img src="./assets/app/media/img/saino_icons/view.png" title="Autoreply SMS" style="width: 24px;margin-bottom: 4px;margin-left: 20%">
							    	</button>
							    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="urlOpen(number)">
							    		<img src="./assets/app/media/img/saino_icons/edit.png" title="URL Forwarding" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
							    	</button>
							    </td>
							  </tr>
			</table>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div>
</div>
</div>


<div class="modal fade" id="auto_reply" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
    <div class="modal-content" style="min-height: 250px;padding: 20px">

		      <div class="modal-header" style="padding:5px">
		      	<div class="container">
							<div class="row" style="margin-bottom: 15px">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
		      			<h5 style="text-align: center;width: 100%;color: #0b4a9d">
		      				Auto Reply SMS
		      			</h5>
		      		</div>		        
		        </div>
					</div>
					<div class="row" style="margin:30px 30px 10px 30px;padding:10px">
							<div class="col-lg-6" style="padding: 7px">
								<span>Enable Auto Reply SMS</span>
							</div>
							<div class="col-lg-6">
								<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
							<label>
													<input title="Enable/Disable" [(ngModel)]="autoReplySmsActive" type="checkbox"  name="">
													<span></span>
													</label>
											</span>
							</div>
							<div class="col-lg-2"></div>
					</div>
					<div class="row">
						<textarea [(ngModel)]="autoReplySmsEdit" name="message" style="padding:10px;width: 100%;min-height: 90px;margin:0px 30px 10px 30px;resize: none" placeholder="Enter Your Message Here"id="message"></textarea> 
					</div>
					<div class="row "  style="margin-left: 4%;">
				<button (click)="autoReplySave()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="margin-top: 20px;margin-left: 42%;padding: 10px 30px;">Save</button>

			</div>
    </div>
  </div>
</div>

<div class="modal fade" id="url" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
    <div class="modal-content" style="min-height: 250px;padding: 20px">

		      <div class="modal-header" style="padding:5px">
		      	<div class="container">
							<div class="row" style="margin-bottom: 15px">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h5 style="text-align: center;width: 100%;color: #0b4a9d">
									URL Forwarding		      		
								</h5>
		      		</div>		        
		        </div>
					</div>
					<div class="row" style="margin-top:30px">
						<div class="col-lg-2"></div>
						<div class="col-lg-3" style="padding: 7px">
							<span>URL Forwarding</span>
						</div>
						<div class="col-lg-5">
							<span class="m-switch m-switch--outline m-switch--icon m-switch--success">
						<label>
												<input title="Enable/Disable" [(ngModel)]="urlForwardingActive" type="checkbox"  name="">
												<span></span>
												</label>
										</span>
						</div>
						<div class="col-lg-2"></div>
				</div>
				<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-3" style="padding: 7px">
							<span>URL Post Page</span>
						</div>
						<div class="col-lg-6">
							<input class="form-control m-input" type="text" placeholder="" name="url post page" [(ngModel)]="urlforwardEdit"  autocomplete="off" required >

						</div>
						<div class="col-lg-1"></div>
				</div>
				
					<div class="row "  style="margin-left: 4%;">
				<button (click)="urlClose()" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" style="margin-top: 20px;margin-left: 42%;padding: 10px 30px;">Save</button>

			</div>
    </div>
  </div>
</div>
