<!-- BEGIN: Subheader -->
<div  appunwraptag="" style="margin-left: 75px;margin-right: 10px">
	<div class="row"> 
<div class="m-content col-lg-12">
<div class="m-portlet m-portlet--mobile">
	<div  class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
			<div class="row align-items-center">
				<div class="col-lg-6">
				</div>
				<div class="col-lg-3">
					<input type="text" name="search"  [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
								<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
									<span><i class="la la-search"></i></span>
								</span>
				</div>

				<div class="col-lg-2">
					<button [disabled]="kyc_status==0" (click)="create_senderid()" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px;display: flex" >
						<!-- <img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px"> -->
						<span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>

						Add Sender ID</button>
				</div>
			</div>
		</div>
		
		<!--begin: Datatable -->

		<table style="width: 100%">
							  <tr style="background: #c5cbe4">
							    <th style="width: 10%;color: black;text-align: center;">Sr No</th>
							    <th style="width: 25%;color: black;text-align: center;">Sender ID</th>
							    <th style="width: 20%;color: black;text-align: center;">Assigned Route</th>
							    <th style="width: 15%;color: black;text-align: center;">Status</th>
							    <th style="width: 20%;color: black;text-align: center;">Created Date</th>
							    <th style="width: 10%;color: black;text-align: center;">Action</th>
							  </tr>
							  <tr [hidden]="show_loading" *ngFor="let sender of senderid_list | filter : searchText | paginate: { 
							  id: 'fo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
							    <td style="width: 10%;text-align: center;">{{ (p - 1) * 10 + i +1}}</td>
							    <td style="width: 30%;text-align: center;">{{sender.senderid}}</td>
							    <td style="width: 20%;text-align: center;">{{sender.route_names}}</td>
							    <td style="width: 20%;text-align: center;">
							    	<div *ngIf="sender.status==2">
							    		<button class="btn m-btn--pill custom_btn1 btn-danger" style="padding: 5px 15px;min-width: 100px" >cancelled</button>
							    	</div>
							    	<div *ngIf="sender.status==1">
							    		<button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Approved</button>
							    	</div>
							    	<div *ngIf="sender.status==0">
								    	<button class="btn m-btn--pill custom_btn1 btn-warning" style="padding: 5px 15px;min-width: 100px" >Pending</button>
								    </div>
							    </td>
							    <td style="width: 20%;color: black;text-align: center;">{{sender.created_at}}</td>
							    <td style="width: 10%;color: black;text-align: center;">
							    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" [swal]="deleteSwalGroup">
							    		<img src="./assets/app/media/img/saino_icons/delete.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
									</button>
									<swal
									  #deleteSwalGroup
									  title="Are you sure?"
									  text="This cannot be undone"
									  type="warning"
									  [showCancelButton]="true"
									  [focusCancel]="true"
									  (confirm)="delete_sender(sender)">
									</swal>
							    </td>
							  </tr>
			</table>
			<div class="row"  [hidden]="!show_loading">
					<div class="col-lg-4"></div>
					<div class="col-lg-4" style="display: flex;justify-content: center;">
						<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
  
				  </div>
					<div class="col-lg-4"></div>
			</div>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="fo" (pageChange)="p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div>
		<!--end: Datatable -->
	
	</div>
</div>
</div></div></div>

		<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="min-height: 420px;padding: 20px">

				      <div class="modal-header" style="border-bottom: 0px">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;" >Add Sender ID</h5>
				        </div>
				      </div>
				      
		       <div class="row" style="margin: 0px;">
					<div class="col-lg-3 ">
					</div>
					<div class="col-lg-6 ">
						<div class="row form-group m-form__group" style="margin-bottom:0px ;">
								<input [(ngModel)]="sender_id_name" class="form-control m-input" type="text" placeholder="Sender ID" name="username" style="border: none;margin: 0px;border-radius: 0px;border-bottom: 1px solid lightgray;"  required>
						</div>
						<div class="row">
							<p style="font-size: 10px;">
								Sender ID In India Can be of 6 Alphabets Only. It Cannot Club With Number or Special Character. Ex- TSTSMS. International sender ID formats Vary from Country to Country.
							</p>
						</div>

					</div>
					<div class="col-lg-3 ">
					</div>
				</div>
				<div class="row" style="margin: 0px;margin-top: 5%">
					<div class="col-lg-3 ">
					</div>
					<div class="col-lg-6 ">
						<div class="row">
							<h5 style="color: #0b4a9d">Select Route</h5>
						</div>
						<div class="row">
							<label *ngFor="let route of routes_list ; let i=index" class="m-checkbox m-checkbox--focus" style="color: darkgray;margin-top: 5px;font-size: 1.1rem;">
								<input type="checkbox" name="check" (change)="checkboxChanged(i)" [checked]="route.status">
								{{route.az_rname}}
								<span style="border: 1px solid #bdc3d4;"></span>
							</label>
							
						</div>
						<div class="row">
							<p style="font-size: 10px;">
								Sender ID is subject to approval from operator. Normally in India it takes 4Hrs. International sender ID approval varies from country to country.
							</p>
						</div>
					</div>
					<div class="col-lg-3 ">
					</div>
				</div>
				<div class="row" style="margin: 0px">
					<div class="col-lg-5 ">
					</div>
					<div class="col-lg-6 ">
						<button (click)="addSenderid()"  class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms" style="padding: 10px 30px"  >
						Save</button>
					</div>
				</div>
		    </div>
		  </div>
		</div>