<div *ngIf="!view_dlr"><!-- BEGIN: Subheader -->
<div  appunwraptag="" style="margin-left: 75px;margin-right: 10px">
	<div class="row"> 
<div class="m-content col-lg-12">
<div class="m-portlet m-portlet--mobile">
	<div  class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="row">
			<div class="col-lg-7">
				<h4 >
					Live Status Report
				</h4>
			</div>
			<div class="col-lg-4">
					<input type="text" name="search"  [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
					<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
						<span><i class="la la-search"></i></span>
					</span>
			</div>
			<div class="col-lg-1">
					<button (click)="refreshData()"class="btn " style="background: transparent;padding: 0px;margin: 0px 20px">
							<img src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
						</button>
			</div>
		</div>
		<!--begin: Datatable -->
		<table style="width: 100%" style="margin-top:10px"> 
							  <tr style="background: #c5cbe4">
								<th style="width: 10%;color: black;text-align: center;">Sr No</th>
								<th style="width: 10%;color: black;text-align: center;">Route</th>
								<th style="width: 10%;color: black;text-align: center;">User Name</th>
								<th style="width: 10%;color: black;text-align: center;">Sender ID</th>
							    <th style="width: 30%;color: black;text-align: center;">Message</th>
							    <th style="width: 10%;color: black;text-align: center;">Total  SMS</th>
								<th style="width: 10%;color: black;text-align: center;">Sent SMS</th>
								<!-- <th style="width: 10%;color: black;text-align: center;">Actual DLR</th> -->
							    <th style="width: 15%;color: black;text-align: center;">Status</th>
							    <th style="width: 15%;color: black;text-align: center;">Action</th>
							  </tr>
							  <tr  [hidden]="show_loading" *ngFor="let status of live_status_report | filter : searchText | paginate: { 
								id: 'live_status',itemsPerPage: 10, currentPage: live_status_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
								<td style="width: 10%;text-align: center;">{{ (live_status_p - 1) * 10 + i +1}}</td>
							  <td style="width: 10%;text-align: center;">{{status.az_rname}}</td>
							    <td style="width: 10%;text-align: center;">{{status.user_name}}</td>
								<td style="width: 10%;text-align: center;color: black">{{status.senderid_name}}</td>
								<td style="width: 30%;text-align: center;color: black">{{status.msgdata}}</td>
								<td style="width: 10%;text-align: center;color: black">{{status.numbers_count}}</td>
								<td style="width: 10%;text-align: center;color: black">{{status.sent}}</td>

								<!-- <td style="width: 10%;text-align: center;color: black">{{status.}}</td> -->
							    <!-- <td style="width: 10%;text-align: center;">
							    	
							    </td> -->
								<td *ngIf="((status.sent/status.numbers_count)*100) ==100"style="width: 15%;text-align: center;">
									<button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Completed</button>

							    	
								</td>
								<td *ngIf="((status.sent/status.numbers_count)*100)!=100"style="width: 15%;text-align: center;">
									<button class="btn m-btn--pill custom_btn1 btn-danger" style="padding: 5px 15px;min-width: 100px" >Pending {{100-((status.sent/status.numbers_count)*100)}}%</button>

							    	<!-- <div *ngIf="status.status==2">
							    		<button class="btn m-btn--pill custom_btn1 btn-danger" style="padding: 5px 15px;min-width: 100px" >cancelled</button>
							    	</div>
							    	<div *ngIf="status.status==1">
							    		<button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Delivered</button>
							    	</div>
							    	<div *ngIf="status.status==0">
								    	<button class="btn m-btn--pill custom_btn1 "  style="padding: 5px 15px;min-width: 100px;color: yellow" >Pending</button>
								    </div> -->
							    </td>
							    <td style="width: 15%;text-align: center;">
							    	 <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="delete(status)">
							    		<img src="./assets/app/media/img/icons/stop.png" style="width: 24px;margin-bottom: 4px;margin-left: 20%">
									</button> 
									<!-- <a href="#">
						    			<img src="./assets/app/media/img/icons/download.png" style="width: 18px;margin-bottom: 4px;margin-left: 20%">
						    		</a> --> 
							    </td>
							</tr>
			</table>
			<div class="row"  [hidden]="!show_loading">
					<div class="col-lg-4"></div>
					<div class="col-lg-4" style="display: flex;justify-content: center;">
						<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
  
				  </div>
					<div class="col-lg-4"></div>
				</div>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="live_status" (pageChange)="live_status_p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div>
		<!--end: Datatable -->
	
	</div>
</div>
</div></div></div>
</div>










<div *ngIf="view_dlr">
	<!-- BEGIN: Subheader -->
<div  appunwraptag="" style="margin-left: 60px">
	<div class="row"> 
<div class="m-content col-lg-12">
<div class="m-portlet m-portlet--mobile">
	<div  class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="row">
			<div class="col-lg-5">
				<h4 style="color: black">
					DLR
				</h4>
			</div>
			<div class="col-lg-4">
					<input type="text" name="search"  [(ngModel)]="searchText1" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
					<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
						<span><i class="la la-search"></i></span>
					</span>
			</div>
			<div class="col-lg-3">
				<button class="btn m-btn--pill custom_btn" style="border: 1px solid gray;color: gray;padding: 4px 14px" (click)="back()">Back</button>
			</div>
		</div>		
		<!--begin: Datatable -->

		<table style="width: 100%;margin-top: 3%">
							  <tr style="background: #c5cbe4">
							    <th style="width: 12.5%;color: black;text-align: center;">Sr No</th>
							    <th style="width: 12.5%;color: black;text-align: center;">Number</th>
							    <th style="width: 12.5%;color: black;text-align: center;">Sender ID</th>
							    <th style="width: 12.5%;color: black;text-align: center;">Sent Date</th>
							    <th style="width: 12.5%;color: black;text-align: center;">Delivered Date</th>
							    <th style="width: 12.5%;color: black;text-align: center;">Status</th>
							    <th *ngIf="user_id==1" style="width: 12.5%;color: black;text-align: center;">DLR response</th>
							  </tr>
							  <tr *ngFor="let num of block_list  | filter:searchText1 | paginate: { 
							  id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
							    <td style="width: 12.5%;text-align: center;">{{ (p - 1) * 10 + i +1}}</td>
							    <td style="width: 12.5%;text-align: center;">{{num.numbers}}</td>
							    <td style="width: 12.5%;text-align: center;">{{num.added_date}}</td>
								<td style="width: 12.5%;color: black;text-align: center;">Message</td>
							    <td style="width: 12.5%;color: black;text-align: center;">Created Date</td>
							    <td style="width: 12.5%;;text-align: center;">
							    	<a href="#">
						    			<img src="./assets/app/media/img/icons/download.png" style="width: 18px;margin-bottom: 4px;margin-left: 20%">
						    		</a>
							    </td>
							    <td *ngIf="user_id==1" style="width: 12.5%;;text-align: center;"></td>
							</tr>
			</table>
			
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div>
		<!--end: Datatable -->
	
	</div>
</div>
</div></div></div>

</div>