
  .schedule_detail_pop{
  background: #ffffff;
  float: left;
  margin: -153px 30px 0px -28.5%;
  padding: 8px;
  position: absolute;
  width: 380px;
  z-index: 100;
  background: #fff;
  border: 1px solid #9b9b9b;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.5);
  }