<div  appunwraptag="" style="margin-left: 240px;margin-top: 105px;margin-right: 25px;padding-top: 30px;background: white;">
	<div class="row m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
			<div class="row align-items-center col-lg-12" >
				<div class="col-lg-8"></div>
				<div class="col-lg-3">
					<input type="text" name="search"  [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
								<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
									<span><i class="la la-search"></i></span>
								</span>
				</div>
				<div class="col-lg-1">
					
				</div>
			</div>
		
		
		<!--begin: Datatable -->

		<table style="width: 100%;margin:30px">
							  <tr style="background: #c5cbe4">
							    <th style="width: 15%;color: black;text-align: center;">Keyword</th>
							    <th style="width: 15%;color: black;text-align: center;">Response Type</th>
							    <th style="width: 15%;color: black;text-align: center;">Start Date</th>
							    <th style="width: 15%;color: black;text-align: center;">End Date</th>
							    <th style="width: 15%;color: black;text-align: center;">Created</th>
							    <th style="width: 15%;color: black;text-align: center;">Status</th>
							    <th style="width: 10%;color: black;text-align: center;">Action</th>
							  </tr>
							  <tr>
							  	<th style="width: 15%;color: black;text-align: center;">OTA-57575</th>
							    <th style="width: 15%;color: black;text-align: center;">Auto Response</th>
							    <th style="width: 15%;color: black;text-align: center;">27/05/2018</th>
							    <th style="width: 15%;color: black;text-align: center;">27/05/2018</th>
							    <th style="width: 15%;color: black;text-align: center;">Created</th>
							    <th style="width: 15%;color: black;text-align: center;">Active</th>
							    <th style="width: 10%;color: black;text-align: center;">Action</th>
							  </tr>
							  <tr *ngFor="let group of groups_list | filter : searchText | paginate: { 
							  id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
							    <th style="width: 20%;color: black;text-align: center;">Keyword</th>
							    <th style="width: 15%;color: black;text-align: center;">Response Type</th>
							    <th style="width: 15%;color: black;text-align: center;">Start Date</th>
							    <th style="width: 15%;color: black;text-align: center;">End Date</th>
							    <th style="width: 15%;color: black;text-align: center;">Created</th>
							    <th style="width: 20%;color: black;text-align: center;">Status
							    </th>
							  </tr>
			</table>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div>
</div>
</div>