<!-- <script type="text/javascript" src="./js/modernizr.custom.97074.js"></script>
<script type="text/javascript" src="./js/jquery.hoverdir.js"></script> -->
<app-header-nav></app-header-nav>
<!-- begin::Body -->
<router-outlet></router-outlet>
<!-- end:: Body -->
    <!-- <div class="container" style="top: 75px">
			<section>
				<ul id="da-thumbs" class="da-thumbs">
					<li class="tile">
						<a href="http://dribbble.com/shots/500369-Land-Those-Planes" class=".links">
							<img src="./assets/app/media/img//images/1.jpg" style="width: 330px; height: 160px" />
							<div><span>Land Those Planes by Lee Ann Marcel</span></div>
						</a>
					</li>
					<li class="tile">
						<a href="http://dribbble.com/shots/500369-Land-Those-Planes" class=".links">
							<img src="./assets/app/media/img//images/2.jpg" style="width: 330px; height: 160px" />
							<div><span>Land Those Planes by Lee Ann Marcel</span></div>
						</a>
					</li>
					<li class="tile">
						<a href="http://dribbble.com/shots/500369-Land-Those-Planes" class=".links">
							<img src="./assets/app/media/img//images/3.jpg" style="width: 330px; height: 160px" />
							<div><span>Land Those Planes by Lee Ann Marcel</span></div>
						</a>
					</li>
					<li class="tile">
						<a href="http://dribbble.com/shots/500369-Land-Those-Planes" class=".links">
							<img src="./assets/app/media/img//images/4.jpg" style="width: 330px; height: 160px" />
							<div><span>Land Those Planes by Lee Ann Marcel</span></div>
						</a>
					</li>
					<li class="tile">
						<a href="http://dribbble.com/shots/500369-Land-Those-Planes" class=".links">
							<img src="./assets/app/media/img//images/5.jpg" style="width: 330px; height: 160px" />
							<div><span>Land Those Planes by Lee Ann Marcel</span></div>
						</a>
					</li>
					<li class="tile">
						<a href="http://dribbble.com/shots/500369-Land-Those-Planes" class=".links">
							<img src="./assets/app/media/img//images/6.jpg" style="width: 330px; height: 160px" />
							<div><span>Land Those Planes by Lee Ann Marcel</span></div>
						</a>
					</li>
					<li class="tile">
						<a href="http://dribbble.com/shots/500369-Land-Those-Planes" class=".links">
							<img src="./assets/app/media/img//images/7.jpg" style="width: 330px; height: 160px" />
							<div><span>Land Those Planes by Lee Ann Marcel</span></div>
						</a>
					</li>
					<li class="tile"> 
						<a href="http://dribbble.com/shots/500369-Land-Those-Planes" class=".links">
							<img src="./assets/app/media/img//images/8.jpg" style="width: 330px; height: 160px" />
							<div><span>Land Those Planes by Lee Ann Marcel</span></div>
						</a>
					</li>
					<li class="tile">
						<a href="http://dribbble.com/shots/500369-Land-Those-Planes" class=".links">
							<img src="./assets/app/media/img//images/9.jpg" style="width: 330px; height: 160px" />
							<div><span>Land Those Planes by Lee Ann Marcel</span></div>
						</a>
					</li>
				</ul>
			</section>
		</div> -->
		<div class="feature-content">
			<div class="container">
				<!-- if(apps.includes('bulk_sms')){
					this.apps.push("bulk_sms");
				  }
				  if(apps.includes('bulk_voice')){
					this.apps.push("bulk_voice");
				  }
				  if(apps.includes('ivr_toll')){
				   this.apps.push("ivr_toll");
				  }
				  if(apps.includes('missed_call')){
					this.apps.push("missed_call");
				   }
				   if(apps.includes('short_code')){
					this.apps.push("short_code");
				   }
				   if(apps.includes('whatsapp')){
					this.apps.push("whatsapp");
				   } -->
				<div class="row" style="    display: flex;
				justify-content: center;">
					<div *ngIf="apps.includes('bulk_sms')">
						<div class="feature-box" style="cursor:pointer" (click)="_router.navigate(['./app/bulk-sms'])">
							<div class="widget">
								<!-- <i class="flaticon-domain-registration"></i> -->
								<img src="./assets/app/media/img/saino_icons/smsapp.png" style="width: 90px">

								<h5 style="padding-top: 8px;">Bulk SMS</h5>
								<div class="details">
									The best collection of ready home pages for quick start of your website generation
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="apps.includes('bulk_voice')" >
						<div class="feature-box" style="cursor:pointer" (click)="_router.navigate(['./app/voice-call/send'])">
							<div class="widget">
								<!-- <i class="flaticon-responsive"></i> -->
								<img src="./assets/app/media/img/saino_icons/voicecall.png" style="width: 90px">
								<h5 style="padding-top: 8px;">Bulk Voice Call</h5>
								<div class="details">
									The best collection of ready home pages for quick start of your website generation
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="apps.includes('ivr_toll')" >
						<div class="feature-box" style="cursor:pointer" (click)="_router.navigate(['./app/Ivr/dashboard'])">
							<div class="widget">
								<!-- <i class="flaticon-coding"></i> -->							
							   <img src="./assets/app/media/img/saino_icons/tollfree.png" style="width: 90px">
								<h5 style="padding-top: 8px;">IVR and Toll Free</h5>
								<div class="details">
									The best collection of ready home pages for quick start of your website generation
								</div>
							</div>
						</div>
					</div>
				<!-- </div> -->
					<!-- <div class="row" > -->
						<div *ngIf="apps.includes('missed_call')" >
							<div class="feature-box" style="cursor:pointer" (click)="_router.navigate(['./app/missed-call/settings'])">
								<div class="widget">
									<!-- <i class="flaticon-artist-color-palette"></i> -->
									<img src="./assets/app/media/img/saino_icons/missedcall.png" style="width: 90px">
									<h5 style="padding-top:8px">Missed Call</h5>
									<div class="details">
										The best collection of ready home pages for quick start of your website generation
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="apps.includes('short_code')" >
							<div class="feature-box" style="cursor:pointer" (click)="_router.navigate(['./app/short-code/dashboard'])">
								<div class="widget">
									<!-- <i class="flaticon-question"></i> -->
									<img src="./assets/app/media/img/saino_icons/shortcode.png" style="width: 90px">
									<h5 style="padding-top:8px">Short Code</h5>
									<div class="details">
										The best collection of ready home pages for quick start of your website generation
									</div>
								</div>
							</div>
						</div>
						 <div *ngIf="apps.includes('whatsapp')" >
							<div class="feature-box" style="cursor:pointer" (click)="_router.navigate(['./app/whatsapp/send'])">
								<div class="widget">
									<!-- <i class="flaticon-notification"></i> -->
									<img src="./assets/app/media/img/saino_icons/wapp.png" style="width: 90px">
									<h5 style="padding-top:8px">Whatsapp</h5>
									<div class="details">
										The best collection of ready home pages for quick start of your website generation
									</div>
								</div>
							</div>
						</div>
					</div>
				
				<!--	<div class="col-md-3">
						<div class="feature-box">
							<div class="widget">
								<i class="flaticon-settings"></i>
								<h5>Easy Customaize</h5>
								<div class="details">
									The best collection of ready home pages for quick start of your website generation
								</div>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-md-3">
						<div class="feature-box">
							<div class="widget">
								<i class="flaticon-support"></i>
								<h5>Premium Support</h5>
								<div class="details">
									The best collection of ready home pages for quick start of your website generation
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature-box">
							<div class="widget">
								<i class="flaticon-see"></i>
								<h5>2x Retina Ready</h5>
								<div class="details">
									The best collection of ready home pages for quick start of your website generation
								</div>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-md-3">
						<div class="feature-box">
							<div class="widget">
								<i class="flaticon-text"></i>
								<h5>Hinted Typography</h5>
								<div class="details">
									The best collection of ready home pages for quick start of your website generation
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="feature-box">
							<div class="widget">
								<i class="flaticon-online-shop"></i>
								<h5>E-commerce Pages</h5>
								<div class="details">
									The best collection of ready home pages for quick start of your website generation
								</div>
							</div>
						</div>
					</div> -->
					<!-- <div class="col-md-3">
						<div class="feature-box">
							<div class="widget">
								<i class="flaticon-app"></i>
								<h5>Limitless Component</h5>
								<div class="details">
									The best collection of ready home pages for quick start of your website generation
								</div>
							</div>
						</div>
					</div> -->
				
			</div>
		</div>
		<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.hoverdir.js"></script>	 -->
		<script type="text/javascript">
			$(function() {

				$(' #da-thumbs > li ').each( function() { $(this).hoverdir({
					hoverDelay : 20
				}); } );

			});
		</script> 