
<div class="m-content" style="margin-left: 240px;margin-top: 105px;margin-right: 25px;padding-top: 30px;background: white;">
  
  <div class="container">
    <div class="row"style="margin-left:10px">
    <div class="col-lg-4" style="padding-top:10px"><h4 >Call Log</h4></div>
    <div class="col-lg-8 row">
      <div class="col-lg-5"></div>
      <div class="col-lg-3" style="display: flex">
        <div class="row" >
          <input type="text" name="search"  [(ngModel)]="call_searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="display: inline;margin: 5px 0 0 0;">
          <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;padding-top:13px">
            <span ><i class="la la-search"></i></span>
          </span>
              <!-- <input type="text" name="search"  [(ngModel)]="call_searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto;height: 38px;padding-top: 7px;margin-top: 5px;">
              
        
              <button  class="btn " style="background: transparent;width:25px;padding-left: 5px;">
                  <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
                    <img src="assets/app/media/img/icons/search.png" style="background: transparent;width: 25px;">
                  </span>
                </button> -->
          
        </div>
          
      </div>
      <div class="col-lg-3" >
        <div class="row">
          <div class="col-lg-12" style="padding-top: 5px;">
              <select [(ngModel)]="numbers"  class="form-control  m-bootstrap-select m_selectpicker" id="numbers_select" data-live-search="true">
                 <option [selected]="numbers==''" value="">Select Number</option>
              </select>
          </div>
        </div>
      </div>
      <div class="col-lg-1">
          <button class="btn " style="background: transparent;padding: 0px;margin:6px 9px">
              <img src="assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
            </button>
      </div>
    </div>
    
   
      
    </div>
    
    <div class="row " style="margin-top: 10px; margin-left:10px;">
      <div class="col-lg-4">
        <div class="row">
          <div class="col-lg-6" style="margin: 0px;padding: 0px;">
                <div class="col-lg-12" style="margin: 0px;padding: 0 15px 0 0;">
                    <select [(ngModel)]="agentnames"  class="form-control  m-bootstrap-select m_selectpicker" id="agent_list_select" data-live-search="true">
                      <option [selected]="agentnames==''" value="">Select Agent</option>                     
                    </select>
                </div>	
          </div>
          <div class="col-lg-6" style="margin: 0px;padding: 0px;">
                <div class="col-lg-12" style="margin: 0px;padding: 0 15px 0 0;">
                    <select [(ngModel)]="extension"  class="form-control  m-bootstrap-select m_selectpicker" id="extension_select" data-live-search="true">
                      <option [selected]="extension==''" value="">Select Extension</option>                     

                    </select>
                </div>	

            
          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="row">
					<div class="col-lg-1"></div>
					<div [hidden]="show_calendar" class="col-lg-6"></div>
					<div class="col-lg-3">
							<div class="form-group m-form__group row">
									<div class="col-lg-12 col-md-9 col-sm-12">
										<select [(ngModel)]="calendar_range" (change)="rangeChanged()" class="form-control m-bootstrap-select m_selectpicker">
											<option value="today">
												Today
											</option>
											<option value="7days">
												Last 7 days
											</option>
											<option value="15days">
												Last 15 days
											</option>
											<option value="month">
												Last month
											</option>
											<option value="custom">
													Custom
											</option>
										</select>
									</div>
								</div>
					</div>
					<div  [hidden]="!show_calendar"  class="col-lg-6" id="sandbox-container">
							<div class="input-daterange input-group" id="datepicker">
									<span class="input-group-addon" style="text-align: center;margin-right: 5px;padding-top: 7px;">From</span>
									<input type="text" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
									<span class="input-group-addon" style="text-align: center;padding-top: 7px;">To</span>
									<input  type="text" class="form-control" id="m_datepicker_2" readonly="" placeholder="Select date">
				
								</div>
					</div>
					<div class="col-lg-2" style="    padding-top: 6px;">
							<button class="btn " style="background: transparent;padding: 0px;float: left;    margin-right: 12px;">
									<img src="./assets/app/media/img/icons/search.png" style="width: 22px;background: transparent;">
								</button>
								<button class="btn" style="border: none;background: transparent;padding: 0px;float: left;">
										<img src="./assets/app/media/img/saino_icons/download.png" title="Download" style="width: 22px;margin-bottom: 4px;margin-left: 20%">
									</button>

					</div>
						
				</div>
      </div>
    </div>
          
              
    <div class="row"> 
          <table style="width: 100%;margin: 0 22px 0 22px;">
            <tr style="background: #c5cbe4">
            <th style="width: 5%;color: black;text-align: center;">Sr</th>
            <th style="width: 15%;color: black;text-align: center;">Date</th>
            <th style="width: 15%;color: black;text-align: center;">Caller</th>
            <th style="width: 10%;color: black;text-align: center;">Status</th>
            <th style="width: 10%;color: black;text-align: center;">Number</th>
            <th style="width: 15%;color: black;text-align: center;">Duration</th>
            <th style="width: 15%;color: black;text-align: center;">Recording</th>
            <th style="width: 15%;color: black;text-align: center;">Credits</th>
            <th style="width: 15%;color: black;text-align: center;">Actions</th>



            </tr>
            <tr *ngFor="let agent of agent_list | paginate: { 
            id: 'calllogs',itemsPerPage: 5, currentPage: calllogs_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
            <td style="width: 5%;text-align: center;">{{ (calllogs_p - 1) * 5 + i +1}}</td>
            <td style="width: 15%;text-align: center;">date</td>
            <td style="width: 15%;text-align: center;">caller</td>
            <td style="width: 10%;text-align: center;">status</td>
            <td style="width: 10%;text-align: center;">number</td>
            <td style="width: 15%;text-align: center;">duration</td>
            <td style="width: 15%;text-align: center;">
              <button (click)="musicPopUp()" class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 5px;" >
                <img src="./assets/app/media/img/saino_icons/play.png" style="width: 25px;margin-bottom: 4px;margin-left: 20%">
              </button>
            </td>
            <td style="width: 15%;text-align: center;">credits</td>
            <td style="width: 10%;color: black;text-align: center;">
                <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 5px;">
                  <img src="./assets/app/media/img/icons/phone.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                </button>
               
            </td>
            
            </tr>
          </table>
          <div class="row">
              <div class="col-lg-3">
                
              </div>
              <div class="col-lg-6">
                <pagination-controls id="calllogs" (pageChange)="calllogs_p = $event" maxSize="4"
                    directionLinks="true"
                    autoHide="true"
                    previousLabel="Previous"
                    nextLabel="Next"
                    screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page"></pagination-controls> 
              </div>
              <div class="col-lg-3"></div>
            </div>
  </div>
</div>

        
      </div>
      
      <div class="modal fade" id="musicpopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 900px" role="document">
          <div class="modal-content" style="min-height: 250px;padding: 20px">
              <div class="modal-header">
              <div class="container">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                    <h5 class="modal-title" id="exampleModalLongTitle" style="color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Music Popup</h5>
      
                 
                </div>
                </div>
                <div class="row col-lg-12" style="justify-content:center;padding-top: 20px">
                  <!-- <audio id="musicplayer" controls='controls'  src="assets/app/media/audio/song1.mp3">
                    Your browser does not support the audio element.
                  </audio> -->
                    <audio id="musicplayer" controls>
  
                        <source src="assets/app/media/audio/song1.mp3" type="audio/mpeg">
                     Your browser does not support the audio element.
                      </audio>
                      <!-- <div class="audio green-audio-player">
                          <div class="loading">
                            <div class="spinner"></div>
                          </div>
                          <div class="play-pause-btn">  
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24">
                              <path fill="#566574" fill-rule="evenodd" d="M18 12L0 24V0" class="play-pause-icon" id="playPause"/>
                            </svg>
                          </div>
                          
                          <div class="controls">
                            <span class="current-time">0:00</span>
                            <div class="slider" data-direction="horizontal">
                              <div class="progress">
                                <div class="pin" id="progress-pin" data-method="rewind"></div>
                              </div>
                            </div>
                            <span class="total-time">0:00</span>
                          </div>
                          
                          <div class="volume">
                            <div class="volume-btn">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#566574" fill-rule="evenodd" d="M14.667 0v2.747c3.853 1.146 6.666 4.72 6.666 8.946 0 4.227-2.813 7.787-6.666 8.934v2.76C20 22.173 24 17.4 24 11.693 24 5.987 20 1.213 14.667 0zM18 11.693c0-2.36-1.333-4.386-3.333-5.373v10.707c2-.947 3.333-2.987 3.333-5.334zm-18-4v8h5.333L12 22.36V1.027L5.333 7.693H0z" id="speaker"/>
                              </svg>
                            </div>
                            <div class="volume-controls hidden">
                              <div class="slider" data-direction="vertical">
                                <div class="progress">
                                  <div class="pin" id="volume-pin" data-method="changeVolume"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <audio crossorigin>
                            <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/Swing_Jazz_Drum.mp3" type="audio/mpeg">
                          </audio>
                        </div> -->
                </div>
          </div>
        </div>
    </div>