<div *ngIf="country=='India'"><!-- BEGIN: Subheader -->
    <div  appunwraptag="" style="margin-left:75px;margin-right: 10px">
        <div class="row"> 
    <div class="m-content col-lg-12" style="padding-bottom: 0px">
    <div class="m-portlet m-portlet--mobile" style="margin-bottom: 0px">
        <div  class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="row" style="text-align: left">
                <div class="col-lg-12">
                    <h4 >
                        India Connectivity
                    </h4>
                </div>
            </div>
            
            <!--begin: Datatable -->
        <div style="margin-top: 20px"></div>
                                 
		<table style="width: 100%">
            <tr style="background: #c5cbe4">
              <th style="width: 7%;color: black;text-align: center;">Sr No</th>
              <th style="width: 15%;color: black;text-align: center;">Country</th>
              <th style="width: 15%;color: black;text-align: center;">Gateway</th>
              <th style="width: 10%;color: black;text-align: center;">ISO Code</th>
              <th style="width: 13%;color: black;text-align: center;">Country Code</th>
              <th style="width: 18%;color: black;text-align: center;">Default Price(INR)</th>
              <th style="width: 12%;color: black;text-align: center;">Status</th>
            </tr>
           

                <tr  [hidden]="show_loading" *ngFor="let pricing of pricing_permissions_india | filter : searchText | paginate: { 
                id: 'pricingindia',itemsPerPage: 5, currentPage: pricing_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                  <td style="width: 7%;text-align: center;">{{ (pricing_p - 1) * 5 + i +1}}</td>
                  <td style="width: 10%;color: black;text-align: center;">{{pricing.name}}</td>
                  <td style="width: 15%;color: black;text-align: center;">{{pricing.az_rname}}</td>
                  <td style="width: 13%;color: black;text-align: center;">{{pricing.iso2}}</td>
                  <td style="width: 15%;color: black;text-align: center;">{{pricing.numcode}}</td>
                  <td style="width: 18%;color: black;text-align: center;">{{pricing.price}}</td>
				  <td *ngIf="pricing.status==0" style="width: 12%;color:red;text-align: center;">Inactive</td>
				  <td *ngIf="pricing.status==1"style="width: 12%;color:green;text-align: center;">Active</td>

                 
                </tr>
</table>

<div class="row"  [hidden]="!show_loading">
	<div class="col-lg-4"></div>
    <div class="col-lg-4" style="display: flex;justify-content: center;">
        <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

  </div>
	<div class="col-lg-4"></div>
</div>
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
      <pagination-controls id="pricingindia" (pageChange)="pricing_p = $event" maxSize="4"
        directionLinks="true"
        autoHide="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"></pagination-controls>
</div>
<div class="col-lg-3"></div>
</div>   
              
            <!--end: Datatable -->
        
        </div>
    </div>
    </div></div></div>
    </div>
    
        <!-- BEGIN: Subheader -->
    <div  appunwraptag="" style=" margin-left: 75px ;margin-right: 10px">
        <div class="row"> 
    <div class="m-content col-lg-12">
    <div class="m-portlet m-portlet--mobile">
        <div  class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="row" >
                <div class="col-lg-8" style="text-align:left">
                    <h4 >
                        Global Connectivity
                    </h4>
                </div>
                <div class="col-lg-4">
                        <input type="text" name="search"  [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
                        <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
                            <span><i class="la la-search"></i></span>
                        </span>
                </div>
                
            </div>
            <div style="margin-top: 20px"></div>
            <!--begin: Datatable -->
    
            <table style="width: 100%">
              <tr style="background: #c5cbe4">
                <th style="width: 7%;color: black;text-align: center;">Sr No</th>
                <th style="width: 15%;color: black;text-align: center;">Country</th>
                <th style="width: 15%;color: black;text-align: center;">Gateway</th>
                <th style="width: 15%;color: black;text-align: center;">ISO Code</th>
                <th style="width: 15%;color: black;text-align: center;">Country Code</th>
                <th style="width: 18%;color: black;text-align: center;">Default Price(INR)</th>
                <th style="width: 15%;color: black;text-align: center;">Status</th>
                </tr>

                <tr  [hidden]="show_loading" *ngFor="let pricing of pricing_permissions_global | filter : searchText | paginate: { 
                    id: 'foo',itemsPerPage: 5, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                      <td style="width: 7%;text-align: center;">{{ (p - 1) * 5 + i +1}}</td>
                      <td style="width: 10%;color: black;text-align: center;">{{pricing.name}}</td>
                      <td style="width: 15%;color: black;text-align: center;">{{pricing.az_rname}}</td>
                      <td style="width: 13%;color: black;text-align: center;">{{pricing.iso2}}</td>
                      <td style="width: 15%;color: black;text-align: center;">{{pricing.numcode}}</td>
                      <td style="width: 18%;color: black;text-align: center;">{{pricing.price}}</td>
                      <td *ngIf="pricing.status==0" style="width: 12%;color:red;text-align: center;">Inactive</td>
                      <td *ngIf="pricing.status==1"style="width: 12%;color:green;text-align: center;">Active</td>
    
                     
                    </tr>
               
            </table>
    
                
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                            <pagination-controls id="foo" (pageChange)="p = $event" maxSize="4"
                              directionLinks="true"
                              autoHide="true"
                              previousLabel="Previous"
                              nextLabel="Next"
                              screenReaderPaginationLabel="Pagination"
                              screenReaderPageLabel="page"
                              screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
        </div>
    </div>
    </div></div></div>