/* You can add global styles to this file, and also import other style files */
//@import '~dropzone/dist/min/dropzone.min.css';
.red_btn{
	border-color: red;
	color: red;
}
.red-btn:hover{
	color: red;
	border-color: red;
}

