
<div class="m-content" style="margin-left: 20%;margin-top: 95px;margin-right:10px;padding-top: 10px; background: white">
	
        <div class="row" style="margin-bottom: 10px">
          <div class="col-lg-8">
          </div>
          <div class="col-lg-3">
            
              <select  data-dropup-auto="false" data-size="5"  class=" form-control form-contm-bootstrap-select m_selectpicker selectpicker" data-live-search="true">
                  <option [disabled]="true" [selected]="true">Select Number</option>
                  <!-- <option *ngFor="let c of currencyDropdown " [selected]="User_details.currency==c.country">{{c.country}}</option> -->
                  </select>	
      
          </div>
          <div class="col-lg-1">
            <button class="btn " style="background: transparent;padding: 0px;">
              <img src="assets/app/media/img/icons/search.png" style="width: 25px;background: transparent;">
            </button>
          </div>
        </div>
      <div class="row" style="padding: 35px;">
        <div class="col-lg-12">
          <div class="m-portlet m-portlet--tab">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                  </span>
                  <h3 class="m-portlet__head-text">
                   contacts
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <div id="chartdiv" style="height: 500px;"></div>
            </div>
          </div>
        </div>
          <!--end::Portlet-->
        </div>
      </div>
      