<!-- <div class="modal fade " id="add_account" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1200px" role="document">
        <div class="modal-content" [hidden]="loading" style="min-height: 250px;padding: 20px">

            <div class="modal-header">
                <div class="container">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add
                        Download Report</h5>
                   
                        <form novalidate (ngSubmit)="handleSubmit()" [formGroup]="requestDownloadReportForm">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                    <label for="example-text-input" class="col-4 col-form-label">
                                        SMPP Username
                                    </label>
                                    <div class="col-lg-8">
                                        <select id="smppUserName" style="width: 100%" formControlName="smppUserName"
                                            data-live-search="true" data-size="5" (change)="getAllRequestedReport()" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
                                            <option [disabled]="true" [selected]="true">Select Smpp Username</option>
                                            <option *ngFor="let appUser of appUsers" value="{{ appUser.credits.username }}">{{
                                                appUser.credits.username }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        From
                                    </label>
                                    <div class="col-lg-8" id="sandbox-container">
                                        <div class="input-daterange input-group" id="datepicker">
                                            <input type="text" class="form-control" (change)="updateDate()" id="m_datepicker_3"
                                                readonly="" placeholder="From date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                    <label for="example-text-input" class="col-2 col-form-label">
                                        To
                                    </label>
                                    <div class="col-lg-8" id="sandbox-container">
                                        <div class="input-daterange input-group" id="datepicker">
                                            <input type="text" class="form-control" (change)="updateDate()" id="m_datepicker_4"
                                                readonly="" placeholder="To date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <==- new row I will surely complain about you that you were lying abt complaint number ==>

                                <div style="text-align: center;">
                                    <button type="submit" [disabled]="requestDownloadReportForm.status == 'INVALID'"
                                        style="text-align: center;" [ngStyle]="{'cursor':  requestDownloadReportForm.status == 'INVALID' ? 'not-allowed' : 'pointer' }"
                                        class="btn btn-success m-btn m-btn--icon m-btn--pill m-btn--air">
                                        Request New Report
                                    </button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="modal-content" [hidden]="!loading" style="min-height: 250px;padding: 20px">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4" style="display: flex;justify-content: center;">
                    <img src="./../assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
</div> -->



<div class="row">
    <div class="m-content col-lg-12">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!--begin: Search Form -->
                <div class="row container">
                    <div class="col-lg-12">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">
                            Download Report</h5>

                        <form novalidate (ngSubmit)="handleSubmit()" [formGroup]="requestDownloadReportForm">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                        <label for="example-text-input" class="col-4 col-form-label">
                                            SMPP Username
                                        </label>
                                        <div class="col-lg-8">
                                            <select id="smppUserName" style="width: 100%" formControlName="smppUserName"
                                                data-live-search="true" data-size="5" (change)="refreshRequestedReport()"
                                                class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
                                                <option [disabled]="true" [selected]="true">Select Smpp Username</option>
                                                <option *ngFor="let appUser of appUsers" value="{{ appUser.credits.username }}">{{
                                                    appUser.credits.username }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                        <label for="example-text-input" class="col-2 col-form-label">
                                            From
                                        </label>
                                        <div class="col-lg-4" id="sandbox-container">
                                            <div class="input-daterange input-group" id="datepicker">
                                                <input type="text" class="form-control" (change)="updateDate()" id="m_datepicker_3"
                                                    readonly="" placeholder="From date">
                                            </div>
                                        </div>
                                        <label for="example-text-input" class="col-2 col-form-label">
                                            To
                                        </label>
                                        <div class="col-lg-4" id="sandbox-container">
                                            <div class="input-daterange input-group" id="datepicker">
                                                <input type="text" class="form-control" (change)="updateDate()" id="m_datepicker_4"
                                                    readonly="" placeholder="To date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group m-form__group row" style="padding-bottom: 0px">
                                        <div class="col-lg-9">
                                            <button type="submit" click="updateDate()"
                                                style="text-align: center;" [ngStyle]="{'cursor' : 'pointer' }"
                                                class="btn btn-success m-btn m-btn--icon m-btn--pill m-btn--air">
                                                Request New Report
                                            </button>
                                        </div>
                                        <!-- <div class="col-lg-1"></div> -->
                                        <div class="col-lg-3">
                                            <span (click)="getAllRequestedReport()" class="btn" style="background: transparent;padding-bottom: 0px;">
                                                <img src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- new row I will surely complain about you that you were lying abt complaint number-->
                            </div>
                        </form>
                    </div>
                </div>


                <!--begin: Datatable -->

                <table style="width: 100%" [hidden]="loading" *ngIf="smppReportList.length > 0">
                    <tr style="background: #c5cbe4">
                        <th style="width: 5%;color: black;text-align: center;">Sr No</th>
                        <th style="width: 20%;color: black;text-align: center;">From Date</th>
                        <th style="width: 20%;color: black;text-align: center;">To Date</th>
                        <th style="width: 20%;color: black;text-align: center;">Requested</th>
                        <th style="width: 20%;color: black;text-align: center;">Prepared</th>
                        <th style="width: 15%;color: black;text-align: center;">Status</th>
                        <th style="width: 10%;color: black;text-align: center;">Action</th>
                    </tr>
                    <tr [hidden]="show_loading" *ngFor="let row of smppReportList  | paginate: {id: 'smpReportListTable',itemsPerPage: 10, currentPage: p_report }; let i = index"
                        [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                        <td style="width: 5%;text-align: center;">{{(p_report - 1) * 10 + i +1}}</td>
                        <td style="width: 20%;color: black;text-align: center;">{{row.fromDate}}</td>
                        <td style="width: 20%;color: black;text-align: center;">{{row.toDate}}</td>
                        <td style="width: 20%;color: black;text-align: center;">{{row.requestedDate}}</td>
                        <td style="width: 20%;color: black;text-align: center;">{{row.preparedDate}}</td>
                        <td style="width: 15%;color: black;text-align: center;" [ngStyle]="{'color': (row.status == 'COMPLETED') ? 'green' : (row.status == 'PROCESSING') ? 'blue' : 'red'}">{{row.status}}</td>
                        <td style="width: 10%;text-align: center;">
                          <a style="cursor: pointer;" (click)="downloadFile(row.id,row.key)" [hidden]="row.status !== 'COMPLETED'" download="getDownloadFileName()">
                                <img  src="./assets/app/media/img/saino_icons/download.png"
                                    style="width: 18px;margin-bottom: 4px;margin-left: 20%">
                            </a>
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                        <pagination-controls id="smpReportListTable" (pageChange)="p_report = $event" maxSize="9" directionLinks="true"
                            autoHide="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
                <div class="row" [hidden]="!loading">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4">
                        <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;;margin-left: 20%;margin-top: 10%;">

                    </div>
                    <div class="col-lg-4"></div>
                </div>
                <!--end: Datatable -->

            </div>
</div>
    </div>
</div>