<div class="row" style="margin: 0px 0px;background: white;padding: 10px">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group m-form__group row" style="padding-bottom: 0px">
                <label for="example-text-input" class="col-2 col-form-label">
                    From
                </label>
                <div class="col-lg-4" id="sandbox-container">
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="form-control" id="liveStatus_fromDatePicker" readonly="" placeholder="From date">
                    </div>
                </div>
                <label for="example-text-input" class="col-2 col-form-label">
                    To
                </label>
                <div class="col-lg-4" id="sandbox-container">
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="form-control" id="liveStatus_toDatePicker" readonly="" placeholder="To date">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group m-form__group row" style="padding-bottom: 0px">
                <div class="col-lg-4">
                    <button (click)="customStatus()" style="text-align: center;" [ngStyle]="{'cursor' : 'pointer' }"
                        class="btn btn-success m-btn m-btn--icon m-btn--pill m-btn--air">
                        Custom Live Status
                    </button>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <button (click)="todyasStatus()" style="text-align: center;" [ngStyle]="{'cursor' : 'pointer' }"
                        class="btn btn-danger m-btn m-btn--icon m-btn--pill m-btn--air">
                        Today's Live Status
                    </button>
                </div>
                <div class="col-lg-1"></div>
                <!-- <div class="col-lg-1"></div> -->
                <div class="col-lg-2">
                    <button (click)="refreshStatus()" class="btn" style="background: transparent;padding-bottom: 0px;">
                        <img src="./assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
                    </button>
                </div>
            </div>
        </div>
        <!-- new row I will surely complain about you that you were lying abt complaint number-->
    </div>
</div>
<div class="row" style="background: white;margin: 15px 0px;padding: 10px">

    <table *ngIf="live_status.length > 0 && ! loading" class="table table-fixed" cellspacing="0" width="100%">
        <thead>
            <tr style="background: #c5cbe4">
                <th style="width: 5%;color: black;text-align: center;">Sr</th>
                <th style="width: 15%;color: black;text-align: center;">Smpp Username</th>
                <!-- <th style="width: 15%;color: black;text-align: center;">Main Account</th> -->
                <th style="width: 14%;color: black;text-align: center;">Total SMS</th>
                <th style="width: 14%;color: black;text-align: center;">Delivered</th>
                <th style="width: 14%;color: black;text-align: center;">Submitted</th>
                <th style="width: 14%;color: black;text-align: center;">Failed/Rejected</th>
                <th style="width: 14%;color: black;text-align: center;">DND Failed</th>
                <th style="width: 10%;color: black;text-align: center;">Total Credits</th>
            </tr>
        </thead>

        <!-- <div > -->
        <tbody>
            <tr [hidden]="loading" *ngFor="let status of live_status  | paginate: { 
        id: 'liveStatusPaginator',itemsPerPage: 10, currentPage: live_status_page }; let i = index"
                [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                <td style="width: 5%;color: black;text-align: center;">{{(live_status_page - 1) * 10 + i +1}}</td>
                <td style="width: 15%;color: black;text-align: center;">{{status.smppUserName}}</td>
                <td style="width: 14%;color: black;text-align: center;">{{status.totalSms}}</td>
                <td style="width: 14%;color: rgb(5, 212, 5);text-align: center;">{{status.totalDelivered}}</td>
                <td style="width: 14%;color: rgb(61, 14, 192);text-align: center;">{{status.totalSubmitted}}</td>
                <td style="width: 14%;color: rgb(234, 26, 26); text-align: center;">{{status.totalFailed}}</td>
                <td style="width: 14%;color: darksalmon; text-align: center;">{{status.totalDndFailed}}</td>
                <td style="width: 10%;color: black;text-align: center;">{{status.totalSmsCredit}}</td>
            </tr>
        </tbody>

        <!-- </div> -->

        <!-- <tr [hidden]="show_loading" style="font-weight:bold">
            <td style="width:5%"> </td>
            <td style="width: 15%;"> </td>
            <td style="width: 15%;"> </td>
            <td style="width: 11%;color: black;text-align: center;">val</td>
            <td style="width: 11%;color: black;text-align: center;">val</td>
            <td style="width: 11%;color: rgb(5, 212, 5);text-align: center;">val</td>
            <td style="width: 11%;color: rgb(61, 14, 192);text-align: center;">val</td>
            <td style="width: 11%;color: darksalmon;text-align: center;">val</td>
            <td style="width: 10%;color: rgb(234, 26, 26);text-align: center;">val</td>

        </tr> -->
    </table>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row col-lg-12" [hidden]="!loading">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" style="display: flex;justify-content: center;">
            <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">

        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <pagination-controls id="liveStatusPaginator" (pageChange)="live_status_page = $event" maxSize="9"
                directionLinks="true" autoHide="true" previousLabel="Previous" nextLabel="Next"
                screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>