<!-- BEGIN: Subheader -->

<div  appunwraptag="" style="margin-left: 75px;margin-right: 10px">
	<div class="row"> 
<div class="m-content col-lg-12">
<div class="m-portlet m-portlet--mobile">
	<div *ngIf="!contact" class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
			<div class="row align-items-center">
					<div class="col-lg-4"></div>
					<div class="col-lg-3">
							<input type="text" name="search"  [(ngModel)]="searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
										<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
											<span><i class="la la-search"></i></span>
										</span>
						</div>
				<div class="col-lg-2">
				<button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px;display: flex"  (click)="addgroup()">
					<!-- <img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px">  -->
					<span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>
					Add Group
				</button>
				</div>
				<div class="col-lg-2">
				<button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px;display: flex"  (click)="addcontact()">
				<!-- <img src="./assets/app/media/img/saino_icons/plus56.png" style="width: 16px;margin-right: 4px"> -->
				<span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>
				Add Contact</button>
				</div>
				
				
			</div>
		</div>
		
		<!--begin: Datatable -->

		<table  style="width: 100%">
							  <tr style="background: #c5cbe4">
							    <th style="width: 5%;color: black;text-align: center;">Sr</th>
								<th style="width: 35%;color: black;text-align: center;">Group Name</th>
								<th style="width: 35%;color: black;text-align: center;">Group Description</th>
							    <th style="width: 10%;color: black;text-align: center;">Count</th>
							    <th style="width: 20%;color: black;text-align: center;">Action</th>
							    <th style="width: 15%;color: black;text-align: center;">Download</th>
							  </tr>
							  <tr [hidden]="show_loading"  *ngFor="let group of groups_list | filter : searchText | paginate: { 
							  id: 'foo',itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
							    <td style="width: 5%;text-align: center;">{{ (p - 1) * 10 + i +1}}</td>
								<td style="width: 35%;text-align: center;">{{group.group_name}}</td>
								<td style="width: 35%;text-align: center;">{{group.group_desc}}</td>
							    <td style="width: 10%;text-align: center;">{{group.total_count}}</td>
							    <td style="width: 20%;color: black;text-align: center;">
									<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="show_contacts(group)">
										<!-- <i class="fa flaticon-medical" style="width: 24px;margin-bottom: 4px;margin-left: 20%"></i> -->

							    		<img src="./assets/app/media/img/saino_icons/view.png" title="view" style="width: 24px;margin-bottom: 4px;margin-left: 20%">
							    	</button>
									<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="current_group(group)">
							    		<img src="./assets/app/media/img/saino_icons/edit.png" title="edit" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
							    	</button>
							    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" [swal]="deleteSwalGroup">
							    		<img src="./assets/app/media/img/saino_icons/delete.png" title="delete" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
							    	</button>
							    	<swal
									  #deleteSwalGroup
									  title="Are you sure?"
									  text="This cannot be undone"
									  type="warning"
									  [showCancelButton]="true"
									  [focusCancel]="true"
									  (confirm)="delete_group(group)">
									</swal>
							    </td>
							    <td style="width: 15%;color: black;text-align: center;">
						    		<a href="#" (click)="download(group)">
						    			<img src="./assets/app/media/img/saino_icons/download.png" title="download" style="width: 18px;margin-bottom: 4px;margin-left: 20%">
						    		</a>
							                						                
							    </td>
							  </tr>
							
			</table>
			<div class="row"  [hidden]="!show_loading">
					<div class="col-lg-4"></div>
					<div class="col-lg-4" style="display: flex;justify-content: center;">
						<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
  
				  </div>
					<div class="col-lg-4"></div>
				</div>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="foo" (pageChange)="p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div>
		<!--end: Datatable -->
	
	</div>
	<div *ngIf="contact" class="m-portlet__body">
		<!--begin: Search Form -->
		<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
			<div class="row align-items-center">

				<div class="col-lg-12">
					<h3>
						Group Name: {{group_selected.group_name}}
					</h3>
				</div>
				
			</div>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-3">
					<input type="text" name="search"  [(ngModel)]="searchText_group" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
										<span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
											<span><i class="la la-search"></i></span>
										</span>
				</div>
				<div class="col-lg-2">
				<button *ngIf="!contact" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air " style="color: black;padding: 4px 14px" (click)="addgroup()">
				<img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px">Add Group</button>
				</div>
				<div class="col-lg-2">
				<button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px" (click)="addcontact()"><img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px">Add Contact</button>
				</div>
				<div class="col-lg-2">
				<button class="btn m-btn--pill custom_btn" style="border: 1px solid gray;color: gray;padding: 4px 14px" title="back" (click)="back()">Back</button>
				</div>
			</div>
		</div>
		
		<!--begin: Datatable -->

		<table style="width: 100%">
							  <tr style="background:  #c5cbe4">
							    <th style="width: 15%;color: black;text-align:center ">Sr</th>
							    <th style="width: 35%;color: black;text-align:center ">Name</th>
							    <th style="width: 15%;color: black;text-align:center ">Number</th>
							    <th style="width: 20%;color: black;text-align:center ">Mail</th>
							    <th style="width: 15%;color: black;text-align:center ">Action</th>
							  </tr>
							  <tr [hidden]="show_loading" *ngFor="let contact of group_contacts_list | filter : searchText_group | paginate: { id: 'bar', itemsPerPage: 10, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
							    <td style="width: 15%;text-align:center ">{{ (p - 1) * 10 + i +1}}</td>
							    <td style="width: 35%;text-align:center ">{{contact.contact_name}}</td>
							    <td style="width: 15%;text-align:center ">{{contact.contact_number}}</td>
								<td style="width: 20%;color: black;text-align:center ">		
									{{contact.mail_id}}					                						                
							    </td>
							    <td style="width: 15%;color: black;text-align:center ">
							    	<button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="current_contact(contact)">
							    		<img src="./assets/app/media/img/saino_icons/edit.png" title="edit" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
							    	</button>
							    	<button [swal]="deleteSwal" class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" >
							    		<img src="./assets/app/media/img/saino_icons/delete.png" title="delete" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
							    	</button>
							    	<swal
									  #deleteSwal
									  title="Are you sure?"
									  text="This cannot be undone"
									  type="warning"
									  [showCancelButton]="true"
									  [focusCancel]="true"
									  (confirm)="delete_contact(contact)">
									</swal>
							    </td>
							  </tr>
			</table>
			<div class="row"  [hidden]="!show_loading">
					<div class="col-lg-4"></div>
					<div class="col-lg-4" style="display: flex;justify-content: center;">
						<img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
  
				  </div>
					<div class="col-lg-4"></div>
				</div>
			<div class="row">
				<div class="col-lg-3"></div>
				<div class="col-lg-6">
						<pagination-controls id="bar" (pageChange)="p = $event" maxSize="9"
	                      directionLinks="true"
	                      autoHide="true"
	                      previousLabel="Previous"
	                      nextLabel="Next"
	                      screenReaderPaginationLabel="Pagination"
	                      screenReaderPageLabel="page"
	                      screenReaderCurrentLabel="You're on page"></pagination-controls>
	            </div>
	            <div class="col-lg-3"></div>
			</div>
		<!--end: Datatable -->
	</div>
</div>
</div></div></div>

<div class="modal fade" id="m_modal_3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="min-height: 250px;padding: 20px">

				      <div class="modal-header">
				      	<div class="container">
				      		<div class="row">
				      			<div class="col-lg-4"></div>
				      			<div class="col-lg-4">
				      				<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650">Edit Number</h5>
				      			</div>
				      			<div class="col-lg-4">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
				      			</div>
				      		</div>
				        	<div class="row">
				      			<div class="col-lg-2"></div>
				      			<div class="col-lg-3" style="padding: 7px">
				      				<span>Contact Name</span>
				      			</div>
				      			<div class="col-lg-5">
				      				<input class="form-control m-input" type="text" placeholder="Contact Name" name="new_contact_name_edit" [(ngModel)]="new_contact_name_edit"  autocomplete="off" required >

				      			</div>
				      			<div class="col-lg-2"></div>
				      		</div>
				      		<div class="row">
				      			<div class="col-lg-2"></div>
				      			<div class="col-lg-3" style="padding: 7px">
				      				<span>Contact Number</span>
				      			</div>
				      			<div class="col-lg-5">
				      				<input class="form-control m-input" type="number" placeholder="Contact Number" name="new_contact_num_edit" [(ngModel)]="new_contact_num_edit"  autocomplete="off" required >

				      			</div>
				      			<div class="col-lg-2"></div>
				      		</div>
				      		<div class="row "  style="margin-left: 4%;">
								<button [swal]="editcontact" class="btn m-btn--pill m-btn--air btn-info m-btn--wide" style="margin-top: 20px;margin-left: 42%;padding: 10px 30px;">Save</button>
								<swal
								#editcontact
								title="Are you sure?"
								text="This cannot be undone"
								type="warning"
								[showCancelButton]="true"
								[focusCancel]="true"
								(confirm)="edit_contact()">
							  </swal>
							</div>
				        </div>
				      </div>
		    </div>
		  </div>
		</div>
<div class="modal fade" id="m_modal_4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="min-height: 250px;padding: 20px">

				      <div class="modal-header" style="padding:10px;margin-bottom:10px">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Edit Group</h5>
				        </div>
					  </div>
					  <div class="row">
							<div class="col-lg-2"></div>
							<div class="col-lg-3" style="padding: 7px">
								<span>Group Name</span>
							</div>
							<div class="col-lg-5">
								<input class="form-control m-input" type="text" placeholder="Group Name" name="new_group_name_edit" [(ngModel)]="new_group_name_edit"  autocomplete="off" required >

							</div>
							<div class="col-lg-2"></div>
						</div>
						<div class="row">
							<div class="col-lg-2"></div>
							<div class="col-lg-3" style="padding: 7px">
								<span>Group Description</span>
							</div>
							<div class="col-lg-5">
								<input class="form-control m-input" type="text" placeholder="Group Description" name="new_group_desc_edit" [(ngModel)]="new_group_desc_edit"  autocomplete="off" required >

							</div>
							<div class="col-lg-2"></div>
						</div>
						<div class="row "  style="margin-left: 4%;">
						  <button [swal]="editgroup" class="btn m-btn--pill m-btn--air btn-info m-btn--wide" style="margin-top: 20px;margin-left: 42%;padding: 10px 30px;">Save</button>
						  <swal
						  #editgroup
						  title="Are you sure?"
						  text="This cannot be undone"
						  type="warning"
						  [showCancelButton]="true"
						  [focusCancel]="true"
						  (confirm)="edit_group()">
						</swal>
					  </div>
		    </div>
		  </div>
		</div>

<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" style="min-height: 250px;padding: 20px">

				      <div class="modal-header">
				      	<div class="container">
				      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add Group</h5>
				        	
				        </div>
					  </div>
					  <div class="row" style="margin:10px 0px">
							<div class="col-lg-2"></div>
							<div class="col-lg-3" style="padding: 7px">
								<span>Group Name</span>
							</div>
							<div class="col-lg-5">
								<input class="form-control m-input" type="text" placeholder="Group Name" name="new_group_name" [(ngModel)]="new_group_name"  autocomplete="off" required >

							</div>
							<div class="col-lg-2"></div>
						</div>
						<div class="row" style="margin:10px 0px">
							<div class="col-lg-2"></div>
							<div class="col-lg-3" style="padding: 7px">
								<span>Group Description</span>
							</div>
							<div class="col-lg-5">
								<input class="form-control m-input" type="text" placeholder="Group Description" name="new_group_desc" [(ngModel)]="new_group_desc"  autocomplete="off" required >

							</div>
							<div class="col-lg-2"></div>
						</div>
						<div class="row "  style="margin-left: 4%;">
						  <button (click)="create_new_group()" class="btn m-btn--pill m-btn--air  btn-info m-btn--wide"  style="margin-top: 20px;margin-left: 42%;padding: 10px 30px;">Add</button>

					  </div>
		    </div>
		  </div>
		</div>


		<div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
		    <div class="modal-content" [hidden]="disableAddContact" style="min-height: 400px;padding: 20px">

				      <div class="modal-header">
				      	<div class="container">
			      			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
							</button>
				      		<h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add Contact</h5>
				        	<div class="row">
				      			<div class="col-lg-2"></div>
				      			<div class="col-lg-3" style="padding: 7px">
				      				<span>Select Group Name</span>
								  </div>
								  
				      			<div class="col-lg-5">
				      				<select id="group_name_select" [disabled]="contact" (change)="groupChanged($event.target)" data-size="5" data-width="200px" style="height:40px" class="form-control selectpicker m-bootstrap-select m_selectpicker _shadow">
										<option value="" [selected]="selectedGroup==''" [disabled]="true">Select Group</option>
								          <option style="max-width: 200px;overflow: hidden;" *ngFor="let group of groups_list; let index = index" [selected]="selectedGroup==group.group_id"  [value]="group.group_id" >{{group.group_name}}</option>
						           </select>
								</div>
				      			<div class="col-lg-2"></div>
				      		</div>
				        </div>
				      </div>
				      
		       <div class="row" style="margin: 0px">
			<div class="col-xs-12 " style="width: 100%;">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" style="width: 33.33%; margin: 0px;">Add Single Contact</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" style="width: 33.33%; margin: 0px;">Add Multiple Contact</a>
						<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" style="width: 33.33%; margin: 0px;">Upload File</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
							<div class="row">
								<div class="col-lg-3"></div>
								<div class="col-lg-6">
							<div class="form-group m-form__group" style="margin-bottom:0px ;">
								<input [(ngModel)]="name_single" class="form-control m-input" type="text" placeholder="Name" name="username" style="border: none;margin: 0px;border-radius: 0px;border-bottom: 1px solid lightgray;"  required>
							</div>
							<div class="form-group m-form__group" style="margin-bottom: 0px">
								<input [(ngModel)]="email_single" class="form-control m-input" type="text" placeholder="Email" name="email" style="border: none;margin: 0px;border-radius: 0px;border-bottom: 1px solid lightgray;"  autocomplete="off" required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
							</div>
							<div  class="form-group m-form__group" style="margin-bottom: 0px;">
								<input [(ngModel)]="number_single" class="form-control m-input" type="number" placeholder="Mobile Number" name="phone" style="border: none;margin: 0px;border-radius: 0px;">
							</div>
								</div>
								<div class="col-lg-3"></div>
							</div>
							<div class="row "  style="margin-left: 4%;">
								<button (click)="add_single_contact()" class="btn m-btn--pill m-btn--air  btn-info m-btn--wide" style="margin-top: 20px;margin-left: 42%;padding: 10px 30px;">Save</button>

							</div>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
					<div class="row" style="margin-left: 4%;">
							<h5 style="color: #0C4DA2;font-size: 15;margin-top: 10px;"> Mobile Numbers</h5>
					</div>
					<div class="row _shadow" style="margin-left: 4%;height: 90px;background-color: white;margin-right: 30px">
							<div class="row col-lg-12" style="margin: 0px;padding: 0px;">
							<textarea [(ngModel)]="multiple_nos" style="width: 100%;min-height: 60px;padding: 10px;resize: none" placeholder=" "id="message"></textarea> 
							</div>
					</div>
					<div class="row "  style="margin-left: 4%;">
								<button (click)="add_multiple_contacts()" class="btn m-btn--pill m-btn--air btn-info m-btn--wide" style="margin-left: 37%;margin-top: 20px;">Add Numbers</button>
					</div>
					</div>
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
						<div class="row" >
						<div class="col-lg-4"></div>
						<div class="col-lg-4">
			            <a href="#" style="padding: 10px;text-decoration: none;font-weight: 500;font-size: 10px;margin-left: 42px;">
			            	Download Sample File
			            </a>
			            </div>
			            <div class="col-lg-4"></div>
			        	</div>
			        	<div class="row" style="margin-top:20px">
			        	<div class="col-lg-4"></div>
						<div class="col-lg-4" style="display:flex;justify-content:center">
								<label class="btn-bs-file btn  btn-default" style="border-radius: 23px;margin-top: 4px;background: transparent;border: 1px solid gray;padding: 8px 33px;font-size: 20px;color: darkgray;margin: 10px 40px;">
										Upload
										<img src="./assets/app/media/img/saino_icons/upload.png" style="width: 20px;margin-bottom: 4px;">
		
									<input type="file" (change)="readFile($event.target.files,$event.target)" />
								</label>	
						<!-- <label class="btn-bs-file btn  btn-default" style="border: 2px solid gray;
						color: gray;
						background-color: white;
						padding: 8px 20px;
						border-radius: 8px;
						font-size: 20px;
						font-weight: bold">
			                Upload
			                <input type="file" (change)="readFile($event.target.files,$event.target)" />
			            </label> -->
			        	</div>
			        	<div class="col-lg-4"></div>
			        	</div>
					</div>
				</div>
			
			</div>
		</div>
			</div>
			<div class="modal-content" [hidden]="!disableAddContact" style="min-height: 400px;padding: 20px">
				<div class="row"  >
					<div class="col-lg-4"></div>
					<div class="col-lg-4" style="display: flex;justify-content: center;">
						  <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
	
					</div>
					<div class="col-lg-4"></div>
			</div>
			</div>
			
		  </div>
		</div>