<div class="m-content" style="margin-left: 240px;margin-top: 105px;margin-right: 25px;padding-top: 0px;background: white;">


  <div class="container" appunwraptag="" style="padding-bottom: 10px;">

    <div class="container">
          
                
                  <div class="row" style="margin-top: 20px;"></div>
                  <div class="row" style="margin: 20px; "><strong ><h4>Settings</h4></strong></div>
                  <ul id="settingsul" class="nav nav-pills  nav-fill" role="tablist" >
              
                      <li class="nav-item item-tab nav-link active col-sm-12" data-toggle="tab" href="#m_tabs_5_1" style="cursor:  pointer;">
                        
            
                        <div  style="padding-top: 10px ;padding-bottom: 10px">
                        <img src="./assets/app/media/img/icons/flowdesign.png" style="width: 50px;height:50px;background: transparent;">
                        </div>
                          Flow Design
                        
                      </li>
                      <li class="nav-item nav-link item-tab col-sm-12" data-toggle="tab" href="#agents" style="cursor:  pointer;">
                        
            
                        <div  style="padding-top: 10px ;padding-bottom: 10px">
                        <img src="./assets/app/media/img/icons/agents.png" style="width: 50px;height:50px;background: transparent;">
                        </div>
                         Agents
                         
                        
                      </li> 
                       <li class="nav-item nav-link item-tab col-sm-12" data-toggle="tab" href="#sound" style="cursor:  pointer;">
                        <div  style="padding-top: 10px ;padding-bottom: 10px">
                        <img src="./assets/app/media/img/icons/sound.png" style="width: 50px;height:50px;background: transparent;">
                        </div> 
                        Sound
                        
                      </li>
                      <li class="nav-item nav-link item-tab col-sm-12" data-toggle="tab" href="#sms" style="cursor:  pointer;">
                        <div  style="padding-top: 10px ;padding-bottom: 10px">
                        <img src="./assets/app/media/img/icons/sms.png" style="width: 50px;height:50px;background: transparent;">
                        </div>
                          SMS
                          
                      </li>
                      <li class="nav-item nav-link item-tab col-sm-12" data-toggle="tab" href="#agentwisecall" style="cursor:  pointer;">
                        <div  style="padding-top: 10px ;padding-bottom: 10px">
                          <img src="./assets/app/media/img/icons/email.png" style="width: 50px;height:50px;background: transparent;">
                        </div>
                          E-Mail
                          
                      </li>
                      <!-- <li class="nav-item nav-link item-tab col-sm-12" data-toggle="tab" href="#api" style="cursor:  pointer;">
                        <div  style="padding-top: 10px ;padding-bottom: 10px">
                          <img src="./assets/app/media/img/icons/api.png" style="width: 50px;height:50px;background: transparent;">
                        </div>
                          API
                          
                      </li>  -->
                      
                      
                  </ul>     
                  <div class="m-portlet">
                      <div class="m-portlet__body">                
          
                  <div class="tab-content">
          <div class="tab-pane active container" id="m_tabs_5_1" role="tabpanel">
            <div class="row">
              <div class="col-lg-8"></div>
              <div class="col-lg-4">
                <input type="text" name="search"  [(ngModel)]="flowSearchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto; display: inline;">
                <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
                  <span><i class="la la-search"></i></span>
                </span>
              </div>
            </div>
            <div class="row" style="padding:0px;    margin-top: 15px;"> 
              <table style="width: 100%">
                <tr style="background: #c5cbe4">
                <th style="width: 10%;color: black;text-align: center;">Sr No</th>
                <th style="width: 25%;color: black;text-align: center;">IVR Number</th>
                <th style="width: 25%;color: black;text-align: center;">Call Flow</th>
                <th style="width: 25%;color: black;text-align: center;">Date</th>
                <th style="width: 10%;color: black;text-align: center;">Action</th>
               
              </tr>
              <tr>
                <td style="width: 10%;color: black;text-align: center;">Sr No</td>
                <td style="width: 25%;color: black;text-align: center;">IVR Number</td>
                <td style="width: 25%;color: black;text-align: center;">Call Flow</td>
                <td style="width: 25%;color: black;text-align: center;">Date</td>
                <td style="width: 10%;color: black;text-align: center;">
                  <img (click)="flowSettings()" src="./assets/app/media/img/settingsivr.png" style="width: 20px;background: transparent;cursor: pointer;">

                </td>
              </tr>
                <!-- <tr *ngFor="let agent of agent_list | filter:flowSearchText| paginate: { 
                id: 'flow',itemsPerPage: 5, currentPage: flowp }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                <td style="width: 5%;text-align: center;">{{ (flowp - 1) * 5 + i +1}}</td>
                <td style="width: 10%;text-align: center;">date</td>
                <td style="width: 10%;text-align: center;">Calls</td>
                <td style="width: 10%;text-align: center;">Answered</td>
                <td style="width: 10%;text-align: center;">Missed</td>
                <td style="width: 15%;text-align: center;">Incoming</td>
                <td style="width: 15%;text-align: center;">Outgoing</td> 
                
                
                
                </tr>-->
              </table>
              <div class="row">
                  <div class="col-lg-3">
                    
                  </div>
                  <div class="col-lg-6">
                    <pagination-controls id="flow" (pageChange)="flowp = $event" maxSize="4"
                        directionLinks="true"
                        autoHide="true"
                        previousLabel="Previous"
                        nextLabel="Next"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page"></pagination-controls> 
                  </div>
                  <div class="col-lg-3"></div>
                </div>
      </div>

          </div>
    
    
    
    
    
    
          <div class="tab-pane container" id="sound" role="tabpanel">
            <div class="row">
              <div class="col-lg-9"></div>
              <div class="col-lg-3">
                  <button (click)="addSound()" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px;display: flex" >
                      <!-- <img src="./assets/app/media/img/saino_icons/add2.png" style="width: 16px;margin-right: 4px">  -->
                      <span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>
                      Add Sound
                    </button>
              </div>
            </div>
            <div class="row" style="padding:0px;    margin-top: 15px;"> 
              <table style="width: 100%">
                <tr style="background: #c5cbe4">
                <th style="width: 10%;color: black;text-align: center;">Sr No</th>
                <th style="width: 25%;color: black;text-align: center;">Sound Name</th>
                <th style="width: 20%;color: black;text-align: center;">Language</th>
                <th style="width: 25%;color: black;text-align: center;">Type</th>
                <th style="width: 10%;color: black;text-align: center;">Sound Play</th>
                <th style="width: 10%;color: black;text-align: center;">Action</th>
               
              </tr>

              <tr>
                <td style="width: 10%;color: black;text-align: center;">Sr No</td>
                <td style="width: 25%;color: black;text-align: center;">Sound Name</td>
                <td style="width: 20%;color: black;text-align: center;">Language</td>
                <td style="width: 25%;color: black;text-align: center;">Type</td>
                <td style="width: 10%;color: black;text-align: center;">
                    <button (click)="musicPopUp()" class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 5px;" >
                        <img src="./assets/app/media/img/saino_icons/play.png" style="width: 25px;margin-bottom: 4px;margin-left: 20%">
                      </button>
                </td>
                <td style="width: 10%;color: black;text-align: center;">
                    <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 5px;" >
                        <img src="./assets/app/media/img/saino_icons/delete.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                      </button>
                  <!-- <img (click)="flowSettings()" src="./assets/app/media/img/settingsivr.png" style="width: 20px;background: transparent;cursor: pointer;"> -->

                </td>
              </tr>
              </table>
              <div class="row">
                  <div class="col-lg-3">
                    
                  </div>
                  <div class="col-lg-6">
                    <pagination-controls id="flow" (pageChange)="flowp = $event" maxSize="4"
                        directionLinks="true"
                        autoHide="true"
                        previousLabel="Previous"
                        nextLabel="Next"
                        screenReaderPaginationLabel="Pagination"
                        screenReaderPageLabel="page"
                        screenReaderCurrentLabel="You're on page"></pagination-controls> 
                  </div>
                  <div class="col-lg-3"></div>
                </div>
      </div>
            </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
          <div class="tab-pane" id="agents" role="tabpanel">
              <!-- <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-2 col-sm-12"></div>
              <h3 class="modal-title" id="exampleModalLongTitle" style="padding-left:10px;color: #0b4a9d;font-weight: 650;text-align: center;">AGENTS</h3>
              <div class="col-lg-7"></div>
              </div>					 -->
              <div class="row"> 
                      <div class="m-content col-lg-12">
                      <div class="">
                        <div  class="">
                          <!--begin: Search Form -->
                          <div class="row" style="margin-bottom: 20px">
                            <div class="col-lg-3 col-sm-12">
                              <h5>List 0f Agents</h5>
                            </div>
                            <div class="col-lg-7"></div>
                            <div class="col-lg-2">
                               
                              <button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px;display: flex" (click)="add_agent_clicked()">
                                <span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>              
                                Add Agent</button>
                            </div>
                          </div>
                          
                                  <!--begin: Datatable -->
          
                    <table style="width: 100%">
                      <tr style="background: #c5cbe4">
                      <th style="width: 10%;color: black;text-align: center;">Sr No</th>
                      <th style="width: 15%;color: black;text-align: center;">Name</th>
                      <th style="width: 15%;color: black;text-align: center;">Email Id</th>
                      <th style="width: 10%;color: black;text-align: center;">Login Access</th>
                      <th style="width: 10%;color: black;text-align: center;">Status</th>
                      <th style="width: 15%;color: black;text-align: center;">User Name</th>
                      <th style="width: 15%;color: black;text-align: center;">Action</th>
    
                      </tr>
                      <tr *ngFor="let agent of agent_list | paginate: { 
                      id: 'agent',itemsPerPage: 5, currentPage: p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                      <td style="width: 10%;text-align: center;">{{ (p - 1) * 5 + i +1}}</td>
                      <td style="width: 15%;text-align: center;">{{agent.name}}</td>
                      <td style="width: 15%;text-align: center;">{{agent.email_id}}</td>
                      <td style="width: 10%;text-align: center;">{{agent.login_access}}</td>
                      <td style="width: 10%;text-align: center;">{{agent.status}}</td>
                      <td style="width: 15%;text-align: center;">{{agent.username}}</td>
                      <td style="width: 10%;color: black;text-align: center;">
                          <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" (click)="edit_agent_clicked(i)" data-toggle="modal" data-target="#edit_agent">
                            <img src="./assets/app/media/img/saino_icons/edit.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                          </button>
                          <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;" >
                            <img src="./assets/app/media/img/saino_icons/delete.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                          </button>
                      </td>
                      
                      </tr>
                    </table>
                    <div class="row">
                        <div class="col-lg-3">
                          
                        </div>
                        <div class="col-lg-6">
                          <pagination-controls id="agent" (pageChange)="p = $event" maxSize="4"
                              directionLinks="true"
                              autoHide="true"
                              previousLabel="Previous"
                              nextLabel="Next"
                              screenReaderPaginationLabel="Pagination"
                              screenReaderPageLabel="page"
                              screenReaderCurrentLabel="You're on page"></pagination-controls> 
                        </div>
                        <div class="col-lg-3"></div>
                      </div>
                                    
                    
                    <!--end: Datatable -->
                                
                        </div>
                  <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-2 col-sm-12">
                        <button [swal]="savechanges" class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="save_agent"  style="margin-bottom: 10px" >
                            Save   
                        </button>
                        <swal 
                          #savechanges
                          title="Are you sure?"
                          text="This cannot be undone"
                          type="warning"
                          [showCancelButton]="true"
                          [focusCancel]="true"
                          (confirm)="saveagents()">
                          </swal>
                    </div>
    
                    <div class="col-lg-5"></div>
    
                  </div>
                           
    
                        
                      </div>
                      </div>
                    </div>
          </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
          <div class="tab-pane" id="calllogs" role="tabpanel">
            <div class="row"style="margin-left:10px">
            <div class="col-lg-3"><h4 >Call Log</h4></div>
            <div class="col-lg-2 col-sm-12">
    
            </div>
            
            <div class="col-lg-3">
              <div class="row">
                
                    <input type="text" name="search"  [(ngModel)]="call_searchText" class="form-control m-input" placeholder="Search..." id="generalSearch" style="width: auto;height: 40px;; display: inline;">
                    
              
                    <button  class="btn " style="background: transparent;width:25px;padding-left: 5px;">
                        <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
                          <img src="assets/app/media/img/icons/search.png" style="background: transparent;width: 25px;">
                        </span>
                      </button>
                
              </div>
                
            </div>
            <div class="col-lg-3">
              <div class="row">
                <div class="col-lg-4" style="padding-top: 5px;"><h5>Numbers</h5></div>
                <div class="col-lg-8">
                    <select [(ngModel)]="numbers"  class="form-control  m-bootstrap-select m_selectpicker" id="numbers_select" data-live-search="true">
                        <!-- <option *ngFor="let agent of agents">
                          agents
                          </option> -->
                    </select>
                </div>
              </div>
            </div>
            <div class="row">
                <button class="btn " style="background: transparent;padding: 0px;margin: 0px 20px">
                    <img src="assets/app/media/img/saino_icons/refresh.png" style="width: 25px;background: transparent;">
                  </button>
            </div>
              
            </div>
            
            <div class="row " style="margin-top: 10px; margin-left:10px;">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="row">
                        <div class="col-lg-3" style="padding-top: 5px;"><h5>Agent</h5></div>
                        <div class="col-lg-9">
                            <select [(ngModel)]="agentnames"  class="form-control  m-bootstrap-select m_selectpicker" id="agent_list_select" data-live-search="true">
                                <!-- <option *ngFor="let agent of agents">
                                  agents
                                  </option> -->
                            </select>
                        </div>	
    
                    </div>
                      
                  </div>
                  <div class="col-lg-7">
                    <div class="row">
                        <div class="col-lg-4" style="padding-top: 5px;"><h5>Extension</h5></div>
                        <div class="col-lg-8">
                            <select [(ngModel)]="extension"  class="form-control  m-bootstrap-select m_selectpicker" id="extension_select" data-live-search="true">
                                <!-- <option *ngFor="let extension of extensions">
                                  extension
                                  </option> -->
                            </select>
                        </div>	
    
                    </div>
                  </div>
                </div>
    
              </div>
              <div class="col-lg-1"></div>
              <div class="col-lg-5">
                  <div class="row">
                      <div class="col-lg-3"></div>
                      <div class="col-lg-6" id="reportrange" class="form-control input-group" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 50%;text-align: center;">
                        <i class="fa fa-calendar"></i>&nbsp;
                        <span  ></span>
                      </div>
                      <div  class="col-lg-1">
                      <button  class="btn " style="background: transparent;width:25px;padding: 0px;">
                          <span class="m-input-icon__icon m-input-icon__icon--left" style="margin-left: -12%;vertical-align: middle;">
                            <img src="assets/app/media/img/icons/search.png" style="background: transparent;width: 25px;">
                          </span>
                      </button>
                      </div> 
                      <div class="col-lg-1">
                          <img src="assets/app/media/img/saino_icons/download.png" style="background: transparent;width: 25px;">
                      </div>
                    </div>
              </div>
            </div>
                  
                      
            <div class="row"> 
                    <div class="m-content col-lg-12">
                    <div class="m-portlet m-portlet--mobile">
                      <div  class="m-portlet__body">
                        <!--begin: Search Form -->
                        <!-- <div class="row" style="margin-bottom: 20px">
                          <div class="col-lg-3 col-sm-12">
                            <h5>List 0f Agents</h5>
                          </div>
                          <div class="col-lg-7"></div>
                          <div class="col-lg-2 col-sm-12">
                            <button data-toggle="modal" data-target="#add_agent" (click)="add_agent_clicked()" class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air">
                            Add Agent		
                            </button>
                          </div>
                        </div> -->
                        
                                <!--begin: Datatable -->
        
                  <table style="width: 100%">
                    <tr style="background: #c5cbe4">
                    <th style="width: 5%;color: black;text-align: center;">Sr No</th>
                    <th style="width: 15%;color: black;text-align: center;">Date</th>
                    <th style="width: 15%;color: black;text-align: center;">Caller</th>
                    <th style="width: 10%;color: black;text-align: center;">Status</th>
                    <th style="width: 10%;color: black;text-align: center;">Number</th>
                    <th style="width: 15%;color: black;text-align: center;">Duration</th>
                    <th style="width: 15%;color: black;text-align: center;">Recording</th>
                    <th style="width: 15%;color: black;text-align: center;">Credits</th>
                    <th style="width: 15%;color: black;text-align: center;">Actions</th>
    
    
    
                    </tr>
                    <tr *ngFor="let agent of agent_list | paginate: { 
                    id: 'calllogs',itemsPerPage: 5, currentPage: calllogs_p }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                    <td style="width: 5%;text-align: center;">{{ (calllogs_p - 1) * 5 + i +1}}</td>
                    <td style="width: 15%;text-align: center;">date</td>
                    <td style="width: 15%;text-align: center;">caller</td>
                    <td style="width: 10%;text-align: center;">status</td>
                    <td style="width: 10%;text-align: center;">number</td>
                    <td style="width: 15%;text-align: center;">duration</td>
                    <td style="width: 15%;text-align: center;">recording</td>
                    <td style="width: 15%;text-align: center;">credits</td>
                    <td style="width: 10%;color: black;text-align: center;">
                        <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 5px;">
                          <img src="./assets/app/media/img/saino_icons/edit.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                        </button>
                        <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 5px;" >
                          <img src="./assets/app/media/img/saino_icons/delete.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                        </button>
                    </td>
                    
                    </tr>
                  </table>
                  <div class="row">
                      <div class="col-lg-3">
                        
                      </div>
                      <div class="col-lg-6">
                        <pagination-controls id="calllogs" (pageChange)="calllogs_p = $event" maxSize="4"
                            directionLinks="true"
                            autoHide="true"
                            previousLabel="Previous"
                            nextLabel="Next"
                            screenReaderPaginationLabel="Pagination"
                            screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page"></pagination-controls> 
                      </div>
                      <div class="col-lg-3"></div>
                    </div>
                                  
                  
                  <!--end: Datatable -->
                              
                      </div>
            </div>
          </div>
          </div>
        </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        <div class="tab-pane" id="sms" role="tabpanel">
            <div  appunwraptag="" >
                <div class="row"> 
              <div class="m-content col-lg-12">
              <div class="">
                <div  class="">
                  <!--begin: Search Form -->
                  <!-- <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                    <div class="row align-items-center">
                      <div class="col-lg-9">
                      </div>
                      <div class="col-lg-2">
                        <button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px;display: flex"  (click)="addTemp()">
                          <span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>              
                          Add Template</button>
                      </div>
                    </div>
                  </div> -->
                  
                  <!--begin: Datatable -->
              
                  <table style="width: 100%">
                              <tr style="background:#c5cbe4">
                                <th style="width: 10%;color: black;text-align: center;">Sr No</th>
                                <th style="width: 15%;color: black;text-align: center;">SMS Name</th>
                                <th style="width: 20%;color: black;text-align: center;">Type</th>
                                <th style="width: 25%;color: black;text-align: center;">Message</th>
                                <th style="width: 10%;color: black;text-align: center;">Created Date</th>
                                <th style="width: 10%;color: black;text-align: center;">Status</th>
                                <th style="width: 10%;color: black;text-align: center;">Action</th>
                              </tr>
                              <tr  [hidden]="show_loading" *ngFor="let temp of temp_list  | paginate: { 
                              id: 'smspagination',itemsPerPage: 5, currentPage: smsp }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                                <td style="width: 10%;text-align: center;">{{ (smsp - 1) * 5 + i +1}}</td>
                                <td style="width: 15%;text-align: center;">{{temp.template_name}}</td>
                                <td style="width: 20%;text-align: center;">{{temp.template_type}}</td>
                              <td style="width: 25%;color: black;text-align: center;">{{temp.template_data}}</td>
                                <td style="width: 10%;color: black;text-align: center;">{{temp.created_date.split("T")[0]}}</td>
                                <td style="width: 10%;color: black;text-align: center;">
                                  <div>
                                    <button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Active</button>
                                  </div>
                                  <!-- <div *ngIf="mis.kyc_status==1" >
                                    <button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Inactive</button>
                                  </div> -->
                                </td>
                               
                              <td style="width:20%;color: black;text-align: center;">
                                <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;">
                                  <img src="./assets/app/media/img/saino_icons/cancel.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                                </button>
                                <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;">
                                  <img src="./assets/app/media/img/saino_icons/check.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                                </button>
                              </td> 
                              
                              </tr>
                    </table>
                    <div class="row"  [hidden]="!show_loading">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4" style="display: flex;justify-content: center;">
                          <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
                
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3"></div>
                      <div class="col-lg-6">
                          <pagination-controls id="smspagination" (pageChange)="smsp = $event" maxSize="4"
                                      directionLinks="true"
                                      autoHide="true"
                                      previousLabel="Previous"
                                      nextLabel="Next"
                                      screenReaderPaginationLabel="Pagination"
                                      screenReaderPageLabel="page"
                                      screenReaderCurrentLabel="You're on page"></pagination-controls>
                            </div>
                            <div class="col-lg-3"></div>
                    </div>
                  <!--end: Datatable -->
                
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
    
    
    
    
    
    
    
    
    
    
      
    
        <div class="tab-pane" id="agentwisecall" role="tabpanel">
          <div  appunwraptag="" >
            <div class="row"> 
          <div class="m-content col-lg-12">
          <div class="">
            <div  class="">
              <!--begin: Search Form -->
              <!-- <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                  <div class="col-lg-9">
                  </div>
                  <div class="col-lg-2">
                    <button class="btn btn-outline-success m-btn m-btn--custom m-btn--icon m-btn--outline-2x m-btn--pill m-btn--air" style="color: black;padding: 4px 14px;display: flex"  (click)="addTemp()">
                      <span style="padding-top: 8.5px;margin-right: 4px;"><i class="la la-plus"></i></span>              
                      Add Template</button>
                  </div>
                </div>
              </div> -->
              
              <!--begin: Datatable -->
          
              <table style="width: 100%">
                          <tr style="background:#c5cbe4">
                            <th style="width: 10%;color: black;text-align: center;">Sr No</th>
                            <th style="width: 15%;color: black;text-align: center;">Email Name</th>
                            <th style="width: 20%;color: black;text-align: center;">Type</th>
                            <th style="width: 25%;color: black;text-align: center;">Email Content</th>
                            <th style="width: 10%;color: black;text-align: center;">Created Date</th>
                            <th style="width: 10%;color: black;text-align: center;">Status</th>
                            <th style="width: 10%;color: black;text-align: center;">Action</th>
                          </tr>
                          <tr  [hidden]="show_loading" *ngFor="let temp of temp_list  | paginate: { 
                          id: 'emailpagination',itemsPerPage: 5, currentPage: emailp }; let i = index" [ngStyle]="{'background': i%2!=0 ? ' #f2f2f2' : 'white' }">
                            <td style="width: 10%;text-align: center;">{{ (emailp - 1) * 5 + i +1}}</td>
                            <td style="width: 15%;text-align: center;">{{temp.template_name}}</td>
                            <td style="width: 20%;text-align: center;">{{temp.template_type}}</td>
                          <td style="width: 25%;color: black;text-align: center;">{{temp.template_data}}</td>
                            <td style="width: 10%;color: black;text-align: center;">{{temp.created_date.split("T")[0]}}</td>
                            <td style="width: 10%;color: black;text-align: center;">
                              <div>
                                <button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Active</button>
                              </div>
                              <!-- <div *ngIf="mis.kyc_status==1" >
                                <button class="btn m-btn--pill custom_btn1 btn-success" style="padding: 5px 15px;min-width: 100px" >Inactive</button>
                              </div> -->
                            </td>
                           
                          <td style="width:20%;color: black;text-align: center;">
                            <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;">
                              <img src="./assets/app/media/img/saino_icons/cancel.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                            </button>
                            <button class="btn" style="border: none;background: transparent;padding: 0px;margin-right: 10px;">
                              <img src="./assets/app/media/img/saino_icons/check.png" style="width: 20px;margin-bottom: 4px;margin-left: 20%">
                            </button>
                          </td> 
                          
                          </tr>
                </table>
                <div class="row"  [hidden]="!show_loading">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4" style="display: flex;justify-content: center;">
                      <img src="./assets/app/media/img/loader.gif" style="width: 160px;height:120px;margin-top: 10%;">
            
                    </div>
                    <div class="col-lg-4"></div>
                </div>
                <div class="row">
                  <div class="col-lg-3"></div>
                  <div class="col-lg-6">
                      <pagination-controls id="emailpagination" (pageChange)="emailp = $event" maxSize="4"
                                  directionLinks="true"
                                  autoHide="true"
                                  previousLabel="Previous"
                                  nextLabel="Next"
                                  screenReaderPaginationLabel="Pagination"
                                  screenReaderPageLabel="page"
                                  screenReaderCurrentLabel="You're on page"></pagination-controls>
                        </div>
                        <div class="col-lg-3"></div>
                </div>
              <!--end: Datatable -->
            
            </div>
          </div>
          </div>
        </div>
      </div>
            
           
        </div>  
          </div>      
                </div>
              </div>
          </div>  
    </div>	
</div>


		

<!-- add agent modal -->
	
<div class="modal fade" id="add_agent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" style="max-width: 900px" role="document">
		<div class="modal-content" style="min-height: 250px;padding: 20px">
		    <div class="modal-header">
				<div class="container">
				  	<div class="row">
						<div class="col-lg-5"></div>
			  			<div class="row col-lg-2" style=" margin: 0px">
							<h5 class="modal-title" id="exampleModalLongTitle" style="color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">ADD AGENT</h5>

						</div>
						<div class="col-lg-3"></div>
						<div class="col-lg-2">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
					</div>
				  </div>
				 
			</div>
			<div class="row" style="margin: 20px"></div>
			<div class="form-group m-form__group row" style="padding-bottom: 0px">
					<label class="col-2"></label>
					<label class="col-2 col-form-label"><h5>Name</h5></label>
					<div class="col-7" style="margin-left: 2px">
						<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="name">
					</div>
			</div>
			<div class="form-group m-form__group row" style="padding-bottom: 0px">
					<label class="col-2"></label>
					<label class="col-2 col-form-label"><h5>Number</h5></label>
					<div class="col-7" style="margin-left: 2px">
						<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="number">
					</div>
			</div>
			<div class="form-group m-form__group row" style="padding-bottom: 0px">
					<label class="col-2"></label>
					<label class="col-2 col-form-label"><h5>E-Mail</h5></label>
					<div class="col-7" style="margin-left: 2px">
						<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="email">
					</div>
			</div>
			<div class="form-group m-form__group row">
					<label class="col-2"></label>
					<label class="col-form-label col-lg-2 col-md-6 col-sm-6">
					<h5>Status</h5>
					</label>
					<div class="col-lg-3 col-md-6 col-sm-6">
						<select id="select1" [(ngModel)]="status"class="form-control  m-bootstrap-select m_selectpicker">
							<option [ngValue]=0 [selected]="status==0">
								Inactive
							</option>
							<option [ngValue]=1 [selected]="status==1"> 
								Active
							</option>
						</select>
						
					</div>
					<div class="col-lg-1"></div>
					<div class="col-lg-4 col-sm-6 col-md-6" >
						<label class="m-checkbox m-checkbox--focus" style="margin-top: 5px;margin-left:3px;" >
							<input  (click)="access_changed()"  type="checkbox" name="access"[(ngModel)]="access">
							<strong>Create Login Details for agent</strong>
							<span style="border: 1px solid #bdc3d4;"></span>
									
						</label> 
					</div>
			</div>
			<div *ngIf="access" class="form-group m-form__group row">
					<div class="col-2"></div>
					<div class="col-4">
						<div class="row">
							<label class="col-4 col-form-label"><h5>User Id</h5></label>
							<div class="col-8" style="">
								<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="userid">
							</div>

						</div>
					</div>
					<div class="col-5" style="margin-left: 20px">
						<div class="row"  >
							
							<label class="col-4 col-form-label"><h5>Password</h5></label>
							<div class="col-7" style="margin-left: 10px;">
								<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="password">
							</div>

						</div>
					</div>

			</div>
			<div class="row" style="margin-top: 20px;">
					<div class="col-lg-5"></div>
					<div class="col-lg-2 col-sm-12">
							<button  class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="save_agent" (click)="new_agent()" style="margin-bottom: 10px" >
									Save   
							</button>
					</div>

					<div class="col-lg-5"></div>

				</div>
			
		</div>
	</div>
 </div>

 
		  <!-- add agent modal ends -->



		  <div class="modal fade" id="edit_agent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" style="max-width: 900px" role="document">
					<div class="modal-content" style="min-height: 250px;padding: 20px">
						<div class="modal-header">
							<div class="container">
								  <div class="row">
									<div class="col-lg-5"></div>
									  <div class="row col-lg-2" style=" margin: 0px">
										<h5 class="modal-title" id="exampleModalLongTitle" style="color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">ADD AGENT</h5>
			
									</div>
									<div class="col-lg-3"></div>
									<div class="col-lg-2">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									  </button>
									</div>
								</div>
							  </div>
							 
						</div>
						<div class="row" style="margin: 20px"></div>
						<div class="form-group m-form__group row" style="padding-bottom: 0px">
								<label class="col-2"></label>
								<label class="col-2 col-form-label"><h5>Name</h5></label>
								<div class="col-7" style="margin-left: 2px">
									<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="name">
								</div>
						</div>
						<div class="form-group m-form__group row" style="padding-bottom: 0px">
								<label class="col-2"></label>
								<label class="col-2 col-form-label"><h5>Number</h5></label>
								<div class="col-7" style="margin-left: 2px">
									<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="number">
								</div>
						</div>
						<div class="form-group m-form__group row" style="padding-bottom: 0px">
								<label class="col-2"></label>
								<label class="col-2 col-form-label"><h5>E-Mail</h5></label>
								<div class="col-7" style="margin-left: 2px">
									<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="email">
								</div>
						</div>
						<div class="form-group m-form__group row">
								<label class="col-2"></label>
								<label class="col-form-label col-lg-2 col-md-6 col-sm-6">
								<h5>Status</h5>
								</label>
								<div class="col-lg-3 col-md-6 col-sm-6">
									<select id="select1" [(ngModel)]="status"class="form-control  m-bootstrap-select m_selectpicker">
										<option [ngValue]=0 [selected]="status==0">
											Inactive
										</option>
										<option [ngValue]=1 [selected]="status==1"> 
											Active
										</option>
									</select>
									
								</div>
								<div class="col-lg-1"></div>
								<div class="col-lg-4 col-sm-6 col-md-6" >
									<label class="m-checkbox m-checkbox--focus" style="margin-top: 5px;margin-left:3px;" >
										<input  (click)="access_changed()"  type="checkbox" name="access"[(ngModel)]="access">
										<strong>Create Login Details for agent</strong>
										<span style="border: 1px solid #bdc3d4;"></span>
												
									</label> 
								</div>
						</div>
						<div *ngIf="access" class="form-group m-form__group row">
								<div class="col-2"></div>
								<div class="col-4">
									<div class="row">
										<label class="col-4 col-form-label"><h5>User Id</h5></label>
										<div class="col-8" style="">
											<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="userid">
										</div>
			
									</div>
								</div>
								<div class="col-5" style="margin-left: 20px">
									<div class="row"  >
										
										<label class="col-4 col-form-label"><h5>Password</h5></label>
										<div class="col-7" style="margin-left: 10px;">
											<input class="form-control m-input"  [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="password">
										</div>
			
									</div>
								</div>
			
						</div>
						<div class="row" style="margin-top: 20px;">
								<div class="col-lg-5"></div>
								<div class="col-lg-2 col-sm-12">
										<button  class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="save_agent" (click)="new_agent()" style="margin-bottom: 10px" >
												Save   
										</button>
								</div>
			
								<div class="col-lg-5"></div>
			
							</div>
						
					</div>
				</div>
			 </div>
					  
            
       


       <div class="modal fade" id="m_modal_flow_settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" style="max-width: 900px" role="document">
					<div class="modal-content" style="min-height: 250px;padding: 20px">
						<div class="modal-header">
							<div class="container">
								  <div class="row">
									<div class="col-lg-5"></div>
									  <div class="row col-lg-4" style=" margin: 0px">
										<h5 class="modal-title" id="exampleModalLongTitle" style="color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Flow Settings</h5>
			
									</div>
									<div class="col-lg-1"></div>
									<div class="col-lg-2">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									  </button>
									</div>
								</div>
							  </div>
							 
						</div>
          <div style="padding:0 70px">
            <div class="row">
              <div class="row col-lg-6" style="margin: 15px 0px;display: flex;align-items: center;">
                <label style="padding-top: 6px" class="col-lg-5">IVR Number</label>
                <div class="input-group col-lg-7" style="padding: 0px">
                <input type="text" class="form-control m-input" >
                </div>
              </div>
            <div class="row col-lg-6" style="margin: 15px 0px;display: flex;align-items: center;">
                 <div class="col-lg-5">
                    Call Flow
                 </div>
                 <div class="col-lg-7" style="padding:0px">
                  <select id="callflow" class="form-control  m-bootstrap-select m_selectpicker">
                    <option>
                     DTMF
                    </option>
                    <option > 
                      Phone Call
                    </option>
                  </select>
                 </div>
              </div>
            </div>
            <div class="row " style="margin-top: 10px">
                <div class="row col-lg-6" style="margin: 0px 0px;display: flex;align-items: center;">
                  <div class="col-lg-5">
                      Agent
                  </div>
                  <div class="col-lg-7" style="padding:0px">
                   <select id="callflow" class="form-control  m-bootstrap-select m_selectpicker">
                     <option>
                      DTMF
                     </option>
                     <option > 
                       Phone Call
                     </option>
                   </select>
                  </div>
               </div>
               <div class="row col-lg-6" style="margin: 0px 0px;display: flex;align-items: center;">
                <div class="col-lg-5">
                    <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
                        <label>
                                    <input type="checkbox" [(ngModel)]="activateAgent" name="">
                                    <span></span>
                                    </label>
                                </span>
                </div>
                <div [hidden]="!activateAgent" class="col-lg-7" style="padding:0px">
                    <select id="agentSelect" data-size="5" class="form-control  m-bootstrap-select m_selectpicker">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                      </select>
                </div>
             </div>
               </div>

               <!-- <div class="row" id="addagentdiv">

               </div>          
               <div class="row" style="margin-top: 10px">
                  <div class="row col-lg-6" style="margin: 0px 0px;display: flex;align-items: center;">
                    <div class="col-lg-5">
                        <label (click)="addAgent()" class="col-lg-12" style="cursor:pointer;padding-left: 2px;">Add+</label>
                      </div>
                   
                 </div>
                 </div> -->
                 <div class="row" style="margin-top: 10px;margin-left: 2.5%" >
                  <div class="col-lg-12">
                       <div class="row col-lg-12" id="responsecodesdiv">                        
                          
                       </div>
                       <div class="row col-lg-12" style="padding-top: 10px;font-weight: 500;font-size: 15px;">
                           <div class="col-lg-4">
                               <label (click)="addResponseCode()" style="cursor:pointer;padding-left: 2px;">Add+</label>
                           </div>               
                       </div>
           
                  </div>
                     
               </div>
               <div class="row" style="margin-top: 10px">
                <div class="row col-lg-6" style="margin: 0px 0px;display: flex;align-items: center;">
                  <div class="col-lg-5">
                     Call Mode
                  </div>
                  <div class="col-lg-7" style="padding:0px">
                   <select id="callflow" class="form-control  m-bootstrap-select m_selectpicker">
                     <option>
                      DTMF
                     </option>
                     <option > 
                       Phone Call
                     </option>
                   </select>
                  </div>
               </div>
               <div class="row col-lg-6" style="margin: 0px 0px;display: flex;align-items: center;">
                <div class="col-lg-5">
                   Sound
                </div>
                <div class="col-lg-7" style="padding:0px">
                 <select id="callflow" class="form-control  m-bootstrap-select m_selectpicker">
                   <option>
                    DTMF
                   </option>
                   <option > 
                     Phone Call
                   </option>
                 </select>
                </div>
             </div>
               </div>
              
            <div class="row" style="margin-top: 10px">
                      <div class="row col-lg-6" style="margin: 0px 0px;display: flex;align-items: center;">
                        <div class="col-lg-5">
                          Error Sound
                        </div>
                        <div class="col-lg-7" style="padding:0px">
                        <select id="callflow" class="form-control  m-bootstrap-select m_selectpicker">
                          <option>
                            DTMF
                          </option>
                          <option > 
                            Phone Call
                          </option>
                        </select>
                        </div>
                    </div>
                            
                      <div class="row col-lg-6" style="margin: 0px 0px;display: flex;align-items: center;">
                        <div class="col-lg-5">
                          Time Slot
                        </div>
                        <div class="col-lg-7" style="padding:0px">
                          <span class="m-switch m-switch--outline m-switch--icon m-switch--success">
                            <label>
                                        <input type="checkbox" [(ngModel)]="timeSlotActivate" name="">
                                        <span></span>
                                        </label>
                                    </span>
                        </div>
                    </div>
            </div>
            <div [hidden]="!timeSlotActivate" class="row" style="margin-top: 10px">
                <div class="row col-lg-3" style="margin: 0px 0px;display: flex;align-items: center;">
                  <div class="col-lg-5">
                      Start Time
                  </div>
                  <div class="col-lg-7" style="padding:0px">
                      <input type='text' class="form-control"  id="m_timepicker_10_modal" readonly placeholder="Select time">
                
                  </div>
              </div>
                      
                <div class="row col-lg-3" style="margin: 0px 0px;display: flex;align-items: center;">
                  <div class="col-lg-5">
                      End Time
                  </div>
                  <div class="col-lg-7" style="padding:0px">
                      <input type='text' class="form-control"  id="m_timepicker_11_modal" readonly placeholder="Select time">
                  </div>
              </div>
              <div class="row col-lg-3" style="margin: 0px 0px;display: flex;align-items: center;">
                  <div class="col-lg-5">
                      Sound
                  </div>
                  <div class="col-lg-7" style="padding:0px">
                      <select id="callflow" class="form-control  m-bootstrap-select m_selectpicker">
                          <option>
                            DTMF
                          </option>
                          <option > 
                            Phone Call
                          </option>
                        </select>
                  </div>
              </div>
              <div class="row col-lg-3" style="margin: 0px 0px;display: flex;align-items: center;">
                  <div class="col-lg-5">
                    Days
                  </div>
                  <div class="col-lg-7" style="padding:0px">
                      <select multiple id="callflow" data-size="5" class="form-control  m-bootstrap-select m_selectpicker">
                          <option> Sunday</option>
                          <option >Monday</option>
                          <option >Tuesday</option>
                          <option >Wednesday</option>
                          <option >Thursday</option>
                          <option >Friday</option>
                          <option >Saturday</option>
                        </select>
                  </div>
              </div>
      </div>
            <!-- <div class="row">
              <div class="col-lg-3" style="margin: 0px 0px;display: flex;align-items: center;">
                <div class="row">
                    <label  class="col-form-label col-lg-6 col-sm-6">
                     
                    </label>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                    </div>
                  
                </div>
              </div>
              <div class="col-lg-3" style="margin: 0px 0px;display: flex;align-items: center;" >
                <div class="row">
                    <label class="col-form-label col-lg-6 col-sm-6">
                      End Time
                    </label>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                    </div>
                </div>
              </div>
              <div class="col-lg-3">
                  <div class="row">
                      <div class="form-group m-form__group row">
                        <label  class="col-form-label col-lg-6 col-sm-6">
                         
                        </label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                          
                        </div>
                      </div>
                    </div>
               
              </div>
              <div class="col-lg-3">
                  <div class="row">
                      <div class="form-group m-form__group row">
                        <label  class="col-form-label col-lg-6 col-sm-6">
                          Days
                        </label>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                           
                        </div>
                      </div>
                    </div>
               
              </div>
            </div> -->
        
          </div>
					
           
					
						
					</div>
				</div>
       </div>
       


       
<div class="modal fade" id="m_modal_5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
      <div class="modal-content" style="min-height: 400px;padding: 20px">

            <div class="modal-header" style="border-bottom: 0px">
              <div class="container">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
            </button>
                <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Edit Temp {{temp_name}}</h5>
              </div>
            </div>
   
         <div class="row" style="margin: 0px;">
        <div class="col-lg-2 ">
        </div>
        <div class="col-lg-8 ">
          <div class="row" style="margin-top: 2%">
              <h5 class="col-lg-6" style="color: #0C4DA2;font-size: 15;"> Message</h5>
              <div class="col-lg-6">
                <label class="m-radio m-radio--check-bold col-lg-6" >
                  <input type="radio" name="optradio1" [checked]="temp_type_updated=='English'" (change)="englishSelectedeEdit()" >English
                  <span></span>
                  </label>
                  <label class="m-radio m-radio--check-bold ">
                    <input type="radio" name="optradio1" [checked]="temp_type_updated=='Unicode'"  (change)="unicodeSelectedEdit()" >Unicode
                    <span></span>
                      </label>
                <!-- <label class="radio-inline" style="margin-left: 15px">
                  <input type="radio" name="optradio1" [checked]="temp_type_updated=='English'" (change)="englishSelectedeEdit()" >English</label>
                <label class="radio-inline" style="margin-left: 15px">
                  <input type="radio" name="optradio1" [checked]="temp_type_updated=='Unicode'"  (change)="unicodeSelectedEdit()" >Unicode</label> -->
              </div>
          </div>
          <div class="row _shadow" style="height: 90px;background-color: white;">
              <div class="row col-lg-12" style="margin: 0px;padding: 0px;">
              <textarea [(ngModel)]="message_updated" name="message_updated" style="width: 100%;min-height: 60px;padding: 10px;" placeholder=" "id="message_updated" required="required" ng-cut="MessageChangedEdit()" ng-copy="MessageChangedEdit()"  (ngModelChange)="MessageChangedEdit()"></textarea> 
              </div>
          </div>
          <div class="row " >
              <h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;"> Total Characters : {{message_updated.length}}</h5>
              <h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;margin-left: 5%"> Total Sms :  {{ sms_count_edit}}</h5>
          </div>
        </div>
        <div class="col-lg-2 ">
        </div>
      </div>
      <div class="row" style="margin: 0px">
        <div class="col-lg-5 ">
        </div>
        <div class="col-lg-6 ">
          <button class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms" style="padding: 10px 30px" [swal]="edittemplate" >
          Save</button>
                <swal
                  #edittemplate
                  title="Are you sure?"
                  text="This cannot be undone"
                  type="warning"
                  [showCancelButton]="true"
                  [focusCancel]="true"
                  (confirm)="update_temp()">
                </swal>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="m_modal_6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
      <div class="modal-content" style="min-height: 400px;padding: 20px">

            <div class="modal-header" style="border-bottom: 0px">
              <div class="container">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
            </button>
                <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add Template</h5>
              </div>
            </div>
      <div class="row" style="margin: 0px;">
        <div class="col-lg-2 ">
        </div>
        <div class="col-lg-8 ">
          <div class="row form-group m-form__group" style="margin-bottom:0px ;">
              <input [(ngModel)]="temp_name" class="form-control m-input" type="text" placeholder="Template Name" name="username" style="border: none;margin: 0px;border-radius: 0px;border-bottom: 1px solid lightgray;"  required>
          </div>
        </div>
        <div class="col-lg-2 ">
        </div>
      </div>      
         <div class="row" style="margin: 0px;">
        <div class="col-lg-2 ">
        </div>
        <div class="col-lg-8 ">
          <div class="row" style="margin-top: 10%">
              <h5 class="col-lg-6" style="color: #0C4DA2;font-size: 15;"> Message</h5>
              <div class="col-lg-6">
                <label class="m-radio m-radio--check-bold col-lg-6" >
                  <input type="radio" name="optradio" [checked]="temp_type=='English'" (change)="englishSelected()">English
                  <span></span>
                  </label>
                  <label class="m-radio m-radio--check-bold ">
                    <input type="radio" name="optradio"  [checked]="temp_type=='Unicode'"  (change)="unicodeSelected()">Unicode
                    <span></span>
                      </label>
                <!-- <label class="radio-inline"  style="margin-left: 15px">
                  <input type="radio" name="optradio" [checked]="temp_type=='English'" (change)="englishSelected()">English</label>
                <label class="radio-inline"  style="margin-left: 15px">
                  <input type="radio" name="optradio"  [checked]="temp_type=='Unicode'"  (change)="unicodeSelected()">Unicode</label> -->
              </div>
          </div>
          <div class="row _shadow" style="height: 90px;background-color: white;">
              <div class="row col-lg-12" style="margin: 0px;padding: 0px;">
              <textarea [(ngModel)]="message" name="message" style="width: 100%;min-height: 60px;padding: 10px;" ng-cut="MessageChanged()" ng-copy="MessageChanged()"  (ngModelChange)="MessageChanged()" placeholder=" "id="message" required="required"></textarea> 
              </div>
          </div>
          <div class="row " >
              <h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;"> Total Characters : {{message.length}}</h5>
              <h5 style="color: darkgray;font-size: .9rem;margin-top: 5px;margin-left: 5%"> Total Sms : {{sms_count}}</h5>
          </div>
        </div>
        <div class="col-lg-2 ">
        </div>
      </div>
      <div class="row" style="margin: 0px">
        <div class="col-lg-5 ">
        </div>
        <div class="col-lg-6 ">
          <button class="btn btn-info m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" id="send_sms" style="padding: 10px 30px" (click)="add_temp()" >
          Save</button>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="add_sound" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" style="max-width: 750px" role="document">
        <div class="modal-content" style="min-height: 400px;padding: 20px">
  
              <div class="modal-header" style="border-bottom: 0px">
                <div class="container">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
              </button>
                  <h5 class="modal-title" id="exampleModalLongTitle" style="padding-left: 30px;color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Add Sound</h5>
                </div>
              </div>
              <div class="row col-lg-12" style="margin: 0px 0px;display: flex;align-items: center;">
                  <div class="col-lg-3">
                    Sound Name
                  </div>
                  <div class="col-lg-7" style="padding:0px">
                      <input type="text" class="form-control m-input" >
                  </div>
              </div>
              <div class="row m-radio-list" style="margin-top: 4%;margin-left: 3%;margin-bottom: 8px">
                  <div class="row col-lg-12" style="padding-top: 5px;">
                          <label class="m-radio m-radio--solid m-radio--brand" style="margin-left:10px;margin-right:10px;padding-top: 1.9px;">
                              <input type="radio"  checked style="margin-left:10px;margin-right: 10px;" name="optradio1" id="tonumbers" (change)="textChanged()">
                              Text To Speech
            
                          <span style="padding:9px;"></span>
                          </label>
                          <label class="m-radio m-radio--solid m-radio--success" style="margin-left:10px;margin-right:10px;padding-top: 1.9px;">
                                  <input type="radio" class="radio1"  name="optradio1" style="margin-left:10px;margin-right: 10px;" (change)="recordChanged()">
                              Upload Pre-Recorded File
                          <span style="padding:9px;"></span>
                          </label>
                  </div>
                 
                
              </div>
          
               <div class="row" style="margin-left: 4%;height: 90px;background-color: white;margin-right: 30px;">
                   <div [hidden]="!showTextToSpeech" class="col-lg-12 _shadow"  style="height:90px;padding: 0px;">
                      <textarea  placeholder="Enter Text Here "style="width: 100%;min-height: 90px; max-height: 90px;padding:10px"  [(ngModel)]="textTospeechtext" [ngModelOptions]="{standalone: true}" ></textarea> 
            
                    
                   </div>
                   <div  [hidden]="showTextToSpeech" id="mediaattach" class="_shadow col-lg-12" style="background-color: white;height: 115px;border: 1px solid powderblue">
                      <div class="col-lg-12" style="display: flex;justify-content: center;padding-top: 6px;margin: 0px;">
                          <div class="col-lg-12" style="Display: flex;justify-content: center;margin: 10px 0 0 0;">
                                  <label class="btn-bs-file btn  btn-default" style="border-radius: 23px;    height: 30px;margin-top:4px;background: transparent;border: 1px solid gray;padding: 6px 18px;font-size: .9rem;">
                                          Upload
                                          <img src="./assets/app/media/img/saino_icons/upload.png" style="width: 14px;margin-bottom: 4px;">
                                          <input   type="file" (change)="multimediaFile($event.target)" accept="audio/*"/>
                                      </label>
                          </div>
                         
                      </div>   
                      <div class="row col-lg-12" style="justify-content: center;margin: 0px;">
                              We Support the following file formats: .mp3,.wav
                         </div>                        
            <div  class="row" style="justify-content: center;width: 100%;margin:0px; padding: 0px;display: flex;text-align: center; overflow: hidden">
                          <div *ngIf="multimedia.length>=1" class="row col-lg-12" style="justify-content: center;height: 30px;width: 100%;padding:0px;margin: 0px;display: flex;text-align: center;overflow: hidden">
                           <div class="col-lg-4"></div>
                           <div *ngIf="multimedia.length>=1"  class="col-lg-4" style="border-bottom: 1px solid; margin: 0px;padding: 0px;">
                                   <label style="max-width: 82%;padding-top: 10px;overflow: hidden;">
                                          {{multimedia[0]['name']}}
                                       </label>
                                       <span (click)="removeFile(0)" style="float: right;padding-top: 10px;">
                                               <img src="./assets/app/media/img/icons/close.png" style="width: 8px;cursor: pointer;">
            
                                       </span>
                           </div>
                           <div class="col-lg-4"> </div>
                          </div>
                         
                         
                      </div> 
            
                 
                  
               
                  </div>
                    
              </div>
              <div [hidden]="!showTextToSpeech" class="row col-lg-12" style="margin: 7px 0px 0px 0px;display: flex;align-items: center;">
                  <div class="col-lg-2">
                      <label style="margin-top: 7%;">Language</label>
                  </div>
                  <div class="col-lg-3" style="padding:0 0 0 5px">
                      <select  [(ngModel)]="language" id="languageselect" class="form-control  m-bootstrap-select m_selectpicker" data-size="5">
                          <option [selected]="language==''" [disabled]="true" value="">Select Language</option>    
                          <option *ngFor="let lang of languageDropdown" [selected]="language==lang.val" >{{lang.lan}}</option>              
                        </select>
                  </div>
              </div>
   
        </div>
      </div>
    </div>
 






    <div class="modal fade" id="musicpopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 900px" role="document">
          <div class="modal-content" style="min-height: 250px;padding: 20px">
              <div class="modal-header">
              <div class="container">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                    <h5 class="modal-title" id="exampleModalLongTitle" style="color: #0b4a9d;margin-bottom: 10px;font-weight: 650;text-align: center;">Music Popup</h5>
      
                 
                </div>
                </div>
                <div class="row col-lg-12" style="justify-content:center;padding-top: 20px">
                  <!-- <audio id="musicplayer" controls='controls'  src="assets/app/media/audio/song1.mp3">
                    Your browser does not support the audio element.
                  </audio> -->
                    <audio id="musicplayer" controls>
  
                        <source src="assets/app/media/audio/song1.mp3" type="audio/mpeg">
                     Your browser does not support the audio element.
                      </audio>
                      <!-- <div class="audio green-audio-player">
                          <div class="loading">
                            <div class="spinner"></div>
                          </div>
                          <div class="play-pause-btn">  
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" viewBox="0 0 18 24">
                              <path fill="#566574" fill-rule="evenodd" d="M18 12L0 24V0" class="play-pause-icon" id="playPause"/>
                            </svg>
                          </div>
                          
                          <div class="controls">
                            <span class="current-time">0:00</span>
                            <div class="slider" data-direction="horizontal">
                              <div class="progress">
                                <div class="pin" id="progress-pin" data-method="rewind"></div>
                              </div>
                            </div>
                            <span class="total-time">0:00</span>
                          </div>
                          
                          <div class="volume">
                            <div class="volume-btn">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#566574" fill-rule="evenodd" d="M14.667 0v2.747c3.853 1.146 6.666 4.72 6.666 8.946 0 4.227-2.813 7.787-6.666 8.934v2.76C20 22.173 24 17.4 24 11.693 24 5.987 20 1.213 14.667 0zM18 11.693c0-2.36-1.333-4.386-3.333-5.373v10.707c2-.947 3.333-2.987 3.333-5.334zm-18-4v8h5.333L12 22.36V1.027L5.333 7.693H0z" id="speaker"/>
                              </svg>
                            </div>
                            <div class="volume-controls hidden">
                              <div class="slider" data-direction="vertical">
                                <div class="progress">
                                  <div class="pin" id="volume-pin" data-method="changeVolume"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <audio crossorigin>
                            <source src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/Swing_Jazz_Drum.mp3" type="audio/mpeg">
                          </audio>
                        </div> -->
                </div>
          </div>
        </div>
    </div>
 